Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

fix(form-validation): update radio group validity on input removal and selection
  components/script/dom/activation.rs
  components/script/dom/event.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  tests/wpt/tests/html/semantics/forms/constraints/radio-group-valueMissing.html
Owners: @gterzian

Refactor:Refactors report_cross_origin_denial method to use unsafe block instead of labelling method as unsafe
  components/script_bindings/proxyhandler.rs
Owners: none

Implement CSP check for Trusted Types
  Cargo.lock
  Cargo.toml
  components/script/dom/trustedtypepolicyfactory.rs
Owners: @gterzian

Handle missing colorSchemeSimulation in updateConfiguration
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Process colorSchemeSimulation in TargetConfigurationActor
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Replace unwrap with Result in BrowsingContextActor
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Handle missing colorSchemeSimulation in updateConfiguration
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Handle missing colorSchemeSimulation in updateConfiguration
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/shared/embedder/lib.rs
Owners: none

Signed-off-by: Uthman Yahaya Baba <uthmanyahayababa@gmail.com>
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Remove unsafe from maybe_cross_origin_get_prototype
  components/script_bindings/proxyhandler.rs
Owners: none

Refactor:Refactors code to remove unnecessary variables in report_cross_origin_denial method
  components/script_bindings/proxyhandler.rs
Owners: none

Remove unsafe from maybe_cross_origin_get_prototype
  components/script_bindings/proxyhandler.rs
Owners: none

Refactor:Refactors report_cross_origin_denial method to use unsafe block (#36365)
  components/script_bindings/proxyhandler.rs
Owners: none

Proof of concept for FinalizationRegistry cleanup callbacks This still needs a lot of work
  components/script/dom/bindings/refcounted.rs
  components/script/script_runtime.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Batch cleanup callbacks
  components/script/dom/bindings/refcounted.rs
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
Owners: @gterzian

tidy fixes
  components/script/script_runtime.rs
Owners: @gterzian

follow spec more closely
  components/script/script_runtime.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Update WPT test expectations
  tests/wpt/meta/js/builtins/weakrefs/finalizationregistry-cleanupCallback-gets-a-microtask.optional.any.js.ini
Owners: none

layout: `FIXPOS_CB_NON_SVG` not cb when is root
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-003.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix: Add support for stylesheet MIME type quirk in quirks mode (#36338)
  components/script/stylesheet_loader.rs
  tests/wpt/tests/html/links/stylesheet/quirk-origin-check-positive.html
  tests/wpt/tests/html/links/stylesheet/resources/quirk-stylesheet.css.txt
Owners: @gterzian

add CanGc as arguments in methods in Attr and Node
  components/script/devtools.rs
  components/script/dom/attr.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/node.rs
  components/script/dom/range.rs
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/text.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Add CanGc as arguments in methods in Attr and Node (#36371)
  components/script/devtools.rs
  components/script/dom/attr.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/node.rs
  components/script/dom/range.rs
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/text.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Remove unsafe from maybe_cross_origin_get_prototype (#36366)
  components/script_bindings/proxyhandler.rs
Owners: none

script: implement shadowroot setHTMLUnsafe
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

Process colorSchemeSimulation in TargetConfigurationActor (#36297)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher/target_configuration.rs
  components/shared/embedder/lib.rs
Owners: none

Remove unsafe from cross_origin_property_fallback
  components/script_bindings/proxyhandler.rs
Owners: none

Remove unsafe from cross_origin_property_fallback (#36373)
  components/script_bindings/proxyhandler.rs
Owners: none

scale image_set image based on resolution
  components/layout_2020/context.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

clone html arg
  components/script/dom/element.rs
Owners: @gterzian

update test expected
  tests/wpt/meta/css/css-images/image-set/image-set-resolution-002.html.ini
Owners: none

fix(form-validation): update radio group validity on input removal and selection
  components/script/dom/activation.rs
  components/script/dom/event.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  tests/wpt/tests/html/semantics/forms/constraints/radio-group-valueMissing.html
Owners: @gterzian

parse mime type inside Constructor and serialize it in Types
  components/script/dom/clipboarditem.rs
Owners: @gterzian

refactor: add CanGc as argument to methods in components/script/devtools.rs
  components/script/devtools.rs
  components/script/script_thread.rs
Owners: @gterzian

refactor: add CanGc as argument to methods in CharacterData, CSSStyleRule, CSSStyleSheet
  components/script/devtools.rs
  components/script/dom/characterdata.rs
  components/script/dom/cssstylerule.rs
  components/script/dom/cssstylesheet.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Fix radio group validity update when removing or selecting an input (#36252)
  components/script/dom/activation.rs
  components/script/dom/event.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  tests/wpt/tests/html/semantics/forms/constraints/radio-group-valueMissing.html
Owners: @gterzian
