Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

refactor: add CanGc as argument to exception_to_promise (#35647)
  components/script/dom/bindings/utils.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

layout: Change the `IndefiniteContainingBlock` sizes to `Option<Au>`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/lib.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement the <progress> element
  components/script/dom/htmlprogresselement.rs
  components/script/dom/virtualmethods.rs
  resources/servo.css
Owners: @gterzian

layout: Change the `IndefiniteContainingBlock` sizes to `Option<Au>` (#35653)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/lib.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Move size handling to `RenderContext` from `WindowMethods`
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/ServoView.java
Owners: @mrobinson, @atbrakhi, @jschwe

libservo: Move size handling to `RenderContext` from `WindowMethods` (#35621)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/ServoView.java
Owners: @mrobinson, @atbrakhi, @jschwe

layout: Support `stretch` cross size for automatic min size in flexbox
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-sizing/stretch/flexbox-auto-minimum-001.html
  tests/wpt/tests/css/css-sizing/stretch/flexbox-auto-minimum-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

implement propagation of errors forward and backward, stub shutdown and shutdown with action
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

adding more fine-grain shutdown variants to state
  components/script/dom/readablestream.rs
Owners: @gterzian

Remove BufferSource::Default
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

script: implement ReadableByteStreamController
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadpose.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

implement can_copy_data_block_bytes and copy_data_block_bytes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

implement StartAlgorithmFulfillmentHandler, StartAlgorithmRejectionHandler, PullAlgorithmFulfillmentHandler, PullAlgorithmRejectionHandler for ReadableByteStreamController
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

implement perform_pull_into
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

fix build
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Fix build
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Remove RefCell from PullIntoDescriptor and QueueEntry
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Remove commented code
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

add perform_cancel_steps, perform_release_steps and perform_pull_steps
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix clippy
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

fix crown
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

unskip readable-byte-streams
  tests/wpt/include.ini
Owners: none

Fix CRASH
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Fix more CRASHS
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

fix more crashes
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

Don’t prompt user for credentials for non-Navigate request
  components/net/http_loader.rs
  components/net/tests/http_loader.rs
Owners: none

Don’t prompt user for credentials for non-Navigate request (#35664)
  components/net/http_loader.rs
  components/net/tests/http_loader.rs
Owners: none

servoshell: Port SelectDevice dialog code to use egui instead of tinyfiledialogs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

bindings: Fix support for interface members in setlike/maplike.
  components/script/dom/mod.rs
  components/script/dom/testbindingmaplikewithinterface.rs
  components/script/dom/testbindingmaplikewithprimitive.rs
  components/script/dom/testbindingsetlikewithinterface.rs
  components/script/dom/testbindingsetlikewithprimitive.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/root.rs
  components/script_bindings/webidls/TestBindingMaplikeWithInterface.webidl
  components/script_bindings/webidls/TestBindingMaplikeWithPrimitive.webidl
  components/script_bindings/webidls/TestBindingSetlikeWithInterface.webidl
  components/script_bindings/webidls/TestBindingSetlikeWithPrimitive.webidl
  tests/wpt/mozilla/meta-legacy-layout/mozilla/like.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/mozilla/like.any.js.ini
  tests/wpt/mozilla/tests/mozilla/like.any.js
Owners: @gterzian

Make Registration rootable
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Avoid reflow inside observation step algo
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
Owners: @gterzian

Using borrow for iterating registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
Owners: @gterzian

Make auxiliary webviews exist in the constellation immediately
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/windowproxy.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

servoshell: Port SelectDevice dialog code to use egui instead of tinyfiledialogs (#35657)
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

Implement the <progress> element (#35531)
  components/script/dom/htmlprogresselement.rs
  components/script/dom/virtualmethods.rs
  resources/servo.css
Owners: @gterzian

Blocks all background webview interactions when a dialog is open
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Make auxiliary webviews exist in the constellation immediately (#35672)
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/windowproxy.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

Blocks all background webview interactions when a dialog is open (#35671)
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi
