Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Bump Stylo to df459ec
  Cargo.lock
  Cargo.toml
Owners: none

Bump Stylo to df459ec (#36011)
  Cargo.lock
  Cargo.toml
Owners: none

feat: pass CanGc to gen_type_error
  components/script/script_module.rs
Owners: @gterzian

feat: add CanGc argument to Error::to_jsval
  components/script/dom/bindings/error.rs
  components/script/dom/promise.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/script_module.rs
Owners: @gterzian

fix: linting issues
  components/script/dom/bindings/error.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

feat: add CanGc argument to Error::to_jsval (#36014)
  components/script/dom/bindings/error.rs
  components/script/dom/promise.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/script_module.rs
Owners: @gterzian

Fix WPT importer
  .github/workflows/scheduled-wpt-import.yml
Owners: none

chore: Move unsafe operations in unsafe functions to unsafe blocks
  components/allocator/Cargo.toml
  components/allocator/lib.rs
  components/background_hang_monitor/Cargo.toml
  components/background_hang_monitor/sampler_mac.rs
  ports/servoshell/Cargo.toml
Owners: none

Fix WPT importer (#36018)
  .github/workflows/scheduled-wpt-import.yml
Owners: none

chore: Move unsafe operations in unsafe functions to unsafe blocks (#36017)
  components/allocator/Cargo.toml
  components/allocator/lib.rs
  components/background_hang_monitor/Cargo.toml
  components/background_hang_monitor/sampler_mac.rs
  ports/servoshell/Cargo.toml
Owners: none

Fix minor comments
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
Owners: @gterzian

Unbloat find function
  components/layout_2020/fragment_tree/containing_block.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/mod.rs
  components/layout_2020/fragment_tree/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Set composed flag for mouse events dispatched by the UA (#36010)
  components/script/dom/document.rs
  components/script/dom/mouseevent.rs
Owners: @gterzian

implement propagation of errors forward and backward, stub shutdown and shutdown with action
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

implement PipeTo, stub pipe_to
  components/script/dom/readablestream.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ReadableStream.webidl
Owners: @gterzian

define a data structure to manage the piping
  components/script/dom/readablestream.rs
Owners: @gterzian

implement writer close with error propagation
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

fix typo
  components/script/dom/readablestream.rs
Owners: @gterzian

fix writing of chunks
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

move and document wait on pending write
  components/script/dom/readablestream.rs
Owners: @gterzian

implement shutdown continuation and finalize
  components/script/dom/readablestream.rs
Owners: @gterzian

turn on piping test suite
  tests/wpt/include.ini
Owners: none

write pending reads as part of shutdown
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

implement reading and writing
  components/script/dom/readablestream.rs
Owners: @gterzian

fix multiple propagations
  components/script/dom/readablestream.rs
Owners: @gterzian

more docs
  components/script/dom/readablestream.rs
Owners: @gterzian

implement shutdown and actions
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

adding more fine-grain shutdown variants to state
  components/script/dom/readablestream.rs
Owners: @gterzian

add can_gc arguments
  components/script/dom/readablestream.rs
Owners: @gterzian

implement progagate closing backward and forward
  components/script/dom/readablestream.rs
Owners: @gterzian

add comment about using Rust api improve comment on result add comment on backpressure
  components/script/dom/readablestream.rs
Owners: @gterzian

add comments on the need to return early when shutting down before checking close and error states
  components/script/dom/readablestream.rs
Owners: @gterzian

remove unused result var
  components/script/dom/readablestream.rs
Owners: @gterzian

fix error and close propagation update test expectations
  components/script/dom/readablestream.rs
  tests/wpt/meta/streams/piping/abort.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/flow-control.any.js.ini
  tests/wpt/meta/streams/piping/general-addition.any.js.ini
  tests/wpt/meta/streams/piping/general.any.js.ini
  tests/wpt/meta/streams/piping/multiple-propagation.any.js.ini
  tests/wpt/meta/streams/piping/pipe-through.any.js.ini
  tests/wpt/meta/streams/piping/then-interception.any.js.ini
  tests/wpt/meta/streams/piping/throwing-options.any.js.ini
  tests/wpt/meta/streams/piping/transform-streams.any.js.ini
Owners: @gterzian

improve docs remove redundant logic in pending writes
  components/script/dom/readablestream.rs
Owners: @gterzian

remove unnecessary conditional accessing of streams when propagating states
  components/script/dom/readablestream.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/fetch/api/response/response-body-read-task-handling.html.ini
  tests/wpt/meta/fetch/api/response/response-stream-disturbed-by-pipe.any.js.ini
  tests/wpt/meta/fetch/api/response/response-stream-with-broken-then.any.js.ini
  tests/wpt/meta/streams/readable-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/readable-streams/reentrant-strategies.any.js.ini
Owners: none

improve docs
  components/script/dom/readablestream.rs
Owners: @gterzian

add doc links for shutdown actions
  components/script/dom/readablestream.rs
Owners: @gterzian

remove redundant logic dealing with closed sources with pending writes
  components/script/dom/readablestream.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
