Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

libservo: Expose an `OffscreenRenderingContext` and use it for servoshell
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/gl.rs
  components/compositing/lib.rs
  components/servo/lib.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/window_trait.rs
  python/servo/testing_commands.py
Owners: @mrobinson, @atbrakhi

Temporaily import Au::from_f32_px_trunc() to percentage
  Cargo.toml
Owners: none

libservo: Expose an `OffscreenRenderingContext` and use it for servoshell (#35465)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/gl.rs
  components/compositing/lib.rs
  components/servo/lib.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/window_trait.rs
  python/servo/testing_commands.py
Owners: @mrobinson, @atbrakhi

Don't remove used fonts in collect_unused_webrender_resources
  components/fonts/font_context.rs
Owners: none

implement Touchevent prevent default behavior
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @mrobinson, @gterzian

fix some suggestions
  Cargo.lock
  Cargo.toml
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/touch/Cargo.toml
  components/shared/touch/lib.rs
Owners: @mrobinson

Optimizes pan performance by continuously sliding without waiting for the eventhandler.
  components/compositing/touch.rs
Owners: @mrobinson

fix some suggestions
  components/compositing/compositor.rs
  components/shared/touch/Cargo.toml
Owners: @mrobinson

resolve conflict
  Cargo.lock
  Cargo.toml
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/input_events.rs
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/touch/Cargo.toml
  components/shared/touch/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

implement Touchevent prevent default behavior (#35031)
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/input_events.rs
  components/shared/script/script_msg.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

Don't remove used fonts in collect_unused_webrender_resources (#35506)
  components/fonts/font_context.rs
Owners: none

window: avoid NonNull<JSObject> in NamedGetter
  components/script/dom/window.rs
  components/script/window_named_properties.rs
  components/script_bindings/webidls/Window.webidl
Owners: @gterzian

window: avoid NonNull<JSObject> in NamedGetter (#35508)
  components/script/dom/window.rs
  components/script/window_named_properties.rs
  components/script_bindings/webidls/Window.webidl
Owners: @gterzian

servoshell: Support `xdg-activation` on linux
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

layout: Partial support for sizing keywords on flex items (#35469)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-inline-size-001.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-001.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fully support sizing keywords on main size property of flex item
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Don't attempt to report style attribute for non-htmlelements to devtools
  components/script/devtools.rs
Owners: @gterzian

layout: Fully support sizing keywords on main size property of flex item (#35471)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Don't attempt to report style attribute for non-htmlelements to devtools (#35519)
  components/script/devtools.rs
Owners: @gterzian

script: Add custom logging representation for DOM interfaces.
  components/script/dom/console.rs
Owners: @gterzian

script: Add custom logging representation for DOM interfaces. (#35416)
  components/script/dom/console.rs
Owners: @gterzian

apply suggestions
  components/script/dom/globalscope.rs
  components/script/dom/notification.rs
  components/script_bindings/codegen/Bindings.conf
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/notifications/constructor-basic.https.html.ini
  tests/wpt/meta/notifications/constructor-invalid.https.html.ini
  tests/wpt/meta/notifications/constructor-non-secure.html.ini
  tests/wpt/meta/notifications/historical.any.js.ini
  tests/wpt/meta/notifications/idlharness.https.any.js.ini
  tests/wpt/meta/notifications/permission.html.ini
  tests/wpt/meta/notifications/permissions-non-secure.html.ini
Owners: @gterzian

test: remove passed meta
  tests/wpt/meta/notifications/constructor-basic.https.html.ini
  tests/wpt/meta/notifications/constructor-invalid.https.html.ini
  tests/wpt/meta/notifications/constructor-non-secure.html.ini
  tests/wpt/meta/notifications/historical.any.js.ini
  tests/wpt/meta/notifications/idlharness.https.any.js.ini
  tests/wpt/meta/notifications/permission.html.ini
  tests/wpt/meta/notifications/permissions-non-secure.html.ini
Owners: none

libservo: Expose `SoftwareRenderingContext` and `WindowRenderingContext`
  Cargo.lock
  Cargo.toml
  components/compositing/Cargo.toml
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

libservo: Expose `SoftwareRenderingContext` and `WindowRenderingContext` (#35501)
  Cargo.lock
  Cargo.toml
  components/compositing/Cargo.toml
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

test: enable notification prefs in mozilla tests
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: none

feat: add `Notification` Web API binding (#34842)
  components/config/prefs.rs
  components/script/dom/globalscope.rs
  components/script/dom/mod.rs
  components/script/dom/notification.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Notification.webidl
  python/tidy/tidy.py
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/notifications/constructor-basic.https.html.ini
  tests/wpt/meta/notifications/constructor-invalid.https.html.ini
  tests/wpt/meta/notifications/constructor-non-secure.html.ini
  tests/wpt/meta/notifications/historical.any.js.ini
  tests/wpt/meta/notifications/idlharness.https.any.js.ini
  tests/wpt/meta/notifications/permission.html.ini
  tests/wpt/meta/notifications/permissions-non-secure.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.js
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Fix android build on arm macs
  python/servo/platform/build_target.py
Owners: none

Fix android build on arm macs (#35516)
  python/servo/platform/build_target.py
Owners: none

Add spec comments to various methods
  components/script/dom/bindings/xmlname.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
Owners: @gterzian

Ensure that qualified-name segments start with a valid start character
  components/script/dom/bindings/xmlname.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/element.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/dom/nodes/DOMImplementation-createDocument.html.ini
  tests/wpt/meta/dom/nodes/Document-createElementNS.html.ini
Owners: none

Ensure that qualified-name segments start with a valid start character (#35530)
  components/script/dom/bindings/xmlname.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/element.rs
  tests/wpt/meta/dom/nodes/DOMImplementation-createDocument.html.ini
  tests/wpt/meta/dom/nodes/Document-createElementNS.html.ini
Owners: @gterzian

feat(servoshell): add IME support for desktop
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

Fix BorrowError and add fragment find descendant
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Implement is descendant in containing block path correctly
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/intersectionobserver.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Add very rough implemnentation of observation steps
  components/script/dom/document.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Fix entry reflection and propagate can_gc
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

feat: support pre-edit text display for IME
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @gterzian, @atbrakhi

Fix unrooted error and tidy issues
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
