Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

[feature](text-overflow): Transfer Fragments placement to stacking context. On current stage bugs still present
  components/layout_2020/construct_modern.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Modify stacking context to support ellipsis left/right start/end values
  components/layout_2020/construct_modern.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Extend functionality to propperly handle text-ellipsis left and right. Now fragments passed to stacking context stage, but I still need to propperly position them.
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

use winit::dpi for LogicalPosition instead
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

perform ./mach fmt
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Revert delay changes
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Remove `get_ipc_sender` from `OffscreenCanvasRenderingContext2D`
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
Owners: @gterzian

libservo: Move WebDriver messages to the `embedder` crate
  Cargo.lock
  components/constellation/constellation.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

[chore](text-overflow): Clean up code
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove `get_ipc_sender` from `OffscreenCanvasRenderingContext2D` (#35625)
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
Owners: @gterzian

Align compute intersection algo to other browser actual behavior
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Prevent lint job from trying to use incompatible cargo-deny version
  .github/workflows/lint.yml
Owners: none

Prevent lint job from trying to use incompatible cargo-deny version (#35632)
  .github/workflows/lint.yml
Owners: none

layout: Ignore indefinite `stretch` on min and max sizing properties
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-2.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-3.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-001.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-002.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-floated-element.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-inline-block.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-replaced-element.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Update to rust 1.85
  rust-toolchain.toml
  support/crown/rust-toolchain.toml
Owners: none

Upgrade crown
  support/crown/src/common.rs
  support/crown/src/main.rs
  support/crown/src/trace_in_no_trace.rs
  support/crown/src/unrooted_must_root.rs
Owners: none

Clippy fixes
  components/canvas/canvas_data.rs
  components/canvas/webgl_thread.rs
  components/fonts/font_template.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/mod.rs
  components/net/cookie.rs
  components/net/cookie_storage.rs
  components/net/decoder.rs
  components/net/mime_classifier.rs
  components/net/storage_thread.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/node.rs
  components/script/dom/performance.rs
  components/script/dom/webglprogram.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/websocket.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/stylesheet_loader.rs
  components/script/textinput.rs
  components/script/xpath/parser.rs
  components/shared/net/http_status.rs
  components/shared/net/request.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian, @atbrakhi

Re-upgrade cargo-deny to 0.18
  .github/workflows/lint.yml
Owners: none

Do not assume `OffscreenCanvasContext` to be 2d
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

layout: Ignore indefinite `stretch` on min and max sizing properties (#35630)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-2.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-3.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-001.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-002.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-floated-element.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-inline-block.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-replaced-element.html
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Move WebDriver messages to the `embedder` crate (#35602)
  Cargo.lock
  components/constellation/constellation.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

Do not assume `OffscreenCanvasContext` to be 2d (#35629)
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

Implement dialog.requestClose()
  components/script/dom/htmldialogelement.rs
  components/script_bindings/webidls/HTMLDialogElement.webidl
Owners: @gterzian

Support for the isolation CSS property
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Temporarily bump stylo to refs/pull/125/head for testing
  Cargo.lock
  Cargo.toml
Owners: none

Remove FAIL expectation of CSS isolation tests
  tests/wpt/meta/css/compositing/inheritance.html.ini
  tests/wpt/meta/css/compositing/isolation/animation/isolation-no-interpolation.html.ini
  tests/wpt/meta/css/compositing/parsing/isolation-computed.html.ini
  tests/wpt/meta/css/compositing/parsing/isolation-valid.html.ini
Owners: none

Add behavior test
  tests/wpt/tests/css/compositing/isolation/isolation-establishes-stacking-context.html
Owners: none

libservo: Refactor ipc-channel default response logic
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview_delegate.rs
Owners: none

script: Fix typo in `ScriptThread::process_pending_input_events`
  components/script/script_thread.rs
  components/webxr/openxr/mod.rs
Owners: @gterzian

libservo: Refactor ipc-channel default response logic (#35624)
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview_delegate.rs
Owners: none

Revert temporary changes in Cargo.toml
  Cargo.lock
  Cargo.toml
Owners: none

script: Fix typo in `ScriptThread::process_pending_input_events` (#35627)
  components/script/script_thread.rs
  components/webxr/openxr/mod.rs
Owners: @gterzian

Update wgpu
  Cargo.lock
  Cargo.toml
  components/webgpu/wgpu_thread.rs
Owners: none

Support for the `isolation` CSS property (#35552)
  Cargo.lock
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/compositing/inheritance.html.ini
  tests/wpt/meta/css/compositing/isolation/animation/isolation-no-interpolation.html.ini
  tests/wpt/meta/css/compositing/parsing/isolation-computed.html.ini
  tests/wpt/meta/css/compositing/parsing/isolation-valid.html.ini
  tests/wpt/tests/css/compositing/isolation/isolation-establishes-stacking-context.html
Owners: @mrobinson, @Loirooriol, @nicoburns

ci: Always install crown, even on self-hosted
  .github/workflows/mac.yml
Owners: none

ci: Always install crown, even on self-hosted (#35637)
  .github/workflows/mac.yml
Owners: none

Update to rust 1.85 (#35628)
  .github/workflows/lint.yml
  components/canvas/canvas_data.rs
  components/canvas/webgl_thread.rs
  components/fonts/font_template.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/mod.rs
  components/net/cookie.rs
  components/net/cookie_storage.rs
  components/net/decoder.rs
  components/net/mime_classifier.rs
  components/net/storage_thread.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/node.rs
  components/script/dom/performance.rs
  components/script/dom/webglprogram.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/websocket.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/stylesheet_loader.rs
  components/script/textinput.rs
  components/script/xpath/parser.rs
  components/shared/net/http_status.rs
  components/shared/net/request.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
  rust-toolchain.toml
  support/crown/rust-toolchain.toml
  support/crown/src/common.rs
  support/crown/src/main.rs
  support/crown/src/trace_in_no_trace.rs
  support/crown/src/unrooted_must_root.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian, @atbrakhi

implement PipeTo, stub pipe_to
  components/script/dom/readablestream.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ReadableStream.webidl
Owners: @gterzian

define a data structure to manage the piping
  components/script/dom/readablestream.rs
Owners: @gterzian

Don't tell stylo about stylesheets that are not in a browsing context (#35606)
  components/script/dom/document.rs
  tests/wpt/meta/html/rendering/non-replaced-elements/flow-content-0/slot-element-focusable.tentative.html.ini
  tests/wpt/meta/shadow-dom/MouseEvent-prototype-offsetX-offsetY.html.ini
  tests/wpt/meta/shadow-dom/ShadowRoot-interface.html.ini
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
