Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Fix scroll_sensitivity related naming issue
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix scroll_sensitivity related naming issue (#35462)
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

queue a task to invoke the callback
  components/script/dom/datatransferitem.rs
  components/script/drag_data_store.rs
Owners: @gterzian

servoshell: Port input dialog code to use egui intead of tinyfiledialogs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

fix read_all_bytes
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

deps: Remove some unused `Cargo.toml`
  Cargo.lock
  components/compositing/Cargo.toml
  components/config/Cargo.toml
  components/constellation/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_thread/Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/shared/net/Cargo.toml
  components/shared/script_layout/Cargo.toml
  components/shared/webxr/Cargo.toml
  components/timers/Cargo.toml
  tests/unit/metrics/Cargo.toml
Owners: @mrobinson

servoshell: Port input dialog code to use egui intead of tinyfiledialogs (#35464)
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

deps: Remove some unused `Cargo.toml` (#35466)
  Cargo.lock
  components/compositing/Cargo.toml
  components/config/Cargo.toml
  components/constellation/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_thread/Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/shared/net/Cargo.toml
  components/shared/script_layout/Cargo.toml
  components/shared/webxr/Cargo.toml
  components/timers/Cargo.toml
  tests/unit/metrics/Cargo.toml
Owners: @mrobinson

fix bug
  components/script/dom/readablestreamdefaultreader.rs
  tests/wpt/meta/FileAPI/BlobURL/cross-partition-navigation.https.html.ini
Owners: @gterzian

Add tests for sizing keywords on flex items
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-001.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-flex-item-002.html
Owners: none

layout: Partial support for sizing keywords on flex items
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

script: remove non-actionable todo from script/dom/document.rs
  components/script/dom/document.rs
Owners: @gterzian

script: remove non-actionable todo from script/dom/document.rs (#35472)
  components/script/dom/document.rs
Owners: @gterzian

script: Take away Fallible from new_resolved and new_rejected
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/promise.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Owners: @gterzian

script: pull_algorithm becomes infallible
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

script: generic_initialize becomes infallible
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

pixels: Fix webp detection
  components/pixels/lib.rs
Owners: none

Allow attaching UA shadow roots to any element
  components/script/dom/element.rs
Owners: @gterzian

Implement the <summary> element
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmlsummaryelement.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/HTMLSummaryElement.webidl
Owners: @gterzian

Implement UA shadow root for <details>
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlsummaryelement.rs
  resources/servo.css
Owners: @gterzian

Invalidate style when display is opened or closed
  components/script/dom/htmldetailselement.rs
Owners: @gterzian

script: Take away Fallible from new_resolved and new_rejected (#35473)
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/promise.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Owners: @gterzian

net: Use the unfiltered response status when comparing against cached resources.
  components/net/http_cache.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/cache-crossorigin.sub.html
Owners: none

trait `CanvasContext`
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/document.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglprogram.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webxr/xrlayer.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/script/lib.rs
Owners: @gterzian

Update wgpu
  Cargo.lock
  Cargo.toml
  components/script/dom/webgpu/gpuconvert.rs
Owners: @gterzian

script: implement HTMLHyperlinkElementUtils for HTMLAreaElement
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlareaelement.rs
  components/script/dom/htmlhyperlinkelementutils.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLAreaElement.webidl
  tests/wpt/meta/dom/events/Event-dispatch-single-activation-behavior.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/dynamic-urls.sub.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/historical.sub.xhtml.ini
  tests/wpt/meta/html/semantics/embedded-content/the-area-element/area-stringifier.html.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-parsable-url-getter-setter.window.js.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-special-opaque-path-url-getter-setter.window.js.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-special-url-getter-setter.window.js.ini
  tests/wpt/meta/url/toascii.window.js.ini
  tests/wpt/meta/url/url-setters-a-area.window.js.ini
Owners: @gterzian

script: implement HTMLHyperlinkElementUtils for HTMLAreaElement (#35482)
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlareaelement.rs
  components/script/dom/htmlhyperlinkelementutils.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLAreaElement.webidl
  tests/wpt/meta/dom/events/Event-dispatch-single-activation-behavior.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/dynamic-urls.sub.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/historical.sub.xhtml.ini
  tests/wpt/meta/html/semantics/embedded-content/the-area-element/area-stringifier.html.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-parsable-url-getter-setter.window.js.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-special-opaque-path-url-getter-setter.window.js.ini
  tests/wpt/meta/html/semantics/links/links-created-by-a-and-area-elements/non-special-url-getter-setter.window.js.ini
  tests/wpt/meta/url/toascii.window.js.ini
  tests/wpt/meta/url/url-setters-a-area.window.js.ini
Owners: @gterzian

net: Use the unfiltered response status when comparing against cached resources. (#35483)
  components/net/http_cache.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/cache-crossorigin.sub.html
Owners: none

Implement implicit summary elements
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlsummaryelement.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/HTMLSummaryElement.webidl
Owners: @gterzian

Fix /_mozilla/mozilla/duplicated_scroll_ids.html
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: none

fix tidy
  deny.toml
Owners: none

Update WPT expectations
  tests/wpt/meta/css/selectors/selectors-4/details-open-pseudo-003.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-display.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-revert.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-002.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-display-list-item-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-text-decoration.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/closed-details-layout-apis.tentative.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/details-add-summary.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: none

chore: Update wgpu (#35503)
  Cargo.lock
  Cargo.toml
  components/script/dom/webgpu/gpuconvert.rs
  deny.toml
Owners: @gterzian

`DataTransferItem`: improve spec compliance (#35418)
  components/script/dom/datatransferitem.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/document.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
  tests/wpt/tests/html/editing/dnd/datastore/datatransferitemlist-remove.html
Owners: @gterzian

servoshell: Actually set the Servo delegate in servoshell
  components/servo/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

servoshell: Actually set the Servo delegate in servoshell (#35502)
  components/servo/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

dom: expose obsolete `scheme` attribute for meta tag
  components/script/dom/htmlmetaelement.rs
  components/script_bindings/webidls/HTMLMetaElement.webidl
Owners: @gterzian

fix: use `descriptor_permission_state`
  components/script/dom/notification.rs
Owners: @gterzian

update tests
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
Owners: none

dom: expose obsolete `scheme` attribute for meta tag (#35505)
  components/script/dom/htmlmetaelement.rs
  components/script_bindings/webidls/HTMLMetaElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
Owners: @gterzian
