Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

layout: Make table column constraint distribution more generic
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Make table column constraint distribution more generic (#35042)
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

DataTransfer: propagate CanGc argument
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitem.rs
  components/script/dom/datatransferitemlist.rs
  components/script/drag_data_store.rs
Owners: @gterzian

DataTransfer: propagate CanGc argument (#35062)
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitem.rs
  components/script/dom/datatransferitemlist.rs
  components/script/drag_data_store.rs
Owners: @gterzian

layout: Remove some unneeded `is_table` parameters
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove some unneeded `is_table` parameters (#35064)
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Don't store explicit global roots inside timer storage.
  components/script/timers.rs
Owners: @gterzian

Remove unneeded allow annotation.
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/weakref.rs
Owners: @gterzian

Remove unneeded allow annotation. (#35025)
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/weakref.rs
Owners: @gterzian

Correctly report number of expected test results from ./mach test-wpt
  python/wpt/grouping_formatter.py
Owners: none

Remove workaround for fixed ICE
  components/script/build.rs
Owners: @gterzian

Correctly report number of expected test results from ./mach test-wpt (#35068)
  python/wpt/grouping_formatter.py
Owners: none

script: Expose hook for MallocConditionalSizeOf usage.
  components/script/script_runtime.rs
Owners: @gterzian

Remove workaround for fixed ICE (#35069)
  components/script/build.rs
Owners: @gterzian

Fix crash when using builtin memory profiler (#35058)
  components/script/script_runtime.rs
  components/script/timers.rs
Owners: @gterzian

Hook up slot elements to DOM creation logic
  components/script/dom/create.rs
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

Implement slot-related algorithms
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script/dom/text.rs
  components/script/dom/webidls/Element.webidl
  components/script/dom/webidls/HTMLSlotElement.webidl
  components/script/dom/webidls/ShadowRoot.webidl
Owners: @gterzian

Set a slot assignment mode for servo-internal shadow roots
  components/script/dom/htmlmediaelement.rs
Owners: @gterzian

Assign slots when a slottable's slot attribute changes
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/virtualmethods.rs
Owners: @gterzian

./mach test-tidy
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/webidls/HTMLSlotElement.webidl
Owners: @gterzian

Properly compute slot name
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/virtualmethods.rs
Owners: @gterzian

Implement fast path for Node::assign_slottables_for_a_tree
  components/script/dom/node.rs
Owners: @gterzian

Update <slot> name when name attribute changes
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/virtualmethods.rs
Owners: @gterzian

Move slottable data into ElementRareData
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/raredata.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/custom-elements/builtin-coverage.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLSlotElement.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/html/dom/elements/name-content-attribute-and-property.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-misc.html.ini
  tests/wpt/meta/html/semantics/interfaces.html.ini
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/Slottable-mixin.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api-slotchange.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-initial-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-outside-shadow-dom.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: none

Address review comments
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
Owners: @gterzian

Make worker script errors more informative.
  components/script/dom/dedicatedworkerglobalscope.rs
Owners: @gterzian

Make worker script errors more informative. (#35070)
  components/script/dom/dedicatedworkerglobalscope.rs
Owners: @gterzian

Implement shadow dom slots (#35013)
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/raredata.rs
  components/script/dom/shadowroot.rs
  components/script/dom/text.rs
  components/script/dom/virtualmethods.rs
  components/script/dom/webidls/Element.webidl
  components/script/dom/webidls/HTMLSlotElement.webidl
  components/script/dom/webidls/ShadowRoot.webidl
  tests/unit/script/size_of.rs
  tests/wpt/meta/custom-elements/builtin-coverage.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLSlotElement.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/html/dom/elements/name-content-attribute-and-property.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-misc.html.ini
  tests/wpt/meta/html/semantics/interfaces.html.ini
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/Slottable-mixin.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api-slotchange.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-initial-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-outside-shadow-dom.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Set descendant's attribute's owner document in Node::adopt
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Add test that adopting an element into a new doc updates the attribute' owner docs
  tests/wpt/tests/dom/nodes/Node-mutation-adoptNode.html
Owners: none

Set descendant's attribute's owner document in Node::adopt (#35076)
  components/script/dom/element.rs
  components/script/dom/node.rs
  tests/wpt/tests/dom/nodes/Node-mutation-adoptNode.html
Owners: @gterzian

Update .github/workflows/bencher.yml
  .github/workflows/bencher.yml
Owners: none

feat: Track the binary size for all the different platforms (#34744)
  .github/workflows/android.yml
  .github/workflows/bencher.yml
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-bencher.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/ohos.yml
  .github/workflows/windows.yml
  etc/ci/bencher.py
  python/servo/try_parser.py
Owners: @jschwe

Integrate Memory profiler for DomRoot and Dom
  components/script/dom/bindings/root.rs
Owners: @gterzian

Remove `Preferences::network_tls_ignore_unexpected_eof`
  components/config/prefs.rs
  components/net/decoder.rs
  resources/wpt-prefs.json
Owners: none

layout: Respect alignment when sizing replaced abspos
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-vrl.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove `Preferences::network_tls_ignore_unexpected_eof` (#35080)
  components/config/prefs.rs
  components/net/decoder.rs
  resources/wpt-prefs.json
Owners: none

layout: Respect alignment when sizing replaced abspos (#35085)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-vrl.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix clientWidth & friends for tables
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/cssom-view/table-client-props.html.ini
  tests/wpt/meta/css/cssom-view/table-with-border-client-width-height.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
