Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

script: Extract boilerplate from transfer operation.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

script: Clone all serializable DOM interfaces.
  Cargo.lock
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: none

Clippy fixes.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/messageport.rs
Owners: @gterzian

script: Check transferability of all DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
Owners: @gterzian

script: Serialize all serializable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer-receive all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Deserialize all serializable DOM interfaces.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

Tidy fixes.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/messageport.rs
  components/shared/script/lib.rs
  deny.toml
Owners: @gterzian

script: Create infrastructure for reducing hand-written serializable/transferrable implementations.
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: none

script: Extract boilerplate from serialize/deserialize implementations.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: @gterzian

script: Extract boilerplate from transfer-receive.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

Formatting.
  components/shared/script/lib.rs
Owners: none

Various fixes for webdriver conformance tests (#35737)
  components/script/webdriver_handlers.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservodriver.py
Owners: @gterzian

Refactor common boilerplate out of serialize/transfer implementations (#35831)
  Cargo.lock
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/messageport.rs
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: @gterzian

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Add ViewportDescription
  components/script/dom/attr.rs
  components/script/dom/bindings/root.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/script/lib.rs
  components/shared/script/viewport.rs
Owners: @gterzian

fix ci
  components/layout_2020/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Move CustomTraceable to script_bindings.
  Cargo.lock
  components/script/dom/bindings/trace.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/trace.rs
Owners: @gterzian

script: Move record binding support to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/testbinding.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/record.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Address clippy warnings.
  components/script_bindings/conversions.rs
  components/script_bindings/record.rs
Owners: none

script: Avoid direct impl blocks on generated dicts and unions.
  components/script/canvas_context.rs
  components/script/dom/analysernode.rs
  components/script/dom/audiobuffersourcenode.rs
  components/script/dom/audiodestinationnode.rs
  components/script/dom/audionode.rs
  components/script/dom/biquadfilternode.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/channelmergernode.rs
  components/script/dom/channelsplitternode.rs
  components/script/dom/constantsourcenode.rs
  components/script/dom/eventtarget.rs
  components/script/dom/gainnode.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/iirfilternode.rs
  components/script/dom/mediastreamaudiodestinationnode.rs
  components/script/dom/oscillatornode.rs
  components/script/dom/pannernode.rs
  components/script/dom/permissionstatus.rs
  components/script/dom/stereopannernode.rs
  components/script/dom/subtlecrypto.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuerror.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/script/security_manager.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

script: Remove references to codegen-specific import module.
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/function.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/notification.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/webgpu/gpucompilationinfo.rs
  components/script/dom/webgpu/gpurenderbundleencoder.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

script: Make DOMPointReadOnly serializable.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/history.rs
  components/shared/base/id.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
  tests/wpt/meta/css/geometry/structured-serialization.html.ini
Owners: @gterzian

script: Make DOMPoint serializable.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/dompoint.rs
  components/shared/script/lib.rs
  tests/wpt/meta/css/geometry/structured-serialization.html.ini
Owners: @gterzian

script: Shrink worker script event.
  components/script/dom/abstractworker.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/worker.rs
  components/script/serviceworker_manager.rs
Owners: @gterzian

Use stream in file read operation (#35969)
  components/script/dom/filereader.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Fix tidy.
  components/script/dom/notification.rs
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

Move CustomTraceable to script_bindings. (#35988)
  Cargo.lock
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
  components/script/dom/testbinding.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/record.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Script Implement ReadableByteStreamTee
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/byteteereadintorequest.rs
  components/script/dom/byteteereadrequest.rs
  components/script/dom/byteteeunderlyingsource.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/mod.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/microtask.rs
  components/script_bindings/webidls/ReadableStreamBYOBReader.webidl
Owners: @gterzian

Upgrade to html5ever 0.30, xml5ever 0.21, markup5ever 0.15
  Cargo.lock
  Cargo.toml
Owners: none

Add doc comments to boundary point
  components/script/dom/abstractrange.rs
Owners: @gterzian

Allow querying content box of text fragments
  components/layout_2020/fragment_tree/fragment_tree.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement Range::getBoundingClientRect
  components/script/dom/range.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Range.webidl
Owners: @gterzian

Make the memory reporting multi-process aware
  Cargo.lock
  components/constellation/Cargo.toml
  components/constellation/pipeline.rs
  components/net/resource_thread.rs
  components/profile/Cargo.toml
  components/profile/lib.rs
  components/profile/mem.rs
  components/profile/system_reporter.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  resources/about-memory.html
Owners: @gterzian

Upgrade to html5ever 0.30, xml5ever 0.21, markup5ever 0.15 (#35992)
  Cargo.lock
  Cargo.toml
Owners: none

Update WPT expectations
  tests/wpt/meta/css/cssom-view/DOMRectList.html.ini
  tests/wpt/meta/css/cssom-view/getBoundingClientRect-svg.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
Owners: none

Bump html5ever version
  Cargo.lock
  Cargo.toml
  components/script/dom/shadowroot.rs
  tests/wpt/meta/css/css-mixins/function-shadow.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: @gterzian

feat: fetch notification image resources
  components/script/dom/notification.rs
Owners: @gterzian
