Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Start adding support for transforms in readable and writable streams Signed-off-by: Taym Haddadi <haddadi.taym@gmail.com>
  components/script/dom/defaultteereadrequest.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/microtask.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Rewrite node insertion algorithm to match the spec (#35999)
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/dom/nodes/adoption.window.js.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/mutations.window.js.ini
  tests/wpt/tests/dom/nodes/Node-childNodes-cache-2.html
Owners: @gterzian

Start adding support for transforms in readable and writable streams (#36470)
  components/script/dom/defaultteereadrequest.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/microtask.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Propagate image resolution errors in layout context
  components/layout/context.rs
  components/layout/display_list/mod.rs
  components/layout/replaced.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Propagate image resolution errors in layout context (#36692)
  components/layout/context.rs
  components/layout/display_list/mod.rs
  components/layout/replaced.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix form reset crash
  components/script/dom/htmlformelement.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/form_reset-crash.html
Owners: @gterzian

if node is not connected do not fire unfocus event.
  components/script/dom/document.rs
  tests/wpt/meta/dom/nodes/insertion-removing-steps/blur-event.window.js.ini
Owners: @gterzian

add crash test case
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/focus-element-crash.html
Owners: none

Update WPT expectations
  tests/wpt/meta/css/css-flexbox/negative-overflow.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-content-alignment-overflow-002.html.ini
  tests/wpt/meta/css/css-overflow/overflow-inline-transform-relative.html.ini
  tests/wpt/meta/css/css-overflow/scroll-overflow-padding-block-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-004.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-006.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
Owners: none

Clip unreachable scrollable region
  components/layout/display_list/mod.rs
  components/layout/display_list/stacking_context.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/query.rs
  components/layout/style_ext.rs
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Account for transform in scrollable overflow calculation
  components/layout/display_list/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/query.rs
  components/layout/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Run fmt
  components/layout/display_list/mod.rs
  components/layout/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add WPT test
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-004.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-006.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-007.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-008.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.html
Owners: none

Apply suggestion
  components/layout/fragment_tree/box_fragment.rs
  components/layout/style_ext.rs
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-unreachable-region.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-unreachable-region.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Apply tidy and wpt suggestion
  components/layout/display_list/mod.rs
  components/layout/style_ext.rs
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.tentative.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.tentative.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.tentative.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-004.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.tentative.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-006.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-007.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-008.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.tentative.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.tentative.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Revert test 9
  components/layout/fragment_tree/box_fragment.rs
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Add reference to overflow test
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.tentative.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.tentative.html
Owners: none

Adjust fn name to recent refactor
  components/layout/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

update doc for `ScriptThread::relative_mouse_down_point`
  components/script/script_thread.rs
Owners: @gterzian

worker_id should be part of SourceInfo
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Devtools: Support worker scripts in `Debugger > Source` panel (#36562)
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Update WPT expectation
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
Owners: none

Refactors GPUBuffer to manage drop logic
  components/script/dom/webgpu/gpubuffer.rs
Owners: @gterzian

layout: Account for transform in scrollable overflow (#36138)
  components/layout/display_list/mod.rs
  components/layout/display_list/stacking_context.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/style_ext.rs
  tests/wpt/meta/css/css-flexbox/negative-overflow.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-content-alignment-overflow-002.html.ini
  tests/wpt/meta/css/css-overflow/overflow-inline-transform-relative.html.ini
  tests/wpt/meta/css/css-overflow/scroll-overflow-padding-block-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.tentative.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.tentative.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-004.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-006.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-unreachable-region.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-004.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.tentative.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-006.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-007.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-008.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.tentative.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-unreachable-region.html
Owners: @mrobinson, @Loirooriol, @nicoburns

move test case to wpt
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/tests/focus/focus-element-crash.html
Owners: none

Performance.timing should be a PerformanceTiming object.
  components/script/dom/document.rs
  components/script/dom/mod.rs
  components/script/dom/performance.rs
  components/script/dom/performancetiming.rs
  components/script_bindings/webidls/Performance.webidl
  components/script_bindings/webidls/PerformanceTiming.webidl
Owners: @gterzian

Refactor for linting
  components/script/dom/webgpu/gpubuffer.rs
Owners: @gterzian

Refactor for linting
  components/script/dom/webgpu/gpubuffer.rs
Owners: @gterzian

layout: Check if root before establishing containing block
  components/layout/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: `FIXPOS_CB_NON_SVG` not cb when is root
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-003.html.ini
Owners: none

layout: Pass correct FragmentFlags
  components/layout/flexbox/layout.rs
  components/layout/flow/float.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/positioned.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Update test expectation to pass
  tests/wpt/meta/css/filter-effects/filtered-html-is-not-container.html.ini
Owners: none

Add helpers to simplify calling `PositioningContext::new_for_style()`
  components/layout/flexbox/layout.rs
  components/layout/flow/float.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/positioned.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

canvas: Apply upper size limitation to context output bitmap
  components/canvas/canvas_data.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  tests/wpt/meta/html/canvas/element/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.worker.js.ini
Owners: @gterzian

build(deps): bump Stylo from `0eaeea3` to `03ffc85`
  Cargo.lock
Owners: none

canvas: Apply large size limitations (#36445)
  components/canvas/canvas_data.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  tests/wpt/meta/html/canvas/element/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.worker.js.ini
Owners: @gterzian

build(deps): bump Stylo from `0eaeea3` to `03ffc85` (#36750)
  Cargo.lock
Owners: none

Fix BorrowMutError crash in form reset (#36726)
  components/script/dom/htmlformelement.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/form_reset-crash.html
Owners: @gterzian

fix crash occurs when the focus element is adopted (#36608)
  components/script/dom/document.rs
  tests/wpt/meta/dom/nodes/insertion-removing-steps/blur-event.window.js.ini
  tests/wpt/tests/focus/focus-element-crash.html
Owners: @gterzian

layout: Check if root before establishing containing block (#36360)
  components/layout/flexbox/layout.rs
  components/layout/flow/float.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/positioned.rs
  components/layout/style_ext.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-003.html.ini
  tests/wpt/meta/css/filter-effects/filtered-html-is-not-container.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
