Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Add DomRefCell::take
  components/script/dom/bindings/cell.rs
Owners: @gterzian

Add spec comments to MutationObserver::queue_mutation_observer_microtask
  components/script/dom/mutationobserver.rs
Owners: @gterzian

Add spec comments to notify_mutation_observers
  components/script/dom/mutationobserver.rs
Owners: @gterzian

Fire slotchange events when a slot changes
  components/script/dom/htmlslotelement.rs
  components/script/dom/mutationobserver.rs
  components/script/microtask.rs
  components/script/script_thread.rs
Owners: @gterzian

./mach fmt
  components/script/dom/bindings/cell.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mutationobserver.rs
Owners: @gterzian

Move "signal a slot change" into ScriptThread impl
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/script_thread.rs
Owners: @gterzian

Potentially fire slot change events in Node::remove
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api-slotchange.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api.html.ini
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback-in-document.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
Owners: none

./mach fmt
  components/script/script_thread.rs
Owners: @gterzian

Bump stylo
  Cargo.lock
Owners: none

Fix check for when to dispatch slot events
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
Owners: none

Propagate events from slottables to their assigned slot instead of their parent
  components/script/dom/eventtarget.rs
Owners: @gterzian

Fire slot change events when the slot content changes (#35137)
  Cargo.lock
  components/script/dom/bindings/cell.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mutationobserver.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script/microtask.rs
  components/script/script_thread.rs
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api-slotchange.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api.html.ini
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback-in-document.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
Owners: @gterzian

layout: Improve fixed table layout
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e08.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e09.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e10.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e11.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e12.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f08.xht.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Take percentage columns into account when sizing table grid min and max
  components/layout_2020/construct_modern.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/mod.rs
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/percent-width-cell-dynamic.html.ini
  tests/wpt/meta/css/css-tables/percent-width-ignored-002.tentative.html.ini
  tests/wpt/meta/css/css-tables/table-model-fixup.html.ini
  tests/wpt/meta/css/css-tables/tentative/colgroup-col.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/column-widths.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-minmax.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-001.html.ini
  tests/wpt/tests/css/css-flexbox/table-as-item-percent-width-cell-001-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve fixed table layout (#35170)
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e08.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e09.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e10.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e11.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e12.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f08.xht.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Take percentage columns into account when sizing table grid min and max (#35167)
  components/layout_2020/construct_modern.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/mod.rs
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/percent-width-cell-dynamic.html.ini
  tests/wpt/meta/css/css-tables/percent-width-ignored-002.tentative.html.ini
  tests/wpt/meta/css/css-tables/table-model-fixup.html.ini
  tests/wpt/meta/css/css-tables/tentative/colgroup-col.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/column-widths.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-minmax.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-001.html.ini
  tests/wpt/tests/css/css-flexbox/table-as-item-percent-width-cell-001-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns

implement viewed_buffer_array_byte_length and byte_length
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Correct BufferSource implemntation
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

fix clippy
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Script: implement ReadableStreamBYOBReader::Read
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/webidls/ReadableStreamBYOBReader.webidl
Owners: @gterzian

fix ReadRequest::close_steps
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

Correct detach_buffer implemantation
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Reduce BufferSource to two variants ArrayBuffer and ArrayBufferView
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Add more doc and use promise.reject_error
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

fix JS_IsArrayBufferViewObject usage
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Propagate events from slottables to their assigned slot instead of their parent (#35177)
  components/script/dom/eventtarget.rs
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
Owners: @gterzian

Script: implement `ReadableStreamBYOBReader::Read` (#35040)
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/webidls/ReadableStreamBYOBReader.webidl
Owners: @gterzian

Implement Element::slot attribute
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script_bindings/webidls/Element.webidl
Owners: @gterzian

Simplify slottable name update
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

layout: Correctly resolve `currentcolor` on collapsed borders (#35163)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001e.xht.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Zero out collapsed track sizes when painting collapsed borders (#35165)
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/CSS2/tables/border-collapse-visibility-collapse-001.tentative.html
  tests/wpt/tests/css/CSS2/tables/border-collapse-visibility-collapse-002.tentative.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Update WPT expectations
  tests/wpt/meta/custom-elements/reactions/Element.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/Slottable-mixin.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
Owners: none

fix: serialize images URL
  components/script/dom/notification.rs
Owners: @gterzian

libservo: Stop using `script_traits` in the embedding layer
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/history.rs
  components/script/dom/mediasession.rs
  components/script/dom/webxr/xrinputsource.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/Cargo.toml
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android/resources.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/resources.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
  ports/servoshell/resources.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

libservo: Stop using `script_traits` in the embedding layer (#35185)
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/history.rs
  components/script/dom/mediasession.rs
  components/script/dom/webxr/xrinputsource.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/Cargo.toml
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android/resources.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/resources.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
  ports/servoshell/resources.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

libservo: Port desktop servoshell to use the new `WebView` API
  components/background_hang_monitor/background_hang_monitor.rs
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/compositing/constellation_msg.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @mrobinson, @atbrakhi

libservo: Port desktop servoshell to use the new `WebView` API (#35183)
  components/background_hang_monitor/background_hang_monitor.rs
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/compositing/constellation_msg.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @mrobinson, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
