Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

layout: Fix clientWidth & friends for tables (#35096)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/cssom-view/table-client-props.html.ini
  tests/wpt/meta/css/cssom-view/table-with-border-client-width-height.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Create servo-media Dependabot group
  .github/dependabot.yml
Owners: none

Create servo-media Dependabot group (#35098)
  .github/dependabot.yml
Owners: none

Add support for HTMLStyleElement.type
  components/script/dom/htmlstyleelement.rs
  components/script/dom/webidls/HTMLStyleElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_type_change.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_type_html.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/update-style-block-ascii-case-insensitive.html.ini
Owners: @gterzian

Add support for HTMLStyleElement.type (#35038)
  components/script/dom/htmlstyleelement.rs
  components/script/dom/webidls/HTMLStyleElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_type_change.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_type_html.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/update-style-block-ascii-case-insensitive.html.ini
Owners: @gterzian

layout: Improve distribution colspan cell inline size
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/colspan-001.html.ini
  tests/wpt/meta/css/css-tables/colspan-002.html.ini
  tests/wpt/meta/css/css-tables/colspan-003.html.ini
  tests/wpt/meta/css/css-tables/height-distribution/computing-row-measure-1.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-3.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed-padding.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed.html.ini
  tests/wpt/meta/html/semantics/tabular-data/processing-model-1/col-span-limits.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Paint collapsed table borders on their own
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/normal-flow/block-formatting-contexts-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001d.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-004.xht.ini
  tests/wpt/meta/css/css-backgrounds/box-shadow-table-border-collapse-001.html.ini
  tests/wpt/meta/css/css-backgrounds/ttwf-reftest-borderRadius.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-paint-phase-002.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-positioned-tr-td.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Paint collapsed table borders on their own (#35075)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/normal-flow/block-formatting-contexts-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001d.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-004.xht.ini
  tests/wpt/meta/css/css-backgrounds/box-shadow-table-border-collapse-001.html.ini
  tests/wpt/meta/css/css-backgrounds/ttwf-reftest-borderRadius.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-paint-phase-002.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-positioned-tr-td.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve distribution colspan cell inline size (#35095)
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/colspan-001.html.ini
  tests/wpt/meta/css/css-tables/colspan-002.html.ini
  tests/wpt/meta/css/css-tables/colspan-003.html.ini
  tests/wpt/meta/css/css-tables/height-distribution/computing-row-measure-1.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-3.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed-padding.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed.html.ini
  tests/wpt/meta/html/semantics/tabular-data/processing-model-1/col-span-limits.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix border widths of table wrapper with collapsed borders
  components/layout_2020/display_list/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/borders/border-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-005.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-007.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-005.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-007.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-009.xht.ini
  tests/wpt/meta/css/css-tables/border-collapse-dynamic-section.html.ini
  tests/wpt/tests/css/css-tables/visibility-collapse-rowspan-004-dynamic.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix conflict resolution for collapsed borders differing in color
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-003.html.ini
  tests/wpt/tests/css/CSS2/borders/border-conflict-style-107.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix conflict resolution for collapsed borders differing in color (#35100)
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-003.html.ini
  tests/wpt/tests/css/CSS2/borders/border-conflict-style-107.html
Owners: @mrobinson, @Loirooriol, @nicoburns

fix: ohos workflow expression error
  .github/workflows/ohos.yml
Owners: @jschwe

layout: Fix border widths of table wrapper with collapsed borders (#35097)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/borders/border-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-005.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-applies-to-007.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-005.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-007.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-009.xht.ini
  tests/wpt/meta/css/css-tables/border-collapse-dynamic-section.html.ini
  tests/wpt/tests/css/css-tables/visibility-collapse-rowspan-004-dynamic.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Make naming of variables consistent with `SpecificLayoutInfo`
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Make naming of variables consistent with `SpecificLayoutInfo` (#35104)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

fix: ohos workflow expression error (#35109)
  .github/workflows/ohos.yml
Owners: @jschwe

Remove BlobState abstraction
  components/script/dom/globalscope.rs
Owners: @gterzian

ohos: Add event for page loaded
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

Fix building libservo with `cargo build -p libservo`
  components/servo/Cargo.toml
Owners: none

Test the libservo build in CI
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

Install rust-src in rust-toolchain.toml
  rust-toolchain.toml
Owners: none

Simplify rust-toolchain.toml
  rust-toolchain.toml
Owners: none

Install rust-src in rust-toolchain.toml (#35117)
  rust-toolchain.toml
Owners: none

CI: Test OpenHarmony on self-hosted runner
  .github/workflows/ohos.yml
Owners: @jschwe

fix typo
  .github/workflows/ohos.yml
Owners: @jschwe

Remove type parameter from Servo and IOCompositor
  components/compositing/compositor.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
Owners: @mrobinson, @atbrakhi

layout: Fix table geometry when collapsed borders have different sizes
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/CSS2/tables/border-collapse-006.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Allow composed events to pass shadow boundaries
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
Owners: @gterzian

Implement Event.composed flag
  components/script/animations.rs
  components/script/dom/event.rs
  components/script/dom/webidls/Event.webidl
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/dom/events/event-global-extra.window.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/dom/idlharness.any.js.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Extensions-to-Event-Interface.html.ini
  tests/wpt/meta/shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path-after-dom-mutation.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/shadow-dom/event-dispatch-order.tentative.html.ini
  tests/wpt/meta/shadow-dom/event-inside-shadow-tree.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
Owners: none

Remove BlobState abstraction (#35114)
  components/script/dom/globalscope.rs
Owners: @gterzian

Implement Event propagation across shadow roots (#34884)
  components/script/animations.rs
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/webidls/Event.webidl
  tests/wpt/meta/dom/events/event-global-extra.window.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/dom/idlharness.any.js.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Extensions-to-Event-Interface.html.ini
  tests/wpt/meta/shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path-after-dom-mutation.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/shadow-dom/event-dispatch-order.tentative.html.ini
  tests/wpt/meta/shadow-dom/event-inside-shadow-tree.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
Owners: @gterzian

script: Handle shadow roots in DocumentOrShadowRoot::element_from_point.
  components/script/dom/documentorshadowroot.rs
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
Owners: @gterzian

layout: Proper check for BoxFragment generated by a table wrapper box
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Proper check for BoxFragment generated by a table wrapper box (#35136)
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Clippy fixes.
  components/script/dom/documentorshadowroot.rs
Owners: @gterzian

script: Avoid unwraps in DocumentOrShadowRoot::element_from_point. (#35130)
  components/script/dom/documentorshadowroot.rs
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
Owners: @gterzian

ci: remove explicit `permissions` block in bencher.yml
  .github/workflows/bencher.yml
Owners: none

CI: Test ohos on HarmonyOS device (#35006)
  .github/workflows/ohos.yml
  ports/servoshell/egl/ohos.rs
Owners: @jschwe
