Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

layout: Use box tree `Fragment`s for offset parent queries (#36681)
  components/layout/fragment_tree/base_fragment.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/layout/table/layout.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
  tests/wpt/meta/css/cssom-view/offsetParent-block-in-inline.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-clipping-2.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-mirror.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-pixels-2.html.ini
  tests/wpt/meta/shadow-dom/offsetParent-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/offsetTop-offsetLeft-across-shadow-boundaries.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

wip: pass FetchContext to websocket integration
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

wip: remove redundant http_state
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

layout: Remove rules for legacy pseudo-elements in user agent stylesheet
  resources/servo.css
Owners: none

layout: Remove rules for legacy pseudo-elements in user agent stylesheet (#36698)
  resources/servo.css
Owners: none

Use snapshot size instead of canvas size when converting canvas to blob
  components/script/dom/htmlcanvaselement.rs
Owners: @gterzian

Add web platform test
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/canvas/toblob-then-change-size-crash.html
Owners: none

Use snapshot size instead of canvas size when converting canvas to blob (#36705)
  components/script/dom/htmlcanvaselement.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/canvas/toblob-then-change-size-crash.html
Owners: @gterzian

Add WebFontDocumentContext for CSS Fonts 4 font fetching
  components/fonts/font_context.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/fontface.rs
  components/script/script_thread.rs
Owners: @gterzian

Determine if ResizeTo is allowed
  components/script/dom/window.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/window_resizeTo.html
  tests/wpt/mozilla/tests/mozilla/window_resizeTo_not_permitted-crash.html
Owners: @gterzian

Determine if ResizeTo is allowed (#36704)
  components/script/dom/window.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/window_resizeTo.html
  tests/wpt/mozilla/tests/mozilla/window_resizeTo_not_permitted-crash.html
Owners: @gterzian

Replace NetworkError::CorsViolation and NetworkErrorr::SecurityBlock with granular enum variants
  components/net/fetch/methods.rs
  components/shared/net/lib.rs
Owners: none

webdriver: Always return NoSuchWindow if sending a script command fails.
  components/webdriver_server/lib.rs
Owners: none

Update webdriver test results.
  tests/wpt/meta/css/css-values/attr-cycle.tentative.html.ini
  tests/wpt/meta/webdriver/tests/classic/add_cookie/add.py.ini
  tests/wpt/meta/webdriver/tests/classic/back/back.py.ini
  tests/wpt/meta/webdriver/tests/classic/delete_all_cookies/delete.py.ini
  tests/wpt/meta/webdriver/tests/classic/delete_cookie/delete.py.ini
  tests/wpt/meta/webdriver/tests/classic/delete_session/delete.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/file_upload.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_async_script/execute_async.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/arguments.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/execute.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_element/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_element_from_element/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_element_from_shadow_root/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_elements/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_elements_from_element/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/find_elements_from_shadow_root/find.py.ini
  tests/wpt/meta/webdriver/tests/classic/forward/forward.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_active_element/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_computed_role/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_current_url/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_named_cookie/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_page_source/source.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_title/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_window_rect/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/new_window/new.py.ini
  tests/wpt/meta/webdriver/tests/classic/new_window/new_window.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_touch.py.ini
  tests/wpt/meta/webdriver/tests/classic/set_window_rect/set.py.ini
  tests/wpt/meta/webdriver/tests/classic/switch_to_frame/switch.py.ini
  tests/wpt/meta/webdriver/tests/classic/switch_to_parent_frame/switch.py.ini
  tests/wpt/meta/webdriver/tests/classic/take_element_screenshot/screenshot.py.ini
  tests/wpt/meta/webdriver/tests/interop/beforeunload_prompt.py.ini
Owners: none

Enable webdriver conformance tests.
  tests/wpt/include.ini
Owners: none

Tidy.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Replace todo! usage in server.
  components/webdriver_server/capabilities.rs
Owners: none

Reorder a couple include.ini entries.
  tests/wpt/include.ini
Owners: none

Update more test expectations.
  tests/wpt/meta/webdriver/tests/classic/accept_alert/accept.py.ini
  tests/wpt/meta/webdriver/tests/classic/close_window/close.py.ini
  tests/wpt/meta/webdriver/tests/classic/dismiss_alert/dismiss.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/properties.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_computed_label/user_prompts.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_window_handles/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/is_element_enabled/user_prompts.py.ini
  tests/wpt/meta/webdriver/tests/classic/print/background.py.ini
Owners: none

Move log inside relevant conditional.
  components/constellation/constellation.rs
Owners: none

script_thread: HTML parser doesn't set relevant option
  components/script/dom/document.rs
  components/script/dom/servoparser/html.rs
Owners: @gterzian

script_thread: HTML parser doesn't set relevant option (#36622)
  components/script/dom/document.rs
  components/script/dom/servoparser/html.rs
Owners: @gterzian

constellation: Move log inside relevant conditional. (#36713)
  components/constellation/constellation.rs
Owners: none

htmlinputelement: Update radio group validity logic for disconnected trees
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/radio.html.ini
Owners: @gterzian

htmlinputelement: Update radio group validity logic for disconnected trees (#36431)
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/radio.html.ini
Owners: @gterzian

Split webgl into separate crate
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/webgl/Cargo.toml
  components/webgl/lib.rs
  components/webgl/webgl_limits.rs
  components/webgl/webgl_mode/inprocess.rs
  components/webgl/webgl_mode/mod.rs
  components/webgl/webgl_thread.rs
  components/webgl/webxr.rs
Owners: none

WIP: Add support for static SVG images in `img` tag
  Cargo.lock
  Cargo.toml
  components/layout/context.rs
  components/layout/dom.rs
  components/layout/layout_impl.rs
  components/layout/replaced.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/net/Cargo.toml
  components/net/image_cache.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/dom/datatransfer.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/node.rs
  components/script/dom/notification.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/window.rs
  components/script/layout_dom/node.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/net/Cargo.toml
  components/shared/net/image_cache.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Add missing pieces for worker case
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

udpate watchTargets and watchResource to consider worker
  components/devtools/actors/watcher.rs
Owners: none

fix serialization of TargetActorMsg to be used in WatchTargetsReply
  components/devtools/actors/watcher.rs
Owners: none

worker_id shoud be "id" & thread for workers is thread not context
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
Owners: none

fmt
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

watchTargets should watch for targetType before sending targets
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

For worker case send source in ResourceAvailableReply
  components/devtools/actors/watcher.rs
Owners: none

fix imports and issue caused by struct renamings
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

review fix
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/worker.rs
Owners: @gterzian

layout: Refactor `establishes_containing_block_for_all_descendants()`
  components/layout/display_list/stacking_context.rs
  components/layout/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Clamp table spans according to the HTML specification
  components/layout/table/construct.rs
  components/script/dom/htmltablecellelement.rs
  components/script/dom/htmltablecolelement.rs
  components/script/dom/macros.rs
  tests/wpt/meta/html/dom/reflection-tabular.html.ini
  tests/wpt/tests/css/css-tables/colspan-zero-crash.html
  tests/wpt/tests/html/semantics/tabular-data/processing-model-1/col-span-limits.html
  tests/wpt/tests/html/semantics/tabular-data/processing-model-1/span-limits.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Refactor `establishes_containing_block_for_all_descendants()` (#36725)
  components/layout/display_list/stacking_context.rs
  components/layout/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update format
  components/script/dom/node.rs
Owners: @gterzian
