Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Switch GCReason, enable for WPT tests
  components/script/dom/testutils.rs
  resources/wpt-prefs.json
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
Owners: @gterzian

constellation: Stop assuming that the viewport is shared by all WebViews
  Cargo.lock
  components/compositing/compositor.rs
  components/constellation/browsingcontext.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/session_history.rs
  components/constellation/tracing.rs
  components/layout_2020/replaced.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/documentorshadowroot.rs
  components/script/dom/element.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/iframe_collection.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Add: spec link
  components/script/stylesheet_loader.rs
Owners: @gterzian

script: Remove code dealing with `CompositorUntrustedNode`
  components/script/dom/document.rs
  components/script/dom/node.rs
Owners: @gterzian

constellation: Stop assuming that the viewport is shared by all WebViews (#36312)
  Cargo.lock
  components/compositing/compositor.rs
  components/constellation/browsingcontext.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/session_history.rs
  components/constellation/tracing.rs
  components/layout_2020/replaced.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/documentorshadowroot.rs
  components/script/dom/element.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/iframe_collection.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update interfaces.worker.js.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
Owners: none

add a cross realm transform readable
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

implement message handling for cross realm transform readable: wip
  components/script/dom/readablestream.rs
Owners: @gterzian

script: Remove code dealing with `CompositorUntrustedNode` (#36343)
  components/script/dom/document.rs
  components/script/dom/node.rs
Owners: @gterzian

constellation: Rename messages sent to the `Constellation`
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/logging.rs
  components/constellation/tracing.rs
  components/script/animations.rs
  components/script/canvas_state.rs
  components/script/clipboard_provider.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/history.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/mediasession.rs
  components/script/dom/serviceworker.rs
  components/script/dom/serviceworkercontainer.rs
  components/script/dom/servointernals.rs
  components/script/dom/storage.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/dom/workletglobalscope.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/constellation/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/lib.rs
Owners: @mrobinson, @gterzian

Prevent zombie processes in multi-process mode. (#36329)
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/pipeline.rs
  components/constellation/process_manager.rs
  components/constellation/sandboxing.rs
  components/constellation/serviceworker.rs
Owners: none

constellation: Rename messages sent to the `Constellation` (#36341)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/logging.rs
  components/constellation/tracing.rs
  components/script/animations.rs
  components/script/canvas_state.rs
  components/script/clipboard_provider.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/history.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/mediasession.rs
  components/script/dom/serviceworker.rs
  components/script/dom/serviceworkercontainer.rs
  components/script/dom/servointernals.rs
  components/script/dom/storage.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/dom/workletglobalscope.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/constellation/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/lib.rs
Owners: @mrobinson, @gterzian

Implement TestUtils (#36301)
  components/config/prefs.rs
  components/script/dom/mod.rs
  components/script/dom/testutils.rs
  components/script_bindings/webidls/TestUtils.webidl
  python/tidy/tidy.py
  resources/wpt-prefs.json
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
Owners: @gterzian

constellation: Only return focused browsing contexts that exist.
  components/constellation/constellation.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

constellation: Only return focused browsing contexts that exist. (#36330)
  components/constellation/constellation.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

Implement input preprocessing for URLPatterns
  components/script/dom/urlpattern.rs
  components/script_bindings/str.rs
Owners: @gterzian

Fix: use document.origin insted of URL's origin
  components/script/stylesheet_loader.rs
Owners: @gterzian

script: Implement input preprocessing for URLPatterns (#36225)
  components/script/dom/urlpattern.rs
  components/script_bindings/str.rs
Owners: @gterzian

layout: Check if root before establishing containing block
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Pass correct FragmentFlags
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Plumb through ancestor origin trustworthiness
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/node.rs
  components/script/dom/notification.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/websocket.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/script_thread.rs
  components/script/serviceworker_manager.rs
  components/script/stylesheet_loader.rs
  components/shared/net/request.rs
  components/url/lib.rs
  components/url/origin.rs
Owners: @gterzian

More passing tests
  components/script/dom/htmlscriptelement.rs
  components/script/fetch.rs
  tests/wpt/meta/fetch/private-network-access/mixed-content-fetch.tentative.https.window.js.ini
  tests/wpt/meta/mixed-content/blob.https.sub.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/img-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/img-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/audio-upgrade.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/image-upgrade.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/mixed-content-cors.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/video-upgrade.https.sub.html.ini
Owners: @gterzian

fix rebase issues, update wpt expectations, tidy and fmt issues
  components/net/fetch/methods.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/location.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/workerglobalscope.rs
  components/url/origin.rs
  tests/wpt/meta/fetch/cross-origin-resource-policy/scheme-restriction.https.window.js.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/audio-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/audio-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/audio-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/img-tag.https.html.ini
  tests/wpt/meta/secure-contexts/shared-worker-insecure-first.https.html.ini
  tests/wpt/meta/secure-contexts/shared-worker-secure-first.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/unset/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/unset/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/unset/img-tag.https.html.ini
Owners: @gterzian

Check request origin for trustworthiness, not the request url
  components/net/fetch/methods.rs
  components/shared/net/request.rs
  tests/wpt/meta/mixed-content/csp.https.window.js.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/unset/xhr.https.html.ini
Owners: none

More fixes and passing the nested-iframes test
  components/constellation/constellation.rs
  components/net/fetch/methods.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/location.rs
  components/script/dom/request.rs
  components/script/dom/windowproxy.rs
  components/script/dom/workerglobalscope.rs
  components/script/links.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/shared/net/request.rs
  components/shared/script/lib.rs
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/unset/xhr.https.html.ini
  tests/wpt/meta/mixed-content/nested-iframes.window.js.ini
Owners: @gterzian

Fixes and data url worker change
  components/net/fetch/methods.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/location.rs
  components/script/dom/node.rs
  components/script/dom/notification.rs
  components/script/dom/request.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/websocket.rs
  components/script/dom/windowproxy.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/xmlhttprequest.rs
  components/script/links.rs
  components/script/stylesheet_loader.rs
  components/url/origin.rs
Owners: @gterzian

Make the memory reporting multi-process aware
  Cargo.lock
  components/constellation/Cargo.toml
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/process_manager.rs
  components/net/resource_thread.rs
  components/profile/Cargo.toml
  components/profile/lib.rs
  components/profile/mem.rs
  components/profile/system_reporter.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  resources/about-memory.html
Owners: @gterzian

Make the memory reporting multi-process aware (#35863)
  Cargo.lock
  components/constellation/Cargo.toml
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/process_manager.rs
  components/net/resource_thread.rs
  components/profile/Cargo.toml
  components/profile/lib.rs
  components/profile/mem.rs
  components/profile/system_reporter.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  resources/about-memory.html
Owners: @gterzian

Refine wpt-test
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

structuredclone::read throws a DataClone error on failure
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Add a tokenizer for URLPatterns
  components/script/dom/urlpattern.rs
Owners: @gterzian

structuredclone::read throws a DataClone error on failure (#36361)
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Update WPT expectations
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

mach fmt
  components/script/xpath/eval.rs
  components/script/xpath/parser.rs
Owners: @gterzian

lint
  components/script/dom/node.rs
  components/script/xpath/eval.rs
  components/script/xpath/parser.rs
Owners: @gterzian

fix build error after merge from main
  components/script/xpath/eval.rs
Owners: @gterzian

address feedback
  components/script/dom/clipboarditem.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/Clipboard.webidl
Owners: @gterzian

Fix: wpt test-tidy error
  components/script/stylesheet_loader.rs
  tests/wpt/tests/html/links/stylesheet/quirk-origin-check-positive.html
Owners: @gterzian

layout: Update test expectation to pass
  tests/wpt/meta/css/filter-effects/filtered-html-is-not-container.html.ini
Owners: none

compositor: Make viewport metrics per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
