Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

ci: remove explicit `permissions` block in bencher.yml (#35142)
  .github/workflows/bencher.yml
Owners: none

ci: Fix ohos test artifact name
  .github/workflows/ohos.yml
Owners: @jschwe

Update the FormData constructor to allow providing a submitter
  components/script/dom/formdata.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/webidls/FormData.webidl
  tests/wpt/meta/xhr/formdata/constructor-submitter.html.ini
Owners: @gterzian

ci: Fix ohos test artifact name (#35143)
  .github/workflows/ohos.yml
Owners: @jschwe

Test the libservo build in CI
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

Fix building libservo with `cargo build -p libservo`
  components/servo/Cargo.toml
Owners: none

chore: crown attribute
  components/script/dom/notification.rs
Owners: @gterzian

Work around build issue on macOS (#34517)
  Cargo.toml
  components/fonts/Cargo.toml
Owners: none

Fix building libservo with `cargo build -p libservo` (#35116)
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  Cargo.toml
  components/fonts/Cargo.toml
  components/servo/Cargo.toml
  python/servo/try_parser.py
Owners: none

layout: Remove min and max container sizes from `FlexContext`
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/formatting_contexts.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix table geometry when collapsed borders have different sizes (#35122)
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/CSS2/tables/border-collapse-006.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: simplify `CollapsedBorderLine`
  components/layout_2020/display_list/mod.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add minimal libservo example using winit
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  shell.nix
Owners: none

CI: include examples in libservo compile test
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Owners: none

CI: build libservo with `continue-on-error`
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Owners: none

Add minimal libservo example using winit (#35118)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  shell.nix
Owners: none

layout: simplify `CollapsedBorderLine` (#35125)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

feat: turn RenderingContext into a trait
  Cargo.lock
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/servo/lib.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @atbrakhi, @jschwe

layout: Hide collapsed borders crossed by spanning cells
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-001.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-002.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-003.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-004.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Hide collapsed borders crossed by spanning cells (#35129)
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-001.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-002.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-003.html
  tests/wpt/tests/css/css-tables/tentative/border-collapse-spanning-cells-004.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix some clippy issues on the Android build
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/android/xml.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

fix part of suggestions
  components/script/dom/notification.rs
Owners: @gterzian

clipboardevent: set composed flag
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/event.rs
Owners: @gterzian

add clipboardevent test expectations
  tests/wpt/include.ini
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
  tests/wpt/meta/clipboard-apis/data-transfer-file-list-change-reference-updates.html.ini
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
Owners: none

Fix some clippy issues on the Android build (#35147)
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/android/xml.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

script: Do not set up an IPC route for every image load
  Cargo.lock
  components/layout/context.rs
  components/layout/fragment.rs
  components/layout_2020/context.rs
  components/layout_2020/replaced.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/net/image_cache.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/window.rs
  components/script/image_listener.rs
  components/script/lib.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update the FormData constructor to allow providing a submitter (#35066)
  components/script/dom/formdata.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/webidls/FormData.webidl
  tests/wpt/meta/xhr/formdata/constructor-submitter.html.ini
Owners: @gterzian

Fix macOS smoke test
  components/canvas/webgl_mode/inprocess.rs
  components/shared/webrender/rendering_context.rs
Owners: none

Add comment for create_texture and destroy_texture
  components/shared/webrender/rendering_context.rs
Owners: none

dom: set composed flag when constructing `ClipboardEvent` (#35146)
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/event.rs
  tests/wpt/include.ini
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
  tests/wpt/meta/clipboard-apis/data-transfer-file-list-change-reference-updates.html.ini
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
Owners: @gterzian

Improve comments written
  components/shared/webrender/rendering_context.rs
Owners: none

script: Handle shadow roots when determining common ancestors of dirty roots.
  components/script/dom/document.rs
  tests/wpt/meta/shadow-dom/untriaged/events/event-dispatch/test-003.html.ini
Owners: @gterzian

script: Handle shadow roots when determining common ancestors of dirty roots. (#35132)
  components/script/dom/document.rs
  tests/wpt/meta/shadow-dom/untriaged/events/event-dispatch/test-003.html.ini
Owners: @gterzian

feat: Turn `RenderingContext` into a trait (#35052)
  Cargo.lock
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/servo/lib.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @atbrakhi, @jschwe

Fix winit_minimal.rs build
  components/servo/examples/winit_minimal.rs
Owners: none

Update wgpu
  Cargo.lock
  Cargo.toml
Owners: none

Fix winit_minimal.rs build (#35154)
  components/servo/examples/winit_minimal.rs
Owners: none

Remove type parameter from Servo and IOCompositor (#35121)
  components/compositing/compositor.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
Owners: @mrobinson, @atbrakhi

Fix compile error in libservo example
  components/servo/examples/winit_minimal.rs
Owners: none

Shut down Servo when the Servo instance is dropped
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
Owners: @mrobinson
