Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Remove `get_ipc_renderer` from `CanvasRenderingContext2D` (#35285)
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
Owners: @gterzian

Make traverse_preorder follow children of shadow hosts (#35276)
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/CustomElementRegistry.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-in-slot.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/canvas-descendants-focusability-004.tentative.html.ini
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/event-inside-slotted-node.html.ini
  tests/wpt/meta/shadow-dom/offsetParent-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-008.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/dom-tree-accessors-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/selectors-api-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/test-009.html.ini
  tests/wpt/meta/shadow-dom/untriaged/styles/test-008.html.ini
Owners: @gterzian

layout: Implement default overflow alignment for abspos (#35208)
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-vrl.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Limit `content_inline_size_for_table` override to collapsed columns
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Limit `content_inline_size_for_table` override to collapsed columns (#35209)
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Simplify `Table::compute_inline_content_sizes`
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove special height logic of replaced element with auto width
  components/layout_2020/geom.rs
  components/layout_2020/replaced.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Upgrade Stylo to 2025-02-03
  Cargo.lock
  Cargo.toml
Owners: none

Fixup for https://phabricator.services.mozilla.com/D233758
  components/script/layout_dom/element.rs
Owners: @gterzian

Fixup for https://phabricator.services.mozilla.com/D231255
  components/layout_2020/flow/inline/line.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update test expectations
  tests/wpt/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  tests/wpt/meta/css/css-images/gradient/color-stops-parsing.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-001.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-002.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-003.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-004.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-005.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-006.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-007.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-parsing.html.ini
Owners: none

Fixup for https://phabricator.services.mozilla.com/D233218
  components/layout/display_list/gradient.rs
  components/layout_2020/display_list/gradient.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Upgrade Stylo to 2025-02-03 (#35289)
  Cargo.lock
  Cargo.toml
  components/layout/display_list/gradient.rs
  components/layout_2020/display_list/gradient.rs
  components/layout_2020/flow/inline/line.rs
  components/script/layout_dom/element.rs
  tests/wpt/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  tests/wpt/meta/css/css-images/gradient/color-stops-parsing.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-001.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-002.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-003.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-004.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-005.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-006.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-007.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-parsing.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

script: delay Mutation initialization
  components/script/dom/attr.rs
  components/script/dom/characterdata.rs
  components/script/dom/element.rs
  components/script/dom/mutationobserver.rs
  components/script/dom/node.rs
Owners: @gterzian

Port https://github.com/servo/webxr/pull/255
  Cargo.lock
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
Owners: none

Use glowing surfman
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/compositing/compositor.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/servo/lib.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @mrobinson, @gterzian, @atbrakhi

fixups rebase
  components/compositing/compositor.rs
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  components/webxr/glwindow/mod.rs
Owners: @mrobinson

fmt
  components/shared/webrender/rendering_context.rs
  components/webxr/openxr/mod.rs
Owners: none

Update surfman
  Cargo.lock
  Cargo.toml
Owners: none

Fix stale TODO
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Use surfman with glow bindings (#34328)
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @gterzian, @atbrakhi

script: delay Mutation initialization (#35291)
  components/script/dom/attr.rs
  components/script/dom/characterdata.rs
  components/script/dom/element.rs
  components/script/dom/mutationobserver.rs
  components/script/dom/node.rs
Owners: @gterzian

script: Make DOM proxy handlers generic over DOM types.
  components/script_bindings/codegen/CodegenRust.py
Owners: none

script: Make finalize and trace hooks generic over DOM types.
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/paintworkletglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/testworkletglobalscope.rs
  components/script/dom/window.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Add support for Upgrade request to a potentially trustworthy URL.
  components/net/fetch/methods.rs
  components/net/tests/http_loader.rs
  components/shared/net/request.rs
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/fetch.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/worker-classic.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/worker-module.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/xhr.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/fetch.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/worker-classic.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/worker-module.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/xhr.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.http-rp/upgrade/fetch.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.http-rp/upgrade/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.http-rp/upgrade/worker-classic.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.http-rp/upgrade/worker-module.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.http-rp/upgrade/xhr.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/upgrade/fetch.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/upgrade/img-tag.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/upgrade/worker-classic.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/upgrade/worker-module.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/top.meta/upgrade/xhr.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/worker-classic-data.meta/upgrade/fetch.https.html.ini
  tests/wpt/meta/upgrade-insecure-requests/gen/worker-classic-data.meta/upgrade/xhr.https.html.ini
Owners: none

script: Support inheritable insecure request policy in documents and workers.
  components/constellation/constellation.rs
  components/net/fetch/methods.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/location.rs
  components/script/dom/node.rs
  components/script/dom/request.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/websocket.rs
  components/script/dom/windowproxy.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/links.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/script/stylesheet_loader.rs
  components/shared/net/request.rs
  components/shared/script/lib.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

libservo: Add WebViewDelegate and ServoDelegate and port `winit_minimal`
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @atbrakhi, @jschwe

libservo: Add WebViewDelegate and ServoDelegate and port `winit_minimal` (#35196)
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @atbrakhi, @jschwe

Simplify `RenderingContext` trait methods
  Cargo.lock
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/rendering_context.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @jschwe

Simplify `RenderingContext` trait methods (#35251)
  Cargo.lock
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/rendering_context.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @jschwe

Don't require index parameter in `CSSGroupingRule`'s `insertRule()`
  components/script_bindings/webidls/CSSGroupingRule.webidl
  tests/wpt/meta/css/cssom/CSSGroupingRule-insertRule.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: none

Don't require index parameter in `CSSGroupingRule`'s `insertRule()` (#35295)
  components/script_bindings/webidls/CSSGroupingRule.webidl
  tests/wpt/meta/css/cssom/CSSGroupingRule-insertRule.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: none

Inform the devtools about shadow roots on a node
  components/devtools/actors/inspector/node.rs
  components/script/devtools.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Make generated proxy handlers and DOM object hooks generic (#35292)
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/paintworkletglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/testworkletglobalscope.rs
  components/script/dom/window.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Inform the devtools about shadow roots on a node (#35294)
  components/devtools/actors/inspector/node.rs
  components/script/devtools.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

webxr: Rename sender & receiver type aliases to `WebXrSender` and `WebXrReceiver`
  components/shared/webxr/device.rs
  components/shared/webxr/events.rs
  components/shared/webxr/lib.rs
  components/shared/webxr/mock.rs
  components/shared/webxr/registry.rs
  components/shared/webxr/session.rs
  components/webxr/glwindow/mod.rs
  components/webxr/headless/mod.rs
  components/webxr/openxr/mod.rs
Owners: none

layout: Simplify `Table::compute_inline_content_sizes` (#35290)
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add border radius to overflow scrollable frame
  components/layout_2020/display_list/stacking_context.rs
  tests/wpt/meta/css/css-backgrounds/inner-border-non-renderable.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-rounded-table.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-opacity-rounded-clip.html.ini
  tests/wpt/mozilla/meta/css/border_radius_clipping_contents_a.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

webxr: Rename sender & receiver type aliases to `WebXrSender` and `WebXrReceiver` (#35307)
  components/shared/webxr/device.rs
  components/shared/webxr/events.rs
  components/shared/webxr/lib.rs
  components/shared/webxr/mock.rs
  components/shared/webxr/registry.rs
  components/shared/webxr/session.rs
  components/webxr/glwindow/mod.rs
  components/webxr/headless/mod.rs
  components/webxr/openxr/mod.rs
Owners: none

Add border radius to overflow scrollable frame (#35293)
  components/layout_2020/display_list/stacking_context.rs
  tests/wpt/meta/css/css-backgrounds/inner-border-non-renderable.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-rounded-table.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-opacity-rounded-clip.html.ini
  tests/wpt/mozilla/meta/css/border_radius_clipping_contents_a.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
