Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

fmt
  components/devtools/actors/root.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
Owners: @gterzian

use correct webview id
  components/script/dom/worker.rs
Owners: @gterzian

review fix
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
Owners: none

script: Implement `Range::getClientRects` and `Range::getBoundingClientRect` (#35993)
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/abstractrange.rs
  components/script/dom/range.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Range.webidl
  tests/wpt/meta/css/cssom-view/DOMRectList.html.ini
  tests/wpt/meta/css/cssom-view/getBoundingClientRect-svg.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Don't consider a definite `stretch` size as intrinsic (#36045)
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-009.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Cleanup Stylo dependencies (#36046)
  Cargo.toml
  components/canvas/Cargo.toml
  components/compositing/Cargo.toml
  components/constellation/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_thread_2020/Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/script/Cargo.toml
  components/script/dom/documentorshadowroot.rs
  components/script_bindings/Cargo.toml
  components/servo/Cargo.toml
  components/shared/canvas/Cargo.toml
  components/shared/compositing/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/script_layout/Cargo.toml
  components/shared/webrender/Cargo.toml
  components/webdriver_server/Cargo.toml
  tests/unit/style/Cargo.toml
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Revert changes restricting access to id fields
  components/background_hang_monitor/background_hang_monitor.rs
  components/script/dom/baseaudiocontext.rs
  components/script/dom/blob.rs
  components/script/dom/document.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/messageport.rs
  components/shared/base/id.rs
Owners: @gterzian

devtools: Fix id collisions by using incrementing counters
  components/background_hang_monitor/background_hang_monitor.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/inspector.rs
  components/devtools/actors/tab.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/baseaudiocontext.rs
  components/script/dom/blob.rs
  components/script/dom/document.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/messageport.rs
  components/shared/base/id.rs
Owners: @gterzian

devtools: Use `webview_id` as `browser_id` (#35956)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/lib.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

layout: Support min/max main keyword sizes in flexbox (#35961)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  tests/wpt/meta/css/css-flexbox/canvas-dynamic-change-001.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-011.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-height-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-width-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-023.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-4.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Allow highlighting nodes from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Devtools parser: add --json output mode (#36032)
  etc/devtools_parser.py
Owners: none

Fix lints
  etc/devtools_parser.py
  python/servo/testing_commands.py
Owners: none

Log subprocess failure in regression test
  python/servo/testing_commands.py
Owners: none

feat(notification): add `EmbedderMsg::ShowNotification`
  components/constellation/tracing.rs
  components/script/dom/notification.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

layout: Obey sizing keywords in `layout_for_block_content_size()`
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-flexbox/flex-item-max-width-min-content-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Obey sizing keywords in `layout_for_block_content_size()` (#36015)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-flexbox/flex-item-max-width-min-content-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Add --enable-experimental-web-platform-features command line
  ports/servoshell/prefs.rs
Owners: none

Add --enable-experimental-web-platform-features command line (#36022)
  ports/servoshell/prefs.rs
Owners: none

chore: update embedder's Notification documents
  components/shared/embedder/lib.rs
Owners: none

layout: Implement the `fit-content()` sizing function
  Cargo.lock
  Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-001.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-002.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-003.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-004.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-005.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-006.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-007.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-008.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-009.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-010.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-011.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-012.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-013.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-014.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-015.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-016.html.ini
  tests/wpt/meta/css/css-sizing/parsing/height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/width-valid.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Simplify mac-wpt workflow.
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/mac-wpt.yml
  .github/workflows/mac.yml
Owners: none

Fix UA style value for textarea
  resources/servo.css
Owners: none

Fix UA style value for textarea (#35574)
  resources/servo.css
Owners: none

Make Element::attach_shadow() and ShadowRoot closer to spec
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow-custom-element.html.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/focus/ShadowRoot-delegatesFocus.html.ini
Owners: @gterzian

Make Element::attach_shadow() and ShadowRoot closer to spec (#36024)
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow-custom-element.html.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/focus/ShadowRoot-delegatesFocus.html.ini
Owners: @gterzian

feat: add can_gc argument to to_frozen_array (#36043)
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/csslayerstatementrule.rs
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/extendablemessageevent.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/messageevent.rs
  components/script/dom/navigator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/resizeobserverentry.rs
  components/script/dom/webgpu/gpucompilationinfo.rs
  components/script/dom/webxr/xrboundedreferencespace.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/workernavigator.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

chore: simplify linux workflow
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
Owners: none

chore: remove occurances of wpt-layout
  .github/workflows/dispatch-workflow.yml
Owners: none

chore: retain wpt-layout workflow as requested
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/main.yml
Owners: none

chore: remove invalid workflow in main.yml file
  .github/workflows/main.yml
Owners: none

Removed all references to CHANGE
  python/servo/try_parser.py
Owners: none

Updated .yml workflow files
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
Owners: none

Max assign outer block size to cell measures
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/tentative/rowspan-height-redistribution.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix Cargo.toml configuration for building Servo with local Stylo
  Cargo.toml
Owners: none

constellation: Proxy `ScrollState` through the `Constellation`
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
  components/shared/webrender/lib.rs
Owners: @mrobinson, @gterzian

Enable colorSchemeSimulation support in TargetConfigurationActor (#35867 Step 1)
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Incorporate suggestions.
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

clippy fixes
  components/script/script_thread.rs
  components/servo/webview.rs
Owners: @gterzian

fix compile error
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
