Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Fix compile error in servoshell
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

Remove type parameter from Servo and IOCompositor (#35121) (#35156)
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @atbrakhi, @jschwe

servo: Move media GL context setup to embedding layer.
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/media.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @atbrakhi, @jschwe

corrected tidyness
  components/shared/net/tests/cors_safelisted_request_header.rs
Owners: none

implemented main feauter, created tests, and modified ini
  components/shared/net/request.rs
  components/shared/net/tests/cors_safelisted_request_header.rs
  tests/wpt/meta/cors/cors-safelisted-request-header.any.js.ini
Owners: none

Modified general.any.js.ini file
  tests/wpt/meta/fetch/range/general.any.js.ini
Owners: none

Removed PASSed tests from ini files
  tests/wpt/meta/cors/cors-safelisted-request-header.any.js.ini
  tests/wpt/meta/fetch/range/general.any.js.ini
Owners: none

wpt: Fix `/css/CSS2/tables/anonymous-table-box-width-001.xht`
  tests/wpt/meta/css/CSS2/tables/anonymous-table-box-width-001.xht.ini
  tests/wpt/tests/css/CSS2/tables/anonymous-table-box-width-001.xht
Owners: none

layout: Correctly resolve `currentcolor` on collapsed borders
  components/layout_2020/display_list/mod.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001e.xht.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

wpt: Fix references for `/css/CSS2/tables/table-anonymous-objects-*`
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-079.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-080.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-081.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-082.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-083.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-084.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-085.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-086.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-093.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-094.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-095.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-096.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-097.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-098.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-155.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-156.xht.ini
  tests/wpt/tests/css/CSS2/tables/reference/no_red_3x3_monospace_colored_table-ref.xht
  tests/wpt/tests/css/CSS2/tables/reference/no_red_3x3_monospace_multi_table-ref.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-079.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-080.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-081.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-082.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-083.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-084.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-085.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-086.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-093.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-094.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-095.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-096.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-097.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-098.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-155.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-156.xht
Owners: none

wpt: Fix `/css/CSS2/tables/anonymous-table-box-width-001.xht` (#35162)
  tests/wpt/meta/css/CSS2/tables/anonymous-table-box-width-001.xht.ini
  tests/wpt/tests/css/CSS2/tables/anonymous-table-box-width-001.xht
Owners: none

libservo: Add an initial WebView data structure to the API
  Cargo.lock
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/script/dom/windowproxy.rs
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

layout: Remove min and max container sizes from `FlexContext` (#35144)
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/formatting_contexts.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

wpt: Fix references for `/css/CSS2/tables/table-anonymous-objects-*` (#35166)
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-079.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-080.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-081.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-082.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-083.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-084.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-085.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-086.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-093.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-094.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-095.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-096.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-097.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-098.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-155.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-156.xht.ini
  tests/wpt/tests/css/CSS2/tables/reference/no_red_3x3_monospace_colored_table-ref.xht
  tests/wpt/tests/css/CSS2/tables/reference/no_red_3x3_monospace_multi_table-ref.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-079.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-080.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-081.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-082.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-083.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-084.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-085.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-086.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-093.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-094.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-095.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-096.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-097.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-098.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-155.xht
  tests/wpt/tests/css/CSS2/tables/table-anonymous-objects-156.xht
Owners: none

[#34767] - Range header is missing from CORS header safelist (#35138)
  components/shared/net/request.rs
  components/shared/net/tests/cors_safelisted_request_header.rs
  tests/wpt/meta/cors/cors-safelisted-request-header.any.js.ini
  tests/wpt/meta/fetch/range/general.any.js.ini
Owners: none

chore: update wgpu to include pointer_composite_access WGSL language extension (#35161)
  Cargo.lock
  Cargo.toml
Owners: none

Use Dom in native promise handlers instead of Trusted
  components/script/dom/readablestreamdefaultcontroller.rs
Owners: @gterzian

Remove #[cfg_attr(crown, allow(crown::unrooted_must_root))]
  components/script/dom/readablestreamdefaultcontroller.rs
Owners: @gterzian

layout: Zero out collapsed track sizes when painting collapsed borders
  components/layout_2020/table/layout.rs
  tests/wpt/tests/css/CSS2/tables/border-collapse-visibility-collapse-001.tentative.html
  tests/wpt/tests/css/CSS2/tables/border-collapse-visibility-collapse-002.tentative.html
Owners: @mrobinson, @Loirooriol, @nicoburns

removed panic status: added cloned and collect
  components/script/dom/document.rs
  tests/wpt/meta/resize-observer/calculate-depth-for-node.html.ini
Owners: @gterzian

applied fmt
  components/script/dom/document.rs
Owners: @gterzian

Use Dom in native promise handlers instead of Trusted (#35145)
  components/script/dom/readablestreamdefaultcontroller.rs
Owners: @gterzian

[35131] Borrow hazard in Document::broadcast_active_resize_observations (#35168)
  components/script/dom/document.rs
  tests/wpt/meta/resize-observer/calculate-depth-for-node.html.ini
Owners: @gterzian

Add support for HTMLStyleElement.media
  components/script/dom/htmlstyleelement.rs
  components/script_bindings/webidls/HTMLStyleElement.webidl
  tests/wpt/meta/css/css-cascade/layer-media-toggle.html.ini
  tests/wpt/meta/css/cssom/medialist-interfaces-001.html.ini
  tests/wpt/meta/css/mediaqueries/test_media_queries.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLStyleElement.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/document-metadata/styling/LinkStyle.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_media.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_media_change.html.ini
Owners: @gterzian

bindings: Make binding initialization generic over the DOM types trait.
  components/script/init.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

bindings: Start making generated bindings methods generic over DOM trait.
  components/script_bindings/codegen/CodegenRust.py
Owners: none

bindings: Start making proxyhandler code generic over DOM types.
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/globalscope.rs
  components/script/init.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: @gterzian

Add support for HTMLStyleElement.media (#35148)
  components/script/dom/htmlstyleelement.rs
  components/script_bindings/webidls/HTMLStyleElement.webidl
  tests/wpt/meta/css/css-cascade/layer-media-toggle.html.ini
  tests/wpt/meta/css/cssom/medialist-interfaces-001.html.ini
  tests/wpt/meta/css/mediaqueries/test_media_queries.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLStyleElement.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/document-metadata/styling/LinkStyle.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_media.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/style_media_change.html.ini
Owners: @gterzian

Make generated bindings generic over DOM types (#35169)
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/globalscope.rs
  components/script/init.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: @gterzian

fix: store private `Action` structure
  components/script/dom/notification.rs
Owners: @gterzian

libservo: Add an initial WebView data structure to the API (#35119)
  Cargo.lock
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/script/dom/windowproxy.rs
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

script: Do not set up an IPC route for every image load (#35041)
  Cargo.lock
  components/layout/context.rs
  components/layout/fragment.rs
  components/layout_2020/context.rs
  components/layout_2020/replaced.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/net/image_cache.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/window.rs
  components/script/image_listener.rs
  components/script/lib.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

chore: fix typo
  components/script/dom/notification.rs
Owners: @gterzian

ci: Free some disc space on GitHub hosted runners
  .github/workflows/linux.yml
Owners: none

CI: temporarily stop running libservo builds by default
  .github/workflows/main.yml
  python/servo/try_parser.py
Owners: none

CI: temporarily stop running libservo builds by default (#35180)
  .github/workflows/main.yml
  python/servo/try_parser.py
Owners: none

Remove UTF-8 BOM before parsing JSON
  components/script/body.rs
  components/script/dom/xmlhttprequest.rs
  tests/wpt/meta/fetch/api/response/json.any.js.ini
Owners: @gterzian

CI: separate libservo build job
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

Remove UTF-8 BOM before parsing JSON (#35175)
  components/script/body.rs
  components/script/dom/xmlhttprequest.rs
  tests/wpt/meta/fetch/api/response/json.any.js.ini
Owners: @gterzian

Add the onslotchange attribute to ShadowRoot
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
