Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Implement the transfer of readablestream
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/shared/constellation/message_port.rs
Owners: @gterzian

refactor: add CanGc as argument to methods in Document
  components/script/dom/document.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/window.rs
  components/script/script_module.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix: meta referrer updating to follow spec (#36390)
  components/script/dom/htmlheadelement.rs
  components/script/dom/htmlmetaelement.rs
  tests/wpt/meta/referrer-policy/generic/first-meta-changed-after-second-added.http.html.ini
  tests/wpt/meta/referrer-policy/generic/meta-referrer-outofhead-fetch.http.html.ini
  tests/wpt/meta/referrer-policy/generic/meta-referrer-removed-2.http.html.ini
Owners: @gterzian

refactor: add CanGc as argument to methods in Document (#36392)
  components/script/dom/document.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/window.rs
  components/script/script_module.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Handle HTTP Refresh header
  components/script/dom/document.rs
  components/script/dom/htmlmetaelement.rs
  components/script/script_thread.rs
Owners: @gterzian

Move DeclarativeRefresh to Document Update test expectations
  components/script/dom/document.rs
  components/script/dom/htmlmetaelement.rs
  components/script/timers.rs
  tests/wpt/meta/fetch/metadata/generated/header-refresh.https.optional.sub.html.ini
  tests/wpt/meta/fetch/metadata/generated/header-refresh.optional.sub.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/refresh/navigate.window.js.ini
  tests/wpt/meta/referrer-policy/generic/refresh-cross-origin.sub.html.ini
  tests/wpt/meta/referrer-policy/generic/refresh-same-origin.html.ini
  tests/wpt/meta/referrer-policy/generic/refresh-same-url.html.ini
Owners: @gterzian

add CanGc as argument to methods in DissimilarOriginWindow, DocumentFragment, DocumentType, DOMRect, DOMRectReadOnly, DOMStringMap
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/documentfragment.rs
  components/script/dom/documenttype.rs
  components/script/dom/domrect.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/domstringmap.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add CanGc as argument to methods in DissimilarOriginWindow, DocumentFragment, DocumentType, DOMRect, DOMRectReadOnly, DOMStringMap (#36395)
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/documentfragment.rs
  components/script/dom/documenttype.rs
  components/script/dom/domrect.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/domstringmap.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Implement CSP check for Trusted Types
  Cargo.lock
  Cargo.toml
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/image_cache.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/notification.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/layout_image.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/script/security_manager.rs
  components/script/stylesheet_loader.rs
  components/shared/net/lib.rs
  tests/wpt/meta/trusted-types/TrustedTypePolicy-CSP-no-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-noNamesGiven.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names-list.html.ini
Owners: @gterzian

[feature](variable-fonts): Add variable fonts
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/font_context.rs
  components/fonts/font_template.rs
  components/fonts/platform/freetype/face.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/freetype_face_helpers.rs
  components/fonts/platform/freetype/freetype_variations_helpers.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/macos/font.rs
  components/fonts/platform/windows/font.rs
  components/fonts/tests/font.rs
  components/fonts/tests/font_context.rs
  components/fonts/tests/font_template.rs
  components/layout_2020/flow/inline/mod.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

refactor: remove unsafe annotation and add unsafe blocks around unsafe code
  components/script_bindings/proxyhandler.rs
Owners: none

Add overflow default property for replaced element
  resources/servo.css
  tests/wpt/tests/css/css-overflow/overflow-replaced-element-002-ref.html
  tests/wpt/tests/css/css-overflow/overflow-replaced-element-002.html
Owners: none

Devtools: initial Debugger > Sources panel
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Devtools: initial Debugger > Sources panel (#36164)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

remove num-trait line in components/layout_2020/Cargo.toml
  components/layout_2020/Cargo.toml
Owners: @mrobinson, @Loirooriol, @nicoburns

Devtools: add automated test for Debugger > Sources
  python/requirements.txt
  python/servo/devtools_tests.py
  python/servo/devtools_tests/sources/classic.js
  python/servo/devtools_tests/sources/module.js
  python/servo/devtools_tests/sources/test.html
  python/servo/devtools_tests/sources/worker.js
  python/servo/testing_commands.py
Owners: none

Print the assertion when it fails
  python/servo/devtools_tests.py
Owners: none

Let xml5ever bubble parser blocking script elements to the caller instead of passing them to the TreeSink.
  components/script/Cargo.toml
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

Handle non-HTMLScriptElement scripts in xml docs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

Bump html5ever crates
  Cargo.lock
  Cargo.toml
Owners: none

(refactor): remove unsafe annotation from cross_origin_get function and add unsafe blocks to unsafe code
  components/script_bindings/proxyhandler.rs
Owners: none

implement algos for underlyingsource container
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement pack and post message
  components/script/dom/messageport.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/utils.rs
Owners: @gterzian

implement cross realm transform send error
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

implement pack and post message handling error
  components/script/dom/messageport.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Unify the way html5ever and xml5ever block on script elements (#36284)
  Cargo.lock
  Cargo.toml
  components/script/Cargo.toml
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

rename deserialized stored to readable streams
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

move message handlers
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

emit rerun-if-changed
  components/script/build.rs
Owners: @gterzian

add tranform handlers, restucture port task routing to better match spec, with docs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

Remove unsafe annotation add to unsafe blocks (#36399)
  components/script_bindings/proxyhandler.rs
Owners: none

script: copy include! files from script_bindings to script's OUT_DIR (#36384)
  components/script/build.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

import num_traits into scope
  components/layout_2020/tests/floats.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Improve parser and enable parsing tests
  components/script/dom/document.rs
  components/script/dom/htmlmetaelement.rs
  components/script/script_thread.rs
  tests/wpt/include.ini
  tests/wpt/meta/html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-1.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-2.html.ini
Owners: @gterzian

build(deps): bump crossbeam-channel from 0.5.14 to 0.5.15
  Cargo.lock
Owners: none

build(deps): bump crossbeam-channel from 0.5.14 to 0.5.15 (#36412)
  Cargo.lock
Owners: none

dom: should change media element's currentSrc to children source element's src in resource selection algorithm.
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlsourceelement.rs
  components/script_bindings/webidls/HTMLSourceElement.webidl
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/dynamic-urls.sub.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/historical.sub.xhtml.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-candidate-insert-before.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html.ini
Owners: @gterzian

update test expectation
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
Owners: none

call Promise::new_resolved
  components/script/dom/promise.rs
Owners: @gterzian

use GlobalScope::from_context
  components/script/dom/promise.rs
Owners: @gterzian
