Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Fix missing user-agent from servo-shell
  ports/servoshell/prefs.rs
Owners: none

Fix missing user-agent from servo-shell
  ports/servoshell/prefs.rs
Owners: none

Fix wrong reason
  components/script/dom/transformstream.rs
Owners: @gterzian

f
  components/net/tests/http_loader.rs
Owners: none

Fix naming nit
  ports/servoshell/prefs.rs
Owners: none

clipboard: implement readText
  components/script/dom/clipboard.rs
  components/script/dom/clipboarditem.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
Owners: @gterzian

implement RoutedPromiseListener for Clipboard
  components/script/dom/clipboard.rs
Owners: @gterzian

Fix missing user-agent from servo-shell (#36859)
  ports/servoshell/prefs.rs
Owners: none

clean up code, update route_promise usage
  components/script/dom/clipboard.rs
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
Owners: @gterzian

Fix call_result thrownError
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
Owners: @gterzian

Don't slice a sliced blob
  components/script/dom/blob.rs
  components/script/dom/globalscope.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/net/filemanager_thread.rs
Owners: @gterzian

Set input selection range using code point indices instead of bytes
  components/script/dom/htmlinputelement.rs
  components/script/dom/textcontrol.rs
  components/script/textinput.rs
Owners: @gterzian

Add unit test
  tests/unit/script/textinput.rs
Owners: none

FIx more tests
  components/script/dom/transformstreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/cancel.any.js.ini
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: @gterzian

Synchronize `WebdriverScriptEvent` with pending input events
  components/script/script_thread.rs
Owners: @gterzian

Remove service worker pref from experimental web features.
  ports/servoshell/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
Owners: none

script_bindings: Check for null pointer before dereferencing proxy handler custom data.
  components/script_bindings/conversions.rs
Owners: none

Fix trailing whitespace.
  components/script_bindings/conversions.rs
Owners: none

script_bindings: Check for null pointer before dereferencing proxy handler custom data (#36869)
  components/script_bindings/conversions.rs
Owners: none

Add crashtest
  components/net/fetch/methods.rs
  components/script/dom/globalscope.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/slice-blob-twice-crash.html
Owners: @gterzian

Move Webdriver to ServoShell
  Cargo.lock
  components/constellation/tracing.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/embedder/lib.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
Owners: @gterzian, @atbrakhi

Don't slice a sliced blob (#36866)
  components/net/fetch/methods.rs
  components/script/dom/blob.rs
  components/script/dom/globalscope.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/net/filemanager_thread.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/slice-blob-twice-crash.html
Owners: @gterzian

send content_type via script
  components/devtools/actors/source.rs
  components/devtools/lib.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Use Ref::filter_map instead of ref_filter_map
  Cargo.lock
  Cargo.toml
  components/script/dom/bindings/cell.rs
  components/script/dom/element.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/vertexarrayobject.rs
Owners: @gterzian

Temporarily bypass cargo-deny for testing
  deny.toml
Owners: none

Fix missing user-agent from servo-shell (#36859)
  ports/servoshell/prefs.rs
Owners: none

Don't slice a sliced blob (#36866)
  components/net/fetch/methods.rs
  components/script/dom/blob.rs
  components/script/dom/globalscope.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/net/filemanager_thread.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/slice-blob-twice-crash.html
Owners: @gterzian

script_bindings: Check for null pointer before dereferencing proxy handler custom data (#36869)
  components/script_bindings/conversions.rs
Owners: none

Upgrade Stylo to 2025-05-01 (#36835)
  Cargo.lock
  Cargo.toml
  components/layout/flow/mod.rs
  components/layout/geom.rs
  components/layout/layout_impl.rs
  components/layout/style_ext.rs
  components/layout/taffy/stylo_taffy/convert.rs
  tests/unit/style/custom_properties.rs
  tests/unit/style/stylist.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Don't ignore urlpattern for memory reports
  Cargo.lock
  Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/script/Cargo.toml
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

Add test for xml serialization of attribute nodes
  tests/wpt/tests/domparsing/XMLSerializer-serializeToString.html
Owners: none

Serialize attribute nodes as the empty string
  components/script/dom/servoparser/html.rs
Owners: @gterzian

Replace urlpattern implementation with `rust-urlpattern` crate (#36826)
  Cargo.lock
  Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/script/Cargo.toml
  components/script/dom/urlpattern.rs
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
  components/script_bindings/webidls/URLPattern.webidl
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

Set proper button value in WebDriver - ElementClick command
  components/shared/embedder/input_events.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

layout: Use `ServoLayoutNode` directly instead of a generic `impl`
  components/layout/construct_modern.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/construct.rs
  components/layout/flow/float.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/lists.rs
  components/layout/positioned.rs
  components/layout/query.rs
  components/layout/replaced.rs
  components/layout/table/construct.rs
  components/layout/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Added a new workflow that benchmarks simple startup and loading of servo.org on HarmonyOS.
  .github/workflows/ohos.yml
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

Serialize attribute nodes as the empty string (#36875)
  components/script/dom/servoparser/html.rs
  tests/wpt/tests/domparsing/XMLSerializer-serializeToString.html
Owners: @gterzian

layout: Use `ServoLayoutNode` directly instead of a generic `impl` (#36876)
  components/layout/construct_modern.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/construct.rs
  components/layout/flow/float.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/lists.rs
  components/layout/positioned.rs
  components/layout/query.rs
  components/layout/replaced.rs
  components/layout/table/construct.rs
  components/layout/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Performance.timing should be a PerformanceTiming object.
  components/script/dom/document.rs
  components/script/dom/performance.rs
  components/script/dom/performancetiming.rs
Owners: @gterzian

Remove service worker pref from experimental web features. (#36867)
  ports/servoshell/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
Owners: none
