Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

[bugfix]: Crop the content area of fragments in addition to child fragments
  components/layout_2020/flow/inline/line.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): MVP version
  components/fonts/glyph.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Add a reminder to add fallback.
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Transfer Fragments placement to stacking context. On current stage bugs still present
  components/layout_2020/construct_modern.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Move JSContext wrapper to script_bindings.
  components/script/dom/workerglobalscope.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script_bindings/script_runtime.rs
Owners: @gterzian

Move webidl constant bindings to script_bindings.
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/namespace.rs
  components/script_bindings/constant.rs
  components/script_bindings/lib.rs
Owners: @gterzian

Move CanGc to script_bindings.
  components/script/script_runtime.rs
  components/script_bindings/script_runtime.rs
Owners: @gterzian

Revert "build(deps): bump aws-lc-rs from 1.12.2 to 1.12.3 (#35561)" (#35566)
  Cargo.lock
Owners: none

[feature](text-overflow): Extend functionality to propperly handle text-ellipsis left and right. Now fragments passed to stacking context stage, but I still need to propperly position them.
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

fix(servoshell): blank view when close non focused tab
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

explain and limit crown `allow(crown::unrooted_must_root)`
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
Owners: @gterzian

fix touch event wrong coordinates. pageX, pageY, clientX, clientY etc. (#35550)
  components/script/dom/document.rs
Owners: @gterzian

fix(servoshell): blank view when close non focused tab (#35569)
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

Enable CSS grid in wpt-prefs.json
  resources/wpt-prefs.json
Owners: none

Fix intersection and refactor registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

[feature](text-overflow): Modify stacking context to support ellipsis left/right start/end values
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Use AppUnit more and propagate GlobalScope better
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix mach argument quoting on NixOS
  mach
Owners: none

Fix mach argument quoting on NixOS (#35573)
  mach
Owners: none

fix(notification): add notification task source, run steps in parallel
  components/profile/time.rs
  components/script/dom/notification.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/profile/time.rs
Owners: @gterzian

Fix UA style value for textarea
  resources/servo.css
Owners: none

Update components/script/dom/htmlformelement.rs to include suggestions
  components/script/dom/htmlformelement.rs
Owners: @gterzian

Use counter instead of time for HTMLFormElement. Fixes #25455
  components/script/dom/htmlformelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-intersection-observer.html.ini
  tests/wpt/meta/intersection-observer/callback-cross-realm-report-exception.html.ini
  tests/wpt/meta/intersection-observer/client-rect.html.ini
  tests/wpt/meta/intersection-observer/containing-block.html.ini
  tests/wpt/meta/intersection-observer/disconnect.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/empty-root-margin.html.ini
  tests/wpt/meta/intersection-observer/explicit-root-different-document.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-iframe-scroll.html.ini
  tests/wpt/meta/intersection-observer/grow-height-and-scrolled.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-ib-split.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-2.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-in-iframe.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-change-events.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-threshold.html.ini
  tests/wpt/meta/intersection-observer/not-in-containing-block-chain.html.ini
  tests/wpt/meta/intersection-observer/observer-callback-arguments.html.ini
  tests/wpt/meta/intersection-observer/padding-clip.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/rtl-clipped-root.html.ini
  tests/wpt/meta/intersection-observer/scroll-margin-non-scrolling-root.html.ini
  tests/wpt/meta/intersection-observer/target-in-detached-document.html.ini
  tests/wpt/meta/intersection-observer/target-is-root.html.ini
  tests/wpt/meta/intersection-observer/v2/box-shadow.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/v2/text-shadow.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-visible.html.ini
  tests/wpt/meta/resize-observer/ordering.html.ini
Owners: none

Rebase and squash
  .github/workflows/linux-wpt.yml
  tests/wpt/meta/css/css-text/hanging-punctuation/hanging-punctuation-inline-001.html.ini
  tests/wpt/meta/css/css-text/line-break/line-break-normal-hyphens-001.html.ini
  tests/wpt/meta/css/css-text/line-break/line-break-strict-hyphens-001.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-1.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-2.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-3.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-4.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-001.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-002.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-003.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-004.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-008.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-003.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-006.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-008.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-break-all-020.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-break-all-032.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-006.html.ini
  tests/wpt/mozilla/meta/css/font_fallback_01.html.ini
  tests/wpt/mozilla/meta/css/font_fallback_02.html.ini
  tests/wpt/tests/css/css-fonts/size-adjust-unicode-range-system-fallback-ref.html
Owners: none

Implement declarative shadow dom
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

script: Refer to DOM interfaces with generic types in generated bindings.
  components/script/dom/bindings/constructor.rs
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/countqueuingstrategy.rs
  components/script/dom/globalscope.rs
  components/script/dom/node.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
  components/script_bindings/codegen/run.py
Owners: @gterzian

refactor: propagate CanGc arguments through callers
  components/script/dom/biquadfilternode.rs
  components/script/dom/bluetooth/bluetoothdevice.rs
  components/script/dom/bluetooth/bluetoothremotegattcharacteristic.rs
  components/script/dom/bluetooth/bluetoothremotegattserver.rs
  components/script/dom/bluetooth/bluetoothremotegattservice.rs
  components/script/dom/document.rs
  components/script/dom/gainnode.rs
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/rtcrtptransceiver.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

servoshell: Port Permission dialog code to use egui instead of tinyfiledialogs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

script: Refer to DOM interfaces with generic types in generated bindings. (#35457)
  components/script/dom/bindings/constructor.rs
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/countqueuingstrategy.rs
  components/script/dom/globalscope.rs
  components/script/dom/node.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
  components/script_bindings/codegen/run.py
Owners: @gterzian

script: Make callbacks generic over DOM interfaces.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/settings_stack.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/document.rs
  components/script/dom/eventtarget.rs
  components/script/dom/globalscope.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: @gterzian

Move Dom<T> and Root<T> types to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/node.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/root.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/element.rs
  components/script_bindings/conversions.rs
  components/script_bindings/root.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Rebase and squash (#35567)
  .github/workflows/linux-wpt.yml
  tests/wpt/meta/css/css-text/hanging-punctuation/hanging-punctuation-inline-001.html.ini
  tests/wpt/meta/css/css-text/line-break/line-break-normal-hyphens-001.html.ini
  tests/wpt/meta/css/css-text/line-break/line-break-strict-hyphens-001.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-1.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-2.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-3.html.ini
  tests/wpt/meta/css/css-text/line-breaking/segment-break-transformation-unremovable-4.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-001.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-002.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-003.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-004.html.ini
  tests/wpt/meta/css/css-text/text-transform/text-transform-full-size-kana-008.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-003.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-006.html.ini
  tests/wpt/meta/css/css-text/white-space/trailing-ideographic-space-008.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-break-all-020.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-break-all-032.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-006.html.ini
  tests/wpt/mozilla/meta/css/font_fallback_01.html.ini
  tests/wpt/mozilla/meta/css/font_fallback_02.html.ini
  tests/wpt/tests/css/css-fonts/size-adjust-unicode-range-system-fallback-ref.html
Owners: none

script: Make callbacks generic over DOM interfaces. (#35459)
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/settings_stack.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/document.rs
  components/script/dom/eventtarget.rs
  components/script/dom/globalscope.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: @gterzian

Squash and don't explicitly use noto-cjk in tests
  Cargo.lock
  Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_2020/dom_traversal.rs
  components/layout_2020/lib.rs
  components/layout_2020/quotes.rs
  components/script/dom/element.rs
  ports/servoshell/Cargo.toml
  resources/quotes.css
  resources/user-agent.css
  tests/wpt/meta/css/CSS2/generated-content/content-056.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-156.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-157.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-001.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-002.xht.ini
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-content/quotes-002.html.ini
  tests/wpt/meta/css/css-content/quotes-010.html.ini
  tests/wpt/meta/css/css-content/quotes-021.html.ini
  tests/wpt/meta/css/css-content/quotes-031.html.ini
  tests/wpt/meta/css/css-content/quotes-034.html.ini
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/tests/css/css-content/quotes-lang-dynamic-001.html
  tests/wpt/tests/css/css-content/quotes-slot-scoping-ref.html
  tests/wpt/tests/css/css-content/reference/quotes-lang-dynamic-001-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

libservo: Clean up interfaces for alert()/confirm()/prompt()
  components/constellation/tracing.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
Owners: @gterzian, @atbrakhi, @jschwe

libservo: Convert `intercept_web_resource_load` into `load_web_resource`
  Cargo.lock
  components/malloc_size_of/lib.rs
  components/net/fetch/methods.rs
  components/net/lib.rs
  components/net/request_intercepter.rs
  components/net/request_interceptor.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
Owners: none

Allow resetting multiple flags at once in Element::set_state
  components/script/dom/element.rs
Owners: @gterzian

servoshell: Port Permission dialog code to use egui instead of tinyfiledialogs (#35577)
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi
