Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Remove `components/shared/compositing/constellation_msg.rs`
  components/shared/compositing/constellation_msg.rs
Owners: none

script: Allow opening links in a new `WebView` (#35017)
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/links.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
Owners: @gterzian

fixed right hand argument
  .github/workflows/try.yml
Owners: none

Remove `components/shared/compositing/constellation_msg.rs` (#36102)
  components/shared/compositing/constellation_msg.rs
Owners: none

compositor: Remove the script channel from the compositor (#36089)
  components/compositing/webview.rs
  components/constellation/event_loop.rs
  components/constellation/pipeline.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Don't remove a declarative shadow hosts children when attaching an imperative shadow root
  components/script/dom/element.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
Owners: none

Don't clear children of declarative shadow hosts when imperatively attaching another shadow root (#36104)
  components/script/dom/element.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
Owners: @gterzian

layout: Implement the `fit-content()` sizing function
  Cargo.lock
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-001.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-002.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-003.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-004.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-005.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-006.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-007.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-008.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-009.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-010.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-011.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-012.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-013.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-014.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-015.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-016.html.ini
  tests/wpt/meta/css/css-sizing/parsing/height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/width-valid.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Implement the `fit-content()` sizing function (#36056)
  Cargo.lock
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-001.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-002.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-003.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-004.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-005.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-006.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-007.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-008.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-009.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-010.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-011.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-012.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-013.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-014.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-015.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-016.html.ini
  tests/wpt/meta/css/css-sizing/parsing/height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/width-valid.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Serialize html fragments without going through html5ever
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml-ordering.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

Implement ShadowRoot::GetHtml / Element::GetHtml
  components/script/dom/element.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

script: Ensure promises are considered DOM interfaces when generating bindings.
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Owners: none

script: Support converting JS values to Rc<Promise> with FromJSValConvertible.
  Cargo.lock
  components/script/dom/promise.rs
  components/script/dom/testbinding.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/TestBinding.webidl
Owners: @gterzian

script: Make DOMPointReadOnly serializable.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/history.rs
  components/shared/base/id.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
  tests/wpt/meta/css/geometry/structured-serialization.html.ini
Owners: @gterzian

script: Make DOMPoint serializable.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/dompoint.rs
  components/shared/script/lib.rs
  tests/wpt/meta/css/geometry/structured-serialization.html.ini
Owners: @gterzian

script: Shrink worker script event.
  components/script/dom/abstractworker.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/worker.rs
  components/script/serviceworker_manager.rs
Owners: @gterzian

script: Ensure promises are considered DOM interfaces when generating bindings. (#36107)
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Owners: none

webgpu: leverage routed_promise in calls returning promises
  components/constellation/constellation.rs
  components/script/dom/servointernals.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpucomputepipeline.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpurenderpipeline.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/script/routed_promise.rs
  components/shared/script/script_msg.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/ipc_messages/to_dom.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

fix: radio input element don't trigger validity state
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/radio-valueMissing.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
Owners: @gterzian

Propagate CanGc annotations
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

webgpu: leverage routed_promise in calls returning promises (#35859)
  components/constellation/constellation.rs
  components/script/dom/servointernals.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpucomputepipeline.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpurenderpipeline.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/script/routed_promise.rs
  components/shared/script/script_msg.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/ipc_messages/to_dom.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

script: Implement `Element::GetHTML` and `ShadowRoot::GetHTML` (#36106)
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml-ordering.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: @gterzian

fix: radio input element don't trigger validity state (#36103)
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/radio-valueMissing.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
Owners: @gterzian

Local storage single write and try_recv()
  components/net/storage_thread.rs
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: none

script: Expose new methods for obtaining a global that require a realm.
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/globalscope.rs
  components/script/dom/promise.rs
  components/script/realms.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Create `update_rendering` in `CanvasState` instead of manually updating in layout
  components/canvas/canvas_paint_thread.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/shared/canvas/canvas.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Mark as dirty and do flushes
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/document.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/window.rs
Owners: @gterzian

fixup rebase
  components/shared/script_layout/lib.rs
Owners: none

Use snapshot
  Cargo.lock
  Cargo.toml
  components/shared/snapshot/Cargo.toml
  components/shared/snapshot/lib.rs
Owners: none

fuxups
  components/script/dom/htmlcanvaselement.rs
  components/shared/snapshot/lib.rs
Owners: @gterzian

Use snapshot
  Cargo.lock
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/canvas/webgl_thread.rs
  components/script/Cargo.toml
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/webgpu/Cargo.toml
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/swapchain.rs
Owners: @gterzian

Upgrade to Stylo e941241
  Cargo.lock
Owners: none

Update components/script/dom/htmlcanvaselement.rs
  components/script/dom/htmlcanvaselement.rs
Owners: @gterzian

Make test less fragile
  components/fonts/tests/font_context.rs
Owners: none

layout: Cache `IndependentNonReplacedContents::layout()`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

feat(notification): add `EmbedderMsg::ShowNotification`
  components/constellation/tracing.rs
  components/script/dom/notification.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

layout: Cache `IndependentNonReplacedContents::layout()` (#36082)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

feat(notification): add `EmbedderMsg::ShowNotification` (#36055)
  components/constellation/tracing.rs
  components/script/dom/notification.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
Owners: @gterzian
