Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Implement inline CSP check for style element
  components/script/dom/document.rs
  components/script/dom/htmlstyleelement.rs
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-blocked-attr-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-blocked-src-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src/injected-inline-style-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-case-insensitive.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-injected-inline-style-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-nonce-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylehash-basic-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylenonce-allowed.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylenonce-blocked.sub.html.ini
Owners: @gterzian

Implement inline CSP check for style element (#36860)
  components/script/dom/document.rs
  components/script/dom/htmlstyleelement.rs
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-blocked-attr-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-blocked-src-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src/injected-inline-style-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-case-insensitive.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-injected-inline-style-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-nonce-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylehash-basic-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylenonce-allowed.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/stylenonce-blocked.sub.html.ini
Owners: @gterzian

Initial move of canvas/context/snapshot size from u64 -> u32
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/pixels/lib.rs
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/imagedata.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/canvas.rs
  components/shared/snapshot/lib.rs
Owners: @gterzian

Update PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Owners: none

script: Limit scope of rare data borrow when creating NodeList.
  components/script/dom/node.rs
Owners: @gterzian

fonts: Measure memory usage of system font service.
  Cargo.lock
  components/fonts/Cargo.toml
  components/fonts/font_store.rs
  components/fonts/font_template.rs
  components/fonts/system_font_service.rs
  components/fonts/tests/font.rs
  components/fonts/tests/font_context.rs
  components/malloc_size_of/lib.rs
  components/script/dom/bindings/cell.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @gterzian

layout: Remove unused SEEN_POINTERS.
  components/layout/layout_impl.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

url: Measure memory usage of URLs.
  components/url/lib.rs
Owners: none

Implement wheel action in webdriver
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
  tests/wpt/meta/webdriver/tests/classic/perform_actions/perform.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/wheel.py.ini
Owners: @mrobinson

Various memory measurement improvements (#36834)
  Cargo.lock
  components/fonts/Cargo.toml
  components/fonts/font_store.rs
  components/fonts/font_template.rs
  components/fonts/system_font_service.rs
  components/fonts/tests/font.rs
  components/fonts/tests/font_context.rs
  components/layout/layout_impl.rs
  components/malloc_size_of/lib.rs
  components/script/dom/bindings/cell.rs
  components/script/dom/element.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlstyleelement.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
  components/shared/profile/mem.rs
  components/url/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update WPT results.
  tests/wpt/meta/webdriver/tests/classic/element_click/click.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_click/scroll_into_view.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/form_controls.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/scroll_into_view.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/send_keys.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_async_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_computed_role/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_css_value/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_rect/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_tag_name/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_text/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/is_element_selected/selected.py.ini
  tests/wpt/meta/webdriver/tests/classic/new_window/new_tab.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_mouse.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_mouse_drag.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_origin.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_pen.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_touch.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/sequence.py.ini
  tests/wpt/meta/webdriver/tests/classic/switch_to_frame/switch_webelement.py.ini
  tests/wpt/meta/webdriver/tests/classic/take_element_screenshot/screenshot.py.ini
  tests/wpt/meta/webdriver/tests/classic/take_screenshot/iframe.py.ini
Owners: none

webdriver: Support element/frame/shadowroot referenfces as script arguments.
  components/script/dom/window.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/webidls/Window.webidl
  components/webdriver_server/lib.rs
Owners: @gterzian

webdriver: Treat DOMTokenList as an array-like object.
  components/script_bindings/conversions.rs
Owners: none

Fix double borrow panic in Node.childNodes (#36889)
  components/script/dom/node.rs
Owners: @gterzian

Improve some webdriver conformance tests results (#36673)
  components/script/dom/window.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/conversions.rs
  components/script_bindings/webidls/Window.webidl
  components/webdriver_server/lib.rs
  tests/wpt/meta/webdriver/tests/classic/element_click/click.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_click/scroll_into_view.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/form_controls.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/scroll_into_view.py.ini
  tests/wpt/meta/webdriver/tests/classic/element_send_keys/send_keys.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_async_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_computed_role/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_css_value/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_rect/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_tag_name/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/get_element_text/get.py.ini
  tests/wpt/meta/webdriver/tests/classic/is_element_selected/selected.py.ini
  tests/wpt/meta/webdriver/tests/classic/new_window/new_tab.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_mouse.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_mouse_drag.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_origin.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_pen.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_touch.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/sequence.py.ini
  tests/wpt/meta/webdriver/tests/classic/switch_to_frame/switch_webelement.py.ini
  tests/wpt/meta/webdriver/tests/classic/take_element_screenshot/screenshot.py.ini
  tests/wpt/meta/webdriver/tests/classic/take_screenshot/iframe.py.ini
Owners: @gterzian

Implement wheel action in webdriver (#36744)
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
  tests/wpt/meta/webdriver/tests/classic/perform_actions/perform.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/wheel.py.ini
Owners: @mrobinson

Use unittest library for better assertions
  python/servo/devtools_tests.py
  python/servo/testing_commands.py
Owners: none

Set proper button value in WebDriver - ElementClick command (#36871)
  components/shared/embedder/input_events.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

[OH] update build-profile,.gitignore
  support/openharmony/.gitignore
  support/openharmony/build-profile.json5
Owners: @jschwe

Allow test code to refer to self
  python/servo/devtools_tests.py
Owners: none

Allow sources test to be parameterised
  python/servo/devtools_tests.py
Owners: none

Parameterise sources test on expected urls
  python/servo/devtools_tests.py
Owners: none

Add some simpler test cases
  python/servo/devtools_tests.py
Owners: none

Consider scroll offset in content box query
  components/layout/layout_impl.rs
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix containing block chain issue
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update WPT coverage
  tests/wpt/tests/css/css-position/sticky/position-sticky-transforms.html
  tests/wpt/tests/css/cssom-view/getBoundingClientRect-scroll.html
Owners: none

Update WPT expectations
  tests/wpt/meta/custom-elements/parser/serializing-html-fragments-customized-builtins.html.ini
Owners: none

Serialize a custom element's "is" value as an attribute
  components/script/dom/servoparser/html.rs
Owners: @gterzian

Handle uncontained fixed element
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update WPT expectation
  tests/wpt/meta/intersection-observer/isIntersecting-threshold.html.ini
  tests/wpt/meta/intersection-observer/remove-element.html.ini
Owners: none

Consider window scroll in test
  tests/wpt/tests/css/cssom-view/getBoundingClientRect-scroll.html
Owners: none

Run fmt
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Apply suggestion
  components/layout/layout_impl.rs
  components/layout/query.rs
  tests/wpt/tests/css/cssom-view/getBoundingClientRect-scroll.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Update WPT scrollingElement passes
  tests/wpt/meta/intersection-observer/multiple-targets.html.ini
  tests/wpt/meta/intersection-observer/multiple-thresholds.html.ini
  tests/wpt/meta/intersection-observer/observer-without-js-reference.html.ini
  tests/wpt/meta/intersection-observer/root-margin-root-element.html.ini
  tests/wpt/meta/intersection-observer/root-margin.html.ini
  tests/wpt/meta/intersection-observer/same-document-no-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-with-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-zero-size-target.html.ini
  tests/wpt/meta/intersection-observer/text-target.html.ini
  tests/wpt/meta/intersection-observer/visibility-hidden.html.ini
Owners: none

Apply comment and logic suggestion
  components/layout/layout_impl.rs
  components/layout/query.rs
  tests/wpt/tests/css/cssom-view/getBoundingClientRect-scroll.html
Owners: @mrobinson, @Loirooriol, @nicoburns

add comment to step
  components/script/dom/clipboard.rs
Owners: @gterzian

layout: Store shared styles for table backgrounds in `SharedBackgroundStyle`
  components/layout/display_list/mod.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/table/construct.rs
  components/layout/table/layout.rs
  components/layout/table/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Serialize a custom element's "is" value as an attribute (#36888)
  components/script/dom/servoparser/html.rs
  tests/wpt/meta/custom-elements/parser/serializing-html-fragments-customized-builtins.html.ini
Owners: @gterzian

Devtools: add automated test for Debugger > Sources (#36401)
  python/requirements.txt
  python/servo/devtools_tests.py
  python/servo/devtools_tests/sources/classic.js
  python/servo/devtools_tests/sources/module.js
  python/servo/devtools_tests/sources/test.html
  python/servo/devtools_tests/sources/worker.js
  python/servo/testing_commands.py
Owners: none

Update the list of event handler content attributes on the body element
  Cargo.lock
  components/script/dom/htmlbodyelement.rs
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-body-window.html.ini
  tests/wpt/meta/webmessaging/messageerror.html.ini
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
