Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

script: Remove ThreadSafeLayoutNode::is_ignorable_whitespace (#35959)
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @gterzian

draft to allow embedders to execute js code in the current webview
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

redone approach to have callbacks for evaluatejs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @jschwe

Incorporate suggestions.
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

clippy fixes
  components/script/script_thread.rs
  components/servo/webview.rs
Owners: @gterzian

Webdriver now uses the new Constellation method
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

incorporate suggestion
  components/servo/webview.rs
Owners: none

fix compile error
  components/script/messaging.rs
  components/script/script_thread.rs
Owners: @gterzian

Check whether element is custom in spec-compliant way
  components/script/dom/attr.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Update tests
  tests/wpt/meta/custom-elements/custom-element-reaction-queue.html.ini
  tests/wpt/tests/custom-elements/custom-element-reaction-queue.html
Owners: none

layout: Allow lazy resolution of automatic minimum sizes
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Check whether an element is custom in the spec-compliant way (#35960)
  components/script/dom/attr.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/custom-element-reaction-queue.html.ini
  tests/wpt/tests/custom-elements/custom-element-reaction-queue.html
Owners: @gterzian

remove redundant logic dealing with closed sources with pending writes
  components/script/dom/readablestream.rs
Owners: @gterzian

add doc links for shutdown actions
  components/script/dom/readablestream.rs
Owners: @gterzian

bugfix: servoshell: prevent 0 pixel dimensions for render area
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Bring back DOM GC checkpoint to script_thread
  components/script/script_thread.rs
Owners: @gterzian

layout: Allow lazy resolution of automatic minimum sizes (#35965)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

servodriver: Ensure capabilities is always a non-empty value.
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservodriver.py
Owners: none

webdriver: Serialize arguments object like an array.
  components/script/webdriver_handlers.rs
Owners: @gterzian

webdriver: Propagate errors received from getting element center point.
  components/webdriver_server/actions.rs
Owners: none

webdriver: Use current browsing context when getting element center point.
  components/webdriver_server/actions.rs
Owners: none

webdriver: Ensure script body is always valid JS.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Ensure opening a new window records a unique window handle.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Don't panic if script execution fails.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Do not update the current browsing context after closing a window.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Use more precise check for arguments exotic object.
  components/script/webdriver_handlers.rs
Owners: @gterzian

Formatting.
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

layout: Add support for basic transform css properties
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-flexbox/flexbox-safe-overflow-position-006.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/change-translate-property.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-1.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2a.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2b.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2c.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2d.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2e.html.ini
  tests/wpt/meta/css/css-transforms/scale-animation-with-var-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-hit-testing.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Boxes with position:fixed should not be a part of scrollable overflow of viewport
  components/layout_2020/flow/root.rs
  tests/wpt/meta/css/css-masking/clip-path/clip-path-fixed-scroll.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement declarative shadow dom
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

Enable allowDeclarativeShadowRoots for Document
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_thread.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-opt-in.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
Owners: @gterzian

Implemenet setHTMLUnsafe and add more test cases
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats-2.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/script-access.html.ini
Owners: @gterzian

Declarative shadow dom: minor updates and expected test result update
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/css/selectors/invalidation/host-has-shadow-tree-element-at-nonsubject-position.html.ini
  tests/wpt/meta/css/selectors/invalidation/host-has-shadow-tree-element-at-subject-position.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/forms/the-form-element/form-indexed-element-shadow.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-img-src.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-link-stylesheet.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-script-src.tentative.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Element-setHTMLUnsafe-04.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-xml.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Range-isPointInRange.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Selection-getComposedRanges-range-update.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Selection-isCollapsed.html.ini
  tests/wpt/meta/shadow-dom/HighlightRegistry-highlightsFromPoint.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/offsetTop-offsetLeft-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

Set allowDeclarativeShadowRoots false for innerHTML
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Expose HTMLTemplateElement to js
  Cargo.lock
  Cargo.toml
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script_bindings/webidls/HTMLTemplateElement.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
Owners: @gterzian

Shadow-dom: add more test cases
  tests/wpt/meta/css/css-mixins/function-shadow-container.html.ini
  tests/wpt/meta/custom-elements/revamped-scoped-registry/Element-customElements-exceptions.tentative.html.ini
  tests/wpt/meta/selection/shadow-dom/cross-shadow-boundary-6.html.ini
Owners: none

Update comments according to the spec
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

force input element display-inside as flow-root
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

resolve conflict on fragment flags
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Reposition input display check into display method
  components/layout_2020/dom_traversal.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
