Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Implement the <summary> element
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmlsummaryelement.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/HTMLSummaryElement.webidl
Owners: @gterzian

Implement UA shadow root for <details>
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlsummaryelement.rs
  resources/servo.css
Owners: @gterzian

Invalidate style when display is opened or closed
  components/script/dom/htmldetailselement.rs
Owners: @gterzian

Implement implicit summary elements
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlsummaryelement.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/HTMLSummaryElement.webidl
Owners: @gterzian

Fix /_mozilla/mozilla/duplicated_scroll_ids.html
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: none

Update WPT expectations
  tests/wpt/meta/css/selectors/selectors-4/details-open-pseudo-003.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-display.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-revert.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-002.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-display-list-item-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-text-decoration.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/closed-details-layout-apis.tentative.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/details-add-summary.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: none

chore: Update wgpu (#35639)
  Cargo.lock
  Cargo.toml
  components/webgpu/wgpu_thread.rs
Owners: none

Avoid "OSError: [Errno 39] Directory not empty" when running tests
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: none

refactor: add CanGc as argument to Promise::reject_native
  components/script/body.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/defaultteereadrequest.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/navigationpreloadmanager.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/response.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webxr/xrtest.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/fetch.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

layout: Let `automatic_min_size()` take a flex-relative cb size
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove special height logic of replaced element with auto width
  components/layout_2020/geom.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-043.html
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-044.tentative.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-replaced-element.html
  tests/wpt/tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Set allowDeclarativeShadowRoots false for innerHTML
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Implement declarative shadow dom
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

Enable allowDeclarativeShadowRoots for Document
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_thread.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-opt-in.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
Owners: @gterzian

Expose HTMLTemplateElement to js
  Cargo.lock
  Cargo.toml
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script_bindings/webidls/HTMLTemplateElement.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
Owners: @gterzian

Refactor Touchhandler
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/input_events.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/app_state.rs
  test.html
Owners: @mrobinson, @gterzian, @jschwe

Fix test-tidy
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson

Fix clippy missing-default lint
  components/shared/embedder/input_events.rs
Owners: none

refactor: add CanGc as argument to Promise::reject_native (#35640)
  components/script/body.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/defaultteereadrequest.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/navigationpreloadmanager.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/response.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webxr/xrtest.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/fetch.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Fix remaining clippy lints
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
Owners: @mrobinson, @gterzian

Remove accidental committed test file
  test.html
Owners: none

Remove wrong todo comment
  components/compositing/compositor.rs
Owners: @mrobinson

Align processing documents and note several issues
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/script_thread.rs
Owners: @gterzian

Update WPT
  tests/wpt/meta/intersection-observer/cross-document-root.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-child-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-scroll.html.ini
  tests/wpt/meta/intersection-observer/inline-with-block-child-client-rect.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/shadow-content.html.ini
  tests/wpt/meta/intersection-observer/v2/animated-occlusion.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-hidden.html.ini
Owners: none

Fix preventdefault after long touch_down handler
  components/compositing/compositor.rs
  components/compositing/touch.rs
Owners: @mrobinson

Minor lint
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Touch handler: Fix race condition and rate-limit move events (#35537)
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/input_events.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

servoshell: Fall back to PNG format when outputting an image
  ports/servoshell/desktop/app_state.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @atbrakhi

Implemenet setHTMLUnsafe and add more test cases
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats-2.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/script-access.html.ini
Owners: @gterzian

feat: support IME cursor area (#35623)
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

layout: Let `automatic_min_size()` take a flex-relative cb size (#35642)
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

servoshell: Fall back to PNG format when outputting an image (#35648)
  ports/servoshell/desktop/app_state.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @atbrakhi

[chore](text-overflow): Add check to fragment truncation
  components/fonts/glyph.rs
Owners: none

Fix top level browsing context
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
Owners: @gterzian

Remove test for duplicated scroll IDs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids.html
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: none

Use Iterator::find to find implicit summary element
  components/script/dom/htmldetailselement.rs
Owners: @gterzian

Bump channel in shell.nix to support rustc 1.85.
  rust-toolchain.toml
  shell.nix
Owners: none

refactor: add CanGc as argument to exception_to_promise
  components/script/dom/bindings/utils.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Bump channel in shell.nix to support rustc 1.85. (#35643)
  rust-toolchain.toml
  shell.nix
Owners: none

Allow the `<details>` element to be opened and closed (#35261)
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlelement.rs
  resources/servo.css
  tests/wpt/meta/css/selectors/selectors-4/details-open-pseudo-003.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-display.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-revert.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/details-summary-display-inline-002.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-display-list-item-001.html.ini
  tests/wpt/meta/html/rendering/the-details-element/summary-text-decoration.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/closed-details-layout-apis.tentative.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-details-element/details-add-summary.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids.html
  tests/wpt/mozilla/tests/mozilla/duplicated_scroll_ids_ref.html
Owners: @gterzian
