Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

[bugfix](font-weight): Fix rendering of font-weight and other propperties related to FontDescriptor
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix]: Restore check by font-size.
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](font-weight): Use better hasher
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Avoid double borrow crash on iframe focus (#35742)
  components/script/script_thread.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/iframe_focus-crash.html
Owners: @gterzian

Use 2024 style edition
  rustfmt.toml
Owners: none

servoshell: Rename `Minibrowser::is_in_browser_rect` to `Minibrowser::is_in_egui_toolbar_rect` (#35717)
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Fix the problem that touchmove crashes occasionally. Check whether touchSequenceInfo exists when touch_sequence_map is modified in on_touch_event_processed.
  components/compositing/compositor.rs
  components/compositing/touch.rs
Owners: @mrobinson

script: Mark callback methods with CanGc. (#35753)
  components/script/dom/baseaudiocontext.rs
  components/script/dom/bindings/import.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/datatransferitem.rs
  components/script/dom/document.rs
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/mediasession.rs
  components/script/dom/mutationobserver.rs
  components/script/dom/nodeiterator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/resizeobserver.rs
  components/script/dom/testbinding.rs
  components/script/dom/treewalker.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrtest.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/microtask.rs
  components/script/script_thread.rs
  components/script/timers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Allow unsafe_op_in_unsafe_fn lint
  components/script/Cargo.toml
  components/script_bindings/Cargo.toml
Owners: @gterzian

Compile using the 2024 edition
  Cargo.toml
Owners: none

set config_dir to default_config_dir when None; create the path if not exist
  ports/servoshell/prefs.rs
Owners: none

Remove outdated todo.
  components/compositing/compositor.rs
Owners: @mrobinson

Fix the problem that touchmove crashes occasionally. Fix crash when multiple touch cancels occur (#35763)
  components/compositing/compositor.rs
  components/compositing/touch.rs
Owners: @mrobinson

fix process pull into descriptors using queue logic and resulting double-borrow
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Implement dialog.requestClose()
  components/script/dom/htmldialogelement.rs
  components/script_bindings/webidls/HTMLDialogElement.webidl
Owners: @gterzian

Address comments
  components/script/dom/htmldialogelement.rs
  components/script_bindings/codegen/Bindings.conf
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: @gterzian

Reduce allocations in layout_block_level_children_in_parallel
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Upgrade Stylo to 2025-03-01
  Cargo.lock
  Cargo.toml
Owners: none

Update test expectations
  tests/wpt/meta/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-computed.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-valid.html.ini
  tests/wpt/meta/css/css-fonts/variations/font-style-parsing.html.ini
Owners: none

Fixup for https://phabricator.services.mozilla.com/D236733
  components/fonts/font_template.rs
  components/fonts/system_font_service.rs
Owners: none

Upgrade Stylo to 2025-03-01 (#35782)
  Cargo.lock
  Cargo.toml
  components/fonts/font_template.rs
  components/fonts/system_font_service.rs
  tests/wpt/meta/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-computed.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-valid.html.ini
  tests/wpt/meta/css/css-fonts/variations/font-style-parsing.html.ini
Owners: none

The cancelable feature is optimized. If the cancelable feature is a non-cancelable feature, no message is sent back to the Compositor. Add a warning log when prevent TouchsequenceInfo cannot be found.
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
Owners: @mrobinson, @gterzian

compositor: Make `PipelineDetails` and pending paint metrics per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/script/script_msg.rs
  components/shared/webrender/lib.rs
  components/webdriver_server/actions.rs
  tests/unit/metrics/paint_time.rs
Owners: @mrobinson, @gterzian

fix Clippy Error Reported in the Pipeline.
  components/script/script_thread.rs
Owners: @gterzian

compositor: Make `PipelineDetails` and pending paint metrics per-WebView (#35701)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/script/script_msg.rs
  components/shared/webrender/lib.rs
  components/webdriver_server/actions.rs
  tests/unit/metrics/paint_time.rs
Owners: @mrobinson, @gterzian

Display the process type and PID in log messages
  Cargo.lock
  Cargo.toml
  components/servo/lib.rs
Owners: none

Fix entry reflection and propagate can_gc
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Add very rough implemnentation of observation steps
  components/script/dom/document.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Fix intersection and refactor registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix unrooted error and tidy issues
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Remove is descendant of other node query
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Implement is descendant in containing block path correctly
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/intersectionobserver.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix BorrowError and add fragment find descendant
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix comments
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Update WPT
  tests/wpt/meta/intersection-observer/cross-document-root.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-child-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-scroll.html.ini
  tests/wpt/meta/intersection-observer/inline-with-block-child-client-rect.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/shadow-content.html.ini
  tests/wpt/meta/intersection-observer/v2/animated-occlusion.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-hidden.html.ini
Owners: none

Align compute intersection algo to other browser actual behavior
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Use AppUnit more and propagate GlobalScope better
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Align processing documents and note several issues
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/script_thread.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-intersection-observer.html.ini
  tests/wpt/meta/intersection-observer/callback-cross-realm-report-exception.html.ini
  tests/wpt/meta/intersection-observer/client-rect.html.ini
  tests/wpt/meta/intersection-observer/containing-block.html.ini
  tests/wpt/meta/intersection-observer/disconnect.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/empty-root-margin.html.ini
  tests/wpt/meta/intersection-observer/explicit-root-different-document.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-iframe-scroll.html.ini
  tests/wpt/meta/intersection-observer/grow-height-and-scrolled.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-ib-split.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-2.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-in-iframe.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-change-events.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-threshold.html.ini
  tests/wpt/meta/intersection-observer/not-in-containing-block-chain.html.ini
  tests/wpt/meta/intersection-observer/observer-callback-arguments.html.ini
  tests/wpt/meta/intersection-observer/padding-clip.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/rtl-clipped-root.html.ini
  tests/wpt/meta/intersection-observer/scroll-margin-non-scrolling-root.html.ini
  tests/wpt/meta/intersection-observer/target-in-detached-document.html.ini
  tests/wpt/meta/intersection-observer/target-is-root.html.ini
  tests/wpt/meta/intersection-observer/v2/box-shadow.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/v2/text-shadow.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-visible.html.ini
  tests/wpt/meta/resize-observer/ordering.html.ini
Owners: none
