Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

base: Make all namespaced ID types use a common type.
  components/compositing/webview_manager.rs
  components/constellation/webview_manager.rs
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/domexception.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/messageport.rs
  components/shared/base/id.rs
Owners: @mrobinson, @gterzian

script: Remove traits for conversions between StorageKey/transferable data and namespace indexes.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/domexception.rs
  components/script/dom/dompoint.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

base: Remove hand-written constructors for ID types.
  components/shared/base/id.rs
Owners: none

Reduce indexing boilerplate for serializable/transferrable objects. (#36624)
  components/compositing/webview_manager.rs
  components/constellation/webview_manager.rs
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/domexception.rs
  components/script/dom/dompoint.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/shared/base/id.rs
Owners: @mrobinson, @gterzian

dependabot: group objc2 crates
  .github/dependabot.yml
Owners: none

dependabot: group objc2 crates (#36641)
  .github/dependabot.yml
Owners: none

Fixup dependabot.yml
  .github/dependabot.yml
Owners: none

Fixup dependabot.yml (#36642)
  .github/dependabot.yml
Owners: none

fix erronous rejecting in abort steps
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: @gterzian

Streams: fix writable transfer sink abort steps (#36638)
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: @gterzian

chore: remove unnecessary webrender_document in script
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
Owners: @gterzian

chore: remove unnecessary `webrender_document` in script (#36648)
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
Owners: @gterzian

Rewrite node insertion algorithm to match the spec
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/dom/nodes/adoption.window.js.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/mutations.window.js.ini
  tests/wpt/tests/dom/nodes/Node-childNodes-cache-2.html
Owners: @gterzian

[tracing] Add convenience macro
  Cargo.lock
  Cargo.toml
  components/servo_tracing/Cargo.toml
  components/servo_tracing/lib.rs
  ports/servoshell/Cargo.toml
Owners: none

Simplify tracing macro generation and clean workspace deps
  Cargo.lock
  Cargo.toml
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo_tracing/Cargo.toml
  components/servo_tracing/lib.rs
  ports/servoshell/Cargo.toml
Owners: none

Address latest review comments
  components/script/dom/response.rs
  components/script_bindings/str.rs
Owners: @gterzian

Various fixes
  components/canvas/canvas_data.rs
  components/script/canvas_state.rs
  components/script/dom/webglrenderingcontext.rs
  components/shared/compositing/Cargo.toml
  components/shared/snapshot/lib.rs
  components/shared/webgpu/Cargo.toml
  components/webgpu/swapchain.rs
Owners: @gterzian

[tracing] Add convenience macro for function tracing (#36573)
  Cargo.lock
  Cargo.toml
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo_tracing/Cargo.toml
  components/servo_tracing/lib.rs
  ports/servoshell/Cargo.toml
Owners: none

Initial support for marking custom protocol secure
  components/net/fetch/methods.rs
  components/net/protocols/mod.rs
  ports/servoshell/desktop/protocols/urlinfo.rs
Owners: @atbrakhi

Move method to ProtocolRegistry
  components/net/fetch/methods.rs
  components/net/protocols/mod.rs
Owners: none

fixup docs
  components/script/canvas_context.rs
Owners: @gterzian

Introduce snapshot concept of canvas (#36119)
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/canvas/webgl_thread.rs
  components/pixels/lib.rs
  components/script/Cargo.toml
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/shared/compositing/Cargo.toml
  components/shared/snapshot/Cargo.toml
  components/shared/snapshot/lib.rs
  components/shared/webgpu/Cargo.toml
  components/shared/webgpu/messages/recv.rs
  components/webgpu/Cargo.toml
  components/webgpu/swapchain.rs
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/mozilla/meta/mozilla/webgl/tex_image_2d_canvas.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
  tests/wpt/webgl/meta/conformance/more/functions/copyTexSubImage2D.html.ini
  tests/wpt/webgl/meta/conformance/textures/misc/tex-image-webgl.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance-luminance-unsigned_byte.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance_alpha-luminance_alpha-unsigned_byte.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
Owners: @gterzian

layout: Structure reflow code to make it more modular (#36597)
  components/layout/layout_impl.rs
  components/layout/traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

compositor: Tick animations for an entire WebView at once
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/constellation/event_loop.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/constellation/lib.rs
  components/shared/script/lib.rs
Owners: @mrobinson, @gterzian

Update Webdriver handle element click
  components/script/webdriver_handlers.rs
  components/webdriver_server/lib.rs
  tests/wpt/meta/webdriver/tests/classic/element_click/click.py.ini
Owners: @gterzian

layout: Add a new `FragmentTree` pass to calculate containing block rectangles
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Add secure context docs to the `is_secure` docs
  components/net/protocols/mod.rs
Owners: none

layout: Add a new `FragmentTree` pass to calculate containing block rectangles (#36629)
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Bring back `current_scheme == "data" ||`
  components/net/fetch/methods.rs
Owners: none

script: Measure stored layout data memory usage.
  components/layout/dom.rs
  components/layout/table/mod.rs
  components/malloc_size_of/lib.rs
  components/script/dom/node.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Implement `resource_available` as common shared util
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/devtools/resource.rs
Owners: none

review fix
  components/devtools/resource.rs
Owners: none

webdriver: Do not attempt to serialize cyclic values.
  components/script/webdriver_handlers.rs
Owners: @gterzian

webdriver: Make async script execution match specification.
  components/script/dom/window.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/webidls/Window.webidl
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

script: Add generic root storage to StructuredCloneReader.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/domexception.rs
  components/script/dom/dompoint.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

DevTools: Add `resource_available` as a common shared util (#36632)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/devtools/resource.rs
Owners: none

Move `Source` related code to separate file
  components/devtools/actors/source.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
Owners: none

script: Add generic root storage to StructuredCloneReader. (#36640)
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/blob.rs
  components/script/dom/domexception.rs
  components/script/dom/dompoint.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

webdriver: Report pending exceptions after serializing a JS value.
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Implement CSSStyleSheet::replaceSync
  components/script/dom/bindings/error.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/domexception.rs
  components/script_bindings/error.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-mixins/at-function-parsing.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-baseURL.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-disabled-regular-sheet-insertion.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable.html.ini
  tests/wpt/meta/css/cssom/adoptedstylesheets-modify-array-and-sheet.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: @gterzian
