Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

fix typo
  components/script/dom/readablestream.rs
Owners: @gterzian

move and document wait on pending write
  components/script/dom/readablestream.rs
Owners: @gterzian

fix warnings
  components/script/dom/readablestream.rs
Owners: @gterzian

fix writing of chunks
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

fix error and close propagation update test expectations
  components/script/dom/readablestream.rs
  tests/wpt/meta/streams/piping/abort.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/flow-control.any.js.ini
  tests/wpt/meta/streams/piping/general-addition.any.js.ini
  tests/wpt/meta/streams/piping/general.any.js.ini
  tests/wpt/meta/streams/piping/multiple-propagation.any.js.ini
  tests/wpt/meta/streams/piping/pipe-through.any.js.ini
  tests/wpt/meta/streams/piping/then-interception.any.js.ini
  tests/wpt/meta/streams/piping/throwing-options.any.js.ini
  tests/wpt/meta/streams/piping/transform-streams.any.js.ini
Owners: @gterzian

add comment about using Rust api improve comment on result add comment on backpressure
  components/script/dom/readablestream.rs
Owners: @gterzian

fix multiple propagations
  components/script/dom/readablestream.rs
Owners: @gterzian

Shadow-dom: add more test cases
  tests/wpt/meta/css/css-mixins/function-shadow-container.html.ini
  tests/wpt/meta/css/css-mixins/function-shadow.html.ini
  tests/wpt/meta/custom-elements/revamped-scoped-registry/Element-customElements-exceptions.tentative.html.ini
  tests/wpt/meta/selection/shadow-dom/cross-shadow-boundary-6.html.ini
Owners: none

improve docs remove redundant logic in pending writes
  components/script/dom/readablestream.rs
Owners: @gterzian

Let layout invalidations happen in the flat tree (#35769)
  components/script/dom/document.rs
  components/script/dom/node.rs
Owners: @gterzian

[bugfix](font-weight): Panic free version of OpenHarmony fontconfig parser. WIP on this component
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/tests/support/OHOS_fontconfig/test_fontconfig.json
Owners: @jschwe

layout: Fix behavior of `transform-style: preserve-3d`
  components/layout_2020/style_ext.rs
  tests/wpt/tests/css/css-transforms/preserve3d-containing-block-ref.html
  tests/wpt/tests/css/css-transforms/preserve3d-containing-block.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Add test for percentage sizes resolving against subpixel lengths
  tests/wpt/meta/css/css-sizing/percentage-width-subpixels.tentative.html.ini
  tests/wpt/tests/css/css-sizing/percentage-width-subpixels.tentative-ref.html
  tests/wpt/tests/css/css-sizing/percentage-width-subpixels.tentative.html
Owners: none

fix clippy
  components/script/dom/readablestream.rs
Owners: @gterzian

script: Create infrastructure for reducing hand-written serializable/transferrable implementations.
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: none

script: Clone all serializable DOM interfaces.
  Cargo.lock
  Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
Owners: none

remove unnecessary expansion of visibility of enqueued value to_jsval
  components/script/dom/readablestreamdefaultcontroller.rs
Owners: @gterzian

script: Deserialize all serializable DOM interfaces.
  Cargo.lock
  components/script/Cargo.toml
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

script: Serialize all serializable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer-receive all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: @gterzian

layout: Assert that `hypothetical_cross_size` is already correct
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Check for transformable elements
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix timeout tests
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

Allow highlighting elements from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix all tests
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablestreambyobreader.rs
  tests/wpt/meta/streams/readable-byte-streams/read-min.any.js.ini
Owners: @gterzian

Remove all error! logs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

Add epaint_default_fonts to egui Dependabot group
  .github/dependabot.yml
Owners: none

Remove #[allow(unsafe_code)]
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Use generic green square reference for reftest.
  tests/wpt/tests/css/css-transforms/preserve3d-containing-block-ref.html
  tests/wpt/tests/css/css-transforms/preserve3d-containing-block.html
Owners: none

layout: Fix stacking context & containing block checks.
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Handle keyword sizes when computing the hypothetical cross size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update comments according to the spec
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Apply suggestions from code review
  components/compositing/webview.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

script: Extract boilerplate from serialize/deserialize implementations.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

script: Extract boilerplate from transfer-receive.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

script: Extract boilerplate from transfer operation.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

Add an about:memory page (#35728)
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/net/fetch/methods.rs
  components/profile/mem.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/mod.rs
  components/script/dom/navigator.rs
  components/script/dom/servointernals.rs
  components/script/lib.rs
  components/script/routed_promise.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ServoInternals.webidl
  components/shared/embedder/resources.rs
  components/shared/profile/mem.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/android/resources.rs
  resources/about-memory.html
Owners: @gterzian, @jschwe

Create config_dir if none exist for caching
  components/net/resource_thread.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
  support/openharmony/entry/src/main/ets/pages/Index.ets
Owners: @jschwe
