Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Update xcomponent-sys to 0.2.0
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

layout: Refine the check for dependending on available space
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update xcomponent-sys to 0.2.0 (#34898)
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

Enable relative color syntax
  Cargo.lock
  tests/wpt/meta/css/css-color/parsing/color-computed-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/relative-color-out-of-gamut.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-a98rgb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-displayp3-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hsl-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hsl-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hwb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-lab-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-lch-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-oklab-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-oklch-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-prophoto-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rec2020-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rec2020-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rgb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rgb-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-visited-getcomputedstyle.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-xyzd50-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-xyzd65-01.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.relativecolor.currentcolor.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.strokeStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.relativecolor.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.strokeStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.strokeStyle.relativecolor.worker.js.ini
Owners: none

Enable relative color syntax (#34897)
  Cargo.lock
  tests/wpt/meta/css/css-color/parsing/color-computed-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/relative-color-out-of-gamut.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-a98rgb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-displayp3-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hsl-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hsl-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-hwb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-lab-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-lch-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-oklab-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-oklch-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-prophoto-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rec2020-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rec2020-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rgb-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-rgb-02.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-visited-getcomputedstyle.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-xyzd50-01.html.ini
  tests/wpt/meta/css/css-color/relative-currentcolor-xyzd65-01.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.relativecolor.currentcolor.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.strokeStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.relativecolor.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.strokeStyle.relativecolor.html.ini
  tests/wpt/meta/html/canvas/offscreen/fill-and-stroke-styles/2d.strokeStyle.relativecolor.worker.js.ini
Owners: none

layout: Refine the check for dependending on available space (#34907)
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Upgrade Stylo to 2025-01-02
  Cargo.lock
  Cargo.toml
Owners: none

Update test expectations
  tests/wpt/meta/css/css-color/parsing/color-computed-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/relative-color-out-of-gamut.html.ini
Owners: none

Fix Shadow roots bind children to the tree
  components/script/dom/shadowroot.rs
Owners: @gterzian

Upgrade Stylo to 2025-01-02 (#34894)
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-color/parsing/color-computed-relative-color.html.ini
  tests/wpt/meta/css/css-color/parsing/relative-color-out-of-gamut.html.ini
Owners: none

script: Use `enum`s for event loop senders and receivers (#34896)
  components/script/dom/abstractworker.rs
  components/script/dom/abstractworkerglobalscope.rs
  components/script/dom/bindings/refcounted.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/window.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/worklet.rs
  components/script/dom/workletglobalscope.rs
  components/script/messaging.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Avoid iterate over the shadow root itself
  components/script/dom/shadowroot.rs
Owners: @gterzian

layout: Defer some table sizing logic to the parent formatting context (#34889)
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-justify-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-stretch-cross-size-3.html.ini
  tests/wpt/meta/css/css-flexbox/table-item-flex-percentage-min-width.html.ini
  tests/wpt/meta/css/css-grid/grid-items/explicitly-sized-grid-item-as-table.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-003.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

fix click event when long time in touchstart
  components/compositing/touch.rs
Owners: @mrobinson

update TouchAction::Click condition
  components/compositing/touch.rs
Owners: @mrobinson

add vibration and apply suggestions
  components/script/dom/notification.rs
Owners: @gterzian

script: Downgrade noisy debug logs.
  components/script/dom/bindings/refcounted.rs
  components/script/dom/bindings/root.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
Owners: @gterzian

Update test expectation
  tests/wpt/meta/shadow-dom/untriaged/styles/test-003.html.ini
Owners: none

webgl: shutdown webrender before acknowledging Exit message
  components/canvas/webgl_thread.rs
Owners: none

script: Downgrade noisy debug logs. (#34914)
  components/script/dom/bindings/refcounted.rs
  components/script/dom/bindings/root.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
Owners: @gterzian

webgl: shutdown webrender before acknowledging Exit message (#34917)
  components/canvas/webgl_thread.rs
Owners: none

Fix import
  components/layout_2020/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix info propagation and resolved grid track query
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Store taffy detailed info into fragment
  Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update wpt expectations
  tests/wpt/meta/css/css-grid/grid-definition/grid-auto-repeat-positioned-container-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-minimum-contribution-with-percentages.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-layout-properties.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-automatic-minimum-for-auto-columns-001.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-flex-track-intrinsic-sizes-001.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-flex-track-intrinsic-sizes-003.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-content-sized-columns-resolution.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-template-rows-computed-withcontent.html.ini
Owners: none

Run fmt
  components/layout_2020/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix tracklist matching logic and type optimization
  components/layout_2020/query.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Optimizing info propagation and minor qol
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Run fmt
  components/layout_2020/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

partially implement RequestPermission
  components/script/dom/notification.rs
Owners: @gterzian

layout: grid template getComputedStyle resolved value (#34885)
  Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
  tests/wpt/meta/css/css-grid/grid-definition/grid-auto-repeat-positioned-container-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-minimum-contribution-with-percentages.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-layout-properties.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-automatic-minimum-for-auto-columns-001.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-flex-track-intrinsic-sizes-001.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-flex-track-intrinsic-sizes-003.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-content-sized-columns-resolution.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-template-rows-computed-withcontent.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Improve table border-collapse
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001a.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001b.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001c.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-004.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-009.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e02.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f02.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-cell-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-colgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-column-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-row-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-rowgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-table-001.xht.ini
  tests/wpt/meta/css/css-tables/border-conflict-resolution.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-001.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-002.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-column-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-row-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/tbody-height-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fixups
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Minor tweaks for table layout
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

call Permission request permission algorithm
  components/script/dom/notification.rs
Owners: @gterzian

Add http2 feature for hyper-util
  Cargo.toml
  components/net/Cargo.toml
  components/shared/net/Cargo.toml
Owners: none

layout: Minor tweaks for table layout (#34921)
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Set padding to zero on tables in collapsed-borders mode
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-011.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-012.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-013.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-014.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Add http2 feature for hyper-util (#34920)
  Cargo.toml
  components/net/Cargo.toml
  components/shared/net/Cargo.toml
Owners: none

layout: Set padding to zero on tables in collapsed-borders mode (#34908)
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-011.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-012.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-013.html
  tests/wpt/tests/css/CSS2/tables/collapsing-border-model-014.html
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
