Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

un-ignore test using writable stream
  tests/wpt/include.ini
Owners: none

layout: Floor the max-content size by the min-content size
  components/layout_2020/flow/inline/mod.rs
  tests/wpt/tests/css/css-sizing/min-content-le-max-content.tentative.html
  tests/wpt/tests/css/css-tables/crashtests/cell-contents-with-negative-outer-size.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Enable all experimental web platform features on all testsuites
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/css/css-align/__dir__.ini
  tests/wpt/meta/css/css-flexbox/__dir__.ini
  tests/wpt/meta/css/css-grid/__dir__.ini
  tests/wpt/meta/permissions/all-permissions.html.ini
  tests/wpt/meta/permissions/idlharness.any.js.ini
  tests/wpt/meta/permissions/permissions-query-feature-policy-attribute.https.sub.html.ini
  tests/wpt/meta/quirks/unitless-length/excluded-properties-002.html.ini
  tests/wpt/meta/resize-observer/__dir__.ini
  tests/wpt/meta/uievents/idlharness.window.js.ini
  tests/wpt/meta/webgl/idlharness.any.js.ini
  tests/wpt/meta/webxr/__dir__.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/calc.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgl/meta/conformance2/offscreencanvas/__dir__.ini
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

layout: Floor the max-content size by the min-content size (#36518)
  components/layout_2020/flow/inline/mod.rs
  tests/wpt/tests/css/css-sizing/min-content-le-max-content.tentative.html
  tests/wpt/tests/css/css-tables/crashtests/cell-contents-with-negative-outer-size.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Enable all experimental web platform features on all testsuites (#36519)
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/css/css-align/__dir__.ini
  tests/wpt/meta/css/css-flexbox/__dir__.ini
  tests/wpt/meta/css/css-grid/__dir__.ini
  tests/wpt/meta/permissions/all-permissions.html.ini
  tests/wpt/meta/permissions/idlharness.any.js.ini
  tests/wpt/meta/permissions/permissions-query-feature-policy-attribute.https.sub.html.ini
  tests/wpt/meta/quirks/unitless-length/excluded-properties-002.html.ini
  tests/wpt/meta/resize-observer/__dir__.ini
  tests/wpt/meta/uievents/idlharness.window.js.ini
  tests/wpt/meta/webgl/idlharness.any.js.ini
  tests/wpt/meta/webxr/__dir__.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/calc.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgl/meta/conformance2/offscreencanvas/__dir__.ini
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

Run tests with --enable-experimental-web-platform-features
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

Switch to data_url::mime for document content type
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/lib.rs
  components/script/mime.rs
  components/script/script_thread.rs
  tests/wpt/meta/mimesniff/mime-types/charset-parameter.window.js.ini
  tests/wpt/meta/xhr/overridemimetype-blob.html.ini
  tests/wpt/meta/xhr/send-content-type-charset.htm.ini
Owners: @gterzian

[OHOS] Feature: allow updating log-level based on cli arguments
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

Tag logging filter to only be used in ohos
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

Run all tests with --enable-experimental-web-platform-features (#36335)
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

Remove unused pref: dom_forcetouch_enabled
  components/config/prefs.rs
Owners: none

Remove unused pref: dom_forcetouch_enabled (#36524)
  components/config/prefs.rs
Owners: none

Force the event loop to spin when polling.
  ports/servoshell/desktop/app.rs
Owners: @atbrakhi

touch: Fix panic with -Zconvert-mouse-to-touch
  components/compositing/touch.rs
  components/compositing/webview.rs
Owners: @mrobinson

Transfer ReadableStream (#36181)
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/utils.rs
  components/shared/constellation/message_port.rs
  tests/wpt/include.ini
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/messagechannel.any.js.ini
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/window-postmessage.window.js.ini
  tests/wpt/meta/html/webappapis/structured-clone/structured-clone.any.js.ini
  tests/wpt/meta/streams/transferable/deserialize-error.window.js.ini
  tests/wpt/meta/streams/transferable/reason.html.ini
  tests/wpt/meta/streams/transferable/service-worker.https.html.ini
  tests/wpt/meta/streams/transferable/shared-worker.html.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
  tests/wpt/meta/workers/semantics/structured-clone/dedicated.html.ini
Owners: @gterzian

libservo: Allow running more than on Servo test in a run
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
Owners: none

Revert "compositor: Unify the cross process and in-process API (#36443)"
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/constellation/pipeline.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Revert "compositor: Unify the cross process and in-process API (#36443)" (#36533)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/constellation/pipeline.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

touch: Fix panic with -Zconvert-mouse-to-touch (#36531)
  components/compositing/touch.rs
  components/compositing/webview.rs
Owners: @mrobinson

[OHOS] Allow setting the log-filter via cli arguments (#36444)
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

Unify media query and media query list parsing
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/medialist.rs
  components/script/dom/window.rs
Owners: @gterzian

Make DOMException serializable
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/domexception.rs
  components/shared/base/id.rs
  components/shared/constellation/message_port.rs
  tests/wpt/meta/streams/transferable/reason.html.ini
Owners: @gterzian

worker_id shoud be "id" & thread for workers is thread not context
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

Unify media query and media query list parsing (#36520)
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/medialist.rs
  components/script/dom/window.rs
Owners: @gterzian

Remove two outdated TODO comments in HTMLScriptElement
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

Clean up unexpected pass
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/structuredclone_0.html.ini
Owners: none

Make DOMException serializable (#36535)
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/domexception.rs
  components/shared/base/id.rs
  components/shared/constellation/message_port.rs
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/structuredclone_0.html.ini
  tests/wpt/meta/streams/transferable/reason.html.ini
Owners: @gterzian

compositor: Unify the cross process and in-process API
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Fix git failure on macos
  ports/servoshell/build.rs
Owners: none

script: Implement CSSStyleSheet constructor
  components/script/dom/cssrulelist.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/medialist.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-disallow-import.tentative.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-modify-after-removal.html.ini
  tests/wpt/meta/css/cssom/insertRule-across-context.html.ini
Owners: @gterzian

Remove two outdated TODO comments in HTMLScriptElement (#36540)
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

Enable the zstd decoder
  Cargo.lock
  components/net/Cargo.toml
  components/net/decoder.rs
  components/net/http_loader.rs
  tests/wpt/meta/fetch/content-encoding/zstd/big-zstd-body.https.any.js.ini
  tests/wpt/meta/fetch/content-encoding/zstd/zstd-body.https.any.js.ini
  tests/wpt/meta/fetch/content-encoding/zstd/zstd-navigation.https.window.js.ini
Owners: none

canvas: Add "EnforceRange" attribute to CanvasImageData interface
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.create2.nonfinite.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.get.large.crash.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.get.nonfinite.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.put.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.create2.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.create2.nonfinite.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.large.crash.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.large.crash.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.nonfinite.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.put.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.put.nonfinite.worker.js.ini
Owners: none

script: Implement CSSStyleSheet constructor (#36521)
  components/script/dom/cssrulelist.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/medialist.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-disallow-import.tentative.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-modify-after-removal.html.ini
  tests/wpt/meta/css/cssom/insertRule-across-context.html.ini
Owners: @gterzian

canvas: Add "EnforceRange" attribute to CanvasImageData interface (#36546)
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.create2.nonfinite.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.get.large.crash.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.get.nonfinite.html.ini
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.put.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.create2.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.create2.nonfinite.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.large.crash.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.large.crash.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.get.nonfinite.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.put.nonfinite.html.ini
  tests/wpt/meta/html/canvas/offscreen/pixel-manipulation/2d.imageData.put.nonfinite.worker.js.ini
Owners: none

Fix git failure on macos (#36544)
  ports/servoshell/build.rs
Owners: none

Switch to data_url::mime for document content type (#36522)
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/lib.rs
  components/script/mime.rs
  components/script/script_thread.rs
  tests/wpt/meta/mimesniff/mime-types/charset-parameter.window.js.ini
  tests/wpt/meta/xhr/overridemimetype-blob.html.ini
  tests/wpt/meta/xhr/send-content-type-charset.htm.ini
Owners: @gterzian

build(deps): bump stylo from c756a21 to 0eaeea3
  Cargo.lock
Owners: none

compositor: Unify the cross process and in-process API (#36543)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

build(deps): bump stylo from `c756a21` to `0eaeea3` (#36545)
  Cargo.lock
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
