Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Run WPT notifications tests.
  tests/wpt/include.ini
  tests/wpt/meta/notifications/constructor-basic.https.html.ini
  tests/wpt/meta/notifications/constructor-invalid.https.html.ini
  tests/wpt/meta/notifications/constructor-non-secure.html.ini
  tests/wpt/meta/notifications/fetch-url-resolve.https.window.js.ini
  tests/wpt/meta/notifications/getnotifications-across-processes.https.window.js.ini
  tests/wpt/meta/notifications/global-teardown-crash.html.ini
  tests/wpt/meta/notifications/historical.any.js.ini
  tests/wpt/meta/notifications/idlharness.https.any.js.ini
  tests/wpt/meta/notifications/instance.https.window.js.ini
  tests/wpt/meta/notifications/permission.html.ini
  tests/wpt/meta/notifications/permissions-non-secure.html.ini
  tests/wpt/meta/notifications/registration-association.https.window.js.ini
  tests/wpt/meta/notifications/shownotification-without-permission.https.window.js.ini
  tests/wpt/meta/notifications/shownotification.https.window.js.ini
  tests/wpt/meta/notifications/tag.https.html.ini
  tests/wpt/meta/notifications/worker-gc.https.window.js.ini
Owners: none

Run WPT notifications tests. (#35442)
  tests/wpt/include.ini
  tests/wpt/meta/notifications/constructor-basic.https.html.ini
  tests/wpt/meta/notifications/constructor-invalid.https.html.ini
  tests/wpt/meta/notifications/constructor-non-secure.html.ini
  tests/wpt/meta/notifications/fetch-url-resolve.https.window.js.ini
  tests/wpt/meta/notifications/getnotifications-across-processes.https.window.js.ini
  tests/wpt/meta/notifications/global-teardown-crash.html.ini
  tests/wpt/meta/notifications/historical.any.js.ini
  tests/wpt/meta/notifications/idlharness.https.any.js.ini
  tests/wpt/meta/notifications/instance.https.window.js.ini
  tests/wpt/meta/notifications/permission.html.ini
  tests/wpt/meta/notifications/permissions-non-secure.html.ini
  tests/wpt/meta/notifications/registration-association.https.window.js.ini
  tests/wpt/meta/notifications/shownotification-without-permission.https.window.js.ini
  tests/wpt/meta/notifications/shownotification.https.window.js.ini
  tests/wpt/meta/notifications/tag.https.html.ini
  tests/wpt/meta/notifications/worker-gc.https.window.js.ini
Owners: none

Protect `create_spanned_slot_based_on_cell_above()` against arithmetic underflow (#35437)
  components/layout_2020/table/construct.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

wpt: add passing tests for backdrop-filter.
  tests/wpt/meta/css/filter-effects/animation/backdrop-filter-interpolation-001.html.ini
  tests/wpt/meta/css/filter-effects/animation/backdrop-filter-interpolation-002.html.ini
  tests/wpt/meta/css/filter-effects/animation/backdrop-filter-interpolation-003.html.ini
  tests/wpt/meta/css/filter-effects/animation/backdrop-filter-interpolation-004.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-important.html.ini
  tests/wpt/meta/css/filter-effects/inheritance.html.ini
  tests/wpt/meta/css/filter-effects/parsing/backdrop-filter-computed.html.ini
  tests/wpt/meta/css/filter-effects/parsing/backdrop-filter-parsing-valid.html.ini
Owners: none

layout2020: backdrop filter creates a stacking context
  Cargo.lock
  Cargo.toml
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update window.screenX and window.screenY when moving the embedder window
  components/compositing/compositor.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @atbrakhi

Update window.screenX and window.screenY when moving the embedder window (#35246)
  components/compositing/compositor.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @atbrakhi

(chore): tinyfiledialog::MessageBoxIcon is only used on Linux This was causing a compilation warning on Mac and Windows.
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

Correct page zoom default value,
  components/compositing/compositor.rs
Owners: @mrobinson

update surfman
  Cargo.lock
  Cargo.toml
Owners: none

Apply types logic and tidy fix from suggestions
  components/script/dom/intersectionobserver.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

layout: Add AxesScrollSensitivity to enable control of scroll in axis
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/style_ext.rs
  components/shared/script/tests/compositor.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout_2013: Be compatible with AxesScrollSensitivity
  components/layout/display_list/builder.rs
  components/layout/display_list/items.rs
  components/layout/display_list/webrender_helpers.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: update struct AxesScrollSensitivity to euclid::Vector2D
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/root.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

display_list: implement From<Overflow> for ScrollSensitivity
  Cargo.lock
  components/shared/webrender/Cargo.toml
  components/shared/webrender/display_list.rs
Owners: none

layout: simplify and reuse scroll related logic
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  components/shared/script/tests/compositor.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout_2013: simplify and reuse scroll related logic
  components/layout/display_list/builder.rs
  components/layout/display_list/webrender_helpers.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add allow unrooted for add registration to element
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

(chore): tinyfiledialog::MessageBoxIcon is only used on Linux (#35441)
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

Use surfman with glow bindings (take II) (#35422)
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @gterzian, @atbrakhi

fix issue #35449: handle touch events in on_input_event.
  components/compositing/compositor.rs
Owners: @mrobinson

dom: IntersectionObserver initialization (#35314)
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/mod.rs
  components/script/dom/raredata.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/IntersectionObserver.webidl
  tests/wpt/meta/intersection-observer/idlharness.window.js.ini
  tests/wpt/meta/intersection-observer/observer-attributes.html.ini
  tests/wpt/meta/intersection-observer/observer-exceptions.html.ini
Owners: @gterzian

layout, layout_2013: revert AxesScrollSensitivity to pair struct
  components/layout/display_list/builder.rs
  components/layout/display_list/webrender_helpers.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/root.rs
  components/shared/script/tests/compositor.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Reimport ComputedOverflow as #35103 depends on it
  components/layout_2020/display_list/stacking_context.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

fix issue #35449: handle touch events in on_input_event. (#35450)
  components/compositing/compositor.rs
Owners: @mrobinson

libservo: change 'request_fullscreen_state_change' API to a notification
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
Owners: @gterzian, @atbrakhi

libservo: change 'request_fullscreen_state_change' API to a notification (#35445)
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
Owners: @gterzian, @atbrakhi

layout: Add AxesOverflow to replace PhysicalVec
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

DataTransfer: remove PlainString and Binary structs
  components/script/dom/datatransferitem.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/document.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
Owners: @gterzian

bring datatransferitem closer to the spec
  components/script/dom/datatransferitem.rs
  components/script/dom/datatransferitemlist.rs
  components/script/drag_data_store.rs
Owners: @gterzian

add DataTransferItemList remove() test case
  tests/wpt/tests/html/editing/dnd/datastore/datatransferitemlist-remove.html
Owners: none

layout: implement scroll of viewport for different axes
  components/layout_2020/flow/root.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove `BoxFragment::overflow_clip_rect()`
  components/layout_2020/display_list/stacking_context.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: explicitly handle overflow match
  components/shared/webrender/display_list.rs
Owners: none

layout: Remove `BoxFragment::overflow_clip_rect()` (#35443)
  components/layout_2020/display_list/stacking_context.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Basic implementation of size keywords on `flex-basis` (#35413)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/flex-basis-intrinsics-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/flex-basis-1.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-column.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-row.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update components/shared/webrender/Cargo.toml
  components/shared/webrender/Cargo.toml
Owners: none

chore: Remove outdated FIXME.
  components/script/dom/bindings/iterable.rs
Owners: @gterzian

chore: Remove outdated FIXME. (#35458)
  components/script/dom/bindings/iterable.rs
Owners: @gterzian

layout: Implement overflow scroll support for different axes (#35414)
  Cargo.lock
  components/layout/display_list/builder.rs
  components/layout/display_list/items.rs
  components/layout/display_list/webrender_helpers.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/style_ext.rs
  components/shared/script/tests/compositor.rs
  components/shared/webrender/Cargo.toml
  components/shared/webrender/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
