Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Make DOMPoint and DOMPointReadOnly serializable (#35989)
  components/script/dom/abstractworker.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/dompoint.rs
  components/script/dom/dompointreadonly.rs
  components/script/dom/history.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/worker.rs
  components/script/serviceworker_manager.rs
  components/shared/base/id.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
  tests/wpt/meta/css/geometry/structured-serialization.html.ini
Owners: @gterzian

Apply suggestions from code review and format
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/shared/embedder/user_content_manager.rs
Owners: @gterzian

Revert unrelated change
  components/script/script_thread.rs
Owners: @gterzian

Allow setting userscripts directly without the need of files (#35388)
  components/config/opts.rs
  components/config/pref_util.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/user_content_manager.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @gterzian, @atbrakhi, @jschwe

fix: root element not establishing stacking context (#35390)
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context-ref.html
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Enable colorSchemeSimulation support in TargetConfigurationActor (#35867 Step 1)
  components/devtools/actors/watcher/target_configuration.rs
Owners: none

Devtools replay tool
  etc/devtools-tools/.gitignore
  etc/devtools-tools/Cargo.lock
  etc/devtools-tools/Cargo.toml
  etc/devtools-tools/src/main.rs
Owners: none

Forgive client requests we have no reply for
  etc/devtools-tools/src/main.rs
Owners: none

Handle some types of spontaneous messages
  etc/devtools-tools/src/main.rs
Owners: none

Split resources-available-array by watchResources resourceTypes
  etc/devtools-tools/src/main.rs
Owners: none

Implement actor chain for #35867: active_tab in RootActor, browsing_context in TabDescriptorActor
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/actors/watcher/target_configuration.rs
  components/devtools/lib.rs
Owners: none

new_js_regex and matches_js_regex need a CanGc argument
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

new_js_regex and matches_js_regex need a CanGc argument
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Propagate CanGc arguments through new_js_regex and matches_js_regex
  Cargo.toml
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Propagate CanGc arguments through new_js_regex and matches_js_regex
  components/script/devtools.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script/dom/validation.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

[feature](font_matching, ohos_fontconfig):
  components/config/prefs.rs
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/font_context.rs
  components/fonts/font_template.rs
  components/fonts/lib.rs
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/font_list.rs
  components/fonts/platform/freetype/freetype_errors.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/README.md
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/iso_values_converter.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/platform/macos/font_list.rs
  components/fonts/platform/mod.rs
  components/fonts/platform/windows/font_list.rs
  components/fonts/system_font_service.rs
  components/fonts/tests/font_context.rs
  components/fonts/tests/support/OHOS_fontconfig/test_fontconfig.json
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/shared/embedder/resources.rs
  ports/servoshell/egl/ohos/resources.rs
  resources/last-resort-font/LICENSE
  resources/last-resort-font/LastResortHE-Regular.ttf
  resources/last-resort-font/README.md
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

Update WPT expectations
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: none

Start working on a basic URLPattern implementation
  components/script/dom/htmlinputelement.rs
  components/script/dom/mod.rs
  components/script/dom/urlpattern.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/URLPattern.webidl
  python/tidy/tidy.py
Owners: @gterzian

Preference-gate the URLPattern API
  components/config/prefs.rs
  components/script_bindings/webidls/URLPattern.webidl
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
Owners: none

Made MAX_TASK_NS u128. Also removed a superfluous into(). Both were required to fix #36122 with nightly 1.85.0 (4d91de4e4 2025-02-17). (#36169)
  components/metrics/lib.rs
  components/script/script_thread.rs
Owners: @gterzian

Fix full wildcard value (Should be ".*" not "*")
  components/script/dom/urlpattern.rs
Owners: @gterzian

Apply suggestion
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-unreachable-region.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-unreachable-region.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Start implementing the `URLPattern` API (#36144)
  components/config/prefs.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/mod.rs
  components/script/dom/urlpattern.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/URLPattern.webidl
  python/tidy/tidy.py
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

fix: validate radio inputs with no name properly
  Cargo.toml
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

fix: validate radio inputs with no name properly
  Cargo.toml
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Replace some uses of window.global() with upcast.
  components/script/dom/windowproxy.rs
  components/script/script_thread.rs
Owners: @gterzian

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Add ViewportDescription
  components/shared/webrender/viewport_description.rs
Owners: none

fix(parser): Set shadow’s available to element internals in attach_declarative_shadow
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-available-to-element-internals.html.ini
Owners: @gterzian

setup basic interface for transfer
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Stash the ViewportDescription to |webview|
  components/compositing/compositor.rs
  components/compositing/webview.rs
Owners: @mrobinson

Process Key Value Pairs into ViewportDescription
  components/script/dom/htmlmetaelement.rs
  components/shared/webrender/viewport_description.rs
Owners: @gterzian

Pass Viewport Description to compositor
  components/compositing/compositor.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/webrender/lib.rs
Owners: @mrobinson, @gterzian

Refactor compositor and webview to use viewport attributes parsed from meta
  components/compositing/compositor.rs
  components/compositing/webview.rs
Owners: @mrobinson

fix(parser): Set shadow’s available to element internals in attach_declarative_shadow (#36173)
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-available-to-element-internals.html.ini
Owners: @gterzian

Replace some uses of window.global() with upcast. (#36179)
  components/script/dom/windowproxy.rs
  components/script/script_thread.rs
Owners: @gterzian

implement transfer steps
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

add link to steps
  components/script/dom/readablestream.rs
Owners: @gterzian

More passing tests
  components/script/dom/htmlscriptelement.rs
  components/script/fetch.rs
  tests/wpt/meta/fetch/private-network-access/mixed-content-fetch.tentative.https.window.js.ini
  tests/wpt/meta/mixed-content/blob.https.sub.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/img-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/img-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/picture-tag.https.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/audio-upgrade.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/image-upgrade.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/mixed-content-cors.https.sub.html.ini
  tests/wpt/meta/mixed-content/tentative/autoupgrades/video-upgrade.https.sub.html.ini
Owners: @gterzian

Plumb through ancestor origin trustworthiness
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/node.rs
  components/script/dom/notification.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/websocket.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/script_thread.rs
  components/script/serviceworker_manager.rs
  components/script/stylesheet_loader.rs
  components/shared/net/request.rs
  components/url/lib.rs
  components/url/origin.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
