Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Update test expectations (#35010)
  tests/wpt/meta/fetch/range/blob.any.js.ini
  tests/wpt/meta/xhr/blob-range.any.js.ini
Owners: none

script: Implement `set_up`, `ReleaseLock`, `Closed`, `Cancel`, `acquire_byob_reader` for `ReadableStreamBYOBReader` (#34958)
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/mod.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/webidls/ReadableStreamDefaultReader.webidl
Owners: @gterzian

Add support for Upgrade request to a potentially trustworthy URL.
  components/net/fetch/methods.rs
  components/net/tests/http_loader.rs
  components/shared/net/request.rs
Owners: none

resolve comments
  Cargo.lock
  components/net/fetch/methods.rs
  components/net/request_intercepter.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
Owners: none

fix and add test
  components/net/fetch/methods.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
Owners: none

Implement WebResourceRequested Event on the Embedder Layer
  Cargo.lock
  components/constellation/tracing.rs
  components/net/fetch/methods.rs
  components/net/lib.rs
  components/net/request_intercepter.rs
  components/net/resource_thread.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

remove sample code in webview
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @atbrakhi, @jschwe

./mach format
  components/net/fetch/methods.rs
  components/net/lib.rs
  components/net/request_intercepter.rs
  components/net/tests/fetch.rs
  components/shared/embedder/lib.rs
Owners: none

remove typo
  components/shared/embedder/lib.rs
Owners: none

fix test fail caused by interception message
  components/net/tests/fetch.rs
  components/net/tests/main.rs
Owners: none

update impl for is_for_main_frame
  components/net/request_intercepter.rs
  components/shared/embedder/lib.rs
Owners: none

Remove `resources/prefs.json`
  components/shared/embedder/resources.rs
  python/servo/package_commands.py
  python/tidy/test.py
  python/tidy/tidy.py
  resources/prefs.json
  servo-tidy.toml
Owners: none

Remove `resources/prefs.json` (#34999)
  components/shared/embedder/resources.rs
  python/servo/package_commands.py
  python/tidy/test.py
  python/tidy/tidy.py
  resources/prefs.json
  servo-tidy.toml
Owners: none

Implement WebResourceRequested Event. (#34961)
  Cargo.lock
  components/constellation/tracing.rs
  components/net/fetch/methods.rs
  components/net/lib.rs
  components/net/request_intercepter.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @atbrakhi, @jschwe

Update wgpu to v24
  Cargo.lock
  Cargo.toml
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/wgpu_thread.rs
Owners: none

`dom.webgpu.enabled` -> `dom_webgpu_enabled`
  components/script/dom/webidls/WebGPU.webidl
  ports/servoshell/prefs.rs
Owners: @gterzian

layout: Allow different collapsed border style/color within a row/column (#35003)
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-bottom-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-collapse-dynamic-cell-002.xht.ini
  tests/wpt/meta/css/css-tables/collapsed-border-remove-cell.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Allow layouts to customize their used style
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

chore: Update wgpu and fix webgpu pref (#35020)
  Cargo.lock
  Cargo.toml
  components/script/dom/webidls/WebGPU.webidl
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/wgpu_thread.rs
  ports/servoshell/prefs.rs
Owners: @gterzian

Script: implement-ReadableStreamBYOBRequest
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/webidls/ReadableStreamBYOBReader.webidl
Owners: @gterzian

layout: Make table column constraint distribution more generic
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove typedarray_elem_siz
  components/script/dom/webgl2renderingcontext.rs
Owners: @gterzian

Remove typedarray_elem_siz (#35022)
  components/script/dom/webgl2renderingcontext.rs
Owners: @gterzian

layout: Allow layouts to customize their used style (#35012)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

crown: Add periods to all diagnostic messages.
  support/crown/src/unrooted_must_root.rs
Owners: none

Tidy.
  support/crown/src/unrooted_must_root.rs
Owners: none

Fix compile-fail test expectations.
  support/crown/tests/compile-fail/missing_allow_in_rc.rs
  support/crown/tests/compile-fail/missing_unrooted_interior.rs
  support/crown/tests/compile-fail/missing_unrooted_interior_on_trait.rs
  support/crown/tests/compile-fail/type_holder_user_must_root.rs
Owners: none

Support future uses of traits with associated types in rooting analysis (#34359)
  components/script/dom/console.rs
  components/script/dom/webxr/xrhand.rs
  support/crown/src/unrooted_must_root.rs
  support/crown/tests/compile-fail/missing_allow_in_rc.rs
  support/crown/tests/compile-fail/missing_unrooted_interior.rs
  support/crown/tests/compile-fail/missing_unrooted_interior_on_trait.rs
  support/crown/tests/compile-fail/trait_type_impl_must_root.rs
  support/crown/tests/run-pass/allow_interior_trait.rs
  support/crown/tests/run-pass/allow_trait_in_rc.rs
  support/crown/tests/run-pass/allowed_interior.rs
Owners: @gterzian

Split `HeapBufferSource` implementation TypedArrayElement and TypedArrayElement + TypedArrayElementCreator parts
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Disable AbortController preference for tests.
  tests/wpt/meta/__dir__.ini
Owners: none

Fix check for unused subdir in wpt import script
  python/wpt/update.py
Owners: none

Fix check for unused subdir in wpt import script (#35036)
  python/wpt/update.py
Owners: none

prefs: Move some `DebugOptions` to `Preferences` and clean up (#34998)
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/config/opts.rs
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  components/shared/canvas/lib.rs
  ports/servoshell/prefs.rs
  resources/wpt-prefs.json
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: none

servo-media 1e28d1d997: don't unwrap ServoMedia::get()
  Cargo.lock
  components/script/dom/baseaudiocontext.rs
  components/script/dom/document.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/mediadevices.rs
  components/script/dom/mediastreamaudiodestinationnode.rs
  components/script/dom/rtcpeerconnection.rs
Owners: @gterzian

servo-media 1e28d1d997: don't unwrap ServoMedia::get() (#35049)
  Cargo.lock
  components/script/dom/baseaudiocontext.rs
  components/script/dom/document.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/mediadevices.rs
  components/script/dom/mediastreamaudiodestinationnode.rs
  components/script/dom/rtcpeerconnection.rs
Owners: @gterzian

Don't generate gstreamer data when dummy media backend enabled.
  components/servo/build.rs
Owners: none

config: Derive defaults for Opts.
  components/config/opts.rs
Owners: none

config: Derive defaults for Opts. (#35057)
  components/config/opts.rs
Owners: none

Use spec compliant content-type extraction in more places and enable a <stylesheet> quirk
  Cargo.lock
  components/net/fetch/methods.rs
  components/script/Cargo.toml
  components/script/dom/headers.rs
  components/script/dom/xmlhttprequest.rs
  components/script/stylesheet_loader.rs
  components/shared/net/Cargo.toml
  components/shared/net/fetch/headers.rs
  components/shared/net/response.rs
  tests/wpt/meta/encoding/single-byte-decoder.window.js.ini
  tests/wpt/meta/fetch/content-type/response.window.js.ini
  tests/wpt/meta/fetch/nosniff/script.html.ini
  tests/wpt/meta/fetch/nosniff/stylesheet.html.ini
  tests/wpt/meta/fetch/nosniff/worker.html.ini
  tests/wpt/meta/mimesniff/mime-types/charset-parameter.window.js.ini
  tests/wpt/meta/mimesniff/mime-types/parsing.any.js.ini
  tests/wpt/meta/workers/importscripts_mime.any.js.ini
Owners: @gterzian

Don't generate gstreamer data when dummy media backend enabled. (#35056)
  components/servo/build.rs
Owners: none
