Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Make non-normal align-content establish a block formatting context
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-align/blocks/align-content-block-001.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-002.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-004.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-005.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-006.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-007.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-008.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-009.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-010.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-011.html.ini
  tests/wpt/tests/css/css-align/blocks/align-content-block-006.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-007.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-008.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-009.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-010.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-011.html
Owners: @mrobinson, @Loirooriol, @nicoburns

webdriver: Serialize JS int values as i32. (#34997)
  components/script/webdriver_handlers.rs
  components/shared/script/webdriver_msg.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

implement ClipboardEvent interface
  components/script/dom/clipboardevent.rs
  components/script/dom/mod.rs
  components/script/dom/webidls/ClipboardEvent.webidl
Owners: @gterzian

draft implementation of clipboard events
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
Owners: @mrobinson, @gterzian, @atbrakhi

handle received clipboard events inside html elemtents
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
Owners: @gterzian

use rustdoc style
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
Owners: @gterzian

fix compilation errors due to rebase
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
Owners: @gterzian

fonts: Remove synchronous web font loading functionality
  components/config/opts.rs
  components/fonts/font_context.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: none

fonts: Remove synchronous web font loading functionality (#35000)
  components/config/opts.rs
  components/fonts/font_context.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: none

CI: use new self-hosted runner servers
  .github/workflows/self-hosted-runner-select.yml
Owners: none

CI: use new self-hosted runner servers (#35002)
  .github/workflows/self-hosted-runner-select.yml
Owners: none

update arboard crate
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
Owners: none

improve paste events
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/webview.rs
Owners: @gterzian, @atbrakhi

code cleanup
  Cargo.lock
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/datatransfer.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/webview.rs
Owners: @mrobinson, @gterzian, @atbrakhi

restrict visibility of some methods to script crate
  components/script/dom/clipboardevent.rs
  components/script/dom/datatransfer.rs
Owners: @gterzian

propagate CanGc argument
  components/script/dom/datatransfer.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/script_thread.rs
Owners: @gterzian

simplify handle_clipboard_msg
  components/constellation/constellation.rs
Owners: none

remove code duplication
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/script_thread.rs
  components/script/textinput.rs
Owners: @gterzian

fix potential borrow hazard
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
Owners: @gterzian

add clipboard_event pref, restore unit test code
  Cargo.lock
  components/config/prefs.rs
  components/script/dom/webidls/ClipboardEvent.webidl
  components/script/textinput.rs
  resources/prefs.json
Owners: @gterzian

retrict visibility of some document's methods
  components/script/dom/document.rs
Owners: @gterzian

check if clipboardevent is trusted
  components/script/dom/document.rs
  components/script/textinput.rs
Owners: @gterzian

prefs: Move some `DebugOptions` to `Preferences` and clean up
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/config/opts.rs
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  components/shared/canvas/lib.rs
  ports/servoshell/prefs.rs
  resources/wpt-prefs.json
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: none

layout: Allow different collapsed border style/color within a row/column
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-bottom-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-collapse-dynamic-cell-002.xht.ini
  tests/wpt/meta/css/css-tables/collapsed-border-remove-cell.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove #[allow(crown::unrooted_must_root)] from ReadRequest and ReadIntoRequest
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

Adjust code comment
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

enable clipboardevent
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  resources/prefs.json
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: none

layout: Make non-`normal` `align-content` establish a block formatting context (#34984)
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-align/blocks/align-content-block-001.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-002.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-004.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-005.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-006.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-007.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-008.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-009.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-010.html.ini
  tests/wpt/meta/css/css-align/blocks/align-content-block-011.html.ini
  tests/wpt/tests/css/css-align/blocks/align-content-block-006.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-007.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-008.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-009.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-010.html
  tests/wpt/tests/css/css-align/blocks/align-content-block-011.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix clippy
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

file dialog implementation for single file selection
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

./mach fmt
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

Reorder a couple include.ini entries.
  tests/wpt/include.ini
Owners: none

Enable webdriver conformance tests.
  tests/wpt/include.ini
Owners: none

fix compilation for egl ports
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

Fix build failure with tracing feature
  components/servo/lib.rs
Owners: none

Fix warning about unused tracing span.
  components/script/dom/bindings/settings_stack.rs
Owners: @gterzian

Implement Clipboard Event Api (#33576)
  components/compositing/windowing.rs
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/datatransfer.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/mod.rs
  components/script/dom/webidls/ClipboardEvent.webidl
  components/script/drag_data_store.rs
  components/script/script_thread.rs
  components/script/textinput.rs
  components/servo/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/servo_glue.rs
  resources/prefs.json
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

Update test expectations
  tests/wpt/meta/fetch/range/blob.any.js.ini
  tests/wpt/meta/xhr/blob-range.any.js.ini
Owners: none

crown: Check type aliases as part of associated type checks.
  components/script/dom/console.rs
  components/script/dom/testns.rs
  components/script/dom/webxr/xrhand.rs
  support/crown/src/unrooted_must_root.rs
Owners: @gterzian

Fix build failure with tracing feature (#35009)
  components/script/dom/bindings/settings_stack.rs
  components/servo/lib.rs
Owners: @gterzian
