Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

fix: Update atomic inline-level logic for display: inline-grid to be considered an atomic inline
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  tests/wpt/meta/css/css-grid/subgrid/repeat-auto-fill-005.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

remove .ini expectations for tests that are no longer failing.
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-015.html.ini
  tests/wpt/meta/css/css-grid/grid-container-baseline-synthesized-001.html.ini
  tests/wpt/meta/css/css-grid/grid-container-baseline-synthesized-002.html.ini
  tests/wpt/meta/css/css-grid/grid-container-baseline-synthesized-003.html.ini
  tests/wpt/meta/css/css-grid/grid-container-baseline-synthesized-004.html.ini
  tests/wpt/meta/css/css-grid/grid-model/grid-container-scrollbars-sizing-002.html.ini
  tests/wpt/meta/css/css-grid/subgrid/independent-tracks-from-parent-grid.html.ini
  tests/wpt/meta/css/css-grid/subgrid/subgrid-baseline-012.html.ini
  tests/wpt/meta/css/css-grid/subgrid/subgrid-no-items-on-edges-001.html.ini
Owners: none

Seperate WebviewManager from Webview
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview.rs
  components/compositing/webview_manager.rs
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/webview_manager.rs
Owners: @mrobinson

Add overflow default property for replaced element
  resources/servo.css
Owners: none

Add license for WHATWG specifications in code (#36282)
  LICENSE_WHATWG_SPECS
Owners: none

localStorage: track changes instead of overwrite
  Cargo.lock
  components/net/Cargo.toml
  components/net/resource_thread.rs
  components/net/storage_thread.rs
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: none

remove unnecessary cloning
  components/webdriver_server/lib.rs
Owners: none

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Fall back to option textcontent for display when label is empty
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

Fix HTMLOptionElement::owner_select_element
  components/script/dom/htmloptionelement.rs
Owners: @gterzian

Add doc comments
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/validitystate.rs
Owners: @gterzian

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Strip newlines/whitespace for displayed option label
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Repaint select element when the label of an option changes
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Create a more general form control API for select element pickers
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

Make description of quirks-mode test more helpful
  tests/wpt/tests/html/rendering/widgets/the-select-element/option-add-label-quirks.html
Owners: none

Update WPT expectations
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-label-whitespace.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-with-br.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-button-min-height-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-empty.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
  tests/wpt/meta/html/rendering/widgets/select-wrap-no-spill.optional.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-add-label-quirks.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-checked-styling.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/select-marker-end-aligned.tentative.html.ini
Owners: none

Implement document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Update web platform tests for document.scrollingElement
  tests/wpt/meta/css/cssom-view/HTMLBody-ScrollArea_quirksmode.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrolling-quirks-vs-nonquirks.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

Update document.scrollingElement implementation based on review
  components/script/dom/document.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Remove unused wpt configurations after implementing document.scrollingElement
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

Implement parent overflow:clip as overflow:hidden for document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

document.scrollingElement: comment and parameter adjustment based on review
  components/script/dom/element.rs
Owners: @gterzian

document.scrollingElement: update web platform tests for overflow:clip
  tests/wpt/tests/css/cssom-view/scrollingElement.html
Owners: none

Address review comments
  components/script/dom/document.rs
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Support single-value `<select>` elements (#35684)
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/validitystate.rs
  components/script_bindings/codegen/Bindings.conf
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
  resources/servo.css
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-label-whitespace.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-with-br.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-button-min-height-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-empty.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
  tests/wpt/meta/html/rendering/widgets/select-wrap-no-spill.optional.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-add-label-quirks.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-checked-styling.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/select-marker-end-aligned.tentative.html.ini
  tests/wpt/tests/html/rendering/widgets/the-select-element/option-add-label-quirks.html
Owners: @gterzian, @atbrakhi

Implement `WebDriverCommand::DeleteCookie`
  components/net/cookie_storage.rs
  components/net/resource_thread.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/webdriver.rs
  components/shared/net/lib.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

layout: Improve style conversion for Taffy
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-grid/alignment/grid-align-justify-margin-border-padding.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-align.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-column-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-and-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-item-alignment-with-orthogonal-flows.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-row-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-self-alignment.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Implement deprecated CSSStyleSheet members
  components/script/dom/cssstylesheet.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-cascade/at-scope-parsing.html.ini
  tests/wpt/meta/css/css-conditional/at-supports-whitespace.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-004.html.ini
  tests/wpt/meta/css/css-nesting/parsing.html.ini
  tests/wpt/meta/css/css-nesting/serialize-group-rules-with-decls.html.ini
  tests/wpt/meta/css/css-syntax/custom-property-rule-ambiguity.html.ini
  tests/wpt/meta/css/css-syntax/invalid-nested-rules.html.ini
  tests/wpt/meta/css/css-syntax/trailing-braces.html.ini
  tests/wpt/meta/css/css-syntax/var-with-blocks.html.ini
  tests/wpt/meta/css/css-transitions/parsing/starting-style-parsing.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
  tests/wpt/meta/css/cssom/insertRule-across-context.html.ini
Owners: @gterzian

layout: Improve style conversion for Taffy (#36311)
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-grid/alignment/grid-align-justify-margin-border-padding.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-align.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-column-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-and-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-item-alignment-with-orthogonal-flows.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-row-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-self-alignment.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Implement deprecated CSSStyleSheet members (#36313)
  components/script/dom/cssstylesheet.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-cascade/at-scope-parsing.html.ini
  tests/wpt/meta/css/css-conditional/at-supports-whitespace.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-004.html.ini
  tests/wpt/meta/css/css-nesting/parsing.html.ini
  tests/wpt/meta/css/css-nesting/serialize-group-rules-with-decls.html.ini
  tests/wpt/meta/css/css-syntax/custom-property-rule-ambiguity.html.ini
  tests/wpt/meta/css/css-syntax/invalid-nested-rules.html.ini
  tests/wpt/meta/css/css-syntax/trailing-braces.html.ini
  tests/wpt/meta/css/css-syntax/var-with-blocks.html.ini
  tests/wpt/meta/css/css-transitions/parsing/starting-style-parsing.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
  tests/wpt/meta/css/cssom/insertRule-across-context.html.ini
Owners: @gterzian

implement the message and error handlers of the cross realm transform writable
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

Add is_root to ThreadSafeLayoutElement and use strict CSS2 in WPT
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
  components/script/layout_dom/element.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context-ref.html
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Simplify WPT ref case and clarify documentation
  components/layout_2020/fragment_tree/base_fragment.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns

chore: update test expectation for repeat-auto-fill-005.html
  tests/wpt/meta/css/css-grid/subgrid/repeat-auto-fill-005.html.ini
Owners: none

fix: root element not establishing stacking context (#35390) (#36174)
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
  components/script/layout_dom/element.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context-ref.html
  tests/wpt/tests/css/CSS2/stacking-context/root-element-creates-stacking-context.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Animation: update image active frame when update the rendering
  components/script/animations.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/image_animation.rs
  components/script/script_thread.rs
  components/shared/script_layout/lib.rs
Owners: @gterzian

fix dictionary property names
  components/script/dom/writablestream.rs
Owners: @gterzian

implement abort algorithm for transform writable
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
