Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

add CanGc to new_rejected
  components/script/dom/promise.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/html/rendering/non-replaced-elements/flow-content-0/slot-element-focusable.tentative.html.ini
  tests/wpt/meta/shadow-dom/MouseEvent-prototype-offsetX-offsetY.html.ini
  tests/wpt/meta/shadow-dom/ShadowRoot-interface.html.ini
Owners: none

Remove the traversal for DomRoot values when collection memory usage
  components/script_bindings/root.rs
Owners: none

Remove the traversal for DomRoot values when collection memory usage (#35607)
  components/script_bindings/root.rs
Owners: none

refactor: add CanGc as argument to SubtleCrypto::generate_key_hmac
  components/script/dom/subtlecrypto.rs
Owners: @gterzian

refactor: add CanGc as argument to WindowProxy::set_window
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/script_thread.rs
Owners: @gterzian

refactor: add CanGc as argument to DataBlock::view
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to Promise::new_rejected
  components/script/body.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

chore: silence unused import warning in app_state.rs
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

chore: silence unused import warning in app_state.rs (#35612)
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

refactor: add CanGc as argument to WindowProxy::set_window (#35609)
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/script_thread.rs
Owners: @gterzian

refactor: add CanGc as argument to DataBlock::view (#35610)
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

script: add `CanGc` argument to `Promise::new_resolved` and `Promise::new_rejected` (#35605)
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Move weak references implementation to script_bindings.
  components/script/dom/bindings/weakref.rs
  components/script_bindings/lib.rs
  components/script_bindings/weakref.rs
Owners: @gterzian

Move maplike/setlike definitions to script_bindings.
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/like.rs
  components/script_bindings/iterable.rs
  components/script_bindings/lib.rs
  components/script_bindings/like.rs
Owners: @gterzian

Unify `(Offscreen)CanvasRenderingContext2d` and make `PaintRenderingContext2D` standalone
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

refactor RTCError::new_inherited
  components/script/dom/rtcerror.rs
Owners: @gterzian

Move base error types to script_bindings.
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/cssrulelist.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/script_module.rs
  components/script_bindings/error.rs
  components/script_bindings/lib.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/like.rs
  components/script/dom/bindings/weakref.rs
  components/script/dom/cssrulelist.rs
  components/script_bindings/weakref.rs
Owners: @gterzian

Move more bindings types to script_bindings (#35620)
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/like.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/bindings/weakref.rs
  components/script/dom/cssrulelist.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script/script_module.rs
  components/script_bindings/error.rs
  components/script_bindings/iterable.rs
  components/script_bindings/lib.rs
  components/script_bindings/like.rs
  components/script_bindings/trace.rs
  components/script_bindings/weakref.rs
Owners: @gterzian

refactor RTCError::new_inherited (#35617)
  components/script/dom/rtcerror.rs
Owners: @gterzian

Propagate more `CanGc`
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/subtlecrypto.rs
  components/script/script_module.rs
Owners: @gterzian

Fixup doccomments
  components/script/dom/htmlprogresselement.rs
Owners: @gterzian

Implement the <progress> element
  components/script/dom/htmlprogresselement.rs
  components/script/dom/virtualmethods.rs
  resources/servo.css
Owners: @gterzian

Unify `(Offscreen)CanvasRenderingContext2d` and make `PaintRenderingContext2D` standalone (#35619)
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Propagate more `CanGc` (#35604)
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/subtlecrypto.rs
  components/script/script_module.rs
Owners: @gterzian

libservo: Move size handling to `RenderContext` from `WindowMethods`
  Cargo.lock
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/ServoView.java
Owners: @mrobinson, @atbrakhi, @jschwe

Improve scheduling of the memory profiler. (#35618)
  Cargo.lock
  components/profile/Cargo.toml
  components/profile/mem.rs
Owners: none

refactor: add CanGc as argument to Promise::reject
  components/script/body.rs
  components/script/dom/promise.rs
  components/script/dom/testbinding.rs
  components/script/dom/writablestream.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to Promise::reject (#35622)
  components/script/body.rs
  components/script/dom/promise.rs
  components/script/dom/testbinding.rs
  components/script/dom/writablestream.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

[feature](text-overflow-ellipsis): Creation of storage for necesarry parameters to alter rendering.
  Cargo.lock
  Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_2020/construct_modern.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Create separate fragments storage for ellipsis elements
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Try to reuse parts of line layout code for ellipsis fragments positioning.
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): MVP version
  components/fonts/glyph.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Additional ellipsis fragments is rendered.
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Delete comented code
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Add a reminder to add fallback.
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](text-overflow): Clear line items before resetting cuttent line segment. Part of the process of ellipsis Line Items layout
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix]: Crop the content area of fragments in addition to child fragments
  components/layout_2020/flow/inline/line.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Fix linter errors; Style improvements
  components/fonts/glyph.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/positioned.rs
Owners: @mrobinson, @Loirooriol, @nicoburns
