Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Avoid starting transitions if values can't be interpolated (#35234)
  Cargo.lock
  tests/wpt/tests/css/css-transitions/transition-behavior-events.html
Owners: none

Update python/servo/command_base.py
  python/servo/command_base.py
Owners: none

crown: Pass `--cfg crown` to rustc from crown (#35073)
  python/servo/command_base.py
  support/crown/src/main.rs
  support/crown/tests/run-pass/cfg_crown.rs
Owners: none

Let `resolve_color()` take its parameter by reference
  Cargo.lock
  components/layout/display_list/builder.rs
  components/layout/display_list/gradient.rs
  components/layout/table.rs
  components/layout_2020/display_list/gradient.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  components/layout_thread/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Cargo.toml cleanup
  Cargo.toml
Owners: none

More cleanup, less unwrap()
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

Cargo.toml cleanup (#35248)
  Cargo.toml
Owners: none

Let `resolve_color()` take its parameter by reference (#35247)
  Cargo.lock
  components/layout/display_list/builder.rs
  components/layout/display_list/gradient.rs
  components/layout/table.rs
  components/layout_2020/display_list/gradient.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  components/layout_thread/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement ServoLayoutElement::slotted_nodes
  components/script/dom/htmlslotelement.rs
  components/script/layout_dom/element.rs
Owners: @gterzian

Make Slottable match layout/alignment of NonNull<Node>
  components/script/dom/bindings/root.rs
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/text.rs
  components/script/layout_dom/node.rs
Owners: @gterzian

Bump mozjs
  Cargo.lock
  components/script/layout_dom/element.rs
Owners: @gterzian

implement ServoLayoutElement::traversal_parent
  components/script/layout_dom/element.rs
Owners: @gterzian

Don't iterate over children of shadow hosts
  components/script/layout_dom/element.rs
Owners: @gterzian

Simplify slottable name update
  components/script/dom/element.rs
Owners: @gterzian

Layout the contents of slot elements
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement ServoLayoutElement::assigned_slot
  components/script/dom/element.rs
  components/script/layout_dom/element.rs
Owners: @gterzian

Recompute slot style when contents change
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

Implement the Bytes() method on Request and Response
  components/script/body.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Body.webidl
  tests/wpt/meta/fetch/api/idlharness.any.js.ini
  tests/wpt/meta/fetch/api/request/request-consume.any.js.ini
  tests/wpt/meta/fetch/api/response/response-blob-realm.any.js.ini
  tests/wpt/meta/fetch/api/response/response-error-from-stream.any.js.ini
  tests/wpt/meta/fetch/api/response/response-stream-bad-chunk.any.js.ini
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/meta/css/css-display/display-contents-slot-attach-whitespace.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order-scoping.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order.html.ini
  tests/wpt/meta/css/css-text-decor/text-decoration-propagation-shadow.html.ini
  tests/wpt/meta/css/css-text/white-space/remove-slotted-with-whitespace-sibling.html.ini
  tests/wpt/meta/html/canvas/element/2d.text-outside-of-the-flat-tree.html.ini
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
  tests/wpt/meta/shadow-dom/focus/focus-pseudo-on-shadow-host-2.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-fallback-clear.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-layout-invalidation-001.html.ini
  tests/wpt/meta/shadow-dom/layout-slot-no-longer-fallback.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-001.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-002.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-007.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/reprojection/reprojection-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/shadow-root-002.html.ini
Owners: none

Fix crown errors
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/text.rs
Owners: @gterzian

Change match_slottable to a function instead of a macro
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

More cleanup, less unwrap() (#35249)
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

chore(servo): simplify servo example
  components/servo/examples/winit_minimal.rs
Owners: none

chore(servo): simplify servo example (#35253)
  components/servo/examples/winit_minimal.rs
Owners: none

Only consider fully active documents when running the 'update the rendering' steps (#35245)
  components/script/dom/document.rs
  components/script/script_thread.rs
Owners: @gterzian

libservo: Make background hang monitor integration optional.
  components/background_hang_monitor/Cargo.toml
  components/background_hang_monitor/background_hang_monitor.rs
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: none

Consolidated opts into a manual Default trait implementation
  components/config/opts.rs
Owners: none

libservo: Make background hang monitor integration optional. (#35256)
  components/background_hang_monitor/Cargo.toml
  components/background_hang_monitor/background_hang_monitor.rs
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: none

Consolidated opts into a manual Default trait implementation (#35257)
  components/config/opts.rs
Owners: none

avoid unsafe code during buffer creation
  components/script/body.rs
Owners: @gterzian

script: Implement the Bytes() method on Request and Response (#35250)
  components/script/body.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Body.webidl
  tests/wpt/meta/fetch/api/idlharness.any.js.ini
  tests/wpt/meta/fetch/api/request/request-consume.any.js.ini
  tests/wpt/meta/fetch/api/response/response-blob-realm.any.js.ini
  tests/wpt/meta/fetch/api/response/response-error-from-stream.any.js.ini
  tests/wpt/meta/fetch/api/response/response-stream-bad-chunk.any.js.ini
Owners: @gterzian

Reset a slottable's assigned slot when it's removed from the slot
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
Owners: @gterzian

Lay out the contents of slot elements (#35220)
  Cargo.lock
  components/layout_2020/dom_traversal.rs
  components/script/dom/bindings/root.rs
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/text.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/meta/css/css-display/display-contents-slot-attach-whitespace.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order-scoping.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order.html.ini
  tests/wpt/meta/css/css-text-decor/text-decoration-propagation-shadow.html.ini
  tests/wpt/meta/css/css-text/white-space/remove-slotted-with-whitespace-sibling.html.ini
  tests/wpt/meta/html/canvas/element/2d.text-outside-of-the-flat-tree.html.ini
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
  tests/wpt/meta/shadow-dom/focus/focus-pseudo-on-shadow-host-2.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-fallback-clear.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-layout-invalidation-001.html.ini
  tests/wpt/meta/shadow-dom/layout-slot-no-longer-fallback.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-001.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-002.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-007.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/reprojection/reprojection-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/shadow-root-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Make traverse_preorder follow children of shadow hosts
  components/script/dom/node.rs
Owners: @gterzian

layout: align-content with default value normal should behave as strech in flex container
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/abspos/position-absolute-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-wrap-003.html.ini
  tests/wpt/meta/css/css-flexbox/columns-height-set-via-top-bottom.html.ini
  tests/wpt/meta/css/css-flexbox/dynamic-change-simplified-layout.html.ini
  tests/wpt/meta/css/css-flexbox/flex-lines/multi-line-wrap-reverse-column-reverse.html.ini
  tests/wpt/meta/css/css-flexbox/flex-lines/multi-line-wrap-with-column-reverse.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-stretch-vert-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-horiz-001a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-horiz-001b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-vert-001a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-horiz-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-horiz-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-vert-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-lines-must-be-stretched-by-default.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox_width-wrapping-column.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: align-content with default value normal should behave as strech in flex container (#35178)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/abspos/position-absolute-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-wrap-003.html.ini
  tests/wpt/meta/css/css-flexbox/columns-height-set-via-top-bottom.html.ini
  tests/wpt/meta/css/css-flexbox/dynamic-change-simplified-layout.html.ini
  tests/wpt/meta/css/css-flexbox/flex-lines/multi-line-wrap-reverse-column-reverse.html.ini
  tests/wpt/meta/css/css-flexbox/flex-lines/multi-line-wrap-with-column-reverse.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-stretch-vert-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-horiz-001a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-horiz-001b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-vert-001a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-break-request-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-horiz-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-horiz-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-wrap-vert-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-lines-must-be-stretched-by-default.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox_width-wrapping-column.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

chore: Rename CompositeTarget enum
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
Owners: @mrobinson, @atbrakhi

Script: implement ReadableStreamBYOBReader::Read
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

implement viewed_buffer_array_byte_length and byte_length
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Correct BufferSource implemntation
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
