Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

layout: Store shared styles for table backgrounds in `SharedBackgroundStyle` (#36893)
  components/layout/display_list/mod.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/table/construct.rs
  components/layout/table/layout.rs
  components/layout/table/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

async clipboard: implement `readText` (#36689)
  components/script/dom/clipboard.rs
  components/script/dom/clipboarditem.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
Owners: @gterzian

in writable controller start, wrap start result with a promise
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: none

Update global and window event handlers
  components/script/dom/document.rs
  components/script/dom/htmlelement.rs
  components/script/dom/macros.rs
  components/script_bindings/webidls/Document.webidl
  components/script_bindings/webidls/EventHandler.webidl
  components/script_bindings/webidls/HTMLElement.webidl
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-all-global-events.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-body-window.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-frameset-window.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-windowless-body.html.ini
Owners: @gterzian

Remove redundant #[allow(unsafe_code)]
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Fix clippy
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
Owners: @gterzian

Fix errored tests
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: @gterzian

constellation: Ignore `zombie_process` warning
  components/constellation/sandboxing.rs
Owners: none

Revert "in writable controller start, wrap start result with a promise"
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
Owners: @gterzian

Streams: make TransformStream transferrable
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/transformstream.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
Owners: none

wip: implement FetchTaskTarget::process_response()
  components/shared/net/lib.rs
Owners: none

wip: implement FetchTaskTarget for IpcSender<WebSocketNetworkEvent>
  components/shared/net/lib.rs
Owners: none

constellation: Ignore `zombie_process` warning (#36904)
  components/constellation/sandboxing.rs
Owners: none

Implement TransformStream TransformStreamDefaultController
  components/script/dom/mod.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/webidls/TransformStream.webidl
  components/script_bindings/webidls/TransformStreamDefaultController.webidl
  components/script_bindings/webidls/Transformer.webidl
  tests/wpt/include.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
  tests/wpt/meta/streams/transform-streams/backpressure.any.js.ini
  tests/wpt/meta/streams/transform-streams/cancel.any.js.ini
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/flush.any.js.ini
  tests/wpt/meta/streams/transform-streams/general.any.js.ini
  tests/wpt/meta/streams/transform-streams/lipfuzz.any.js.ini
  tests/wpt/meta/streams/transform-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/transform-streams/properties.any.js.ini
  tests/wpt/meta/streams/transform-streams/reentrant-strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/terminate.any.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Fix wrong reason
  components/script/dom/transformstream.rs
Owners: @gterzian

Fix call_result thrownError
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
Owners: @gterzian

FIx more tests
  components/script/dom/transformstreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/cancel.any.js.ini
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: @gterzian

in writable controller start, wrap start result with a promise
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: none

Remove redundant #[allow(unsafe_code)]
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Fix clippy
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
Owners: @gterzian

Fix errored tests
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
Owners: @gterzian

pixels: Overwrite RGB components on alpha multiply
  components/pixels/lib.rs
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
Owners: none

Revert "in writable controller start, wrap start result with a promise" and Fix doc and comments
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
Owners: @gterzian

Add Zed configuration files to `.gitignore`
  .gitignore
Owners: none

pixels: Actually write pixels in `MULTIPLY` `generic_transform_inplace` operations (#36895)
  components/pixels/lib.rs
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
Owners: none

webgl: Use `glow::Context::supported_extensions()` to implement `getSupportedExtensions()`
  Cargo.lock
  components/webgl/Cargo.toml
  components/webgl/webgl_thread.rs
Owners: none

Fix test-tidy
  tests/wpt/mozilla/meta/MANIFEST.json
Owners: none

Add Zed configuration files to `.gitignore` (#36909)
  .gitignore
Owners: none

webgl: Use `glow::Context::supported_extensions()` to implement `getSupportedExtensions()` (#36911)
  Cargo.lock
  components/webgl/Cargo.toml
  components/webgl/webgl_thread.rs
Owners: none

Script implement TransformStream and TransformStreamDefaultController (#36739)
  components/script/dom/mod.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/webidls/TransformStream.webidl
  components/script_bindings/webidls/TransformStreamDefaultController.webidl
  components/script_bindings/webidls/Transformer.webidl
  tests/wpt/include.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
  tests/wpt/meta/streams/transform-streams/backpressure.any.js.ini
  tests/wpt/meta/streams/transform-streams/cancel.any.js.ini
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/flush.any.js.ini
  tests/wpt/meta/streams/transform-streams/general.any.js.ini
  tests/wpt/meta/streams/transform-streams/lipfuzz.any.js.ini
  tests/wpt/meta/streams/transform-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/transform-streams/properties.any.js.ini
  tests/wpt/meta/streams/transform-streams/reentrant-strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/terminate.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Implement Droppable struct for gpubuffer
  components/script/dom/webgpu/gpubuffer.rs
Owners: @gterzian

Add module script test cases
  python/servo/devtools_tests.py
Owners: none

Fix worker test case
  python/servo/devtools_tests.py
Owners: none

Split starting web server and running servoshell
  python/servo/devtools_tests.py
Owners: none

Add test case for data URL with external classic script
  python/servo/devtools_tests.py
Owners: none

Add comment with list of cases we need to cover
  python/servo/devtools_tests.py
Owners: none

Add a proper option for logging requests
  python/servo/devtools_tests.py
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
