Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

incorporate suggestions
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

incoroporate requested changes
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

Rebaseline test
  tests/wpt/meta-legacy-layout/html/dom/render-blocking/remove-pending-async-render-blocking-script.html.ini
  tests/wpt/meta/html/dom/render-blocking/remove-pending-async-render-blocking-script.html.ini
Owners: none

send&store ImageKey on canvas_state creation
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/constellation/constellation.rs
  components/script/canvas_state.rs
  components/shared/canvas/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

fonts: Remove the per-FontGroup cached fallback font
  components/canvas/canvas_data.rs
  components/fonts/font.rs
  components/fonts/tests/font_context.rs
  components/layout/text.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_thread_2020/lib.rs
  tests/wpt/meta/css/CSS2/bidi-text/bidi-breaking-001.xht.ini
  tests/wpt/meta/css/CSS2/bidi-text/bidi-breaking-002.xht.ini
  tests/wpt/meta/css/css-content/quotes-016.html.ini
  tests/wpt/meta/css/css-content/quotes-026.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-005.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-007.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-008.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

script: implement ReadableByteStreamController
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadpose.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

implement can_copy_data_block_bytes and copy_data_block_bytes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Remove BufferSource::Default
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Remove commented code
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Remove RefCell from PullIntoDescriptor and QueueEntry
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

implement perform_pull_into
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

implement StartAlgorithmFulfillmentHandler, StartAlgorithmRejectionHandler, PullAlgorithmFulfillmentHandler, PullAlgorithmRejectionHandler for ReadableByteStreamController
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix build
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Fix build
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

add perform_cancel_steps, perform_release_steps and perform_pull_steps
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix crown
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Fix CRASH
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

unskip readable-byte-streams
  tests/wpt/include.ini
Owners: none

fix clippy
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/streams/readable-byte-streams/bad-buffers-and-views.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/construct-byob-request.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/enqueue-with-detached-buffer.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/general.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/non-transferable-buffers.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/read-min.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/respond-after-enqueue.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/tee.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/templated.any.js.ini
Owners: none

Fix BorrowMutError crashes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Fix non-transferable-buffers test
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

fix more crashes
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

Pass contexts as much as possible by reference
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

fix view_byte_length test
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Fix bad-buffers-and-views.any.js test
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Fix more CRASHS
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Make respond_internal Fallible
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

fonts: Remove the per-FontGroup cached fallback font (#35705)
  components/canvas/canvas_data.rs
  components/fonts/font.rs
  components/fonts/tests/font_context.rs
  components/layout/text.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_thread_2020/lib.rs
  tests/wpt/meta/css/CSS2/bidi-text/bidi-breaking-001.xht.ini
  tests/wpt/meta/css/CSS2/bidi-text/bidi-breaking-002.xht.ini
  tests/wpt/meta/css/css-content/quotes-016.html.ini
  tests/wpt/meta/css/css-content/quotes-026.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-005.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-007.html.ini
  tests/wpt/meta/css/css-text/word-break/word-break-keep-all-008.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix crwon
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

await wr image update sent
  components/canvas/canvas_paint_thread.rs
  components/layout/display_list/builder.rs
  components/layout_2020/replaced.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/shared/canvas/canvas.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Use stored image key in 2d canvas for layout instead of ipc recv
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/layout/display_list/builder.rs
  components/layout/fragment.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script/dom/paintworkletglobalscope.rs
  components/shared/canvas/canvas.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Don't recurse in Node::GetRootNode
  components/script/dom/node.rs
Owners: @gterzian

refactor: add CanGc as argument to BaseAudioContext::{Destination, Listener}
  components/script/dom/baseaudiocontext.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

sync cargo-deny version in python/servo/platform/base.py
  python/servo/platform/base.py
Owners: none

refactor: add CanGc as argument to BaseAudioContext::{Destination, Listener} (#35729)
  components/script/dom/baseaudiocontext.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to OffscreenCanvas methods
  components/script/dom/offscreencanvas.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

sync cargo-deny version in python/servo/platform/base.py (#35730)
  python/servo/platform/base.py
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
