Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Prepare program for future subcommands
  etc/devtools-tools/src/command/replay.rs
  etc/devtools-tools/src/main.rs
  etc/devtools-tools/src/protocol.rs
Owners: none

feat: implement ShadowRoot::setHTMLUnsafe
  components/script/dom/shadowroot.rs
Owners: @gterzian

Clippy Fix Warnings
  components/script/dom/formdataevent.rs
  components/script/dom/gamepad.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/texttracklist.rs
  components/script/dom/webxr/xrframe.rs
  components/script/dom/webxr/xrhittestresult.rs
  components/script/dom/webxr/xrreferencespace.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/webxr/openxr/graphics_d3d11.rs
  components/webxr/openxr/input.rs
  components/webxr/openxr/mod.rs
Owners: @gterzian

dom: Set "composed" flag on construction for some event types
  components/script/dom/customevent.rs
  components/script/dom/errorevent.rs
  components/script/dom/focusevent.rs
  components/script/dom/mouseevent.rs
  tests/wpt/meta/dom/events/Event-dispatch-listener-order.window.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path-with-related-target.html.ini
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
  tests/wpt/meta/shadow-dom/event-with-related-target.html.ini
Owners: @gterzian

script: Fix resize observer depth calculation for Shadow DOM. (#36230)
  components/script/dom/resizeobserver.rs
  tests/wpt/meta/resize-observer/calculate-depth-for-node.html.ini
Owners: @gterzian

dom: Set "composed" flag on construction for some event types (#36239)
  components/script/dom/customevent.rs
  components/script/dom/errorevent.rs
  components/script/dom/focusevent.rs
  components/script/dom/mouseevent.rs
  tests/wpt/meta/dom/events/Event-dispatch-listener-order.window.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path-with-related-target.html.ini
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
  tests/wpt/meta/shadow-dom/event-with-related-target.html.ini
Owners: @gterzian

Enable css-nesting WPT tests
  tests/wpt/include.ini
  tests/wpt/meta/css/css-nesting/conditional-properties.html.ini
  tests/wpt/meta/css/css-nesting/conditional-rules.html.ini
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/css-nesting/has-nesting.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-003.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-005.html.ini
  tests/wpt/meta/css/css-nesting/implicit-nesting.html.ini
  tests/wpt/meta/css/css-nesting/invalid-inner-rules.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-001.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-002.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-003.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-004.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom-whitespace.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-matching.html.ini
  tests/wpt/meta/css/css-nesting/nested-rule-cssom-invalidation.html.ini
  tests/wpt/meta/css/css-nesting/nesting-basic.html.ini
  tests/wpt/meta/css/css-nesting/nesting-layer.html.ini
  tests/wpt/meta/css/css-nesting/parsing.html.ini
  tests/wpt/meta/css/css-nesting/serialize-group-rules-with-decls.html.ini
  tests/wpt/meta/css/css-nesting/set-selector-text.html.ini
  tests/wpt/meta/css/css-nesting/supports-rule.html.ini
  tests/wpt/meta/css/css-nesting/top-level-is-scope.html.ini
  tests/wpt/meta/css/css-nesting/top-level-parent-pseudo-specificity.html.ini
Owners: none

Track the active tab and browsing context for devtools (#36168)
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/lib.rs
Owners: none

Enable css-nesting WPT tests (#36246)
  tests/wpt/include.ini
  tests/wpt/meta/css/css-nesting/conditional-properties.html.ini
  tests/wpt/meta/css/css-nesting/conditional-rules.html.ini
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/css-nesting/has-nesting.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-003.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-005.html.ini
  tests/wpt/meta/css/css-nesting/implicit-nesting.html.ini
  tests/wpt/meta/css/css-nesting/invalid-inner-rules.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-001.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-002.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-003.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-004.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom-whitespace.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-matching.html.ini
  tests/wpt/meta/css/css-nesting/nested-rule-cssom-invalidation.html.ini
  tests/wpt/meta/css/css-nesting/nesting-basic.html.ini
  tests/wpt/meta/css/css-nesting/nesting-layer.html.ini
  tests/wpt/meta/css/css-nesting/parsing.html.ini
  tests/wpt/meta/css/css-nesting/serialize-group-rules-with-decls.html.ini
  tests/wpt/meta/css/css-nesting/set-selector-text.html.ini
  tests/wpt/meta/css/css-nesting/supports-rule.html.ini
  tests/wpt/meta/css/css-nesting/top-level-is-scope.html.ini
  tests/wpt/meta/css/css-nesting/top-level-parent-pseudo-specificity.html.ini
Owners: none

script: Ensure ServiceWorker activation event is dispatched with an active realm.
  components/script/dom/serviceworkerglobalscope.rs
Owners: @gterzian

implement setup cross realm writable, with minor fixes to writable controller
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

updated test results
  out.log
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-validity-patternMismatch.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/pattern_attribute_v_flag.html.ini
Owners: none

Add SimulateColorScheme command and script thread handling
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Remove ServoParser::do_parse_sync
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Edit SimulateColorScheme to use 'embedder_traits::Theme' instead of bool
  Cargo.lock
  components/script/script_thread.rs
  components/shared/devtools/Cargo.toml
  components/shared/devtools/lib.rs
Owners: @gterzian

Remove ServoParser::do_parse_sync (#36255)
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Fix broken unittest of webview
  components/compositing/webview.rs
  python/servo/testing_commands.py
Owners: @mrobinson

Add SimulateColorScheme command and script thread handling (#36253)
  Cargo.lock
  components/script/script_thread.rs
  components/shared/devtools/Cargo.toml
  components/shared/devtools/lib.rs
Owners: @gterzian

Upgrade Taffy to v0.8.0
  Cargo.lock
  Cargo.toml
Owners: none

Update stylo_taffy conversions for taffy 0.8
  components/layout_2020/taffy/stylo_taffy/convert.rs
  components/layout_2020/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Map self-start, self-end, left and right alignment values to taffy
  components/layout_2020/taffy/stylo_taffy/convert.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Communicate whether an element is replaced to Taffy
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
  components/layout_2020/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update assertions
  tests/wpt/meta/css/css-grid/alignment/grid-align-justify-margin-border-padding.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-align.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-and-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-item-alignment-with-orthogonal-flows.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-self-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-002.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/grid-placement/masonry-grid-placement-named-lines-001.html.ini
  tests/wpt/meta/css/css-grid/placement/grid-auto-flow-sparse-001.html.ini
Owners: none

Upgrade Taffy to v0.8.0
  Cargo.lock
  Cargo.toml
Owners: none

Update stylo_taffy conversions for taffy 0.8
  components/layout_2020/taffy/stylo_taffy/convert.rs
  components/layout_2020/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Map self-start, self-end, left and right alignment values to taffy
  components/layout_2020/taffy/stylo_taffy/convert.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update assertions for CSS Grid `calc()` support
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-011.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-012.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-auto-repeat-max-size-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-minimum-contribution-with-percentages.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-template-rows-computed-withcontent.html.ini
Owners: none

Communicate whether an element is replaced to Taffy
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
  components/layout_2020/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update assertions
  tests/wpt/meta/css/css-grid/alignment/grid-align-justify-margin-border-padding.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-align.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-and-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-item-alignment-with-orthogonal-flows.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-self-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-002.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/grid-placement/masonry-grid-placement-named-lines-001.html.ini
  tests/wpt/meta/css/css-grid/placement/grid-auto-flow-sparse-001.html.ini
Owners: none

Implement `calc()` for CSS Grid
  Cargo.toml
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

remove out.log
  out.log
Owners: none

script: Use `RegExpFlag_UnicodeSets` when validating regular expressions in `HTMLInputElement` (#36236)
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-validity-patternMismatch.html.ini
  tests/wpt/meta/html/semantics/forms/the-input-element/pattern_attribute_v_flag.html.ini
Owners: @gterzian

Enable CSS parent selector (`&`)
  Cargo.lock
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-005.html.ini
  tests/wpt/meta/css/css-nesting/invalid-inner-rules.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-001.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-002.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-matching.html.ini
  tests/wpt/meta/css/css-nesting/nesting-layer.html.ini
  tests/wpt/meta/css/css-nesting/set-selector-text.html.ini
  tests/wpt/meta/css/css-nesting/top-level-is-scope.html.ini
  tests/wpt/meta/css/css-nesting/top-level-parent-pseudo-specificity.html.ini
Owners: none

Add dashed lines support
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  components/shared/canvas/canvas.rs
Owners: @gterzian

Update WPT expectation
  tests/wpt/meta/html/canvas/element/manual/line-styles/setLineDash.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.render.line.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.state.line_dash.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.state.line_dash_offset.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.render.line.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash_offset.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash_offset.worker.js.ini
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/webidl/ecmascript-binding/sequence-conversion.html.ini
Owners: none

Clip unreachable scrollable region for webrender
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update WPT expectations
  tests/wpt/meta/css/css-flexbox/negative-overflow.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-content-alignment-overflow-002.html.ini
  tests/wpt/meta/css/css-overflow/overflow-inline-transform-relative.html.ini
  tests/wpt/meta/css/css-overflow/scroll-overflow-padding-block-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-004.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-006.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
Owners: none

Run fmt
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Account for transform in scrollable overflow calculation
  components/layout_2020/display_list/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Run fmt
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns
