Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

fix comment
  components/script/dom/event.rs
Owners: @gterzian

script: Expose `NodeTraits::owner_global` / `Window::as_global_scope`
  components/script/dom/analysernode.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bluetoothadvertisingevent.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/document.rs
  components/script/dom/history.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmldialogelement.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmetaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/mediaquerylistevent.rs
  components/script/dom/node.rs
  components/script/dom/selection.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/textcontrol.rs
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/dom/worklet.rs
  components/script/image_listener.rs
  components/script/links.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

fix silent type
  components/script/dom/notification.rs
  components/script/dom/webidls/Notification.webidl
Owners: @gterzian

script: Expose `NodeTraits::owner_global` / `Window::as_global_scope` (#34843)
  components/script/dom/analysernode.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bluetoothadvertisingevent.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/document.rs
  components/script/dom/history.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmldialogelement.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmetaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/mediaquerylistevent.rs
  components/script/dom/node.rs
  components/script/dom/selection.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/textcontrol.rs
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/dom/worklet.rs
  components/script/image_listener.rs
  components/script/links.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

add all properties
  components/script/dom/notification.rs
  components/script/dom/webidls/Notification.webidl
Owners: @gterzian

CI: use self-hosted runners for macOS build jobs (#34868)
  .github/workflows/mac.yml
Owners: none

test: add Notification to global
  tests/wpt/include.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.js
Owners: none

Update WPT expectations
  tests/wpt/meta/dom/events/Event-dispatch-click.html.ini
  tests/wpt/meta/dom/events/EventTarget-constructible.any.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/shadow-dom/Extensions-to-Event-Interface.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
Owners: none

fmt
  components/script/dom/event.rs
Owners: @gterzian

allow crown error
  components/script/dom/event.rs
Owners: @gterzian

Fix renamed method calls
  components/script/dom/event.rs
Owners: @gterzian

Fix Step 5.10 of Event::invoke
  components/script/dom/event.rs
Owners: @gterzian

Simplify code a bit
  components/script/dom/event.rs
Owners: @gterzian

Reduce item visibility where possible
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
Owners: @gterzian

Consider shadow dom when dispatching events (#34788)
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script/dom/window.rs
  tests/wpt/meta/dom/events/Event-dispatch-click.html.ini
  tests/wpt/meta/dom/events/EventTarget-constructible.any.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/shadow-dom/Extensions-to-Event-Interface.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
Owners: @gterzian

chore: update wpt manifest and fix clippy
  components/script/dom/notification.rs
  tests/wpt/mozilla/meta/MANIFEST.json
Owners: @gterzian

Disable aws-lc-rs pending OhOS build fixes.
  Cargo.lock
  Cargo.toml
  deny.toml
Owners: none

embedding: Require embedder to initialize a rustls CryptoProvider.
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/tests/main.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/cli.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/lib.rs
Owners: @atbrakhi, @jschwe

Update all network-related dependencies to the latest versions (#34630)
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/connector.rs
  components/net/decoder.rs
  components/net/fetch/methods.rs
  components/net/filemanager_thread.rs
  components/net/http_cache.rs
  components/net/http_loader.rs
  components/net/protocols/blob.rs
  components/net/protocols/file.rs
  components/net/protocols/mod.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/shared/net/Cargo.toml
  components/shared/net/lib.rs
  components/webdriver_server/Cargo.toml
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/cli.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/lib.rs
Owners: @atbrakhi, @jschwe

Make webgl test preferences more consistent.
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgl/meta/conformance/__dir__.ini
  tests/wpt/webgl/meta/conformance2/__dir__.ini
Owners: none

test: temp skip notifications
  tests/wpt/include.ini
Owners: none

Make webgl test preferences more consistent. (#34886)
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgl/meta/conformance/__dir__.ini
  tests/wpt/webgl/meta/conformance2/__dir__.ini
Owners: none

layout: Defer some table sizing logic to the parent formatting context
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-justify-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-stretch-cross-size-3.html.ini
  tests/wpt/meta/css/css-flexbox/table-item-flex-percentage-min-width.html.ini
  tests/wpt/meta/css/css-grid/grid-items/explicitly-sized-grid-item-as-table.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-003.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Don't use `content_inline_size_for_table` in taffy
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Assert that GRIDMIN <= GRIDMAX
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Assert that GRIDMIN <= GRIDMAX (#34892)
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove wrong FIXME
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Use `enum`s for event loop senders and receivers
  components/script/dom/abstractworker.rs
  components/script/dom/abstractworkerglobalscope.rs
  components/script/dom/bindings/refcounted.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/window.rs
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/worklet.rs
  components/script/dom/workletglobalscope.rs
  components/script/messaging.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

layout: Don't use `content_inline_size_for_table` in taffy (#34891)
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove wrong FIXME (#34895)
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add minimal implementation of fetchParams and fetch controller for cancellation support
  components/net/fetch/fetch_params.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/lib.rs
  components/net/resource_thread.rs
  components/net/tests/data_loader.rs
  components/net/tests/main.rs
Owners: none

run formatter
  components/net/http_loader.rs
Owners: none

fix incorrect spec implementation and add comments with related step number and description
  components/net/fetch/fetch_params.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/data_loader.rs
  components/net/tests/main.rs
Owners: none

fix double borrow issue
  components/net/http_loader.rs
Owners: none

remove unused code from FetchParams
  components/net/fetch/fetch_params.rs
Owners: none

add workaround for double mutable borrow error
  components/net/fetch/methods.rs
Owners: none

remove unnecessary comments, move import and format
  components/net/fetch/fetch_params.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
Owners: none

fix comments that state spec instructions
  components/net/http_loader.rs
Owners: none

update comment
  components/net/fetch/methods.rs
Owners: none

refactor tests
  components/net/tests/data_loader.rs
  components/net/tests/main.rs
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
