Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

rebase on main again and update Cargo.lock
  Cargo.lock
Owners: none

Import URLPattern tests
  tests/wpt/include.ini
  tests/wpt/meta/urlpattern/urlpattern-compare.tentative.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern-compare.tentative.https.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern-hasregexpgroups.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: none

script: Support converting JS values to Rc<Promise> with FromJSValConvertible. (#36097)
  Cargo.lock
  components/script/dom/promise.rs
  components/script/dom/testbinding.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/TestBinding.webidl
Owners: @gterzian

Remove linux arm in dispatch workflow
  .github/workflows/dispatch-workflow.yml
Owners: none

Change logic on linux-arm check
  python/servo/try_parser.py
Owners: none

Add linux-arm to dispatch workflow
  .github/workflows/dispatch-workflow.yml
Owners: none

fix: wrong ascii check in get_array_index_from_id
  components/script/dom/bindings/utils.rs
  tests/wpt/meta/dom/collections/HTMLCollection-supported-property-indices.html.ini
Owners: @gterzian

Update Dependabot stylo crates again
  .github/dependabot.yml
Owners: none

Import URLPattern tests (#36145)
  tests/wpt/include.ini
  tests/wpt/meta/urlpattern/urlpattern-compare.tentative.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern-compare.tentative.https.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern-hasregexpgroups.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: none

Update Dependabot stylo crates again (#36154)
  .github/dependabot.yml
Owners: none

feat: add CanGc argument in get_dictionary_property
  components/script/body.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

feat: add CanGc argument in get_dictionary_property
  components/script/body.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/html/browsers/the-window-object/window-indexed-properties-strict.html.ini
  tests/wpt/meta/html/browsers/the-window-object/window-indexed-properties.html.ini
Owners: none

feat: add CanGc argument in get_dictionary_property (#36156)
  components/script/body.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Fix check in get_array_index_from_id to return early on ASCII char (#36136)
  components/script/dom/bindings/utils.rs
  tests/wpt/meta/dom/collections/HTMLCollection-supported-property-indices.html.ini
  tests/wpt/meta/html/browsers/the-window-object/window-indexed-properties-strict.html.ini
  tests/wpt/meta/html/browsers/the-window-object/window-indexed-properties.html.ini
Owners: @gterzian

Stop using MutableHandle's DerefMut impl
  components/script/dom/bindings/proxyhandler.rs
Owners: @gterzian

Stop using JS::MutableHandle's DerefMut impl
  components/script/dom/promise.rs
Owners: @gterzian

chore: remove linux-arm from dispatch and add workflow_dispatch trigger
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-arm.yml
Owners: none

fix syntax error
  .github/workflows/linux-arm.yml
Owners: none

script: Eliminate `PseudoElementType`
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/query.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

script: Eliminate `PseudoElementType` (#36146)
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/query.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Clip unreachable scrollable region for webrender
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Stop using JS::MutableHandle's DerefMut impl (#36161)
  components/script/dom/promise.rs
Owners: @gterzian

test(textinput): Add test for backspace at beginning of line in textarea
  tests/unit/script/textinput.rs
Owners: none

fix(textinput): Preserve selection origin when adjusting vertical position
  components/script/textinput.rs
Owners: @gterzian

Add WPT test
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-004.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-006.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-007.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-008.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.html
Owners: none

Run fmt
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

handle watchResources for thread-state and source
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
Owners: none

use read_all_bytes when consuming body pass realm as argument to dom method re-structure consume_body into one function Signed-off-by: gterzian <2792687+gterzian@users.noreply.github.com>
  components/script/body.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

enter the realm of the object whose body is being consumed Signed-off-by: gterzian <2792687+gterzian@users.noreply.github.com>
  components/script/body.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Use read all bytes when consuming body (#36048)
  components/script/body.rs
Owners: @gterzian

Stop using MutableHandle's DerefMut impl (#36160)
  components/script/dom/bindings/proxyhandler.rs
Owners: @gterzian

send spontaneous newSource from thread during target-available-form
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
Owners: none

New Warnings and error[E0308]: mismatched types
  components/script/dom/formdataevent.rs
  components/script/dom/gamepadevent.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/rtcdatachannelevent.rs
  components/script/dom/rtcerror.rs
  components/script/dom/rtcerrorevent.rs
  components/script/dom/rtcicecandidate.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/rtcpeerconnectioniceevent.rs
  components/script/dom/rtcsessiondescription.rs
  components/script/dom/rtctrackevent.rs
  components/script/dom/submitevent.rs
  components/script/dom/vttcue.rs
  components/script/dom/vttregion.rs
  components/script/dom/webxr/xrinputsourceevent.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrreferencespaceevent.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrsessionevent.rs
  components/script/script_thread.rs
Owners: @gterzian

Made MAX_TASK_NS u128. Also removed a superfluous into(). Both were required to fix #36122 with nightly 1.85.0 (4d91de4e4 2025-02-17).
  components/metrics/lib.rs
  components/script/script_thread.rs
Owners: @gterzian

Fix Backspace deleting entire previous line in `<textarea>` (#36112)
  components/script/textinput.rs
  tests/unit/script/textinput.rs
Owners: @gterzian

chore: Remove unused generation counter field from LayoutThread
  components/layout_thread_2020/lib.rs
Owners: none

chore: Remove unused generation counter field from LayoutThread (#36172)
  components/layout_thread_2020/lib.rs
Owners: none

script: Expose new methods for obtaining a global that require a realm. (#36116)
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/globalscope.rs
  components/script/dom/promise.rs
  components/script/realms.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Update components/script/dom/dompoint.rs
  components/script/dom/dompoint.rs
Owners: @gterzian
