Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Add target to bencher job name
  .github/workflows/bencher.yml
  .github/workflows/ohos.yml
Owners: @jschwe

implement set_up, ReleaseLock, Closed, Cancel for ReadableStreamBYOBReader
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/webidls/ReadableStreamDefaultReader.webidl
Owners: @gterzian

Fix clippy
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

Implement HTMLCanvasElement.transferControlToOffscreen
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/webidls/HTMLCanvasElement.webidl
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.resize.html.ini
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.transfer.lowlatency.nocrash.html.ini
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.transfercontrol.to.offscreen.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: @gterzian

Implement HTMLCanvasElement.transferControlToOffscreen (#34959)
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/webidls/HTMLCanvasElement.webidl
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.resize.html.ini
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.transfer.lowlatency.nocrash.html.ini
  tests/wpt/meta/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.transfercontrol.to.offscreen.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: @gterzian

Add Content Range Header and add one for blob end range
  components/net/filemanager_thread.rs
  components/shared/net/filemanager_thread.rs
  tests/wpt/meta/fetch/range/blob.any.js.ini
  tests/wpt/meta/xhr/blob-range.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/range_request_blob_url.html
Owners: none

layout: Make `Fragment` hold `ArcRefCell` inside
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/containing_block.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/replaced.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Make `Fragment` hold `ArcRefCell` inside (#34923)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/containing_block.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/replaced.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Generalize `ContainingBlock`'s block size to a `SizeConstraint` (#34946)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve logic for block size of table
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-align-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-horiz-001-table.xhtml.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-height-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-specified-width-vertical.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve logic for block size of table (#34947)
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-align-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-horiz-001-table.xhtml.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-height-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-specified-width-vertical.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Add doc comments to InputType
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Add doc comment to HtmlInputElement::checked_changed
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Remove incorrect TODO comment
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Implement acquire_byob_reader
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Remove incorrect TODO comment in htmlinputelement.rs (#34970)
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Add Content Range Header and add one for blob end range (#34797)
  components/net/filemanager_thread.rs
  components/shared/net/filemanager_thread.rs
  tests/wpt/meta/fetch/range/blob.any.js.ini
  tests/wpt/meta/xhr/blob-range.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/range_request_blob_url.html
Owners: none

chore: pub crate Notification
  components/script/dom/notification.rs
Owners: @gterzian

CI: disable self-hosted runners for nightly.yml
  .github/workflows/nightly.yml
Owners: none

webdriver: Ensure stylo preferences are updated when modifying pref values.
  components/webdriver_server/lib.rs
Owners: none

Make command line arguments match between servo and servodriver harnesses.
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

CI: use new API for taking a runner
  .github/workflows/self-hosted-runner-select.yml
Owners: none

CI: disable self-hosted runners for nightly.yml (#34982)
  .github/workflows/nightly.yml
Owners: none

Add a manual delay when launching servodriver to allow attaching a debugger.
  components/webdriver_server/lib.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

Various servodriver improvements (#34957)
  components/webdriver_server/lib.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

fix click event when long time in touchstart (#34812)
  components/compositing/touch.rs
Owners: @mrobinson

CI: use new API for taking a runner (#34983)
  .github/workflows/self-hosted-runner-select.yml
Owners: none

chore: fix clippy
  components/script/dom/notification.rs
Owners: @gterzian

mach: Report an error instead of running `try` with a dirty working directory
  python/servo/testing_commands.py
Owners: none

mach: Report an error instead of running `try` with a dirty working directory (#34349)
  python/servo/testing_commands.py
Owners: none

config: Remove legacy-layout and unused `Preferences` and `Opts`
  components/config/opts.rs
  components/layout/construct.rs
  components/layout/display_list/builder.rs
  components/layout/inline.rs
  components/layout/parallel.rs
  components/layout/sequential.rs
  components/layout_thread/lib.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

config: Remove legacy-layout and unused `Preferences` and `Opts` (#34994)
  components/config/opts.rs
  components/layout/construct.rs
  components/layout/display_list/builder.rs
  components/layout/inline.rs
  components/layout/parallel.rs
  components/layout/sequential.rs
  components/layout_thread/lib.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

remove SafeHandleValu::efrom_raw from DefaultTeeReadRequest
  components/script/dom/defaultteereadrequest.rs
Owners: @gterzian

remove #[allow(unsafe_code)]
  components/script/dom/defaultteereadrequest.rs
Owners: @gterzian

Script: remove `SafeHandleValue::from_raw` from `DefaultTeeReadRequest` (#34995)
  components/script/dom/defaultteereadrequest.rs
Owners: @gterzian

Fix ./mach test-speedometer runs
  python/servo/testing_commands.py
Owners: none

Fix ./mach test-speedometer runs (#34996)
  python/servo/testing_commands.py
Owners: none

crown: Support Rc<T::Promise> and callback objects parameterized over a trait..
  support/crown/src/unrooted_must_root.rs
  support/crown/tests/compile-fail/missing_allow_in_rc.rs
  support/crown/tests/compile-fail/missing_unrooted_interior.rs
  support/crown/tests/compile-fail/missing_unrooted_interior_on_trait.rs
  support/crown/tests/run-pass/allow_interior_trait.rs
  support/crown/tests/run-pass/allow_trait_in_rc.rs
  support/crown/tests/run-pass/allowed_interior.rs
Owners: none

crown: Verify that attributes match between trait associated types and impls.
  support/crown/src/unrooted_must_root.rs
  support/crown/tests/compile-fail/missing_allow_in_rc.rs
  support/crown/tests/compile-fail/missing_unrooted_interior_on_trait.rs
  support/crown/tests/compile-fail/trait_type_impl_must_root.rs
  support/crown/tests/compile-fail/type_holder_user_must_root.rs
Owners: none

webdriver: Serialize JS int values as i32.
  components/script/webdriver_handlers.rs
  components/shared/script/webdriver_msg.rs
  components/webdriver_server/lib.rs
Owners: @gterzian
