Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Remove unspecified early return in MessagePort::Close (#36836)
  components/script/dom/messageport.rs
Owners: @gterzian

script: Unconditionally send exit message during pipeline shutdown (#36808)
  components/script/script_thread.rs
  components/servo/tests/webview.rs
Owners: @gterzian

send source_content for worker script
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/worker.rs
Owners: @gterzian

Update meta referrer parsing
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Fix formatting
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Allow highlighting nodes from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout/context.rs
  components/layout/display_list/mod.rs
  components/layout/layout_impl.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Rename variable
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Add origin-when-crossorigin legacy value
  components/script/dom/document.rs
Owners: @gterzian

Clean up canvas code a bit
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

devtools: Allow highlighting elements from the inspector (#35822)
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout/context.rs
  components/layout/display_list/mod.rs
  components/layout/layout_impl.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

EventSource: Ensure field value is ignored if the null character exists in the field name
  components/script/dom/eventsource.rs
  tests/wpt/meta/eventsource/format-field-id-null.window.js.ini
Owners: @gterzian

Ensure eventsource fails connections that are not 200
  components/script/dom/eventsource.rs
  tests/wpt/meta/eventsource/request-status-error.window.js.ini
Owners: @gterzian

Update comment
  components/script/dom/eventsource.rs
Owners: @gterzian

Update spec steps comments
  components/script/dom/eventsource.rs
Owners: @gterzian

Avoid borrow panic when Path2D.addPath is called with self
  components/script/dom/path2d.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/path2D_addPath-crash.html
Owners: @gterzian

Fix formatting
  components/script/dom/eventsource.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/eventsource/eventsource-close.window.js.ini
Owners: none

script: Ensure `EventSource` field value is ignored if the null character exists in the field name (#36854)
  components/script/dom/eventsource.rs
  tests/wpt/meta/eventsource/format-field-id-null.window.js.ini
Owners: @gterzian

Don't resize canvas contents when it's a placeholder
  components/script/canvas_context.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

Add testcase
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/canvas/transfer-control-to-offscreencanvas-then-change-dimensions-crash.html
Owners: none

Implement second URLPattern constructor
  Cargo.lock
  Cargo.toml
  components/script/dom/urlpattern.rs
  components/script_bindings/webidls/URLPattern.webidl
Owners: @gterzian

Replace urlpattern implementation with urlpattern crate
  Cargo.lock
  Cargo.toml
  components/script/Cargo.toml
  components/script/dom/urlpattern.rs
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
  components/script_bindings/webidls/URLPattern.webidl
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

document.scrollingElement: update expected web platform test results
  tests/wpt/meta/css/css-tables/no-overflow-with-table-cell-margins.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/scroll-to-fragid/003.html.ini
Owners: none

Allow embedders to execute js code in the current webview and recieve the result
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/webview.rs
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
Owners: @gterzian

script: Ensure `EventSource` interprets non-200 response codes as failure (#36853)
  components/script/dom/eventsource.rs
  tests/wpt/meta/eventsource/eventsource-close.window.js.ini
  tests/wpt/meta/eventsource/request-status-error.window.js.ini
Owners: @gterzian

Avoid borrow panic when Path2D.addPath is called with self (#36847)
  components/script/dom/path2d.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/path2D_addPath-crash.html
Owners: @gterzian

Implement TransformStream TransformStreamDefaultController
  components/script/dom/mod.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/webidls/TransformStream.webidl
  components/script_bindings/webidls/TransformStreamDefaultController.webidl
  components/script_bindings/webidls/Transformer.webidl
  tests/wpt/include.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
  tests/wpt/meta/streams/transform-streams/backpressure.any.js.ini
  tests/wpt/meta/streams/transform-streams/cancel.any.js.ini
  tests/wpt/meta/streams/transform-streams/errors.any.js.ini
  tests/wpt/meta/streams/transform-streams/flush.any.js.ini
  tests/wpt/meta/streams/transform-streams/general.any.js.ini
  tests/wpt/meta/streams/transform-streams/lipfuzz.any.js.ini
  tests/wpt/meta/streams/transform-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/transform-streams/properties.any.js.ini
  tests/wpt/meta/streams/transform-streams/reentrant-strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/strategies.any.js.ini
  tests/wpt/meta/streams/transform-streams/terminate.any.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Implement `document.scrollingElement` (#35994)
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
  tests/wpt/meta/css/css-tables/no-overflow-with-table-cell-margins.html.ini
  tests/wpt/meta/css/cssom-view/HTMLBody-ScrollArea_quirksmode.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrolling-quirks-vs-nonquirks.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/scroll-to-fragid/003.html.ini
  tests/wpt/meta/intersection-observer/cross-origin-iframe.sub.html.ini
  tests/wpt/meta/intersection-observer/disconnect.html.ini
  tests/wpt/meta/intersection-observer/iframe-no-root-with-wrapping-scroller.html.ini
  tests/wpt/meta/intersection-observer/iframe-no-root.html.ini
  tests/wpt/meta/intersection-observer/multiple-targets.html.ini
  tests/wpt/meta/intersection-observer/multiple-thresholds.html.ini
  tests/wpt/meta/intersection-observer/observer-without-js-reference.html.ini
  tests/wpt/meta/intersection-observer/root-margin-root-element.html.ini
  tests/wpt/meta/intersection-observer/root-margin.html.ini
  tests/wpt/meta/intersection-observer/same-document-no-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-with-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-zero-size-target.html.ini
  tests/wpt/meta/intersection-observer/svg-clipped-rect-target.html.ini
  tests/wpt/meta/intersection-observer/svg-intersection-with-fractional-bounds.html.ini
  tests/wpt/meta/intersection-observer/svg-rect-target.html.ini
  tests/wpt/meta/intersection-observer/text-target.html.ini
  tests/wpt/meta/intersection-observer/timestamp.html.ini
  tests/wpt/meta/intersection-observer/visibility-hidden.html.ini
  tests/wpt/tests/css/cssom-view/scrollingElement.html
Owners: @gterzian

Update test expectations
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.object.ctor.basics.html.ini
Owners: @gterzian

Remove `ref_filter_map` dependency
  Cargo.lock
  components/script/Cargo.toml
  components/script/dom/bindings/cell.rs
Owners: @gterzian

Temporarily disable refcell_backtrace to test compilation
  components/script/Cargo.toml
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: @gterzian

Fixup for https://phabricator.services.mozilla.com/D246780
  components/layout/layout_impl.rs
  tests/unit/style/custom_properties.rs
  tests/unit/style/stylist.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fixup for https://phabricator.services.mozilla.com/D244080
  components/layout/flow/mod.rs
  components/layout/geom.rs
  components/layout/style_ext.rs
  components/layout/taffy/stylo_taffy/convert.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Upgrade Stylo to 2025-05-01
  Cargo.lock
  Cargo.toml
Owners: none

Fixup for https://phabricator.services.mozilla.com/D245935
  Cargo.lock
Owners: none

Revert "Temporarily disable refcell_backtrace to test compilation"
  components/script/Cargo.toml
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: @gterzian

Upgrade Stylo to 2025-05-01 (#36835)
  Cargo.lock
  Cargo.toml
  components/layout/flow/mod.rs
  components/layout/geom.rs
  components/layout/layout_impl.rs
  components/layout/style_ext.rs
  components/layout/taffy/stylo_taffy/convert.rs
  tests/unit/style/custom_properties.rs
  tests/unit/style/stylist.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

some work on proxy
  Cargo.lock
  Cargo.toml
  components/config/prefs.rs
  components/net/Cargo.toml
  components/net/connector.rs
  components/net/http_loader.rs
Owners: none

trying to make tests work
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
Owners: none

some stuff on proxy
  components/config/prefs.rs
  components/net/connector.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/net/tests/resource_thread.rs
  components/servo/lib.rs
  ports/servoshell/prefs.rs
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
