Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Allow try runs to all users with label permissions
  .github/workflows/try-label.yml
Owners: none

ohos: Remove direct link to ace_napi.z
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

Allow try runs to all users with label permissions (#35911)
  .github/workflows/try-label.yml
Owners: none

Fix ./mach build --no-default-features
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

ohos: Remove direct link to ace_napi.z (#35921)
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

Implement ElementInternals::shadowRoot
  components/script/dom/element.rs
  components/script/dom/elementinternals.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/ElementInternals.webidl
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
  tests/wpt/meta/custom-elements/form-associated/ElementInternals-target-element-is-held-strongly.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: none

bhs: Remove direct link to `liblzma`
  components/background_hang_monitor/sampler_linux.rs
Owners: none

Batch cleanup callbacks
  components/script/dom/bindings/refcounted.rs
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
  components/script/task_source.rs
Owners: @gterzian

Proof of concept for FinalizationRegistry cleanup callbacks This still needs a lot of work
  components/script/dom/bindings/refcounted.rs
  components/script/script_runtime.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

layout: Fix interaction of margin and stretch size on block-level boxes
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-003.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-004.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-005.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-006.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-007.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-008.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-010.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

tidy fixes
  components/script/script_runtime.rs
Owners: @gterzian

layout: Fix interaction of margin and stretch size on block-level boxes (#35904)
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-003.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-004.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-005.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-006.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-007.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-008.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-010.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Bump Stylo to from a93e7ef to 4add86f
  Cargo.lock
  tests/wpt/meta/css/css-sizing/percentage-width-subpixels.tentative.html.ini
Owners: none

Bump Stylo to from a93e7ef to 4add86f (#34714)
  Cargo.lock
  tests/wpt/meta/css/css-sizing/percentage-width-subpixels.tentative.html.ini
Owners: none

Implement `ElementInternals::shadowRoot` (#35923)
  components/script/dom/element.rs
  components/script/dom/elementinternals.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/ElementInternals.webidl
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
  tests/wpt/meta/custom-elements/form-associated/ElementInternals-target-element-is-held-strongly.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: @gterzian

feat: fetch notification image resources
  components/script/dom/notification.rs
Owners: @gterzian

docs: more specific for `ResourceFetchListener`
  components/script/dom/notification.rs
Owners: @gterzian

feat(notification): queue show event
  components/script/dom/notification.rs
Owners: @gterzian

Update WPT expectation
  tests/wpt/meta/css/css-position/sticky/position-sticky-transforms.html.ini
Owners: none

Upgrade Stylo to 2025-03-01
  Cargo.lock
  Cargo.toml
  components/malloc_size_of/lib.rs
Owners: none

Upgrade Stylo to 2025-03-01 (#35925)
  Cargo.lock
  Cargo.toml
  components/malloc_size_of/lib.rs
Owners: none

Add ViewportDescription
  components/script/dom/attr.rs
  components/script/dom/bindings/root.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/script/lib.rs
  components/shared/script/viewport.rs
Owners: @gterzian

bhs: Remove direct link to `liblzma` (#35924)
  components/background_hang_monitor/sampler_linux.rs
Owners: none

[bugfix](font-weight): Use better hasher
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](font-weight): Modify search in IFC font storage to check hash instead of font size.
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](font-weight): Clarify comment.
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix]: Restore check by font-size.
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](font-weight): Fix rendering of font-weight and other propperties related to FontDescriptor
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](font-weight): Panic free version of OpenHarmony fontconfig parser. WIP on this component
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/tests/support/OHOS_fontconfig/test_fontconfig.json
Owners: @jschwe

[feature](ohos_fontconfig): Add first very crude implimentation of ohos fontconfig. WIP on this component.
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
Owners: @jschwe

[feature](fontconfig): Json based fontconfig for ohos implemented. Some issues with FONTLIST still exist
  components/fonts/font.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

[feature](ohos-fontconfig): Fix some problems during creation of FONT LIST from config. Added code for new OHOS fallback family resolution (currently inactive)
  components/fonts/lib.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

[chore](ohos_fontconfig): Cleanup files. Update comments.
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
Owners: @jschwe

[feature](ohos-fontconfig): Fix bugs in generic and fallback families lists
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
Owners: @jschwe

[feature](ohos-fontconfig): Temporary revert changes in text_run to check how segmentation work with temlates from ohos_fontconfig
  components/fonts/platform/freetype/ohos/font_list.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

[chore](ohos_fontconfig): Restore log msg in components\fonts\font.rs
  components/fonts/font.rs
Owners: none

[chore](ohos_fontconfig): Rearrange the code. Fix linter errors
  components/fonts/font.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/json.rs
Owners: @jschwe

Add doc comments throughout the code
  components/script/dom/bindings/constructor.rs
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Allow custom elements to extend <slot>
  components/script/dom/bindings/constructor.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
