Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

script: Move some utility bindings code to script_bindings.
  components/script/dom/bindings/utils.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Move implementations on concrete DOM types to concrete bindings.
  components/script/dom/bindings/import.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

script: Make enumerating and resolving globals generic over the DOM interface.
  components/script/dom/bindings/utils.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

script: Make realm helpers generic over the DOM interface.
  components/script/dom/blob.rs
  components/script/dom/bluetooth/bluetooth.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/mediadevices.rs
  components/script/dom/permissions.rs
  components/script/realms.rs
Owners: @gterzian

script: Move a bunch of proxy-related code to script_bindings.
  components/script/dom/bindings/proxyhandler.rs
  components/script_bindings/lib.rs
  components/script_bindings/proxyhandler.rs
Owners: @gterzian

script: Make reporting an exception a generic operation.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/utils.rs
Owners: @gterzian

script: Make principal creation generic over DOM interface.
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/principals.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

script: Move AsCCharPtrPtr to script_bindings.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Address clippy warnings.
  components/script_bindings/proxyhandler.rs
  components/script_bindings/utils.rs
Owners: none

script: Make additional codegen helpers generic over the DOM interface.
  components/script/dom/bindings/utils.rs
  components/script/dom/window.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/interfaces.rs
Owners: @gterzian

script: Make some proxy-related code generic over the DOM interface.
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Formatting.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/principals.rs
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/proxyhandler.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Move DomSlice to script_bindings.
  components/script/dom/bindings/root.rs
  components/script_bindings/root.rs
Owners: @gterzian

script: Move HasParent to script_bindings and update imports for InheritTypes.
  components/script/dom/audionode.rs
  components/script/dom/bindings/inheritance.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/characterdata.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/inheritance.rs
Owners: @gterzian

script: Make iterator creation generic over the DOM interface.
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/utils.rs
Owners: @gterzian

Use a simpler GitHub pull request template (#36203)
  PULL_REQUEST_TEMPLATE.md
Owners: none

More miscellaneous script splitting changes (#36220)
  components/script/dom/audionode.rs
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/inheritance.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/iterable.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/principals.rs
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/blob.rs
  components/script/dom/bluetooth/bluetooth.rs
  components/script/dom/characterdata.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mediadevices.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/permissions.rs
  components/script/dom/window.rs
  components/script/realms.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/inheritance.rs
  components/script_bindings/interfaces.rs
  components/script_bindings/lib.rs
  components/script_bindings/proxyhandler.rs
  components/script_bindings/root.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Organize component Cargo.toml dependencies
  components/allocator/Cargo.toml
  components/background_hang_monitor/Cargo.toml
  components/bluetooth/Cargo.toml
  components/constellation/Cargo.toml
  components/devtools/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_thread_2020/Cargo.toml
  components/media/Cargo.toml
  components/net/Cargo.toml
  components/pixels/Cargo.toml
  components/profile/Cargo.toml
  components/script/Cargo.toml
  components/script_bindings/Cargo.toml
  components/servo/Cargo.toml
  components/shared/base/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/net/Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/webrender/Cargo.toml
  components/webxr/Cargo.toml
Owners: @gterzian

Organize component Cargo.toml dependencies (#36224)
  components/allocator/Cargo.toml
  components/background_hang_monitor/Cargo.toml
  components/bluetooth/Cargo.toml
  components/constellation/Cargo.toml
  components/devtools/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_thread_2020/Cargo.toml
  components/media/Cargo.toml
  components/net/Cargo.toml
  components/pixels/Cargo.toml
  components/profile/Cargo.toml
  components/script/Cargo.toml
  components/script_bindings/Cargo.toml
  components/servo/Cargo.toml
  components/shared/base/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/net/Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/webrender/Cargo.toml
  components/webxr/Cargo.toml
Owners: @gterzian

Refuse to provide partial response from earlier ranged request to API that did not make a range request
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/protocols/blob.rs
  components/shared/net/response.rs
Owners: none

Only invoke resize observer callback when the observed element changed its size
  components/script/dom/resizeobserver.rs
Owners: @gterzian

Only invoke resize observer callback when the observed element changed its size (#36226)
  components/script/dom/resizeobserver.rs
Owners: @gterzian

refactor: add support optional message for dataclone error
  components/script/dom/baseaudiocontext.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/domexception.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script_bindings/error.rs
Owners: @gterzian

script: Calculate resize observer depth using flat tree.
  components/script/dom/resizeobserver.rs
  tests/wpt/meta/resize-observer/calculate-depth-for-node.html.ini
Owners: @gterzian

Devtools parser: normalise actor names to allow for diffing
  components/devtools/actor.rs
  etc/devtools_parser.py
Owners: none

Devtools replay tool
  etc/devtools-tools/.gitignore
  etc/devtools-tools/Cargo.lock
  etc/devtools-tools/Cargo.toml
  etc/devtools-tools/src/main.rs
Owners: none

Handle some types of spontaneous messages
  etc/devtools-tools/src/main.rs
Owners: none

Forgive client requests we have no reply for
  etc/devtools-tools/src/main.rs
Owners: none

Split resources-available-array by watchResources resourceTypes
  etc/devtools-tools/src/main.rs
Owners: none

Treat missing queues as empty queues
  etc/devtools-tools/src/main.rs
Owners: none

Set tracing to RUST_LOG=trace by default
  etc/devtools-tools/src/main.rs
Owners: none

Allow records to be commented out with `//`
  etc/devtools-tools/src/main.rs
Owners: none

Avoid crashing due to non-deterministic updateConfiguration order
  etc/devtools-tools/src/main.rs
Owners: none

Fixed the crash issue when the openharmony web component is adapted.
  components/compositing/touch.rs
Owners: @mrobinson

changed all refs
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Fixed the crash issue when the openharmony web component is adapted. (#36229)
  components/compositing/touch.rs
Owners: @mrobinson

Remove interior mutability from `ResizeObservation`
  components/script/dom/resizeobserver.rs
Owners: @gterzian

Refuse to provide partial response from earlier ranged request to API that did not make a range request (#36227)
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/protocols/blob.rs
  components/shared/net/response.rs
Owners: none

Remove interior mutability from `ResizeObservation` (#36233)
  components/script/dom/resizeobserver.rs
Owners: @gterzian

Allow highlighting nodes from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian
