Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

[chore](text-overflow): Debugging text_fragment truncation
  components/fonts/glyph.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix bad-buffers-and-views.any.js test
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Update test expectations
  tests/wpt/meta/streams/readable-byte-streams/bad-buffers-and-views.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/construct-byob-request.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/enqueue-with-detached-buffer.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/general.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/non-transferable-buffers.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/read-min.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/respond-after-enqueue.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/tee.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/templated.any.js.ini
Owners: none

Fix /_mozilla/css/text_transform_uppercase_a.html to not be intermittent
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/css/text_transform_uppercase_a.html
  tests/wpt/mozilla/tests/css/text_transform_uppercase_ref.html
Owners: none

Allow webdriver screenshots to occur immediately upon request.
  ports/servoshell/prefs.rs
Owners: none

improve read_all_bytes
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix bug
  components/script/dom/readablestreamdefaultreader.rs
  tests/wpt/meta/FileAPI/BlobURL/cross-partition-navigation.https.html.ini
Owners: @gterzian

script: Implement Blob.bytes()
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Blob.webidl
  tests/wpt/meta/FileAPI/Blob-methods-from-detached-frame.html.ini
  tests/wpt/meta/FileAPI/blob/Blob-bytes.any.js.ini
  tests/wpt/meta/FileAPI/idlharness.any.js.ini
  tests/wpt/meta/FileAPI/idlharness.html.ini
  tests/wpt/meta/FileAPI/idlharness.worker.js.ini
Owners: @gterzian

fix read_all_bytes
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

fix read loop
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

something went wrong
  components/script/dom/readablestreamdefaultreader.rs
  tests/wpt/meta/FileAPI/Blob-methods-from-detached-frame.html.ini
  tests/wpt/meta/FileAPI/BlobURL/cross-partition-navigation.https.html.ini
  tests/wpt/meta/FileAPI/blob/Blob-bytes.any.js.ini
Owners: @gterzian

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

add use of can_gc to promise code following rebase
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

libservo: Add `WebView` immediately to the Compositor
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

Allow webdriver screenshots to occur immediately upon request. (#35677)
  ports/servoshell/prefs.rs
Owners: none

implement progagate closing backward and forward
  components/script/dom/readablestream.rs
Owners: @gterzian

fix rooting of fulfillment handler
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

libservo: Add `WebView` immediately to the Compositor (#35662)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

layout: Support `stretch` cross size for automatic min size in flexbox (#35652)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-sizing/stretch/flexbox-auto-minimum-001.html
  tests/wpt/tests/css/css-sizing/stretch/flexbox-auto-minimum-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix BorrowMutError crashes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

layout: Support `stretch` cross size for flex base size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-sizing/stretch/flexbox-flex-base-size-001.html
  tests/wpt/tests/css/css-sizing/stretch/flexbox-flex-base-size-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

layout: Support `stretch` cross size for flex base size (#35663)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-sizing/stretch/flexbox-flex-base-size-001.html
  tests/wpt/tests/css/css-sizing/stretch/flexbox-flex-base-size-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

implement shutdown and actions
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

winit_minimal: fix build breakage
  components/servo/examples/winit_minimal.rs
Owners: none

fix view_byte_length test
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

layout: Use definite cross size to compute flex base size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-026.html.ini
  tests/wpt/tests/css/css-flexbox/flex-basis-013.html
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Clean up interfaces for alert()/confirm()/prompt()
  components/constellation/tracing.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-2.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-3.html.ini
  tests/wpt/meta/html/webappapis/user-prompts/cannot-show-simple-dialogs/confirm-different-origin-frame.sub.html.ini
  tests/wpt/meta/html/webappapis/user-prompts/cannot-show-simple-dialogs/prompt-different-origin-frame.sub.html.ini
Owners: @gterzian, @atbrakhi, @jschwe

libservo: Clean up interfaces for alert()/confirm()/prompt() (#35579)
  components/constellation/tracing.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-2.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-3.html.ini
  tests/wpt/meta/html/webappapis/user-prompts/cannot-show-simple-dialogs/confirm-different-origin-frame.sub.html.ini
  tests/wpt/meta/html/webappapis/user-prompts/cannot-show-simple-dialogs/prompt-different-origin-frame.sub.html.ini
Owners: @gterzian, @atbrakhi, @jschwe

winit_minimal: fix build breakage (#35686)
  components/servo/examples/winit_minimal.rs
Owners: none

If the touch duration before a click exceeds some threshold (500ms), send a contextmenu event instead.
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/config/prefs.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @jschwe

winit_mininal: support proper window resizing
  components/servo/examples/winit_minimal.rs
Owners: none

Declarative shadow dom: minor updates and add passed tests
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/css/css-mixins/dashed-function-eval.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/forms/the-form-element/form-indexed-element-shadow.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-img-src.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-link-stylesheet.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-script-src.tentative.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Element-setHTMLUnsafe-04.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-xml.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Range-isPointInRange.html.ini
  tests/wpt/meta/shadow-dom/HighlightRegistry-highlightsFromPoint.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

bindings: Fix support for interface members in setlike/maplike. (#35651)
  components/script/dom/mod.rs
  components/script/dom/testbindingmaplikewithinterface.rs
  components/script/dom/testbindingmaplikewithprimitive.rs
  components/script/dom/testbindingsetlikewithinterface.rs
  components/script/dom/testbindingsetlikewithprimitive.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/root.rs
  components/script_bindings/webidls/TestBindingMaplikeWithInterface.webidl
  components/script_bindings/webidls/TestBindingMaplikeWithPrimitive.webidl
  components/script_bindings/webidls/TestBindingSetlikeWithInterface.webidl
  components/script_bindings/webidls/TestBindingSetlikeWithPrimitive.webidl
  tests/wpt/mozilla/meta-legacy-layout/mozilla/like.any.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/mozilla/like.any.js.ini
  tests/wpt/mozilla/tests/mozilla/like.any.js
Owners: @gterzian

Set limits on pinch zoom
  components/compositing/compositor.rs
Owners: @mrobinson

Fix document disconnect
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

CI: Fail on winit_minimal example build errors
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

support displaying animated image as element background.
  components/layout/context.rs
  components/layout/fragment.rs
  components/layout_2020/context.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/net/image_cache.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/dom/datatransfer.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/node.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/window.rs
  components/script/drag_data_store.rs
  components/script/image_animation.rs
  components/script/layout_dom/node.rs
  components/script/lib.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update sensitivity naming in `DisplayList::new`
  components/layout_2020/display_list/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns
