Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Fix animation frame callback cancellation (#35849)
  components/script/dom/document.rs
  tests/wpt/meta/html/webappapis/animation-frames/cancel-pending.html.ini
Owners: @gterzian

Show correctly computed element display type in devtools
  components/devtools/actors/inspector/node.rs
  components/script/dom/node.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

layout: Handle keyword sizes when computing the hypothetical cross size (#35826)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Add test for percentage sizes resolving against subpixel lengths (#35809)
  tests/wpt/meta/css/css-sizing/percentage-width-subpixels.tentative.html.ini
  tests/wpt/tests/css/css-sizing/percentage-width-subpixels.tentative-ref.html
  tests/wpt/tests/css/css-sizing/percentage-width-subpixels.tentative.html
Owners: none

Show correctly computed element display type in devtools (#35870)
  components/devtools/actors/inspector/node.rs
  components/script/dom/node.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

layout: Support min/max cross keywords sizes in flexbox
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-inline-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

devtools: use correct id for browser_id and outer_window_id
  components/devtools/actors/tab.rs
Owners: none

layout: Only prevent fixed table layout when `inline-size` is `auto`
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/fixed-layout-2.html.ini
  tests/wpt/tests/css/css-tables/fixed-layout-2.html
Owners: @mrobinson, @Loirooriol, @nicoburns

servoshell: Allow keyboard interaction with dialogs (enter / escape)
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

layout: Only prevent fixed table layout when `inline-size` is `auto` (#35882)
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/fixed-layout-2.html.ini
  tests/wpt/tests/css/css-tables/fixed-layout-2.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Support min/max cross keywords sizes in flexbox (#35860)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-inline-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix test expectation
  components/script/dom/readablebytestreamcontroller.rs
  tests/wpt/meta/streams/readable-byte-streams/templated.any.js.ini
Owners: @gterzian

servoshell: Allow keyboard interaction with dialogs (enter / escape) (#35673)
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

Fix the parsing error of PrefValue::Array, which is used for the parsing of Preferences shell_background_color_rgba field (#35865)
  components/config/pref_util.rs
Owners: none

Don't run disconnected callback on already disconnected custom elements
  components/script/dom/node.rs
  tests/wpt/meta-legacy-layout/custom-elements/adopted-callback.html.ini
  tests/wpt/meta-legacy-layout/custom-elements/enqueue-custom-element-callback-reactions-inside-another-callback.html.ini
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/custom-elements/disconnected-callbacks.html.ini
  tests/wpt/meta/custom-elements/enqueue-custom-element-callback-reactions-inside-another-callback.html.ini
Owners: @gterzian

Don't run scripts in documents that don't have a browsing context (#35871)
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
  tests/wpt/meta/domparsing/DOMParser-parseFromString-html.html.ini
  tests/wpt/meta/html/syntax/parsing-html-fragments/tokenizer-modes-001.html.ini
Owners: @gterzian

Format mozjs changes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Explicitly reborrow MutableHandles
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_module.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Unify jsapi_wrappers
  components/script/dom/htmlinputelement.rs
  components/script/script_module.rs
Owners: @gterzian

script: implement ReadableByteStreamController (#35410)
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadpose.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/codegen/Bindings.conf
  tests/wpt/include.ini
  tests/wpt/meta/streams/readable-byte-streams/bad-buffers-and-views.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/construct-byob-request.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/enqueue-with-detached-buffer.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/general.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/non-transferable-buffers.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/read-min.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/respond-after-enqueue.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/tee.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/templated.any.js.ini
Owners: @gterzian

layout: Remove `calculate_hypothetical_cross_size()`
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Use mozjs change
  Cargo.lock
  Cargo.toml
Owners: none

layout: Remove `calculate_hypothetical_cross_size()` (#35821)
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Mark demo attributes/methods as unimplemented
  components/script_bindings/webidls/HTMLElement.webidl
Owners: none

Generate stub implementations for unimplemented dom interfaces
  components/config/prefs.rs
  components/script_bindings/codegen/CodegenRust.py
  third_party/WebIDL/WebIDL.py
  third_party/WebIDL/dom-stubs.patch
  third_party/WebIDL/update.sh
Owners: none

mach: Remove the `create-wpt` command
  python/servo/testing_commands.py
Owners: none

Keep a list of slot descendants on each shadow root (#35802)
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

Eliminate to_shmem dependency from servo_url
  Cargo.lock
  Cargo.toml
  components/url/Cargo.toml
  components/url/lib.rs
Owners: none

Enable ShadowDom support by default
  components/config/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
Owners: none

Allow highlighting nodes from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Eliminate to_shmem dependency from servo_url (#35897)
  Cargo.lock
  Cargo.toml
  components/url/Cargo.toml
  components/url/lib.rs
Owners: none

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Update env_logger to 0.11 to fix RUSTSEC-2025-0014
  Cargo.lock
  Cargo.toml
Owners: none

Update env_logger to 0.11 to fix RUSTSEC-2025-0014 (#35906)
  Cargo.lock
  Cargo.toml
Owners: none

base: Finish rename of `TopLevelBrowsingContextId` to `WebViewId`
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/browsingcontext.rs
  components/constellation/constellation.rs
  components/constellation/logging.rs
  components/constellation/pipeline.rs
  components/constellation/session_history.rs
  components/constellation/webview.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/windowproxy.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/lib.rs
  components/shared/base/id.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @mrobinson, @gterzian

base: Finish rename of `TopLevelBrowsingContextId` to `WebViewId` (#35896)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/browsingcontext.rs
  components/constellation/constellation.rs
  components/constellation/logging.rs
  components/constellation/pipeline.rs
  components/constellation/session_history.rs
  components/constellation/webview.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/windowproxy.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/lib.rs
  components/shared/base/id.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @mrobinson, @gterzian

Enable ShadowDom support by default (#35899)
  components/config/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/mozilla/meta/__dir__.ini
Owners: none

mach: Remove the `create-wpt` command (#35895)
  python/servo/testing_commands.py
Owners: none

Add todo and update WPT test
  components/compositing/compositor.rs
  tests/wpt/meta/css/css-position/sticky/position-sticky-left-003.html.ini
  tests/wpt/meta/css/css-position/sticky/position-sticky-top-003.html.ini
Owners: @mrobinson

Fix maximum scroll offset from script
  components/compositing/compositor.rs
  components/shared/webrender/display_list.rs
Owners: @mrobinson

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
