Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

layout: Implement the `fit-content()` sizing function
  Cargo.lock
  Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-001.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-002.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-003.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-004.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-005.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-006.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-007.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-008.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-009.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-010.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-011.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-012.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-013.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-014.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-015.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-length-percentage-016.html.ini
  tests/wpt/meta/css/css-sizing/parsing/height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/max-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-height-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-computed.html.ini
  tests/wpt/meta/css/css-sizing/parsing/min-width-valid.html.ini
  tests/wpt/meta/css/css-sizing/parsing/width-valid.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

[New]Simplify mac-wpt workflow. (#36068)
  .github/workflows/mac-wpt.yml
  .github/workflows/mac.yml
Owners: none

devtools: extract network related into new file
  components/devtools/lib.rs
  components/devtools/network_handler.rs
Owners: none

devtools: fix missing license and linting error
  components/devtools/network_handler.rs
Owners: none

fixup! devtools: extract network related into new file
  components/devtools/lib.rs
  components/devtools/network_handler.rs
Owners: none

Use width instead of transform in test; Add `fn waitForTransitionEnd` to `helper.js`
  Cargo.lock
  tests/wpt/tests/css/css-transitions/support/helper.js
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-remove-and-transform-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

devtools: refactor network related (#36093)
  components/devtools/lib.rs
  components/devtools/network_handler.rs
Owners: none

Unify jsapi_wrappers
  components/script/dom/htmlinputelement.rs
  components/script/script_module.rs
Owners: @gterzian

Explicitly reborrow MutableHandles
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_module.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Format mozjs changes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Use mozjs change
  Cargo.lock
  Cargo.toml
Owners: none

Fix form validation for readonly inputs and update WPT expectations
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-willValidate.html.ini
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Repaint select element when the label of an option changes
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Make description of quirks-mode test more helpful
  tests/wpt/tests/html/rendering/widgets/the-select-element/option-add-label-quirks.html
Owners: none

Update WPT expectations
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-label-whitespace.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-with-br.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-button-min-height-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-empty.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
  tests/wpt/meta/html/rendering/widgets/select-wrap-no-spill.optional.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-checked-styling.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/select-marker-end-aligned.tentative.html.ini
Owners: none

Fix HTMLOptionElement::owner_select_element
  components/script/dom/htmloptionelement.rs
Owners: @gterzian

Add doc comments
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/validitystate.rs
Owners: @gterzian

Fall back to option textcontent for display when label is empty
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Strip newlines/whitespace for displayed option label
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Fix form validation for readonly inputs and update WPT expectations
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-willValidate.html.ini
Owners: @gterzian

Allow highlighting nodes from the devtools
  components/devtools/actors/inspector.rs
  components/devtools/actors/inspector/highlighter.rs
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_thread_2020/lib.rs
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

crown: Do not check trait item projections.
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/testbindingmaplikewithinterface.rs
  components/script/dom/testbindingmaplikewithprimitive.rs
  components/script/dom/testbindingsetlikewithinterface.rs
  components/script/dom/testbindingsetlikewithprimitive.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webgpu/gpusupportedfeatures.rs
  components/script/dom/webgpu/wgsllanguagefeatures.rs
  support/crown/src/unrooted_must_root.rs
  support/crown/tests/run-pass/alias-projection-ignored.rs
Owners: @gterzian

Fix form validation for readonly inputs and update WPT expectations (#36090)
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-willValidate.html.ini
Owners: @gterzian

crown: Do not check trait item projections. (#36095)
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/testbindingmaplikewithinterface.rs
  components/script/dom/testbindingmaplikewithprimitive.rs
  components/script/dom/testbindingsetlikewithinterface.rs
  components/script/dom/testbindingsetlikewithprimitive.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webgpu/gpusupportedfeatures.rs
  components/script/dom/webgpu/wgsllanguagefeatures.rs
  support/crown/src/unrooted_must_root.rs
  support/crown/tests/run-pass/alias-projection-ignored.rs
Owners: @gterzian

Max assign outer block size to cell measures (#36064)
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/tentative/rowspan-height-redistribution.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Format mozjs changes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Make input element display-inside always flow-root (#35908)
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/tests/html/rendering/widgets/text-control-client-width.html
  tests/wpt/tests/html/rendering/widgets/text-control-flow-root-ref.html
  tests/wpt/tests/html/rendering/widgets/text-control-flow-root.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Update mozjs version
  Cargo.lock
Owners: none

Use explicit reborrows with mozjs::MutableHandle (#35892)
  Cargo.lock
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/proxyhandler.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_module.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

ci: Fix WPT import
  .github/workflows/scheduled-wpt-import.yml
Owners: none

ci: Fix WPT import (#36098)
  .github/workflows/scheduled-wpt-import.yml
Owners: none

Add commented patch definition for html5ever crates
  Cargo.toml
Owners: none

Fix WPT Import
  .github/workflows/scheduled-wpt-import.yml
Owners: none

script: Allow opening links in a new `WebView`
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/links.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
Owners: @gterzian

Add commented patch definition for html5ever crates (#36099)
  Cargo.toml
Owners: none

compositor: Remove the script channel from the compositor
  components/compositing/webview.rs
  components/constellation/event_loop.rs
  components/constellation/pipeline.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Fix WPT Import (#36101)
  .github/workflows/scheduled-wpt-import.yml
Owners: none
