Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

script: Replace unnecessary macro in get_constructor_object_from_local_name
  components/script/dom/bindings/constructor.rs
Owners: @gterzian

Update components/script/dom/customelementregistry.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

Update components/script/dom/customelementregistry.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

Update components/script/dom/customelementregistry.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

Update components/script/dom/customelementregistry.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

Remove unnecessary custom-elements upgrading test .ini
  tests/wpt/meta/custom-elements/upgrading.html.ini
Owners: none

script: Replace unnecessary macro in get_constructor_object_from_local_name (#35383)
  components/script/dom/bindings/constructor.rs
Owners: @gterzian

dom: Always replace unpaired surrogates when handling page text
  components/config/opts.rs
  components/script/dom/characterdata.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script_bindings/conversions.rs
  components/script_bindings/str.rs
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @gterzian

dom: Always replace unpaired surrogates when handling page text (#35381)
  components/config/opts.rs
  components/script/dom/characterdata.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script_bindings/conversions.rs
  components/script_bindings/str.rs
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @gterzian

Allow settings userscripts through preferences
  components/config/opts.rs
  components/config/pref_util.rs
  components/config/prefs.rs
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  ports/servoshell/prefs.rs
Owners: @gterzian

mach fmt instead of cargo fmt
  components/script/dom/window.rs
  components/script/script_thread.rs
Owners: @gterzian

script: tidy comments in run_upgrade_constructor
  components/script/dom/customelementregistry.rs
Owners: @gterzian

Fix pref loading not working for array values
  components/config/pref_util.rs
Owners: none

script: Add shadow dom check to custom element constructor (#35382)
  components/script/dom/customelementregistry.rs
  tests/wpt/meta/custom-elements/upgrading.html.ini
Owners: @gterzian

Use pref! in userscripts instead
  components/script/dom/userscripts.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
Owners: @gterzian

Add support for Upgrade a mixed content request.
  components/net/fetch/methods.rs
Owners: none

libservo: Remove message-based API (#35366)
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/shared/embedder/lib.rs
Owners: @mrobinson

Add support for Upgrade a mixed content request. (#34794)
  components/net/fetch/methods.rs
Owners: none

Add internal slot definition
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Add initialization for new IntersectionObserver
  components/script/dom/intersectionobserver.rs
  components/script_bindings/webidls/IntersectionObserver.webidl
Owners: @gterzian

Move observer initialization
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Make a copy of style IntersectionObserverRootMargin
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/mod.rs
Owners: @gterzian

Update WPT tests
  tests/wpt/meta/intersection-observer/idlharness.window.js.ini
  tests/wpt/meta/intersection-observer/observer-attributes.html.ini
  tests/wpt/meta/intersection-observer/observer-exceptions.html.ini
Owners: none

Move initialization to account for rooted expression
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix some fields typing
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/raredata.rs
Owners: @gterzian

Impl rest of IntersectionObserver interface
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  tests/wpt/meta/intersection-observer/observer-attributes.html.ini
Owners: @gterzian

implemented feture and tests
  components/script/dom/websocket.rs
  components/shared/net/request.rs
  tests/wpt/tests/websockets/constants.sub.js
  tests/wpt/tests/websockets/cookies/cross-origin-cookie-set.html
  tests/wpt/tests/websockets/opening-handshake/received-301-code.html
  tests/wpt/tests/websockets/opening-handshake/resources/redirect_response.py
Owners: @gterzian

libservo: Flesh out permissions API
  components/devtools/lib.rs
  components/script/dom/bluetooth.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/permissions.rs
  components/script_bindings/codegen/Bindings.conf
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @atbrakhi, @jschwe

libservo: Flesh out permissions API (#35396)
  components/devtools/lib.rs
  components/script/dom/bluetooth.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/permissions.rs
  components/script_bindings/codegen/Bindings.conf
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @atbrakhi, @jschwe

Revert "Use surfman with glow bindings (#34328)"
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @gterzian, @atbrakhi

Remove unintended `dbg!` from `components/net/fetch/methods.rs`
  components/net/fetch/methods.rs
Owners: none

Remove unintended `dbg!` from `components/net/fetch/methods.rs` (#35401)
  components/net/fetch/methods.rs
Owners: none

servoshell: Move `initial_window_size` and `screen_size_override` into `ServoShellPreferences` from `Opts`
  components/config/opts.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/prefs.rs
Owners: @atbrakhi

Revert "Use surfman with glow bindings (#34328)" (#35402)
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @gterzian, @atbrakhi

implemented feture and tests (#35309)
  components/script/dom/websocket.rs
  components/shared/net/request.rs
  tests/wpt/tests/websockets/constants.sub.js
  tests/wpt/tests/websockets/cookies/cross-origin-cookie-set.html
  tests/wpt/tests/websockets/opening-handshake/received-301-code.html
  tests/wpt/tests/websockets/opening-handshake/resources/redirect_response.py
Owners: @gterzian

script: make Error::to_jsval safe
  components/script/dom/bindings/error.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/script_module.rs
Owners: @gterzian

servoshell: Move `initial_window_size` and `screen_size_override` into `ServoShellPreferences` from `Opts` (#35407)
  components/config/opts.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/prefs.rs
Owners: @atbrakhi

libservo: Add a delegate method for HTTP authentication
  components/constellation/tracing.rs
  components/net/http_loader.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

libservo: Add a delegate method for HTTP authentication (#35400)
  components/constellation/tracing.rs
  components/net/http_loader.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

script: make Error::to_jsval safe (#35411)
  components/script/dom/bindings/error.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/script_module.rs
Owners: @gterzian
