Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Add crashtest.
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/global-enumerate-crash.html
Owners: none

Update interface test.
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: none

Fix crash when enumerating properties of global object (#36491)
  Cargo.lock
  components/script/dom/bindings/utils.rs
  components/script_bindings/build.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/interfaces.rs
  components/script_bindings/utils.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/global-enumerate-crash.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

resources: Remove baked in resources (#36042)
  components/net/image_cache.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/resources.rs
  components/shared/net/Cargo.toml
Owners: none

Report memory usage for image frames.
  components/malloc_size_of/lib.rs
  components/pixels/lib.rs
Owners: none

imagedata: Fix overflow panic for too large ImageData (#36569)
  components/script/dom/imagedata.rs
Owners: @gterzian

fix format
  components/script/dom/node.rs
Owners: @gterzian

handle blob and script url for worker scripts
  components/devtools/actors/root.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

compositing: Remove `windowing.rs` and making `compositing` private
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/windowing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @atbrakhi

CI: Add `number_of_chunks`
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  python/servo/try_parser.py
Owners: none

compositing: Remove `windowing.rs` and making `compositing` private (#36582)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/windowing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @atbrakhi

Report memory usage for image frames. (#36581)
  components/malloc_size_of/lib.rs
  components/pixels/lib.rs
Owners: none

Update wgpu to v25
  Cargo.lock
  Cargo.toml
  components/script/dom/webgpu/gpuadapter.rs
  components/shared/webgpu/lib.rs
  components/webgpu/wgpu_thread.rs
  deny.toml
Owners: @gterzian

Update expect
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba8unorm_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba8unorm_store.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_bgra8unorm_opaque_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_bgra8unorm_opaque_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_opaque_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_premultiplied_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_premultiplied_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_image_rendering.https.html.ini
Owners: none

Do not print info in CTS
  python/servo/testing_commands.py
  tests/wpt/webgpu/meta/MANIFEST.json
  tests/wpt/webgpu/tests/webgpu/common/internal/logging/test_case_recorder.js
Owners: none

Fix /css/css-flexbox/gap-007-* WPT tests
  tests/wpt/tests/css/css-flexbox/gap-007-lr-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-lr.html
  tests/wpt/tests/css/css-flexbox/gap-007-ltr-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-ltr.html
  tests/wpt/tests/css/css-flexbox/gap-007-rl-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-rl.html
  tests/wpt/tests/css/css-flexbox/gap-007-rtl-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-rtl.html
Owners: none

layout: Always floor the max-content size by the min-content size (#36571)
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/intrinsic-size/row-wrap-002.tentative.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix `/css/css-flexbox/gap-007-*` WPT tests (#36585)
  tests/wpt/tests/css/css-flexbox/gap-007-lr-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-lr.html
  tests/wpt/tests/css/css-flexbox/gap-007-ltr-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-ltr.html
  tests/wpt/tests/css/css-flexbox/gap-007-rl-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-rl.html
  tests/wpt/tests/css/css-flexbox/gap-007-rtl-ref.html
  tests/wpt/tests/css/css-flexbox/gap-007-rtl.html
Owners: none

htmlinputelement: Update radio group validity logic for disconnected trees
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
Owners: @gterzian

Implement static Response.json
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Response.webidl
  tests/wpt/meta/fetch/api/idlharness.any.js.ini
  tests/wpt/meta/fetch/api/response/response-static-json.any.js.ini
Owners: @gterzian

Refactor common infrastructure for creating memory reports.
  Cargo.lock
  components/layout_thread_2020/lib.rs
  components/net/image_cache.rs
  components/net/resource_thread.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/mem.rs
  components/shared/script_layout/lib.rs
Owners: @gterzian

Refactor common infrastructure for creating memory reports. (#36579)
  Cargo.lock
  components/layout_thread_2020/lib.rs
  components/net/image_cache.rs
  components/net/resource_thread.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/mem.rs
  components/shared/script_layout/lib.rs
Owners: @gterzian

Implement CSSStyleSheet::replaceSync
  components/script/dom/bindings/error.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/domexception.rs
  components/script_bindings/error.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-mixins/at-function-parsing.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-baseURL.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-disabled-regular-sheet-insertion.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable.html.ini
  tests/wpt/meta/css/cssom/adoptedstylesheets-modify-array-and-sheet.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: @gterzian

fixup naming
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  python/servo/try_parser.py
Owners: none

CI: Add `number_of_chunks` (#36584)
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  python/servo/try_parser.py
Owners: none

canvas: Apply upper size limitation to context output bitmap
  components/canvas/canvas_data.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.html.ini
Owners: @gterzian

chore: Update wgpu to v25 (#36486)
  Cargo.lock
  Cargo.toml
  components/script/dom/webgpu/gpuadapter.rs
  components/shared/webgpu/lib.rs
  components/webgpu/wgpu_thread.rs
  deny.toml
  python/servo/testing_commands.py
  tests/wpt/webgpu/meta/MANIFEST.json
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba8unorm_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba8unorm_store.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_bgra8unorm_opaque_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_bgra8unorm_opaque_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_opaque_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_premultiplied_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_premultiplied_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_image_rendering.https.html.ini
  tests/wpt/webgpu/tests/webgpu/common/internal/logging/test_case_recorder.js
Owners: @gterzian

make writablestreams transferrable
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/shared/constellation/message_port.rs
  tests/wpt/meta/streams/transferable/deserialize-error.window.js.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: @gterzian

Streams: make writable streams transferrable (#36588)
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/shared/constellation/message_port.rs
  tests/wpt/meta/streams/transferable/deserialize-error.window.js.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: @gterzian

compositing: Rename `WebView` to `WebViewRenderer`
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview_manager.rs
  components/compositing/webview_renderer.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

layout: Store `Fragment` results in `LayoutBoxBase` and start using them for queries
  components/layout_2020/dom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Use snapshot for canvas bitmap
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/canvas/webgl_thread.rs
  components/pixels/lib.rs
  components/script/Cargo.toml
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/shared/snapshot/Cargo.toml
  components/shared/snapshot/lib.rs
  components/shared/webgpu/Cargo.toml
  components/shared/webgpu/messages/recv.rs
  components/webgpu/Cargo.toml
  components/webgpu/swapchain.rs
Owners: @gterzian

Set true FAIL
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance-luminance-unsigned_byte.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance_alpha-luminance_alpha-unsigned_byte.html.ini
Owners: none

Set PASS expectations
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/mozilla/meta/mozilla/webgl/tex_image_2d_canvas.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
  tests/wpt/webgl/meta/conformance/more/functions/copyTexSubImage2D.html.ini
  tests/wpt/webgl/meta/conformance/textures/misc/tex-image-webgl.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
Owners: none

handle sizes outside
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

docs
  components/shared/snapshot/lib.rs
Owners: none

layout: Store `Fragment` results in `LayoutBoxBase` and start using them for queries (#36583)
  components/layout_2020/dom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Implement `justify-self` for block-level boxes
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/css-align/blocks/justify-self-auto-margins-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-block-in-inline.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align.html.ini
  tests/wpt/meta/css/css-align/blocks/safe-justify-self-htb.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Structure reflow code to make it more modular
  Cargo.lock
  components/layout_2020/traversal.rs
  components/layout_thread_2020/Cargo.toml
  components/layout_thread_2020/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Scale by DPR
  components/script/script_thread.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
