Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Check request origin for trustworthiness, not the request url
  components/net/fetch/methods.rs
  components/shared/net/request.rs
  tests/wpt/meta/mixed-content/csp.https.window.js.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/link-css-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/script-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic.http-rp/unset/xhr.https.html.ini
Owners: none

More fixes and passing the nested-iframes test
  components/constellation/constellation.rs
  components/net/fetch/methods.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/location.rs
  components/script/dom/request.rs
  components/script/dom/windowproxy.rs
  components/script/dom/workerglobalscope.rs
  components/script/links.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/shared/net/request.rs
  components/shared/script/lib.rs
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/unset/link-prefetch-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.http-rp/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.http-rp/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/opt-in/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/opt-in/xhr.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/unset/fetch.https.html.ini
  tests/wpt/meta/mixed-content/gen/worker-classic-data.meta/unset/xhr.https.html.ini
  tests/wpt/meta/mixed-content/nested-iframes.window.js.ini
Owners: @gterzian

Fix mismatched types
  components/script/body.rs
  components/script/dom/formdata.rs
  components/script/dom/formdataevent.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadevent.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/rtcdatachannel.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/rtcsessiondescription.rs
  components/script/dom/texttracklist.rs
  components/script/dom/trackevent.rs
  components/script/dom/webxr/xrinputsourcearray.rs
  components/script/dom/webxr/xrjointpose.rs
  components/script/dom/webxr/xrpose.rs
  components/script/dom/webxr/xrreferencespace.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/webxr/xrviewerpose.rs
Owners: @gterzian

net: Add missing feature required for unit tests.
  components/net/Cargo.toml
Owners: none

Stop using RootedGuard's DerefMut impl
  components/script/dom/bindings/interface.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Update mozjs version
  Cargo.lock
Owners: none

Fix content-type when creating a `Request` with `FormData` body
  components/script/body.rs
  tests/wpt/meta/fetch/api/basic/request-headers.any.js.ini
  tests/wpt/meta/fetch/api/request/request-init-contenttype.any.js.ini
  tests/wpt/meta/fetch/api/response/response-consume.html.ini
  tests/wpt/meta/fetch/api/response/response-init-contenttype.any.js.ini
  tests/wpt/meta/fetch/content-length/api-and-duplicate-headers.any.js.ini
  tests/wpt/meta/xhr/setrequestheader-content-type.htm.ini
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/document.rs
  components/script/dom/documentfragment.rs
  components/script/dom/element.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

fix: prevent missing value error for radio button inputs without a name
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-validity-valueMissing.html.ini
Owners: @gterzian

dom: Track "removed" event listener status
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  tests/wpt/meta/dom/events/remove-all-listeners.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/event-listeners.window.js.ini
Owners: @gterzian

doc: fix broken link to UnrootedMustRoot plugin
  components/script/docs/JS-Servos-only-GC.md
Owners: @gterzian

Fixed the problem that touchmove cannot be disabled when preventDefault is invoked on touchstart.
  components/compositing/webview.rs
Owners: @mrobinson

[feature](platform_font): Linux/Ubuntu/Android add extraction of unicode ranges information from font file.
  components/fonts/font.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/freetype_truetype_unicode_ranges.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/system_font_service.rs
Owners: @jschwe

Propagate CanGc arguments through new_js_regex and matches_js_regex
  Cargo.toml
  components/script/devtools.rs
  components/script/dom/attr.rs
  components/script/dom/characterdata.rs
  components/script/dom/document.rs
  components/script/dom/documenttype.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domstringmap.rs
  components/script/dom/element.rs
  components/script/dom/elementinternals.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmldialogelement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/namednodemap.rs
  components/script/dom/node.rs
  components/script/dom/range.rs
  components/script/dom/selection.rs
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/text.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

Animation: Aggregate Animated Image Info to Document
  Cargo.lock
  components/layout_2020/context.rs
  components/layout_2020/replaced.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/image_animation.rs
  components/script/lib.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Rewrite node insertion algorithm to match the spec
  components/script/dom/node.rs
Owners: @gterzian

Fri Mar 28 04:56:18 PM HKT 2025
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/dom/nodes/adoption.window.js.ini
  tests/wpt/meta/html/semantics/document-metadata/the-style-element/mutations.window.js.ini
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
Owners: @gterzian

Install tshark for automated tests in #36033
  python/servo/platform/linux.py
  shell.nix
Owners: none

implement the transfer receive steps
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Install tshark for automated tests in #36033 (#36201)
  python/servo/platform/linux.py
  shell.nix
Owners: none

devtools: Fix id collisions by using incrementing counters
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/inspector.rs
  components/devtools/actors/tab.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  python/servo/testing_commands.py
Owners: none

complete transfer, without any messaging mechanism
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/shared/script/lib.rs
Owners: @gterzian

doc: fix broken link to UnrootedMustRoot plugin (#36198)
  components/script/docs/JS-Servos-only-GC.md
Owners: @gterzian

[feature]: Attempt to add variation axes control
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/font_template.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/ohos/font_list.rs
Owners: @jschwe

fix: prevent missing value error for radio button inputs without a name (#36197)
  components/script/dom/htmlinputelement.rs
  tests/wpt/meta/html/semantics/forms/constraints/form-validation-validity-valueMissing.html.ini
Owners: @gterzian

net: Add missing feature required for unit tests. (#36193)
  components/net/Cargo.toml
Owners: none

`self.bytes` should not be mutably borrowed over GC pause
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

Stop using `RootedGuard's` DerefMut impl (#36158)
  Cargo.lock
  components/script/dom/bindings/interface.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Use a simpler GitHub pull request template
  PULL_REQUEST_TEMPLATE.md
Owners: none

Fix content-type when creating a `Request` with `FormData` body (#36194)
  components/script/body.rs
  tests/wpt/meta/fetch/api/basic/request-headers.any.js.ini
  tests/wpt/meta/fetch/api/request/request-init-contenttype.any.js.ini
  tests/wpt/meta/fetch/api/response/response-consume.html.ini
  tests/wpt/meta/fetch/api/response/response-init-contenttype.any.js.ini
  tests/wpt/meta/fetch/content-length/api-and-duplicate-headers.any.js.ini
  tests/wpt/meta/xhr/setrequestheader-content-type.htm.ini
Owners: @gterzian

Consume BOM in the `text()` method of fetch bodies
  components/script/body.rs
  tests/wpt/meta/fetch/api/basic/text-utf8.any.js.ini
  tests/wpt/meta/fetch/metadata/trailing-dot.https.sub.any.js.ini
Owners: @gterzian

Removed unused imports and cannot find value `window` in this scope
  components/script/body.rs
  components/script/dom/domrectlist.rs
  components/script/dom/formdataevent.rs
  components/script/dom/gamepadevent.rs
  components/script/dom/rtcdatachannel.rs
  components/script/dom/rtcdatachannelevent.rs
  components/script/dom/rtcerror.rs
  components/script/dom/rtcerrorevent.rs
  components/script/dom/rtcicecandidate.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/rtcpeerconnectioniceevent.rs
  components/script/dom/rtcsessiondescription.rs
  components/script/dom/rtctrackevent.rs
  components/script/dom/submitevent.rs
  components/script/dom/trackevent.rs
  components/script/dom/vttregion.rs
  components/script/dom/webxr/xrboundedreferencespace.rs
  components/script/dom/webxr/xrframe.rs
  components/script/dom/webxr/xrhittestresult.rs
  components/script/dom/webxr/xrinputsourcearray.rs
  components/script/dom/webxr/xrinputsourceevent.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrjointpose.rs
  components/script/dom/webxr/xrpose.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrreferencespace.rs
  components/script/dom/webxr/xrreferencespaceevent.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrsessionevent.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/webxr/xrviewerpose.rs
Owners: @gterzian

Check for existence of 'sudo' on Linux in ./mach bootstrap (#35739)
  python/servo/platform/linux.py
Owners: none

fmt and unused imports warnings
  components/script/body.rs
  components/script/dom/formdata.rs
  components/script/dom/gamepad.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/vttcue.rs
  components/script/dom/webxr/xrhittestresult.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
Owners: @gterzian

compositor: Make viewport metrics per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

Consume BOM in the `text()` method of fetch bodies (#36192)
  components/script/body.rs
  tests/wpt/meta/fetch/api/basic/text-utf8.any.js.ini
  tests/wpt/meta/fetch/metadata/trailing-dot.https.sub.any.js.ini
Owners: @gterzian

Repaint select element when the label of an option changes
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

Fix HTMLOptionElement::owner_select_element
  components/script/dom/htmloptionelement.rs
Owners: @gterzian
