Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Fix `mach test-jquery`
  python/servo/testing_commands.py
Owners: none

Set cryptographic nonce metadata for module script fetch operations (#36776)
  components/script/script_module.rs
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: @gterzian

Send doctype tag info to the devtools inspector
  components/devtools/actors/inspector/node.rs
  components/script/dom/node.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Fix `mach test-jquery` (#36786)
  python/servo/testing_commands.py
Owners: none

Implement a resource reader for winit_minimal.
  components/servo/examples/winit_minimal.rs
Owners: none

Use backend trait with associated types for 2d canvas backends abstraction (#36783)
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/lib.rs
  components/canvas/raqote_backend.rs
Owners: none

Check CSP for `javascript:` URLs
  Cargo.lock
  components/script/dom/globalscope.rs
  components/script/dom/htmliframeelement.rs
  components/script/script_thread.rs
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html.ini
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_javascript_uri.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-trusted_types_eval_with_require_trusted_types_eval.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/linenumber.tentative.html.ini
  tests/wpt/meta/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_missing_unsafe_hashes-href.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_missing_unsafe_hashes-window_location.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_wrong_hash-href.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_wrong_hash-window_location.html.ini
  tests/wpt/tests/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html
Owners: @gterzian

default impl of ellipse
  components/canvas/backend.rs
  components/canvas/raqote_backend.rs
Owners: none

do not generalise CompositionOrBlending
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Owners: none

Send info about the `DocumentType` node to the devtools inspector (#36787)
  components/devtools/actors/inspector/node.rs
  components/script/dom/node.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

canvas: Move `CompositionOrBlending` and `ellipse()` from `RaqoteBackend` to `Backend` (#36790)
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Owners: none

deps: Upgrade to latest version of our downstream WebRender fork (0.67)
  Cargo.lock
  Cargo.toml
  components/servo/lib.rs
  tests/wpt/tests/html/semantics/embedded-content/the-iframe-element/iframe-hit-test-during-load-event-crash.html
Owners: none

deps: Upgrade to latest version of our downstream WebRender fork (0.67) (#36770)
  Cargo.lock
  Cargo.toml
  components/servo/lib.rs
  tests/wpt/tests/html/semantics/embedded-content/the-iframe-element/iframe-hit-test-during-load-event-crash.html
Owners: none

script: Clamp table spans according to the HTML specification (#36703)
  components/layout/table/construct.rs
  components/script/dom/htmltablecellelement.rs
  components/script/dom/htmltablecolelement.rs
  components/script/dom/macros.rs
  tests/wpt/meta/html/dom/reflection-tabular.html.ini
  tests/wpt/tests/css/css-tables/colspan-zero-crash.html
  tests/wpt/tests/html/semantics/tabular-data/processing-model-1/col-span-limits.html
  tests/wpt/tests/html/semantics/tabular-data/processing-model-1/span-limits.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Remove `HTMLCanvasDataSource` and `CanvasSource`
  components/layout/dom.rs
  components/layout/replaced.rs
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

canvas: rename `snapshot(_data)` to `surface() -> SourceSurface`/`bytes() -> AsRef<[u8]>`
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Owners: none

update test
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

modidy expectation file
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

update test - second try
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

fix: fix messy branch
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

update expectation file
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

clean up messy branch
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

update test: stable unexpected results
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-ShadowRoot-setHTMLUnsafe.html.ini
Owners: none

canvas: rename `snapshot(_data)` to `surface() -> SourceSurface`/`bytes() -> AsRef<[u8]>` (#36793)
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Owners: none

feat: implement ShadowRoot::setHTMLUnsafe (#36240)
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-ShadowRoot-setHTMLUnsafe.html.ini
Owners: @gterzian

layout: Simplify `PositioningContext`
  components/layout/flexbox/layout.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/positioned.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
  components/layout/taffy/mod.rs
  tests/wpt/tests/css/css-grid/abspos/abspos-in-flexbox-in-grid-crash.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove `HTMLCanvasDataSource` and `CanvasSource` (#36794)
  components/layout/dom.rs
  components/layout/replaced.rs
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

revert unrelated wpt result change.
  tests/wpt/meta/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html.ini
Owners: none

WebIDL Fix ImageData constructor to take a Uint8ClampedArray instead of object
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
Owners: @gterzian

Implement document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Update document.scrollingElement implementation based on review
  components/script/dom/document.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Update web platform tests for document.scrollingElement
  tests/wpt/meta/css/cssom-view/HTMLBody-ScrollArea_quirksmode.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrolling-quirks-vs-nonquirks.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

Implement parent overflow:clip as overflow:hidden for document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

Remove unused wpt configurations after implementing document.scrollingElement
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

document.scrollingElement: comment and parameter adjustment based on review
  components/script/dom/element.rs
Owners: @gterzian

document.scrollingElement: update web platform tests for overflow:clip
  tests/wpt/tests/css/cssom-view/scrollingElement.html
Owners: none

document.scrollingElement: update intersection-observer test configs
  tests/wpt/meta/intersection-observer/cross-origin-iframe.sub.html.ini
  tests/wpt/meta/intersection-observer/disconnect.html.ini
  tests/wpt/meta/intersection-observer/iframe-no-root-with-wrapping-scroller.html.ini
  tests/wpt/meta/intersection-observer/iframe-no-root.html.ini
  tests/wpt/meta/intersection-observer/multiple-targets.html.ini
  tests/wpt/meta/intersection-observer/multiple-thresholds.html.ini
  tests/wpt/meta/intersection-observer/observer-without-js-reference.html.ini
  tests/wpt/meta/intersection-observer/root-margin-root-element.html.ini
  tests/wpt/meta/intersection-observer/root-margin.html.ini
  tests/wpt/meta/intersection-observer/same-document-no-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-with-document-root.html.ini
  tests/wpt/meta/intersection-observer/same-document-zero-size-target.html.ini
  tests/wpt/meta/intersection-observer/svg-clipped-rect-target.html.ini
  tests/wpt/meta/intersection-observer/svg-intersection-with-fractional-bounds.html.ini
  tests/wpt/meta/intersection-observer/svg-rect-target.html.ini
  tests/wpt/meta/intersection-observer/text-target.html.ini
  tests/wpt/meta/intersection-observer/timestamp.html.ini
  tests/wpt/meta/intersection-observer/visibility-hidden.html.ini
Owners: none

document.scrollingElement: remove .and_then(DomRoot::downcast::<HTMLBodyElement>)
  components/script/dom/document.rs
Owners: @gterzian

document.scrollingElement: split element.is_potentially_scrollable_body()
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

Fix winit_minimal build breakage
  components/constellation/constellation.rs
  components/script/canvas_context.rs
  components/script/dom/gpucanvascontext.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
