Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Modify the checks for upgrade-request algorithm
  components/net/fetch/methods.rs
  components/net/tests/http_loader.rs
Owners: none

fix: bring back connection method to fix WebGL texture error (#35358)
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/shared/webrender/rendering_context.rs
Owners: @mrobinson

libservo: Add a `ClipboardDelegate` and a default implementation (#35297)
  Cargo.lock
  Cargo.toml
  components/constellation/tracing.rs
  components/script/clipboard_provider.rs
  components/script/dom/document.rs
  components/script/textinput.rs
  components/servo/Cargo.toml
  components/servo/clipboard_delegate.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  tests/unit/script/textinput.rs
Owners: @gterzian, @atbrakhi, @jschwe

Enable surfman's sm-x11 feature for webrender_traits
  components/shared/webrender/Cargo.toml
Owners: none

Minimal servodriver test
  tests/wpt/tests/pointerevents/pointerevent_click_is_a_pointerevent.html
  tests/wpt/tests/pointerevents/pointerevent_support.js
Owners: none

Enable surfman's sm-x11 feature for webrender_traits (#35362)
  components/shared/webrender/Cargo.toml
Owners: none

deps: Upgrade to `webrender@0.66` (#35325)
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/compositing/compositor.rs
  components/layout/display_list/webrender_helpers.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_thread/Cargo.toml
  components/layout_thread/lib.rs
  components/net/Cargo.toml
  components/net/tests/hsts.rs
  components/profile/Cargo.toml
  components/profile/time.rs
  components/script/Cargo.toml
  components/script/dom/bindings/str.rs
  components/script/dom/file.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/macros.rs
  components/script/dom/performance.rs
  components/script/dom/performanceentry.rs
  components/script/dom/performancepainttiming.rs
  components/script/dom/performanceresourcetiming.rs
  components/script/dom/visibilitystateentry.rs
  components/shared/base/Cargo.toml
  components/shared/base/cross_process_instant.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/webxr/Cargo.toml
  components/webgpu/swapchain.rs
  deny.toml
  tests/unit/profile/Cargo.toml
  tests/unit/profile/time.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

fix typo
  tests/wpt/tests/web-animations/README.md
Owners: none

fix typo
  tests/wpt/tests/css/css-ui/box-sizing-005.html
Owners: none

fix typo
  tests/wpt/tests/css/css-ui/cursor-image-009.html
Owners: none

fix typo
  tests/wpt/tests/css/css-flexbox/flex-direction.html
Owners: none

fix typo
  tests/wpt/tests/docs/writing-tests/reftests.md
Owners: none

script: make throw_invalid_this and throw_constructor_without_new safe (#35360)
  components/script/dom/bindings/constructor.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/utils.rs
Owners: @gterzian

Modify the checks for upgrade-request algorithm (#35357)
  components/net/fetch/methods.rs
  components/net/tests/http_loader.rs
Owners: none

libservo: Remove message-based API
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/shared/embedder/lib.rs
Owners: @mrobinson

winit_minimal: resize rendering context on window resize
  components/servo/examples/winit_minimal.rs
Owners: none

layout grid item collected child
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add WPT tests
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-absolute-child.html
  tests/wpt/tests/css/css-grid/reference/grid-items-relative-positioned-absolute-child-ref.html
Owners: none

Add WPT tests
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-absolute-child.html
  tests/wpt/tests/css/css-grid/reference/grid-items-relative-positioned-absolute-child-ref.html
Owners: none

Split up the WPT test
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-001.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-002.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-003.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-004.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-005.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-006.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block.html
  tests/wpt/tests/css/css-grid/reference/grid-items-relative-positioned-containing-block-ref.html
Owners: none

Fix fixed position descendant
  components/layout_2020/taffy/layout.rs
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-absolute-child.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block.html
  tests/wpt/tests/css/css-grid/reference/grid-items-relative-positioned-absolute-child-ref.html
  tests/wpt/tests/css/css-grid/reference/grid-items-relative-positioned-containing-block-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Run fmt
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Apply code quality suggestion
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Organize WPT test CSS
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-001.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-002.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-003.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-004.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-005.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-006.html
  tests/wpt/tests/css/css-grid/grid-items/support/grid-items-relative-positioned-containing-block.css
Owners: none

servoshell: Move `headless` setting to ServoShellPreferences
  components/config/opts.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/globalscope.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/prefs.rs
Owners: @gterzian, @atbrakhi

Fix WPT css endline
  tests/wpt/tests/css/css-grid/grid-items/support/grid-items-relative-positioned-containing-block.css
Owners: none

servoshell: Move `headless` setting to ServoShellPreferences (#35377)
  components/config/opts.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/globalscope.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/prefs.rs
Owners: @gterzian, @atbrakhi

script: make methods of ErrorInfo safe
  components/script/dom/bindings/error.rs
Owners: @gterzian

Handle slots in an event's path
  components/script/dom/event.rs
Owners: @gterzian

script: make methods of ErrorInfo safe (#35367)
  components/script/dom/bindings/error.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
Owners: none

layout: Fix relative positioned grid item (#35014)
  components/layout_2020/taffy/layout.rs
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-001.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-002.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-003.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-004.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-005.html
  tests/wpt/tests/css/css-grid/grid-items/grid-items-relative-positioned-containing-block-006.html
  tests/wpt/tests/css/css-grid/grid-items/support/grid-items-relative-positioned-containing-block.css
Owners: @mrobinson, @Loirooriol, @nicoburns

Handle assigned slottables in an Event's path (#35380)
  components/script/dom/event.rs
  tests/wpt/meta/shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
Owners: @gterzian

Add cli option for tracing-filter
  ports/servoshell/desktop/cli.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/lib.rs
  ports/servoshell/prefs.rs
Owners: @atbrakhi, @jschwe

Add cli option for tracing-filter (#35370)
  ports/servoshell/desktop/cli.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/lib.rs
  ports/servoshell/prefs.rs
Owners: @atbrakhi, @jschwe

suppress build warnings when disabling webgpu and webxr
  components/script/conversions.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/document.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/mod.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/messaging.rs
Owners: @gterzian

suppress build warnings when disabling webgpu and webxr (#35379)
  components/script/conversions.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/document.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/mod.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/messaging.rs
Owners: @gterzian

make report_pending_exception safe and adjust callers
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/error.rs
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/eventtarget.rs
  components/script/dom/globalscope.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_module.rs
Owners: @gterzian

make report_pending_exception safe and adjust callers (#35351)
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/error.rs
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/eventtarget.rs
  components/script/dom/globalscope.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_module.rs
Owners: @gterzian

script: Add shadow dom check to custom element constructor
  components/script/dom/customelementregistry.rs
  tests/wpt/meta/custom-elements/upgrading.html.ini
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
