Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

compositing: Remove `compositing_traits::MouseWindowEvent`
  components/compositing/windowing.rs
Owners: @mrobinson

resources: Remove baked in resources
  components/net/image_cache.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/resources.rs
  components/shared/net/Cargo.toml
Owners: none

compositing: Remove `compositing_traits::MouseWindowEvent` (#36550)
  components/compositing/windowing.rs
Owners: @mrobinson

Support ReadableByteStreamController in stream piping
  components/script/dom/readablestream.rs
Owners: @gterzian

Add pipeTo with different readers type
  tests/wpt/mozilla/tests/mozilla/stream/pipeTo-reader-locks.any.js
Owners: none

Move click event trigger from embedding layer to `ScriptThread`
  components/script/script_thread.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @gterzian, @atbrakhi

Refactor retrieving element container in webdriver into function
  components/script/webdriver_handlers.rs
Owners: @gterzian

Implement GetComputedRole in wd
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

Refactor retrieving element container in webdriver into function (#36467)
  components/script/webdriver_handlers.rs
Owners: @gterzian

Implement GetComputedRole in wd (#36552)
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

Add back logic to trigger click event within 10px
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @gterzian, @atbrakhi

script: Do not pass an empty property descriptor to SetPropertyIgnoringNamedGetter.
  Cargo.lock
  components/script_bindings/proxyhandler.rs
  tests/wpt/meta/html/browsers/history/the-location-interface/location-prototype-setting-same-origin-domain.sub.html.ini
  tests/wpt/meta/html/browsers/history/the-location-interface/location-prototype-setting-same-origin.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/no-new-global.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/location-set-crash.html
Owners: none

media element: support seekable attribute
  Cargo.lock
  components/script/dom/htmlmediaelement.rs
  components/script_bindings/webidls/HTMLMediaElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/seeking/seek-to-currentTime.html.ini
Owners: @gterzian

media element: support seekable attribute (#36541)
  Cargo.lock
  components/script/dom/htmlmediaelement.rs
  components/script_bindings/webidls/HTMLMediaElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/seeking/seek-to-currentTime.html.ini
Owners: @gterzian

script: `LoadBlocker`'s drop impl shouldn't run after termination.
  components/script/document_loader.rs
  tests/wpt/meta/dom/ranges/Range-cloneContents.html.ini
  tests/wpt/meta/dom/ranges/Range-deleteContents.html.ini
  tests/wpt/meta/dom/ranges/Range-extractContents.html.ini
  tests/wpt/meta/dom/ranges/Range-insertNode.html.ini
  tests/wpt/meta/dom/ranges/Range-surroundContents.html.ini
Owners: @gterzian

Fix crash when setting custom property on Location (#36494)
  Cargo.lock
  components/script_bindings/proxyhandler.rs
  tests/wpt/meta/html/browsers/history/the-location-interface/location-prototype-setting-same-origin-domain.sub.html.ini
  tests/wpt/meta/html/browsers/history/the-location-interface/location-prototype-setting-same-origin.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/no-new-global.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/location-set-crash.html
Owners: none

libservo: Allow running more than one Servo test in a run (#36532)
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
Owners: none

fmt
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

uv: Use native-tls
  uv.toml
Owners: none

watchTargets should watch for targetType before sending targets
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

fix writablestream assertion crash when getting chunk size following spec change
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/writable-streams/close.any.js.ini
Owners: @gterzian

uv: Use native-tls (#36564)
  uv.toml
Owners: none

net: Measure HSTS memory usage.
  components/net/hsts.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
Owners: none

Report memory usage for image cache.
  Cargo.lock
  components/net/image_cache.rs
  components/script/script_thread.rs
  components/shared/net/Cargo.toml
  components/shared/net/image_cache.rs
  components/shared/net/request.rs
Owners: @gterzian

compositing: Add memory reporter for WebRender.
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/lib.rs
  components/shared/profile/mem.rs
Owners: @mrobinson

net: Measure HSTS memory usage. (#36558)
  components/net/hsts.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
Owners: none

net: Report memory usage for image cache. (#36556)
  Cargo.lock
  components/net/image_cache.rs
  components/script/script_thread.rs
  components/shared/net/Cargo.toml
  components/shared/net/image_cache.rs
  components/shared/net/request.rs
Owners: @gterzian

compositing: Add memory reporter for WebRender. (#36557)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/lib.rs
  components/shared/profile/mem.rs
Owners: @mrobinson

layout: Throw away nested marker elements instead of storing them in a `BoxSlot`
  components/layout_2020/flow/construct.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

imagedata: Fix overflow panic for too large ImageData
  components/script/dom/imagedata.rs
Owners: @gterzian

layout: Encapsulate more Device change logic in `update_device_if_necessary`
  components/layout_thread_2020/lib.rs
Owners: none

layout: Throw away nested marker elements instead of storing them in a `BoxSlot` (#36568)
  components/layout_2020/flow/construct.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Expose a `ServoBuilder`
  Cargo.lock
  components/compositing/windowing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/tests/common/mod.rs
  components/shared/embedder/lib.rs
  components/webxr/Cargo.toml
  components/webxr/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/webxr.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

For worker case send source in ResourceAvailableReply
  components/devtools/actors/watcher.rs
Owners: none

libservo: Expose a `ServoBuilder` (#36549)
  Cargo.lock
  components/compositing/windowing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/tests/common/mod.rs
  components/shared/embedder/lib.rs
  components/webxr/Cargo.toml
  components/webxr/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/webxr.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

fix writablestream assertion crash when getting chunk size following spec change (#36566)
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/meta/streams/writable-streams/close.any.js.ini
Owners: @gterzian

Support static and instance members having the same name in IDLs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: none

Support static and instance members having the same name in IDLs (#36523)
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/Configuration.py
Owners: none

layout: Always floor the max-content size by the min-content size
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/intrinsic-size/row-wrap-002.tentative.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

script: Do not eagerly define WebIDL interfaces when enumerating global objects.
  Cargo.lock
  components/script/dom/bindings/utils.rs
  components/script_bindings/build.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/interfaces.rs
  components/script_bindings/utils.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
