Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

range function left
  components/script/resources/media-controls.css
  components/script/resources/media-controls.js
Owners: @gterzian

Streams: make TransformStream transferrable
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/transformstream.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
Owners: @gterzian

Use one pair of ports for the transfer of both the readable and the writable.
  components/script/dom/transformstream.rs
Owners: @gterzian

Add testcase
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/canvas/transfer-control-to-offscreencanvas-then-change-dimensions-crash.html
Owners: none

Don't resize canvas contents when it's a placeholder
  components/script/canvas_context.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

Implement is-element-nonceable
  components/script/dom/document.rs
  components/script/dom/element.rs
  tests/wpt/meta/content-security-policy/script-src/scriptnonce-basic-blocked.sub.html.ini
Owners: @gterzian

Fix hash algorithm case-insensitiveness
  Cargo.lock
  tests/wpt/meta/content-security-policy/script-src/scripthash-case-insensitive.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-case-insensitive.html.ini
Owners: none

Don't attempt to resize Offscreencanvas without a rendering context (#36855)
  components/script/canvas_context.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/canvas/transfer-control-to-offscreencanvas-then-change-dimensions-crash.html
Owners: @gterzian

Update the <select> shadow tree if descendant of selected option changes
  components/script/dom/htmloptgroupelement.rs
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
Owners: none

Implement is-element-nonceable (#36961)
  components/script/dom/document.rs
  components/script/dom/element.rs
  tests/wpt/meta/content-security-policy/script-src/scriptnonce-basic-blocked.sub.html.ini
Owners: @gterzian

Fix hash algorithm case-insensitiveness (#36962)
  Cargo.lock
  tests/wpt/meta/content-security-policy/script-src/scripthash-case-insensitive.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-hash-case-insensitive.html.ini
Owners: none

Update select shadow tree when contents of selected option change (#36958)
  components/script/dom/htmloptgroupelement.rs
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
Owners: @gterzian

Fix integrity matching
  Cargo.lock
  tests/wpt/meta/content-security-policy/default-src/default-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-sri_hash.sub.html.ini
Owners: none

Fix integrity matching (#36963)
  Cargo.lock
  tests/wpt/meta/content-security-policy/default-src/default-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-sri_hash.sub.html.ini
Owners: none

Allow objc2 duplicates.
  deny.toml
Owners: none

More duplicates.
  deny.toml
Owners: none

codegen: use FromJSValConvertible trait for Promise
  components/script/dom/globalscope.rs
  components/script/dom/promise.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/interfaces.rs
Owners: @gterzian

codegen: add helper function for match FromJSValConvertible statement
  components/script_bindings/codegen/CodegenRust.py
Owners: none

add support for layout
  components/layout/context.rs
  components/layout/display_list/mod.rs
  components/layout/layout_impl.rs
  components/script/dom/window.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

update expectations for tests using SVG with `<video poster="">`
  tests/wpt/meta/css/css-images/object-fit-contain-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-002p.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-003p.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-004p.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-005p.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-006p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-002p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-003p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-004p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-005p.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-006p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-002p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-003p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-004p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-005p.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-006p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-002p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-003p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-004p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-005p.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-006p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-002p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-003p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-004p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-005p.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-006p.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-001p.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-002p.html.ini
Owners: none

update wpt for tests using SVG with `<embed>`
  tests/wpt/meta/css/css-images/object-fit-contain-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-002e.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-003e.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-004e.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-005e.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-006e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-002e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-003e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-004e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-005e.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-006e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-002e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-003e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-004e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-005e.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-006e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-002e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-003e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-004e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-005e.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-006e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-002e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-003e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-004e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-005e.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-006e.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-001e.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-002e.html.ini
Owners: none

update expectations for tests using SVG in <object>
  tests/wpt/meta/css/css-images/object-fit-contain-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-002o.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-003o.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-004o.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-005o.html.ini
  tests/wpt/meta/css/css-images/object-fit-contain-svg-006o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-002o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-003o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-004o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-005o.html.ini
  tests/wpt/meta/css/css-images/object-fit-cover-svg-006o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-002o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-003o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-004o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-005o.html.ini
  tests/wpt/meta/css/css-images/object-fit-fill-svg-006o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-002o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-003o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-004o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-005o.html.ini
  tests/wpt/meta/css/css-images/object-fit-none-svg-006o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-002o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-003o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-004o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-005o.html.ini
  tests/wpt/meta/css/css-images/object-fit-scale-down-svg-006o.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-001o.html.ini
  tests/wpt/meta/css/css-images/object-position-svg-002o.html.ini
Owners: none

update expectation for image.decode() tests
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/decode/image-decode-path-changes.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/decode/image-decode-picture.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/decode/image-decode.html.ini
Owners: none

update expectations for tests using SVG's natural dimensions
  tests/wpt/meta/css/css-backgrounds/background-size/vector/tall--contain--height.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/tall--contain--width.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/wide--contain--height.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/wide--contain--width.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-height-ratio-5px-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-height-ratio-auto-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-height-ratio-contain.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-height-ratio-cover.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-ratio-no-dimensions-5px-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-ratio-no-dimensions-auto-5px.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-ratio-no-dimensions-auto-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-ratio-no-dimensions-contain.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-ratio-no-dimensions-cover.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-width-ratio-5px-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-width-ratio-auto-auto.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-width-ratio-contain.html.ini
  tests/wpt/meta/css/css-backgrounds/background-size/vector/zero-width-ratio-cover.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-007.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/svg-embedded-sizing/svg-in-img-auto.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/svg-embedded-sizing/svg-in-img-fixed.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/svg-embedded-sizing/svg-in-img-percentage.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/naturalWidth-naturalHeight.html.ini
Owners: none

update expectations for false positives
  tests/wpt/meta/html/canvas/element/layers/2d.layer.global-states.filter.ctx-filter.no-transform.tentative.html.ini
  tests/wpt/meta/html/canvas/element/layers/2d.layer.global-states.filter.ctx-filter.rotation.tentative.html.ini
  tests/wpt/meta/html/canvas/element/layers/2d.layer.global-states.filter.no-cxt-filter.no-transform.tentative.html.ini
  tests/wpt/meta/html/canvas/element/layers/2d.layer.global-states.filter.no-cxt-filter.rotation.tentative.html.ini
Owners: none

update expectations for more new passes
  tests/wpt/meta/css/css-sizing/aspect-ratio/replaced-element-010.html.ini
  tests/wpt/meta/fetch/corb/img-mime-types-coverage.tentative.sub.html.ini
  tests/wpt/meta/fetch/nosniff/image.html.ini
  tests/wpt/meta/fetch/orb/tentative/img-mime-types-coverage.tentative.sub.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/refresh/subresource.any.js.ini
  tests/wpt/meta/referrer-policy/generic/meta-tag-in-svg-image.html.ini
Owners: none

update expectations for new failures exposed due to SVG support
  components/net/image_cache.rs
  tests/wpt/meta/css/compositing/root-element-background-image-transparency-001.html.ini
  tests/wpt/meta/css/compositing/root-element-background-image-transparency-002.html.ini
  tests/wpt/meta/css/compositing/root-element-background-image-transparency-003.html.ini
  tests/wpt/meta/css/compositing/root-element-background-image-transparency-004.html.ini
  tests/wpt/meta/css/css-content/element-replacement-image-alt.html.ini
  tests/wpt/meta/css/css-flexbox/aspect-ratio-intrinsic-size-007.html.ini
  tests/wpt/meta/css/css-images/cross-fade-natural-size.html.ini
  tests/wpt/meta/css/css-images/object-view-box-fit-contain-svg.html.ini
  tests/wpt/meta/css/css-images/object-view-box-fit-cover-svg.html.ini
  tests/wpt/meta/css/css-images/object-view-box-fit-none-svg.html.ini
  tests/wpt/meta/css/css-images/object-view-box-writing-mode-svg.html.ini
  tests/wpt/meta/css/css-images/svg-script-is-ignored.html.ini
  tests/wpt/meta/css/css-lists/list-style-image-gradients-dynamic.html.ini
  tests/wpt/meta/css/css-lists/list-style-image-gradients.html.ini
  tests/wpt/meta/css/css-overflow/overflow-img-svg.html.ini
  tests/wpt/meta/css/css-transforms/transform-background-007.html.ini
  tests/wpt/meta/css/css-transforms/transform-background-008.html.ini
  tests/wpt/meta/css/css-transforms/transform-fixed-bg-006.html.ini
  tests/wpt/meta/css/css-transforms/transform-fixed-bg-007.html.ini
  tests/wpt/meta/css/css-transforms/transform-fixed-bg-008.tentative.html.ini
  tests/wpt/meta/css/css-transforms/transform-root-bg-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-root-bg-002.html.ini
  tests/wpt/meta/css/css-transforms/transform-root-bg-003.html.ini
  tests/wpt/meta/css/filter-effects/svg-image-root-filter.html.ini
  tests/wpt/meta/html/canvas/element/manual/drawing-images-to-the-canvas/drawimage_svg_image_with_foreign_object_does_not_taint.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/canvas-createImageBitmap-resize.html.ini
  tests/wpt/meta/html/canvas/element/manual/wide-gamut-canvas/canvas-display-p3-drawImage.https.html.ini
  tests/wpt/meta/html/canvas/offscreen/layers/2d.layer.global-states.filter.ctx-filter.no-transform.tentative.html.ini
  tests/wpt/meta/html/canvas/offscreen/layers/2d.layer.global-states.filter.ctx-filter.rotation.tentative.html.ini
  tests/wpt/meta/html/canvas/offscreen/layers/2d.layer.global-states.filter.no-cxt-filter.no-transform.tentative.html.ini
  tests/wpt/meta/html/canvas/offscreen/layers/2d.layer.global-states.filter.no-cxt-filter.rotation.tentative.html.ini
Owners: none

CI: add `build-args` (#36947)
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

layout: Split `AbsoluteAxisSolver::solve()` into different methods
  components/layout/positioned.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix comment and add TODO for webdriver pointermove (#36929)
  components/webdriver_server/actions.rs
Owners: none

Add ViewportDescription
  components/shared/compositing/viewport_description.rs
Owners: none

Pass Viewport Description to compositor
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Process Key Value Pairs into ViewportDescription
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
  components/shared/compositing/viewport_description.rs
Owners: @gterzian

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Stash the ViewportDescription to |webview|
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
Owners: @mrobinson

Apply suggestions from code review
  components/shared/compositing/viewport_description.rs
Owners: none

Use viewport attributes parsed from meta in Webview
  components/compositing/webview_renderer.rs
Owners: @mrobinson

layout: Share styles to inline box children via `SharedInlineStyles` (#36896)
  components/layout/construct_modern.rs
  components/layout/display_list/mod.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/construct.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/inline/text_run.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_box_base.rs
  components/layout/lib.rs
  components/layout/table/construct.rs
  components/layout/table/mod.rs
  components/layout/taffy/mod.rs
  components/malloc_size_of/lib.rs
  tests/wpt/tests/css/css-display/display-contents-inline-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Move & Rename API `process_pending_scroll_events`.
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
Owners: @mrobinson

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
