Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Add doc comments
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/validitystate.rs
Owners: @gterzian

Strip newlines/whitespace for displayed option label
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Fall back to option textcontent for display when label is empty
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-label-whitespace.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-with-br.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-button-min-height-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-empty.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-multiple-re-add-option-via-document-fragment.html.ini
  tests/wpt/meta/html/rendering/widgets/select-wrap-no-spill.optional.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-checked-styling.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/select-marker-end-aligned.tentative.html.ini
Owners: none

Create a more general form control API for select element pickers
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/app_state.rs
Owners: @atbrakhi

Make description of quirks-mode test more helpful
  tests/wpt/tests/html/rendering/widgets/the-select-element/option-add-label-quirks.html
Owners: none

Fixed the problem that touchmove cannot be disabled when preventDefault is invoked on touchstart. (#36200)
  components/compositing/webview.rs
Owners: @mrobinson

Animation: Aggregate Animated Image Info to Document (#36141)
  Cargo.lock
  components/layout_2020/context.rs
  components/layout_2020/replaced.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/image_animation.rs
  components/script/lib.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

dom: Track "removed" event listener status (#36163)
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  tests/wpt/meta/dom/events/remove-all-listeners.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/event-listeners.window.js.ini
Owners: @gterzian

Remove redundant `rooted_vec` macro
  components/script/dom/bindings/trace.rs
  components/script/dom/macros.rs
Owners: @gterzian

Remove redundant `rooted_vec` macro (#36214)
  components/script/dom/bindings/trace.rs
  components/script/dom/macros.rs
Owners: @gterzian

Devtools parser: reassemble fragmented messages
  etc/devtools_parser.py
  etc/devtools_parser_test.json
  etc/devtools_parser_test.pcap
  python/servo/testing_commands.py
Owners: none

Treat missing queues as empty queues
  etc/devtools-tools/src/main.rs
Owners: none

Allow records to be commented out with `//`
  etc/devtools-tools/src/main.rs
Owners: none

script: Move num module to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/mod.rs
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/num.rs
Owners: @gterzian

script: Make JS reflector creation generic over DOM trait.
  components/script/dom/bindings/guard.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/globalscope.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

script: Move bindings-specific lock to script_bindings.
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/lib.rs
  components/script_bindings/lock.rs
Owners: @gterzian

script: Move DOM proto array code to script_bindings.
  components/script/dom/bindings/utils.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Move finalizer implementations to script_bindings.
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/finalize.rs
  components/script_bindings/lib.rs
Owners: @gterzian

script: Move some error routines to script_bindings.
  components/script/dom/bindings/error.rs
  components/script_bindings/error.rs
Owners: @gterzian

script: Move some DOM interface conversion routines to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script_bindings/conversions.rs
Owners: @gterzian

script: Make is_array_like generic over DOM trait.
  components/script/dom/bindings/conversions.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Enable devtools parser tests on Linux only for now
  python/servo/testing_commands.py
Owners: none

script: Move a bunch of routines used by codegen to script_bindings.
  components/script/dom/bindings/utils.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Use generic interfaces for conditional exposure functions.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/document.rs
  components/script/dom/servointernals.rs
  components/script/dom/testbinding.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/interfaces.rs
  components/script_bindings/lib.rs
  components/script_bindings/webidls/ServoInternals.webidl
Owners: @gterzian

Fix clippy warnings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/readablestream.rs
  components/script/dom/windowproxy.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/conversions.rs
  components/script_bindings/finalize.rs
  components/script_bindings/lock.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/error.rs
  components/script_bindings/finalize.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Devtools parser: reassemble fragmented messages (#36033)
  etc/devtools_parser.py
  etc/devtools_parser_test.json
  etc/devtools_parser_test.pcap
  python/servo/testing_commands.py
Owners: none

Fixed an incorrect touchmove event triggered when the second finger is pressed.
  components/compositing/touch.rs
Owners: @mrobinson

layout: Implement support for `image-set()` notation
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-images/image-set/image-set-calc-x-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-calc-x-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-conic-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpcm-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpi-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpi-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dppx-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-empty-url-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-first-match-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-linear-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-res-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-res-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-url-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-radial-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-conic-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-linear-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-radial-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-first-match-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering-3.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-skip-unsupported-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-unordered-res-rendering.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Miscellaneous script splitting preparation changes (#36216)
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/guard.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/servointernals.rs
  components/script/dom/testbinding.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/windowproxy.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/conversions.rs
  components/script_bindings/error.rs
  components/script_bindings/finalize.rs
  components/script_bindings/interfaces.rs
  components/script_bindings/lib.rs
  components/script_bindings/lock.rs
  components/script_bindings/num.rs
  components/script_bindings/utils.rs
  components/script_bindings/webidls/ServoInternals.webidl
Owners: @gterzian

layout: Simplify and generalize the usage of pseudo-elements
  components/layout_2020/construct_modern.rs
  components/layout_2020/dom.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/layout_2020/table/construct.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
  resources/servo.css
  tests/wpt/meta/css/cssom-view/elementFromPoint-list-001.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-2.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Simplify and generalize the usage of pseudo-elements (#36202)
  components/layout_2020/construct_modern.rs
  components/layout_2020/dom.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/layout_2020/table/construct.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
  resources/servo.css
  tests/wpt/meta/css/cssom-view/elementFromPoint-list-001.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-2.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Propagate CanGc arguments through HTMLCollection constructors (#36180)
  components/script/dom/document.rs
  components/script/dom/documentfragment.rs
  components/script/dom/element.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
Owners: @gterzian

layout: Implement support for `image-set()` notation (#36210)
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-images/image-set/image-set-calc-x-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-calc-x-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-conic-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpcm-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpi-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dpi-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-dppx-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-empty-url-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-first-match-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-linear-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-res-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-res-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-no-url-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-radial-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-conic-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-linear-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-repeating-radial-gradient-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-first-match-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering-2.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering-3.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-type-skip-unsupported-rendering.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-unordered-res-rendering.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fixed an incorrect touchmove event triggered when the second finger is pressed. (#36218)
  components/compositing/touch.rs
Owners: @mrobinson

rebase on main again and update Cargo.lock
  Cargo.lock
Owners: none

Cargo.toml cleanup
  Cargo.toml
Owners: none

Cargo.toml cleanup (#36219)
  Cargo.toml
Owners: none
