Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

background_hang_monitor: Only compile platform samplers when cargo feature enabled.
  components/background_hang_monitor/lib.rs
Owners: none

background_hang_monitor: Make nix dependency optional.
  components/background_hang_monitor/Cargo.toml
Owners: none

update unmultiply_inplace to handle reversed RGB
  components/canvas/webgl_thread.rs
  components/pixels/benches.rs
  components/pixels/lib.rs
Owners: none

Reuse unmultiply_inplace instead of manual compute; remove unused
  components/script/canvas_state.rs
  components/script/lib.rs
  components/script/unpremultiplytable.rs
Owners: @gterzian

Update `pixels::unmultiply_inplace` to support RB swap and use it in canvas_state (#35313)
  components/canvas/webgl_thread.rs
  components/pixels/benches.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/lib.rs
  components/script/unpremultiplytable.rs
Owners: @gterzian

Only compile platform samplers when cargo feature enabled (#35312)
  components/background_hang_monitor/Cargo.toml
  components/background_hang_monitor/lib.rs
Owners: none

servoshell: Port desktop servoshell to use delegate API
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

servoshell: Port desktop servoshell to use delegate API (#35284)
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

libservo: Enable file directory listing by default
  components/config/prefs.rs
Owners: none

malloc_size_of: enable sync in tokio
  components/malloc_size_of/Cargo.toml
Owners: none

malloc_size_of: enable sync in tokio
  components/malloc_size_of/Cargo.toml
Owners: none

malloc_size_of: enable sync in tokio (#35320)
  components/malloc_size_of/Cargo.toml
Owners: none

libservo: Enable file directory listing by default (#35317)
  components/config/prefs.rs
Owners: none

libservo: Remove the `layout_flexbox_enabled` preference
  components/config/prefs.rs
  components/script_bindings/codegen/run.py
  tests/wpt/meta-legacy-layout/css/css-flexbox/__dir__.ini
  tests/wpt/meta/css/css-align/__dir__.ini
  tests/wpt/meta/css/css-flexbox/__dir__.ini
  tests/wpt/meta/css/css-grid/__dir__.ini
  tests/wpt/mozilla/meta/css/flex_align_content_stretch_subpixel.html.ini
Owners: none

pixels: improve performance of unmultiply using precomputed table
  components/pixels/lib.rs
  components/pixels/unpremultiplytable.rs
Owners: none

Migrate Android and OHOS ports to the delegate API
  components/servo/lib.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/mod.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

Migrate Android and OHOS ports to the delegate API (#35315)
  components/servo/lib.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/mod.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

deps: Upgrade to `webrender@0.66`
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/compositing/compositor.rs
  components/layout/display_list/webrender_helpers.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_thread/Cargo.toml
  components/layout_thread/lib.rs
  components/net/Cargo.toml
  components/net/tests/hsts.rs
  components/profile/Cargo.toml
  components/profile/time.rs
  components/script/Cargo.toml
  components/script/dom/bindings/str.rs
  components/script/dom/file.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/macros.rs
  components/script/dom/performance.rs
  components/script/dom/performanceentry.rs
  components/script/dom/performancepainttiming.rs
  components/script/dom/performanceresourcetiming.rs
  components/script/dom/visibilitystateentry.rs
  components/shared/base/Cargo.toml
  components/shared/base/cross_process_instant.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/webxr/Cargo.toml
  components/webgpu/swapchain.rs
  deny.toml
  tests/unit/profile/Cargo.toml
  tests/unit/profile/time.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

libservo: Add a `ClipboardDelegate` and a default implementation
  Cargo.lock
  Cargo.toml
  components/constellation/tracing.rs
  components/script/clipboard_provider.rs
  components/script/dom/document.rs
  components/script/textinput.rs
  components/servo/Cargo.toml
  components/servo/clipboard_delegate.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  tests/unit/script/textinput.rs
Owners: @gterzian, @atbrakhi, @jschwe

change terminal wrapper library from blessing to blessed to support running mach test-wpt on windows.
  python/mach/mach/logging.py
  python/mach/setup.py
  python/requirements.txt
  python/wpt/grouping_formatter.py
Owners: none

Cleanup blocking fetch operations with bad ports
  components/net/fetch/methods.rs
  components/net/websocket_loader.rs
Owners: none

change terminal wrapper library from blessing to blessed to support running mach test-wpt on windows. (#35327)
  python/mach/mach/logging.py
  python/mach/setup.py
  python/requirements.txt
  python/wpt/grouping_formatter.py
Owners: none

Cleanup blocking fetch operations with bad ports (#35324)
  components/net/fetch/methods.rs
  components/net/websocket_loader.rs
Owners: none

Implement ServoLayoutNode::traversal_parent
  components/script/dom/element.rs
  components/script/dom/eventtarget.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/raredata.rs
  components/script/dom/text.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

Implement ServoLayoutNode::traversal_parent (#35338)
  components/script/dom/element.rs
  components/script/dom/eventtarget.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/raredata.rs
  components/script/dom/text.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

Enable aws-lc-sys feature for aws-lc-rs
  Cargo.toml
Owners: none

Enable aws-lc-sys feature for aws-lc-rs (#35343)
  Cargo.toml
Owners: none

wini_minimal: trigger initial rendering and scroll properly
  components/servo/examples/winit_minimal.rs
Owners: none

deps: upgrade egui-file-dialog along with egui
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

bump stylo
  Cargo.lock
Owners: none

servoshell: upgrade egui and related depenencies
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

script: Annotate steps for custom element creation.
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

servoshell: upgrade egui and related depenencies (#35353)
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Bring back connection method to fix texture error
  components/canvas/webgl_mode/inprocess.rs
  components/compositing/compositor.rs
  components/shared/webrender/rendering_context.rs
Owners: @mrobinson

Update WPT expectations
  tests/wpt/meta/css/css-cascade/layer-slotted-rule.html.ini
  tests/wpt/meta/css/css-cascade/revert-layer-014.html.ini
  tests/wpt/meta/css/selectors/i18n/lang-pseudo-class-across-shadow-boundaries.html.ini
  tests/wpt/meta/css/selectors/parsing/parse-slotted.html.ini
  tests/wpt/meta/dom/nodes/ParentNode-querySelector-All-xht.xht.ini
  tests/wpt/meta/dom/nodes/ParentNode-querySelector-All.html.ini
Owners: none

Print GL info in log instead
  components/compositing/compositor.rs
Owners: @mrobinson

script: Annotate steps for custom element creation. (#35354)
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
Owners: @gterzian

wini_minimal: trigger initial rendering and scroll properly (#35350)
  components/servo/examples/winit_minimal.rs
Owners: none

Add support for the `::slotted` selector (#35352)
  Cargo.lock
  tests/wpt/meta/css/css-cascade/layer-slotted-rule.html.ini
  tests/wpt/meta/css/css-cascade/revert-layer-014.html.ini
  tests/wpt/meta/css/selectors/i18n/lang-pseudo-class-across-shadow-boundaries.html.ini
  tests/wpt/meta/css/selectors/parsing/parse-slotted.html.ini
  tests/wpt/meta/dom/nodes/ParentNode-querySelector-All-xht.xht.ini
  tests/wpt/meta/dom/nodes/ParentNode-querySelector-All.html.ini
Owners: none

script: make throw_invalid_this and throw_constructor_without_new safe
  components/script/dom/bindings/constructor.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/utils.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
