Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Implement CSSStyleSheet::replaceSync (#36586)
  components/script/dom/bindings/error.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/domexception.rs
  components/script_bindings/error.rs
  components/script_bindings/webidls/CSSStyleSheet.webidl
  tests/wpt/meta/css/css-mixins/at-function-parsing.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-cssom.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-baseURL.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable-disabled-regular-sheet-insertion.html.ini
  tests/wpt/meta/css/cssom/CSSStyleSheet-constructable.html.ini
  tests/wpt/meta/css/cssom/adoptedstylesheets-modify-array-and-sheet.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: @gterzian

cleanup remaining nits
  components/script/dom/response.rs
  components/script_bindings/str.rs
Owners: @gterzian

Disable serviceworkers for webgpu cts tests
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

Move is_url_potentially_trustworthy to a fn
  components/net/fetch/methods.rs
  components/net/protocols/mod.rs
Owners: none

Clippy
  components/net/fetch/methods.rs
Owners: none

script: Measure layout memory usage before JS heap.
  components/script/script_thread.rs
Owners: @gterzian

Update expectations
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/resize_observer.https.html.ini
Owners: none

review fix
  components/devtools/actors/source.rs
Owners: none

DevTools: Move `Source` related code to dedicated `source.rs` file (#36667)
  components/devtools/actors/source.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
Owners: none

layout: Implement node geometry queries against `BoxTree`'s `Fragment`
  components/layout/dom.rs
  components/layout/flow/construct.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
  tests/wpt/meta/css/cssom-view/getBoundingClientRect-shy.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Disable serviceworkers for webgpu CTS tests (#36672)
  tests/wpt/webgpu/meta/__dir__.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/resize_observer.https.html.ini
Owners: none

Make list of options in <select> prompt scrollable
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

layout: Implement `justify-self` for block-level boxes
  components/layout/flow/mod.rs
  tests/wpt/meta/css/css-align/blocks/justify-self-auto-margins-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-block-in-inline.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align.html.ini
  tests/wpt/meta/css/css-align/blocks/safe-justify-self-htb.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

servoshell: Make list of options in <select> prompt scrollable (#36677)
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

script: Measure stored layout data memory usage. (#36664)
  components/layout/dom.rs
  components/layout/table/mod.rs
  components/malloc_size_of/lib.rs
  components/script/dom/node.rs
  components/script/script_thread.rs
  components/shared/script_layout/lib.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout_image: Include missing request settings in layout-initiated image loads (#36621)
  components/script/layout_image.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/background_image_csp.sub.html
Owners: @gterzian

compositor: Tick animations for an entire WebView at once (#36662)
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/constellation/event_loop.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/constellation/lib.rs
  components/shared/script/lib.rs
Owners: @mrobinson, @gterzian

Report exceptions for async script executions to webdriver (#27041)
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Window.webidl
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

implement port disentanglement
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/MessagePort.webidl
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/transferable.rs
  tests/wpt/meta/webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js.ini
  tests/wpt/tests/webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js
  tests/wpt/tests/webmessaging/message-channels/close-event/resources/helper.js
Owners: @gterzian

update expectations for /html/dom/idlharness
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
Owners: none

relax removal of managed ports to explicit script closure only
  components/script/dom/globalscope.rs
Owners: @gterzian

Update components/net/fetch/methods.rs
  components/net/fetch/methods.rs
Owners: none

Implement static Response.json (#36589)
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/str.rs
  components/script_bindings/webidls/Response.webidl
  tests/wpt/meta/fetch/api/idlharness.any.js.ini
  tests/wpt/meta/fetch/api/response/response-static-json.any.js.ini
Owners: @gterzian

Implement scroll event listener
  components/compositing/webview_renderer.rs
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

Return Result from ProtocolRegistry::register()
  components/net/protocols/mod.rs
  ports/servoshell/desktop/app.rs
Owners: @atbrakhi

Return Result from ProtocolRegistry::register() (#36688)
  components/net/protocols/mod.rs
  ports/servoshell/desktop/app.rs
Owners: @atbrakhi

Format
  components/net/fetch/methods.rs
Owners: none

Initial support for marking custom protocol secure (#36656)
  components/net/fetch/methods.rs
  components/net/protocols/mod.rs
  ports/servoshell/desktop/protocols/urlinfo.rs
Owners: @atbrakhi

Fix taplo test target directories
  python/servo/testing_commands.py
Owners: none

layout: Implement `justify-self` for block-level boxes (#36595)
  components/layout/flow/mod.rs
  tests/wpt/meta/css/css-align/blocks/justify-self-auto-margins-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-block-in-inline.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vlr.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align-2.html.ini
  tests/wpt/meta/css/css-align/blocks/justify-self-text-align.html.ini
  tests/wpt/meta/css/css-align/blocks/safe-justify-self-htb.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix taplo test target directories (#36690)
  python/servo/testing_commands.py
Owners: none

layout: Implement node geometry queries against `BoxTree`'s `Fragment` (#36663)
  components/layout/dom.rs
  components/layout/flow/construct.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
  tests/wpt/meta/css/cssom-view/getBoundingClientRect-shy.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Support CSP report-only header
  Cargo.lock
  Cargo.toml
  components/net/fetch/methods.rs
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
  components/script/timers.rs
  tests/wpt/meta/content-security-policy/default-src/default-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/304-response-should-update-csp.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/wildcard-host-part.sub.window.js.ini
  tests/wpt/meta/content-security-policy/img-src/img-src-self-unique-origin.html.ini
  tests/wpt/meta/content-security-policy/resource-hints/prefetch-generate-directives.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-report-only-policy-works-with-external-hash-policy.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_discard_source_expressions.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_double_policy_honor_source_expressions.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_parser_inserted.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/upgrade-insecure-requests-reporting.https.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-003.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-004-worker.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-005.html.ini
  tests/wpt/meta/trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting.html.ini
Owners: @gterzian

Support `isSecureContext` for custom protocols
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/net/protocols/mod.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/globalscope.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/constellation/from_script_message.rs
  components/shared/net/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

Update Cargo.toml
  Cargo.toml
Owners: none

Update wildcard-host-part.sub.window.js.ini
  tests/wpt/meta/content-security-policy/generic/wildcard-host-part.sub.window.js.ini
Owners: none

servoshell Cargo.toml cleanup
  ports/servoshell/Cargo.toml
Owners: none

layout: Use box tree `Fragment`s for offset parent queries
  components/layout/fragment_tree/base_fragment.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_impl.rs
  components/layout/query.rs
  components/layout/table/layout.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
  tests/wpt/meta/css/cssom-view/offsetParent-block-in-inline.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-clipping-2.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-mirror.html.ini
  tests/wpt/meta/css/filter-effects/backdrop-filter-edge-pixels-2.html.ini
  tests/wpt/meta/shadow-dom/offsetParent-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/offsetTop-offsetLeft-across-shadow-boundaries.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Support CSP report-only header (#36623)
  Cargo.lock
  Cargo.toml
  components/net/fetch/methods.rs
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
  components/script/timers.rs
  tests/wpt/meta/content-security-policy/default-src/default-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/304-response-should-update-csp.sub.html.ini
  tests/wpt/meta/content-security-policy/img-src/img-src-self-unique-origin.html.ini
  tests/wpt/meta/content-security-policy/resource-hints/prefetch-generate-directives.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-report-only-policy-works-with-external-hash-policy.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-sri_hash.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_discard_source_expressions.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_double_policy_honor_source_expressions.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_parser_inserted.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/upgrade-insecure-requests-reporting.https.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-003.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-004-worker.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-005.html.ini
  tests/wpt/meta/trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting.html.ini
Owners: @gterzian

servoshell Cargo.toml cleanup (#36506)
  ports/servoshell/Cargo.toml
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
