Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

[OH] Provide correct geometry offset and fix available screen dimensions (#36915)
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

Replace Vec with IpcSharedMemory
  components/net/http_loader.rs
  components/script/body.rs
  components/script/dom/readablestream.rs
  components/shared/net/request.rs
Owners: @gterzian

Add CSP check for inline style attribute
  components/script/dom/element.rs
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-attr-blocked-src-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-allowed-attr-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-allowed-while-cloning-objects.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-attribute-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-attribute-blocked.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_missing_unsafe_hashes.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_wrong_hash.html.ini
  tests/wpt/tests/content-security-policy/style-src/style-src-inline-style-with-csstext.html
Owners: @gterzian

Add CSP check for inline style attribute (#36923)
  components/script/dom/element.rs
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-attr-blocked-src-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-allowed-attr-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-allowed-while-cloning-objects.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-attribute-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-attribute-blocked.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_missing_unsafe_hashes.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_wrong_hash.html.ini
  tests/wpt/tests/content-security-policy/style-src/style-src-inline-style-with-csstext.html
Owners: @gterzian

layout: Resolve canvas background properties during painting (#36917)
  components/layout/display_list/mod.rs
  components/layout/display_list/stacking_context.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/base_fragment.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  tests/wpt/meta/css/css-transforms/transform-translate-background-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-translate-background-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

DevTools: Improve `resource_available` to handle multiple connections (#36933)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/devtools/resource.rs
Owners: none

WebIDL Fix ImageData constructor to take a Uint8ClampedArray instead of js_object (#31398)
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.object.ctor.basics.html.ini
Owners: @gterzian

changed the ui
  components/script/dom/htmlmediaelement.rs
  components/script/resources/media-controls.css
  components/script/resources/media-controls.js
Owners: @gterzian

Devtools: add more test cases (#36910)
  python/servo/devtools_tests.py
Owners: none

Add CSP check for inline style attribute (#36923)
  components/script/dom/element.rs
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-attr-blocked-src-allowed.html.ini
  tests/wpt/meta/content-security-policy/style-src-attr-elem/style-src-elem-allowed-attr-blocked.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-allowed-while-cloning-objects.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/inline-style-attribute-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-src-inline-style-attribute-blocked.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_missing_unsafe_hashes.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/style_attribute_denied_wrong_hash.html.ini
  tests/wpt/tests/content-security-policy/style-src/style-src-inline-style-with-csstext.html
Owners: @gterzian

[OH] Provide correct geometry offset and fix available screen dimensions (#36915)
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

done
  components/script/resources/media-controls.css
Owners: @gterzian

done
  components/script/resources/media-controls.css
Owners: @gterzian

Update stylo_taffy conversions for taffy 0.8
  components/layout/taffy/stylo_taffy/convert.rs
  components/layout/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Communicate whether an element is replaced to Taffy
  components/layout/taffy/layout.rs
  components/layout/taffy/mod.rs
  components/layout/taffy/stylo_taffy/wrapper.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Upgrade Taffy to v0.8.1
  Cargo.lock
  Cargo.toml
Owners: none

Update assertions
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-002.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/grid-placement/masonry-grid-placement-named-lines-001.html.ini
  tests/wpt/meta/css/css-grid/placement/grid-auto-flow-sparse-001.html.ini
Owners: none

Update assertions for CSS Grid `calc()` support
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-011.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-012.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-auto-repeat-max-size-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-minimum-contribution-with-percentages.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-template-rows-computed-withcontent.html.ini
Owners: none

Implement `calc()` for CSS Grid
  Cargo.toml
  components/layout/taffy/layout.rs
  components/layout/taffy/stylo_taffy/convert.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Refactor dom/headers to match spec better
  components/script/dom/headers.rs
  components/script/test.rs
  tests/unit/script/headers.rs
  tests/unit/script/lib.rs
  tests/wpt/meta/fetch/api/request/request-headers.any.js.ini
Owners: @gterzian

net: Fix broken SSL certificate error override.
  components/net/connector.rs
  components/net/fetch/methods.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/script/dom/document.rs
  components/script/dom/servointernals.rs
  components/script/dom/servoparser/mod.rs
  components/script_bindings/webidls/ServoInternals.webidl
  components/shared/net/lib.rs
  resources/badcert.html
Owners: @gterzian

Add response channel to WebDriver
  components/constellation/constellation.rs
  components/shared/constellation/from_script_message.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: none

Implement dispatch actions
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/constellation/from_script_message.rs
  components/shared/embedder/input_events.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @gterzian, @atbrakhi

add build-args to ci
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  .github/workflows/windows.yml
  python/servo/try_parser.py
Owners: none

Pointing to PR, instead of branch
  Cargo.lock
  Cargo.toml
  deny.toml
Owners: none

FIx http_loader unit test
  components/net/tests/http_loader.rs
Owners: none

Implement trusted HTML sinks for Element
  components/script/dom/element.rs
  components/script/dom/trustedhtml.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/content-security-policy/reporting/report-clips-sample.https.html.ini
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-TypeError-belongs-to-the-global-object-realm.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-report-only.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for.html.ini
  tests/wpt/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/trusted-types-createHTMLDocument.html.ini
  tests/wpt/meta/trusted-types/trusted-types-report-only.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLScriptElement-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-SVGScriptElement-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-sandbox-allow-scripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-source-file-path.html.ini
Owners: @gterzian

script: Append to existing CSP list in set_csp_list
  components/script/dom/document.rs
  components/script/dom/htmlheadelement.rs
  components/script/dom/htmlmetaelement.rs
  components/script/dom/servoparser/mod.rs
  tests/wpt/tests/content-security-policy/meta/meta-append-header.html
  tests/wpt/tests/content-security-policy/meta/meta-append-header.html.headers
  tests/wpt/tests/content-security-policy/meta/meta-multiple-csp.html
Owners: @gterzian

Update the list of global and window event handlers (#36894)
  components/script/dom/document.rs
  components/script/dom/htmlbodyelement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/macros.rs
  components/script_bindings/webidls/Document.webidl
  components/script_bindings/webidls/EventHandler.webidl
  components/script_bindings/webidls/HTMLElement.webidl
  tests/wpt/meta/dom/events/webkit-animation-end-event.html.ini
  tests/wpt/meta/dom/events/webkit-animation-iteration-event.html.ini
  tests/wpt/meta/dom/events/webkit-animation-start-event.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/the-button-element/command-and-commandfor/button-event-dispatch-content-attribute.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-all-global-events.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-body-window.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-frameset-window.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-attributes-windowless-body.html.ini
  tests/wpt/meta/trusted-types/trusted-types-event-handlers.html.ini
  tests/wpt/meta/webmessaging/messageerror.html.ini
Owners: @gterzian

Extend --with-asan to support C/C++ code
  Cargo.lock
  python/servo/build_commands.py
Owners: none

Check receiver response in actions.rs (#36928)
  components/webdriver_server/actions.rs
Owners: none

Cache document title to avoid unnecessary traversals
  components/script/dom/document.rs
  components/script/dom/htmltitleelement.rs
Owners: @gterzian

htmlinputelement: Fire `beforeinput` event before updating input state
  components/script/dom/event.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/inputevent.rs
  components/script/textinput.rs
Owners: @gterzian

Prevent overflow in intersection observer area evaluation
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Prevent overflow in intersection observer area evaluation (#36955)
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Delete WR images when dropping the ImageCacheStore
  components/net/image_cache.rs
Owners: none

Delete WR images when dropping the ImageCacheStore (#36956)
  components/net/image_cache.rs
Owners: none

Remove duplicate click event in `simulate_mouse_click`
  components/compositing/webview_renderer.rs
Owners: @mrobinson

Extend --with-asan to support C/C++ code (#36873)
  Cargo.lock
  python/servo/build_commands.py
Owners: none

Clean up canvas code a bit
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
