Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

ohos: Set custom log domain
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

update wpt-test results
  tests/wpt/meta/webdriver/tests/classic/execute_async_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/collections.py.ini
Owners: none

rework webdriver deserialization to avoid false-positive cycle error
  components/script/webdriver_handlers.rs
Owners: @gterzian

Cache document title to avoid unnecessary traversals
  components/script/dom/document.rs
  components/script/dom/htmltitleelement.rs
Owners: @gterzian

rework webdriver deserialization to avoid false-positive cycle error (#36908)
  components/script/webdriver_handlers.rs
  tests/wpt/meta/webdriver/tests/classic/execute_async_script/collections.py.ini
  tests/wpt/meta/webdriver/tests/classic/execute_script/collections.py.ini
Owners: @gterzian

[OH] allow setting log_filter via prefs.json
  components/config/prefs.rs
  ports/servoshell/prefs.rs
Owners: none

[OH] allow setting `log_filter` via `prefs.json` (#36916)
  components/config/prefs.rs
  ports/servoshell/prefs.rs
Owners: none

Update test expectations
  tests/wpt/meta/dom/events/webkit-animation-end-event.html.ini
  tests/wpt/meta/dom/events/webkit-animation-iteration-event.html.ini
  tests/wpt/meta/dom/events/webkit-animation-start-event.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/the-button-element/command-and-commandfor/button-event-dispatch-content-attribute.html.ini
  tests/wpt/meta/trusted-types/trusted-types-event-handlers.html.ini
Owners: none

bootstrap: Add `winget` fallback
  python/servo/platform/windows.py
  support/windows/winget.json
Owners: none

Switch to winget install instead of winget import
  python/servo/platform/windows.py
  support/windows/winget.json
Owners: none

ohos: Set custom log domain (#36913)
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

upgrade packages with --force
  python/servo/platform/windows.py
Owners: none

wip: handle websockets in http_network_fetch()
  components/net/http_loader.rs
Owners: none

Use auto_root
  components/script/dom/imagedata.rs
Owners: @gterzian

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Add ViewportDescription
  components/shared/compositing/viewport_description.rs
Owners: none

Process Key Value Pairs into ViewportDescription
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
  components/shared/compositing/viewport_description.rs
Owners: @gterzian

Pass Viewport Description to compositor
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Stash the ViewportDescription to |webview|
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
Owners: @mrobinson

fix lint error
  python/servo/devtools_tests.py
Owners: none

Allow OHOS servoshell to have a simple multiple tab implementation.
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  support/openharmony/entry/src/main/ets/pages/Index.ets
Owners: @jschwe

Devtools: add more test cases (#36910)
  python/servo/devtools_tests.py
Owners: none

Apply suggestions from code review
  components/shared/compositing/viewport_description.rs
Owners: none

Use viewport attributes parsed from meta in Webview
  components/compositing/webview_renderer.rs
Owners: @mrobinson

Fix comment and add TODO for webdriver pointermove
  components/webdriver_server/actions.rs
Owners: none

Animation: update image active frame when update the rendering
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
  components/layout/context.rs
  components/script/animations.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/image_animation.rs
  components/script/script_thread.rs
  components/shared/script_layout/lib.rs
  python/servo/testing_commands.py
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/animated-image-update.tentative.html.ini
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/animated-image-update-ref.tentative.html
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/animated-image-update.tentative.html
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/resources/animated.gif
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Check receiver response in actions.rs
  components/webdriver_server/actions.rs
Owners: none

Impl internal `-moz-block-height`
  Cargo.lock
  Cargo.toml
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/query.rs
  components/layout/stylesheets/servo.css
  tests/wpt/meta/html/rendering/non-replaced-elements/form-controls/input-line-height-computed.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix comment
  components/layout/layout_impl.rs
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Resolve canvas background properties during painting
  components/layout/display_list/mod.rs
  components/layout/display_list/stacking_context.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/base_fragment.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  tests/wpt/meta/css/css-transforms/transform-translate-background-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-translate-background-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update test expectations
  tests/wpt/meta/dom/events/webkit-animation-start-event.html.ini
Owners: none

layout: Resolve canvas background properties during painting (#36917)
  components/layout/display_list/mod.rs
  components/layout/display_list/stacking_context.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/base_fragment.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment_tree.rs
  tests/wpt/meta/css/css-transforms/transform-translate-background-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-translate-background-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

DevTools: Improve resource_available to handle multiple connections
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/devtools/resource.rs
Owners: none

WebIDL Fix ImageData constructor to take a Uint8ClampedArray instead of js_object (#31398)
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  tests/wpt/meta/html/canvas/element/pixel-manipulation/2d.imageData.object.ctor.basics.html.ini
Owners: @gterzian

Using the existing callback to call the url when the focused webview changes
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

DevTools: Improve `resource_available` to handle multiple connections (#36933)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/devtools/resource.rs
Owners: none

Added a new workflow that benchmarks simple startup and loading of servo.org on HarmonyOS.
  .github/workflows/ohos.yml
  ports/servoshell/egl/ohos.rs
Owners: @jschwe

[OH] Provide correct geometry information
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

Update ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

layout: Share styles to inline box children via `SharedInlineStyles`
  components/layout/construct_modern.rs
  components/layout/display_list/mod.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/construct.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/inline/text_run.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/fragment_tree/box_fragment.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_box_base.rs
  components/layout/lib.rs
  components/layout/table/construct.rs
  components/layout/table/mod.rs
  components/layout/taffy/mod.rs
  components/malloc_size_of/lib.rs
  tests/wpt/tests/css/css-display/display-contents-inline-002.html
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
