Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Reduce BufferSource to two variants ArrayBuffer and ArrayBufferView
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Scriptt: implement ReadableStreamBYOBRequest
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

fix is_detached_buffer and viewed_buffer_array_byte_length
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Use if let Some instead of unwrap()
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

layout: Fix painting order of collapsed table borders (#35219)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-001.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-002.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-003.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-004.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-005.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-006.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-007.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-008.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-009.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-010.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-011.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-012.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-013.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Don't let table grid boxes inherit `display: inline-table`
  components/layout_2020/display_list/stacking_context.rs
  resources/servo.css
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Don't let table grid boxes inherit `display: inline-table` (#35264)
  components/layout_2020/display_list/stacking_context.rs
  resources/servo.css
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix traverse_preorder over shadow roots
  components/script/dom/node.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/custom-elements/CustomElementRegistry.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-in-slot.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/canvas-descendants-focusability-004.tentative.html.ini
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/event-inside-slotted-node.html.ini
  tests/wpt/meta/shadow-dom/offsetParent-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-008.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/dom-tree-accessors-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/selectors-api-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/test-009.html.ini
  tests/wpt/meta/shadow-dom/untriaged/styles/test-008.html.ini
Owners: none

libservo: Combine `LoadStart, `HeadParsed`, and `LoadComplete` messages
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/htmlbodyelement.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @gterzian, @atbrakhi, @jschwe

libservo: Combine `LoadStart, `HeadParsed`, and `LoadComplete` messages (#35260)
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/htmlbodyelement.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @gterzian, @atbrakhi, @jschwe

change http-network-fetch to take fetchParams as an argument
  components/net/http_loader.rs
Owners: none

change http-network-or-cache-fetch to take FetchParams argument instead of request
  components/net/http_loader.rs
Owners: none

refixing usage of http_request after rebasing
  components/net/http_loader.rs
Owners: none

renaming variable to be similar to step in spec
  components/net/http_loader.rs
Owners: none

run formatter
  components/net/http_loader.rs
Owners: none

Update implementations of `HTTP-network fetch` and `HTTP-network-or-cache fetch` to take `fetchParams` as an argument (#35205)
  components/net/http_loader.rs
Owners: none

Specify C ABI for generated extern functions in CodegenRust.py
  components/script_bindings/codegen/CodegenRust.py
Owners: none

Fix Android/ohos
  components/compositing/compositor.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @jschwe

chore: Rename `CompositeTarget` enum (#35263)
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

script: Move Reflector to script_bindings.
  .cargo/config.toml
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bindings/trace.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/reflector.rs
Owners: @gterzian

chore: add pref `dom_notification_enabled` and default to disabled
  components/config/prefs.rs
  components/script_bindings/webidls/Notification.webidl
Owners: none

ci: Free some disc space on GitHub hosted runners (#35181)
  .github/workflows/linux.yml
Owners: none

script: Move DOMClass to script_bindings.
  Cargo.lock
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/node.rs
  components/script/layout_dom/node.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/run.py
  components/script_bindings/lib.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Move DOMJSClass and get_dom_class to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/utils.rs
  components/script_bindings/conversions.rs
  components/script_bindings/utils.rs
Owners: @gterzian

script: Move Castable/DerivedFrom/IDLInterface to script_bindings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/inheritance.rs
  components/script/script_runtime.rs
  components/script_bindings/conversions.rs
  components/script_bindings/inheritance.rs
  components/script_bindings/lib.rs
  components/script_bindings/script_runtime.rs
Owners: @gterzian

Clean up some stale debug options for ServoDriver
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

libservo: Remove `EmbedderEvent::WindowResize`
  components/compositing/windowing.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
Owners: @mrobinson, @atbrakhi

libservo: Remove `EmbedderEvent::WindowResize` (#35277)
  components/compositing/windowing.rs
  components/servo/lib.rs
  ports/servoshell/desktop/app.rs
Owners: @mrobinson, @atbrakhi

Specify C ABI for generated extern functions in CodegenRust.py (#35278)
  components/script_bindings/codegen/CodegenRust.py
Owners: none

Move more foundational types to script_bindings (#35280)
  Cargo.lock
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/inheritance.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/node.rs
  components/script/layout_dom/node.rs
  components/script/script_runtime.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/codegen/run.py
  components/script_bindings/conversions.rs
  components/script_bindings/inheritance.rs
  components/script_bindings/lib.rs
  components/script_bindings/script_runtime.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Script: implement ReadableStreamBYOBRequest (#35074)
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

Clean up some stale debug options for ServoDriver (#35281)
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
Owners: none

libservo: Remove `Servo::repaint_synchronously`
  components/compositing/compositor.rs
  components/servo/lib.rs
Owners: @mrobinson

libservo: Add WebViewDelegate and ServoDelegate and port `winit_minimal`
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/proxies.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
Owners: none

libservo: Remove `Servo::repaint_synchronously` (#35283)
  components/compositing/compositor.rs
  components/servo/lib.rs
Owners: @mrobinson

Remove `get_ipc_renderer` from `CanvasRenderingContext2D`
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
Owners: @gterzian

servoshell: Migrate to egui-file-dialog from tinyfiledialogs
  Cargo.lock
  components/net/filemanager_thread.rs
  components/net/tests/filemanager_thread.rs
  components/script/dom/htmlinputelement.rs
  components/shared/embedder/lib.rs
  components/shared/net/filemanager_thread.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/webview.rs
Owners: @gterzian, @atbrakhi

fix warnings
  components/script/dom/paintrenderingcontext2d.rs
Owners: @gterzian

servoshell: Migrate to egui-file-dialog from tinyfiledialogs (#34823)
  Cargo.lock
  components/net/filemanager_thread.rs
  components/net/tests/filemanager_thread.rs
  components/script/dom/htmlinputelement.rs
  components/shared/embedder/lib.rs
  components/shared/net/filemanager_thread.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/webview.rs
Owners: @gterzian, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
