Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

reuse effects var in establishes_stacking_context
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Add epaint_default_fonts to egui Dependabot group (#35823)
  .github/dependabot.yml
Owners: none

Fix missing space in title of directory listings
  resources/directory-listing.html
Owners: none

reuse effects var in establishes_stacking_context (#35836)
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix missing space in title of directory listings (#35837)
  resources/directory-listing.html
Owners: none

[feature](fontconfig): Json based fontconfig for ohos implemented. Some issues with FONTLIST still exist
  components/fonts/font.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

Update clip-no-stacking-context test expectation to pass.
  tests/wpt/meta/css/css-masking/clip/clip-no-stacking-context.html.ini
Owners: none

Don't run scripts in document that don't have a browsing context
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
Owners: @gterzian

Fix animation frame callback cancellation
  components/script/dom/document.rs
  tests/wpt/meta/html/webappapis/animation-frames/cancel-pending.html.ini
Owners: @gterzian

Fix lint Signed-off-by: Taym Haddadi <haddadi.taym@gmail.com>
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

incorporate suggestion
  components/servo/webview.rs
Owners: none

Webdriver now uses the new Constellation method
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

draft to allow embedders to execute js code in the current webview
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

redone approach to have callbacks for evaluatejs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @jschwe

Incorporate suggestions.
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

clippy fixes
  components/script/script_thread.rs
  components/servo/webview.rs
Owners: @gterzian

Ignore RUSTSEC-2024-0436 (crate `paste` is unmaintained)
  deny.toml
Owners: none

Ignore RUSTSEC-2024-0436 (crate `paste` is unmaintained) (#35854)
  deny.toml
Owners: none

layout: Make `transform-style: preserve-3d` establish a containing block for all descendants (#35808)
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-masking/clip/clip-no-stacking-context.html.ini
  tests/wpt/tests/css/css-transforms/preserve3d-containing-block.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix tidy
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

webgpu: leverage routed_promise in calls returning promises
  components/constellation/constellation.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpucomputepipeline.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpurenderpipeline.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/shared/script/script_msg.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/ipc_messages/to_dom.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

layout: Assert that `hypothetical_cross_size` is already correct (#35816)
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove `calculate_hypothetical_cross_size()`
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Handle keyword sizes when computing the hypothetical cross size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Support min/max cross keywords sizes in flexbox
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-max-inline-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove obsolete memory profiler console output
  components/config/opts.rs
  components/profile/mem.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  ports/servoshell/prefs.rs
Owners: none

script: Create infrastructure for reducing hand-written serializable/transferrable implementations.
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: none

script: Clone all serializable DOM interfaces.
  Cargo.lock
  Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
Owners: none

script: Deserialize all serializable DOM interfaces.
  Cargo.lock
  components/script/Cargo.toml
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

script: Serialize all serializable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

script: Transfer-receive all transferable DOM interfaces.
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: @gterzian

script: Extract boilerplate from serialize/deserialize implementations.
  components/script/dom/bindings/serializable.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/blob.rs
Owners: @gterzian

script: Extract boilerplate from transfer-receive.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

script: Extract boilerplate from transfer operation.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/bindings/transferable.rs
  components/script/dom/messageport.rs
Owners: @gterzian

Tidy fixes.
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/messageport.rs
  components/shared/script/lib.rs
  deny.toml
Owners: @gterzian

Remove obsolete memory profiler console output (#35861)
  components/config/opts.rs
  components/profile/mem.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  ports/servoshell/prefs.rs
Owners: none

feat: display file chosen for input file
  components/script/dom/filelist.rs
  components/script/dom/htmlinputelement.rs
  resources/servo.css
Owners: @gterzian

Make the memory reporting multi-process aware
  Cargo.lock
  components/constellation/Cargo.toml
  components/constellation/pipeline.rs
  components/net/resource_thread.rs
  components/profile/Cargo.toml
  components/profile/lib.rs
  components/profile/mem.rs
  components/profile/system_reporter.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/profile/mem.rs
  resources/about-memory.html
Owners: @gterzian
