Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

libservo: Convert `intercept_web_resource_load` into `load_web_resource` (#35564)
  Cargo.lock
  components/malloc_size_of/lib.rs
  components/net/fetch/methods.rs
  components/net/lib.rs
  components/net/request_intercepter.rs
  components/net/request_interceptor.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
Owners: none

Allow resetting multiple flags at once in Element::set_state (#35580)
  components/script/dom/element.rs
Owners: @gterzian

Allow attaching UA shadow roots to any element
  components/script/dom/element.rs
Owners: @gterzian

Implement a UA shadow tree for the <meter> element
  Cargo.lock
  components/script/dom/element.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/virtualmethods.rs
  components/script/layout_dom/element.rs
Owners: @gterzian

Include spec text when computing meter state
  components/script/dom/htmlmeterelement.rs
Owners: @gterzian

Add UA styles for the meter element
  resources/servo.css
Owners: none

Support the `<meter>` element (#35524)
  Cargo.lock
  components/script/dom/element.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/virtualmethods.rs
  components/script/layout_dom/element.rs
  resources/servo.css
Owners: @gterzian

servoshell: Read prefs.json from bundle on OHOS
  ports/servoshell/desktop/cli.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @atbrakhi, @jschwe

dom: move node ranges to raredata
  components/script/dom/node.rs
  components/script/dom/range.rs
  components/script/dom/raredata.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

refactor: propagate CanGc arguments through callers (#35565)
  components/script/dom/biquadfilternode.rs
  components/script/dom/bluetooth/bluetoothdevice.rs
  components/script/dom/bluetooth/bluetoothremotegattcharacteristic.rs
  components/script/dom/bluetooth/bluetoothremotegattserver.rs
  components/script/dom/bluetooth/bluetoothremotegattservice.rs
  components/script/dom/document.rs
  components/script/dom/gainnode.rs
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/rtcrtptransceiver.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Extra docs for new traits.
  components/script/dom/element.rs
  components/script/script_runtime.rs
Owners: @gterzian

dom: move node ranges to raredata (#35554)
  components/script/dom/node.rs
  components/script/dom/range.rs
  components/script/dom/raredata.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

Add get_url() to GlobalScopeHelper This is needed to build with the tracing feature
  components/script/dom/globalscope.rs
Owners: @gterzian

Add get_url() to GlobalScopeHelper (#35589)
  components/script/dom/globalscope.rs
Owners: @gterzian

script: Add `CanvasContext` trait (#35448)
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/document.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglprogram.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/webxr/xrlayer.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/script/lib.rs
Owners: @gterzian

build winit_minimal with bluetooth disabled
  components/constellation/tracing.rs
Owners: none

Set allowDeclarativeShadowRoots false for innerHTML
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

build winit_minimal with bluetooth disabled (#35590)
  components/constellation/tracing.rs
Owners: none

refactor: add CanGc as argument to extract_size_algorithm
  components/script/dom/countqueuingstrategy.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

dom: Move child_list to rare data (#35592)
  components/script/dom/node.rs
  components/script/dom/raredata.rs
  tests/unit/script/size_of.rs
Owners: @gterzian

refactor: add CanGc as argument to ByteLengthQueuingStrategy::GetSize
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to CountQueuingStrategy::GetSize
  components/script/dom/countqueuingstrategy.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to extract_size_algorithm (#35593)
  components/script/dom/countqueuingstrategy.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

refactor: add CanGc as argument to create_buffer_source_with_length
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
Owners: @gterzian

Fix clippy warnings.
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/error.rs
  components/script/dom/element.rs
  components/script/dom/messageport.rs
  components/script_bindings/conversions.rs
  components/script_bindings/root.rs
  components/script_bindings/trace.rs
Owners: @gterzian

Move more bindings code to script_bindings (#35578)
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/import.rs
  components/script/dom/bindings/interface.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/namespace.rs
  components/script/dom/bindings/root.rs
  components/script/dom/bindings/trace.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/messageport.rs
  components/script/dom/node.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script_bindings/constant.rs
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/root.rs
  components/script_bindings/script_runtime.rs
  components/script_bindings/trace.rs
Owners: @gterzian

refactor: add CanGc as argument to create_buffer_source
  components/script/body.rs
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/blob.rs
  components/script/dom/dommatrixreadonly.rs
  components/script/dom/filereadersync.rs
  components/script/dom/gamepad.rs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/response.rs
  components/script/dom/subtlecrypto.rs
  components/script/dom/testbinding.rs
  components/script/dom/textencoder.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to create_buffer_source (#35597)
  components/script/body.rs
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/blob.rs
  components/script/dom/dommatrixreadonly.rs
  components/script/dom/filereadersync.rs
  components/script/dom/gamepad.rs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/response.rs
  components/script/dom/subtlecrypto.rs
  components/script/dom/testbinding.rs
  components/script/dom/textencoder.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to ByteLengthQueuingStrategy::GetSize (#35594)
  components/script/dom/bytelengthqueuingstrategy.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to CountQueuingStrategy::GetSize (#35595)
  components/script/dom/countqueuingstrategy.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to create_buffer_source_with_length (#35596)
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
Owners: @gterzian

refactor: add CanGc as argument to SubtleCrypto::import_key_pbkdf2
  components/script/dom/subtlecrypto.rs
Owners: @gterzian

refactor: add CanGc as argument to SubtleCrypto::{import_key_aes, import_key_hkdf, import_key_hmac}
  components/script/dom/subtlecrypto.rs
Owners: @gterzian

refactor: add CanGc as argument to SubtleCrypto::import_key_{pbkdf2, aes, hkdf, hmac} (#35601)
  components/script/dom/subtlecrypto.rs
Owners: @gterzian

Use counter instead of time for HTMLFormElement. (#35555)
  components/script/dom/htmlformelement.rs
Owners: @gterzian

Support for the isolation CSS property
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Temporarily bump stylo to refs/pull/125/head for testing
  Cargo.lock
  Cargo.toml
Owners: none

libservo: Move WebDriver messages to the `embedder` crate
  Cargo.lock
  components/constellation/constellation.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

Don't register stylesheets outside of a browsing context with stylo
  components/script/dom/document.rs
Owners: @gterzian

add CanGc to new_resolved and use it where possible
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/promise.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/testbinding.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
