Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

ci: use Ubuntu 22.04 for nightly jobs (#36377)
  .github/workflows/linux.yml
  Cargo.lock
Owners: none

layout: Scale images in `image_set` by their specified resolution (#36374)
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-images/image-set/image-set-resolution-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix transition toggle & cancellation & delay (#35978)
  Cargo.lock
  tests/wpt/meta/css/css-logical/animation-004.html.ini
  tests/wpt/tests/css/css-transitions/support/helper.js
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

Remove trailing space in CSSStyleSheet::AddRule() (#36383)
  components/script/dom/cssstylesheet.rs
Owners: @gterzian

wpt: Unskip acid folder as most tests are passing (#36340)
  tests/wpt/meta/acid/acid2/reftest.html.ini
  tests/wpt/meta/acid/acid3/numbered-tests.html.ini
  tests/wpt/meta/acid/acid3/test.html.ini
Owners: none

Streams: add an underlying sink type (#36385)
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Create a parser for URLPatterns (#36382)
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern-hasregexpgroups.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

layout: Add initial support for the `::marker` pseudo-element (#36317)
  Cargo.lock
  components/layout_2020/dom.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/wrapper_traits.rs
  resources/servo.css
  resources/user-agent.css
  tests/wpt/meta/css/css-position/position-absolute-dynamic-list-marker.html.ini
  tests/wpt/meta/css/css-pseudo/marker-animate-002.html.ini
  tests/wpt/meta/css/css-pseudo/marker-color.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-content.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-size.html.ini
  tests/wpt/meta/css/css-pseudo/marker-default-styles.html.ini
  tests/wpt/meta/css/css-pseudo/marker-display-computed.html.ini
  tests/wpt/meta/css/css-pseudo/marker-letter-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/marker-line-height.html.ini
  tests/wpt/meta/css/css-pseudo/marker-variable-computed-style.html.ini
  tests/wpt/meta/css/css-pseudo/marker-word-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties-in-animation.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/tree-abiding-pseudo-elements.html.ini
  tests/wpt/meta/css/css-transitions/non-rendered-element-004.tentative.html.ini
  tests/wpt/meta/css/css-values/ch-pseudo-recalc-on-font-load.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Split up the URLPattern implementation (#36391)
  components/script/dom/urlpattern.rs
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
Owners: @gterzian

refactor: add CanGc as argument to methods in Document (#36392)
  components/script/dom/document.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/window.rs
  components/script/script_module.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix: meta referrer updating to follow spec (#36390)
  components/script/dom/htmlheadelement.rs
  components/script/dom/htmlmetaelement.rs
  tests/wpt/meta/referrer-policy/generic/first-meta-changed-after-second-added.http.html.ini
  tests/wpt/meta/referrer-policy/generic/meta-referrer-outofhead-fetch.http.html.ini
  tests/wpt/meta/referrer-policy/generic/meta-referrer-removed-2.http.html.ini
Owners: @gterzian

Devtools: initial Debugger > Sources panel (#36164)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

add CanGc as argument to methods in DissimilarOriginWindow, DocumentFragment, DocumentType, DOMRect, DOMRectReadOnly, DOMStringMap (#36395)
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/documentfragment.rs
  components/script/dom/documenttype.rs
  components/script/dom/domrect.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/domstringmap.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Unify the way html5ever and xml5ever block on script elements (#36284)
  Cargo.lock
  Cargo.toml
  components/script/Cargo.toml
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

Remove unsafe annotation add to unsafe blocks (#36399)
  components/script_bindings/proxyhandler.rs
Owners: none

script: copy include! files from script_bindings to script's OUT_DIR (#36384)
  components/script/build.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

build(deps): bump crossbeam-channel from 0.5.14 to 0.5.15 (#36412)
  Cargo.lock
Owners: none

Add serde and wgsl features to wgpu-core (#36411)
  components/script/dom/bindings/buffer_source.rs
  components/shared/webgpu/Cargo.toml
Owners: @gterzian

mach try: Add `wpt` alias for `linux-wpt` (#36416)
  python/servo/try_parser.py
Owners: none

layout: Enable using cached fragments when there is a BoxTree update point (#36404)
  components/layout_2020/dom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/positioned.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Move `EventLooperWaker` from `webxr_traits` to `embedder_traits` (#36420)
  Cargo.lock
  components/servo/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/webxr/Cargo.toml
  components/shared/webxr/lib.rs
  components/shared/webxr/registry.rs
Owners: none

script: Correctly convert a jsval to a `Promise` (#36403)
  components/script/dom/promise.rs
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
Owners: @gterzian

libservo: Move animation tracking from `WindowMethods` to delegates (#36400)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

refactor: use is_zero() instead of comparing with Au::Zero() (#36347)
  Cargo.lock
  components/layout_2020/Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/tests/floats.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Performance.timing should be a PerformanceTiming object.
  components/script/dom/document.rs
  components/script/dom/mod.rs
  components/script/dom/performance.rs
  components/script/dom/performancetiming.rs
  components/script_bindings/webidls/Performance.webidl
  components/script_bindings/webidls/PerformanceTiming.webidl
Owners: @gterzian

script: implement shadowroot setHTMLUnsafe
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

Update WPT expectations.
  tests/wpt/meta/content-security-policy/connect-src/connect-src-syncxmlhttprequest-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/connect-src/connect-src-websocket-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/connect-src/connect-src-xmlhttprequest-blocked.sub.html.ini
Owners: none

compositor: Unify the cross process and in-process API
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/constellation/pipeline.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

feat: implement text selection and caret display
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/wpt/meta/css/css-overflow/text-overflow-ellipsis-editing-input.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

feat: Implement display for text selection and caret (#35830)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/wpt/meta/css/css-overflow/text-overflow-ellipsis-editing-input.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Store table parts in DOM layout data
  components/layout_2020/cell.rs
  components/layout_2020/dom.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/lib.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/tests/tables.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Add documentation for `CacheableLayoutResultAndInputs`
  components/layout_2020/layout_box_base.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement `disabled` attribute for `<link rel="stylesheet">`
  components/script/dom/htmllinkelement.rs
  components/script/stylesheet_loader.rs
  components/script_bindings/webidls/HTMLLinkElement.webidl
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-003.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-004.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-007.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-alternate.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/subresource-integrity/subresource-integrity.html.ini
Owners: @gterzian

Update Readme text
  components/bluetooth/README.md
Owners: none

Implement `disabled` attribute for `<link rel="stylesheet">` (#36446)
  components/script/dom/htmllinkelement.rs
  components/script/stylesheet_loader.rs
  components/script_bindings/webidls/HTMLLinkElement.webidl
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-003.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-004.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-007.html.ini
  tests/wpt/meta/css/cssom/HTMLLinkElement-disabled-alternate.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/subresource-integrity/subresource-integrity.html.ini
Owners: @gterzian

fix error propagation
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

turn on part of test suite
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  tests/wpt/include.ini
Owners: @gterzian

reduce visibility of port methods, remove unnecessary comments add comment on using port infra for transfer Signed-off-by: gterzian <2792687+gterzian@users.noreply.github.com>
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Replace bluetooth Readme with corrected version from devices repository (#36429)
  components/bluetooth/README.md
Owners: none

layout: Add documentation for `CacheableLayoutResultAndInputs` (#36448)
  components/layout_2020/layout_box_base.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
