Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

layout: Let getComputedStyle resolve auto min size as 0px when needed (#36430)
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-flexbox/getcomputedstyle/flexbox_computedstyle_min-auto-size.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-item-min-auto-size-001.html.ini
  tests/wpt/meta/css/css-logical/inheritance.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-block-size-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-inline-size-computed.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-resolved-min-size-auto.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Make zooming and HiDPI scaling work per-`WebView`
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/tests/common/mod.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

libservo: Make zooming and HiDPI scaling work per-`WebView` (#36419)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/tests/common/mod.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

use expect, update tests
  components/script/dom/clipboard.rs
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Gate `window.trustedTypes` behind flag
  components/script_bindings/webidls/WindowOrWorkerGlobalScope.webidl
Owners: none

async clipboard: implement `writeText` (#36498)
  components/script/dom/clipboard.rs
  components/script/dom/mod.rs
  components/script/dom/navigator.rs
  components/script/task_manager.rs
  components/script/task_source.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
  components/script_bindings/webidls/Navigator.webidl
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Add missing pieces for worker case
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Gate `window.trustedTypes` behind flag (#36511)
  components/script_bindings/webidls/WindowOrWorkerGlobalScope.webidl
Owners: none

udpate watchTargets and watchResource to consider worker
  components/devtools/actors/watcher.rs
Owners: none

fix serialization of TargetActorMsg to be used in WatchTargetsReply
  components/devtools/actors/watcher.rs
Owners: none

layout: Add a `LayoutBoxBase` to inline boxes
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Add a `LayoutBoxBase` to inline boxes (#36513)
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement the transfer of readablestream
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/shared/constellation/message_port.rs
Owners: @gterzian

implement algos for underlyingsource container
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement pack and post message handling error
  components/script/dom/messageport.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement cross realm transform send error
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

implement pack and post message
  components/script/dom/messageport.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/utils.rs
Owners: @gterzian

Implement CSP check for Trusted Types (#36363)
  components/script/dom/trustedtypepolicyfactory.rs
  tests/wpt/meta/trusted-types/TrustedTypePolicy-CSP-no-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-noNamesGiven.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names-list.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-clipping-of-sample.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-clipping-of-sample.tentative.html.ini
  tests/wpt/meta/trusted-types/trusted-types-sandbox-allow-scripts.html.ini
Owners: @gterzian

rename deserialized stored to readable streams
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

add tranform handlers, restucture port task routing to better match spec, with docs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

add note about the pair of transforms on the global
  components/script/dom/globalscope.rs
Owners: @gterzian

root transforms
  components/script/dom/globalscope.rs
Owners: @gterzian

enable ports are part of setting up cross realm transforms when a port is started, immediately route buffered messages(removing the previous task queueing). fix typos
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

move message handlers
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
Owners: @gterzian

set high watermark for readable side of transform to 0, as per the spec
  components/script/dom/readablestream.rs
Owners: @gterzian

fix typo and resolve cancel algo
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

fix error propagation
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

turn on part of test suite
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  tests/wpt/include.ini
Owners: @gterzian

nit on writable controller start doc
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

update test expectations and config
  tests/wpt/include.ini
  tests/wpt/meta/streams/transferable/deserialize-error.window.js.ini
  tests/wpt/meta/streams/transferable/reason.html.ini
  tests/wpt/meta/streams/transferable/service-worker.https.html.ini
  tests/wpt/meta/streams/transferable/shared-worker.html.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: none

reduce visibility of port methods, remove unnecessary comments add comment on using port infra for transfer Signed-off-by: gterzian <2792687+gterzian@users.noreply.github.com>
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

nit for cross realm send error
  components/script/dom/messageport.rs
Owners: @gterzian

improve doc on underlying sink type
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

add issue number for todo of disentanglement
  components/script/dom/globalscope.rs
Owners: @gterzian

update structured clone test expectations
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/messagechannel.any.js.ini
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/window-postmessage.window.js.ini
  tests/wpt/meta/html/webappapis/structured-clone/structured-clone.any.js.ini
  tests/wpt/meta/workers/semantics/structured-clone/dedicated.html.ini
Owners: none

fix warnings
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

use cx in get type and value from message, add link to underlying sink transfer algos, un-ignore test suites which we can use soon.
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  tests/wpt/include.ini
Owners: @gterzian

add note about script entry in route task
  components/script/dom/globalscope.rs
Owners: @gterzian

fix use of dataclone error after rebase
  components/script/dom/readablestream.rs
Owners: @gterzian

fix clippy
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian
