Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

feat(notification): queue show event
  components/script/dom/notification.rs
Owners: @gterzian

docs: more specific for `ResourceFetchListener`
  components/script/dom/notification.rs
Owners: @gterzian

chore: set shown step to TODO until we are using the variable
  components/script/dom/notification.rs
Owners: @gterzian

Create `update_rendering` in `CanvasState` instead of manually updating in layout
  components/canvas/canvas_paint_thread.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/shared/canvas/canvas.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Mark as dirty and do flushes
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/document.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/window.rs
Owners: @gterzian

Upgrade Stylo to 2025-03-15
  Cargo.lock
  Cargo.toml
Owners: none

Rewrite node insertion algorithm to match the spec
  components/script/dom/node.rs
Owners: @gterzian

Upgrade Stylo to 2025-03-15 (#35990)
  Cargo.lock
  Cargo.toml
Owners: none

Add doc comments to mouse event methods
  components/script/dom/mouseevent.rs
Owners: @gterzian

Add very rough implemnentation of observation steps
  components/script/dom/document.rs
  components/script/dom/domrectreadonly.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Implement is descendant in containing block path correctly
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/intersectionobserver.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix entry reflection and propagate can_gc
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Fix BorrowError and add fragment find descendant
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix unrooted error and tidy issues
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverrootmargin.rs
  components/script/dom/window.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Fix comments
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Remove is descendant of other node query
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-intersection-observer.html.ini
  tests/wpt/meta/intersection-observer/callback-cross-realm-report-exception.html.ini
  tests/wpt/meta/intersection-observer/client-rect.html.ini
  tests/wpt/meta/intersection-observer/containing-block.html.ini
  tests/wpt/meta/intersection-observer/disconnect.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/empty-root-margin.html.ini
  tests/wpt/meta/intersection-observer/explicit-root-different-document.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-iframe-scroll.html.ini
  tests/wpt/meta/intersection-observer/grow-height-and-scrolled.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-ib-split.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-2.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds-in-iframe.html.ini
  tests/wpt/meta/intersection-observer/intersection-ratio-with-fractional-bounds.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-change-events.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-threshold.html.ini
  tests/wpt/meta/intersection-observer/not-in-containing-block-chain.html.ini
  tests/wpt/meta/intersection-observer/observer-callback-arguments.html.ini
  tests/wpt/meta/intersection-observer/padding-clip.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/rtl-clipped-root.html.ini
  tests/wpt/meta/intersection-observer/scroll-margin-non-scrolling-root.html.ini
  tests/wpt/meta/intersection-observer/target-in-detached-document.html.ini
  tests/wpt/meta/intersection-observer/target-is-root.html.ini
  tests/wpt/meta/intersection-observer/v2/box-shadow.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/v2/text-shadow.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-visible.html.ini
  tests/wpt/meta/resize-observer/ordering.html.ini
Owners: none

Use AppUnit more and propagate GlobalScope better
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix intersection and refactor registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Revert delay changes
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Align processing documents and note several issues
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/script_thread.rs
Owners: @gterzian

Align compute intersection algo to other browser actual behavior
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Update WPT
  tests/wpt/meta/intersection-observer/cross-document-root.html.ini
  tests/wpt/meta/intersection-observer/document-scrolling-element-root.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-child-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-scroll.html.ini
  tests/wpt/meta/intersection-observer/inline-with-block-child-client-rect.html.ini
  tests/wpt/meta/intersection-observer/root-margin-rounding.html.ini
  tests/wpt/meta/intersection-observer/shadow-content.html.ini
  tests/wpt/meta/intersection-observer/v2/animated-occlusion.html.ini
  tests/wpt/meta/intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html.ini
  tests/wpt/meta/intersection-observer/zero-area-element-hidden.html.ini
Owners: none

Minor lint
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix top level browsing context
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
Owners: @gterzian

Avoid reflow inside observation step algo
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
Owners: @gterzian

Make Registration rootable
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Using borrow for iterating registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
Owners: @gterzian

Root the observer before nofifying any of it
  components/script/dom/document.rs
Owners: @gterzian

Update WPT
  tests/wpt/meta/intersection-observer/containing-block.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-change-events.html.ini
  tests/wpt/meta/intersection-observer/shadow-content.html.ini
Owners: none

Fix document disconnect
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Address comments and minor quality suggestions
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/script_thread.rs
Owners: @gterzian

Fix documentations
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Account not found element and refactor observation step
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  tests/wpt/meta/intersection-observer/display-none.html.ini
  tests/wpt/meta/intersection-observer/remove-element.html.ini
  tests/wpt/meta/intersection-observer/target-in-detached-document.html.ini
  tests/wpt/meta/intersection-observer/target-in-different-window.html.ini
Owners: @gterzian

Tidy docs
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Ignore position of document viewport
  components/script/dom/intersectionobserver.rs
  tests/wpt/meta/intersection-observer/fixed-position-child-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-iframe-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-scroll.html.ini
Owners: @gterzian

Refactor root intersection rectangle
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Add can GC note to the callback
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix top-level browsing context term
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
Owners: @gterzian

Make MouseEvents composed by default
  components/script/dom/document.rs
  components/script/dom/mouseevent.rs
Owners: @gterzian
