Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

remove unnecessary expansion of visibility of enqueued value to_jsval
  components/script/dom/readablestreamdefaultcontroller.rs
Owners: @gterzian

fix typo
  components/script/dom/readablestream.rs
Owners: @gterzian

fix clippy
  components/script/dom/readablestream.rs
Owners: @gterzian

fix warnings
  components/script/dom/readablestream.rs
Owners: @gterzian

fmt
  components/script/dom/readablestream.rs
Owners: @gterzian

fix can_gc
  components/script/dom/readablestream.rs
Owners: @gterzian

Streams: Implement stream pipe-to (#35650)
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ReadableStream.webidl
  tests/wpt/include.ini
  tests/wpt/meta/fetch/api/response/response-body-read-task-handling.html.ini
  tests/wpt/meta/fetch/api/response/response-stream-disturbed-by-pipe.any.js.ini
  tests/wpt/meta/fetch/api/response/response-stream-with-broken-then.any.js.ini
  tests/wpt/meta/streams/piping/abort.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/close-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-backward.any.js.ini
  tests/wpt/meta/streams/piping/error-propagation-forward.any.js.ini
  tests/wpt/meta/streams/piping/flow-control.any.js.ini
  tests/wpt/meta/streams/piping/general-addition.any.js.ini
  tests/wpt/meta/streams/piping/general.any.js.ini
  tests/wpt/meta/streams/piping/multiple-propagation.any.js.ini
  tests/wpt/meta/streams/piping/pipe-through.any.js.ini
  tests/wpt/meta/streams/piping/then-interception.any.js.ini
  tests/wpt/meta/streams/piping/throwing-options.any.js.ini
  tests/wpt/meta/streams/piping/transform-streams.any.js.ini
  tests/wpt/meta/streams/readable-streams/patched-global.any.js.ini
  tests/wpt/meta/streams/readable-streams/reentrant-strategies.any.js.ini
Owners: @gterzian

remove specialized behaviour for ohos; copy prefs.json if necessary
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

downgrade the log to trace verbosity
  components/net/resource_thread.rs
Owners: none

Create config_dir if none exist for caching
  components/net/resource_thread.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
  support/openharmony/entry/src/main/ets/pages/Index.ets
Owners: @jschwe

Devtools parser: add --json output mode
  etc/devtools_parser.py
Owners: none

Devtools parser: normalise actor names to allow for diffing
  components/devtools/actor.rs
  etc/devtools_parser.py
Owners: none

Devtools parser: reassemble fragmented messages
  etc/devtools_parser.py
Owners: none

Devtools parser: add --json output mode
  etc/devtools_parser.py
Owners: none

update wpt-test
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: none

[feature](font-style-matching): Introduction of Unicode Script property based matching. Probably we will need to replace it with propper BCP47 matching in the future.
  components/canvas/canvas_data.rs
  components/fonts/font.rs
  components/fonts/font_context.rs
  components/fonts/font_store.rs
  components/fonts/font_template.rs
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/font_list.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/README.md
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/iso15924_to_unicode_script.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/platform/macos/font_list.rs
  components/fonts/platform/windows/font_list.rs
  components/fonts/system_font_service.rs
  components/fonts/tests/font_context.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_thread_2020/lib.rs
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

layout: Fix intrinsic contributions of indefinite `stretch` keyword
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-for-intrinsic-contributions.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-for-intrinsic-contributions.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Create `config_dir` if none exist for caching (#35761)
  components/net/resource_thread.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
  support/openharmony/entry/src/main/ets/pages/Index.ets
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: @jschwe

resources: Remove baked in resources
  components/shared/embedder/resources.rs
Owners: none

feat: add can_gc argument to to_frozen_array
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/reflector.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/csslayerstatementrule.rs
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/extendablemessageevent.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/messageevent.rs
  components/script/dom/navigator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/resizeobserverentry.rs
  components/script/dom/webgpu/gpucompilationinfo.rs
  components/script/dom/webxr/xrboundedreferencespace.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/workernavigator.rs
Owners: @gterzian

bugfix: servoshell: prevent 0 pixel dimensions for render area (#35967)
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

fix: linting issues
  components/script/dom/bindings/reflector.rs
Owners: @gterzian

layout: Fix intrinsic contributions of indefinite `stretch` keyword (#36030)
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-for-intrinsic-contributions.html.ini
  tests/wpt/tests/css/css-sizing/keyword-sizes-for-intrinsic-contributions.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove references to 2020 layout in try_parser.py
  python/servo/try_parser.py
Owners: none

layout: Don't consider a definite `stretch` size as intrinsic
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-009.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Cleanup Stylo dependencies
  Cargo.toml
  components/canvas/Cargo.toml
  components/compositing/Cargo.toml
  components/constellation/Cargo.toml
  components/fonts/Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_thread_2020/Cargo.toml
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/script/Cargo.toml
  components/script/dom/documentorshadowroot.rs
  components/script_bindings/Cargo.toml
  components/servo/Cargo.toml
  components/shared/canvas/Cargo.toml
  components/shared/compositing/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/script/Cargo.toml
  components/shared/script_layout/Cargo.toml
  components/shared/webrender/Cargo.toml
  components/webdriver_server/Cargo.toml
  tests/unit/style/Cargo.toml
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

feat: add can_gc in binding.conf
  components/script/dom/bindings/reflector.rs
  components/script/dom/csslayerstatementrule.rs
  components/script/dom/datatransfer.rs
  components/script/dom/extendablemessageevent.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/messageevent.rs
  components/script/dom/navigator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/resizeobserverentry.rs
  components/script/dom/webgpu/gpucompilationinfo.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/workernavigator.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix: linting issues
  components/script/dom/performanceobserver.rs
  components/script/dom/resizeobserverentry.rs
Owners: @gterzian

Support align attribute on HTMLParagraphElement interface
  components/script/dom/htmlparagraphelement.rs
  components/script_bindings/webidls/HTMLParagraphElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-grouping.html.ini
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/htmlcollection.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/htmlcollection.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/htmlcollection.rs
Owners: @gterzian

feat: fetch notification image resources (#35878)
  components/script/dom/notification.rs
Owners: @gterzian

Address review feedback
  components/servo/responders.rs
  components/servo/servo_delegate.rs
Owners: none

Add unit tests
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  python/servo/testing_commands.py
Owners: none

libservo: Notify delegates of send errors in request objects (#35668)
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/servo/responders.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  python/servo/testing_commands.py
Owners: none

Add a regression test
  etc/devtools_parser_test.json
  etc/devtools_parser_test.pcap
  python/servo/testing_commands.py
Owners: none

Clean up and document algorithm
  etc/devtools_parser.py
Owners: none

Support align attribute on HTMLParagraphElement interface (#36054)
  components/script/dom/htmlparagraphelement.rs
  components/script_bindings/webidls/HTMLParagraphElement.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-grouping.html.ini
Owners: @gterzian

use `webview_id` as `browser_id`
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/lib.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
