Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

layout: Store table parts in DOM layout data (#36447)
  components/layout_2020/cell.rs
  components/layout_2020/dom.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/lib.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/tests/tables.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Enforce min-content min main size of flex-level tables (#36469)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  tests/wpt/meta/css/css-flexbox/table-as-item-fixed-min-width-3.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-content-height-1.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-content-height-2.tentative.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

chore: fix typo missing DOMErrorRecord struct
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

libservo: Create a `WebViewBuilder` class to construct `WebView`s
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

libservo: Add a very simple `libservo` API test (#36440)
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
Owners: none

script: Cleanup `components/script/security_manager.rs`
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
  components/script/security_manager.rs
Owners: @gterzian

libservo: Create a `WebViewBuilder` class to construct `WebView`s (#36483)
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/egl/app_state.rs
Owners: @atbrakhi, @jschwe

compositing: Send `CompositorDisplayListInfo` as bytes to compositor (#36484)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/lib.rs
Owners: @mrobinson

compositor: Unify the cross process and in-process API (#36443)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/constellation/pipeline.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/lib.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Implement "Create a Trusted Type" algorithm
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script_bindings/callback.rs
  components/script_bindings/webidls/TrustedTypePolicy.webidl
  tests/wpt/meta/trusted-types/DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/Document-write.html.ini
  tests/wpt/meta/trusted-types/Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicy-createXXX.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-createXYZTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Document-write.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-innerHTML.html.ini
  tests/wpt/meta/trusted-types/eval-with-permissive-csp.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names.html.ini
  tests/wpt/tests/trusted-types/TrustedTypePolicy-createXXX.html
Owners: @gterzian

Update ProgressEvent to use doubles
  components/script/dom/filereader.rs
  components/script/dom/progressevent.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/webidls/ProgressEvent.webidl
  tests/wpt/meta/xhr/progressevent-constructor.html.ini
Owners: @gterzian

Update ProgressEvent to use doubles (#36487)
  components/script/dom/filereader.rs
  components/script/dom/progressevent.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/webidls/ProgressEvent.webidl
  tests/wpt/meta/xhr/progressevent-constructor.html.ini
Owners: @gterzian

Implement "Create a Trusted Type" algorithm (#36454)
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script_bindings/callback.rs
  components/script_bindings/webidls/TrustedTypePolicy.webidl
  tests/wpt/meta/trusted-types/DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/Document-write.html.ini
  tests/wpt/meta/trusted-types/Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicy-createXXX.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-createXYZTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Document-write.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-innerHTML.html.ini
  tests/wpt/meta/trusted-types/eval-with-permissive-csp.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names.html.ini
  tests/wpt/tests/trusted-types/TrustedTypePolicy-createXXX.html
Owners: @gterzian

add CanGc as argument to methods in ElementInternals, GlobalScope, HTMLAnchorElement, HTMLAreaElement, HTMLCanvasElement
  components/script/dom/elementinternals.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlareaelement.rs
  components/script/dom/htmlbuttonelement.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add CanGc as argument to methods in ElementInternals, GlobalScope, HTMLAnchorElement, HTMLAreaElement, HTMLCanvasElement (#36492)
  components/script/dom/elementinternals.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlanchorelement.rs
  components/script/dom/htmlareaelement.rs
  components/script/dom/htmlbuttonelement.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

script: Clean up CSP management code (#36493)
  components/script/dom/globalscope.rs
  components/script/script_runtime.rs
  components/script/security_manager.rs
Owners: @gterzian

add CanGc as argument to methods in HTMLCollection, HTMLDataListElement, HTMLDialogElement, HTMLElement, HTMLFieldSetElement, HTMLFormControlsCollection, HTMLFormElement, HTMLIFrameElement
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmldialogelement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmlformcontrolscollection.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/window.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add CanGc as argument to methods in HTMLCollection, HTMLDataListElement, HTMLDialogElement, HTMLElement, HTMLFieldSetElement, HTMLFormControlsCollection, HTMLFormElement, HTMLIFrameElement (#36495)
  components/script/devtools.rs
  components/script/dom/document.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmldialogelement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmlformcontrolscollection.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmliframeelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/window.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Update ipc-channel to v0.20.0
  Cargo.lock
  Cargo.toml
Owners: none

Update FetchTaskTarget to propagate CSP violations.
  Cargo.lock
  Cargo.toml
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/image_cache.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/notification.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/layout_image.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/script/stylesheet_loader.rs
  components/shared/net/lib.rs
Owners: @gterzian

script: Add policy container to more network fetches.
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/eventsource.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/notification.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/worker.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/stylesheet_loader.rs
Owners: @gterzian

Use valid websocket request destinations in tests to support asynchronous CSP checks.
  tests/wpt/tests/content-security-policy/connect-src/connect-src-websocket-allowed.sub.html
  tests/wpt/tests/content-security-policy/connect-src/connect-src-websocket-blocked.sub.html
Owners: none

net: Implement CSP checks for websockets.
  components/net/websocket_loader.rs
  components/script/dom/websocket.rs
  components/shared/net/lib.rs
Owners: @gterzian

async clipboard: implement writeText
  components/script/dom/clipboard.rs
  components/script/dom/mod.rs
  components/script/dom/navigator.rs
  components/script/task_manager.rs
  components/script/task_source.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
  components/script_bindings/webidls/Navigator.webidl
Owners: @gterzian

Use Servo CSP fork
  Cargo.lock
  Cargo.toml
  components/net/websocket_loader.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/websocket.rs
Owners: @gterzian

Fix typo in tracing code.
  components/compositing/tracing.rs
Owners: @mrobinson

Fix typo in tracing code. (#36501)
  components/compositing/tracing.rs
Owners: @mrobinson

Support optional message for dataclone error (#36308)
  components/script/dom/baseaudiocontext.rs
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/domexception.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script_bindings/error.rs
Owners: @gterzian

document.scrollingElement: split element.is_potentially_scrollable_body()
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

add CanGc as argument to methods in HTMLInputElement, HTMLLinkElement
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/node.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add CanGc as argument to methods in HTMLInputElement, HTMLLinkElement (#36504)
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/node.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

servoshell Cargo.toml cleanup
  ports/servoshell/Cargo.toml
Owners: none

Remove HTMLStyleElement::line_number
  components/script/dom/htmlstyleelement.rs
Owners: @gterzian

localStorage: track changes instead of overwrite
  Cargo.lock
  components/net/Cargo.toml
  components/net/resource_thread.rs
  components/net/storage_thread.rs
  components/script/dom/storage.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script_bindings/webidls/Window.webidl
  components/shared/net/storage_thread.rs
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: @gterzian

Remove HTMLStyleElement::line_number (#36507)
  components/script/dom/htmlstyleelement.rs
Owners: @gterzian

The algorithm [1] is implemented in the content-security-policy package.
  components/script/dom/trustedtypepolicyfactory.rs
  tests/wpt/meta/trusted-types/TrustedTypePolicy-CSP-no-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-noNamesGiven.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none-name.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names-list.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-clipping-of-sample.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-clipping-of-sample.tentative.html.ini
  tests/wpt/meta/trusted-types/trusted-types-sandbox-allow-scripts.html.ini
Owners: @gterzian

libservo: Remove the unused `multiview` feature (#36485)
  components/compositing/Cargo.toml
  components/constellation/Cargo.toml
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: @mrobinson

compositing: Remove `IOCompositor::zoom_time` and `IOCompositor::zoom_action`
  components/compositing/compositor.rs
Owners: @mrobinson

layout: Let getComputedStyle resolve auto min size as 0px when needed
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-flexbox/getcomputedstyle/flexbox_computedstyle_min-auto-size.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-item-min-auto-size-001.html.ini
  tests/wpt/meta/css/css-logical/inheritance.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-block-size-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-inline-size-computed.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-resolved-min-size-auto.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

compositing: Remove `IOCompositor::zoom_time` and `IOCompositor::zoom_action` (#36509)
  components/compositing/compositor.rs
Owners: @mrobinson

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
