Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Add WPT test
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-009.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-010.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-004.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-006.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-007.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-008.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-009.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-010.html
Owners: none

Apply suggestion
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-unreachable-region.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-005.html
  tests/wpt/tests/css/css-overflow/scrollable-overflow-transform-unreachable-region.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Move IdMap and tests to new file
  components/devtools/actors/browsing_context.rs
  components/devtools/id.rs
  components/devtools/lib.rs
Owners: none

Squelch lint on BrowsingContextActor ctor
  components/devtools/actors/browsing_context.rs
Owners: none

[feature](font_matching, ohos_fontconfig):
  components/config/prefs.rs
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/font_context.rs
  components/fonts/font_template.rs
  components/fonts/lib.rs
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/font_list.rs
  components/fonts/platform/freetype/freetype_errors.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/README.md
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/iso_values_converter.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/platform/macos/font_list.rs
  components/fonts/platform/mod.rs
  components/fonts/platform/windows/font_list.rs
  components/fonts/system_font_service.rs
  components/fonts/tests/font_context.rs
  components/fonts/tests/support/OHOS_fontconfig/test_fontconfig.json
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/shared/embedder/resources.rs
  ports/servoshell/egl/ohos/resources.rs
  resources/last-resort-font/LICENSE
  resources/last-resort-font/LastResortHE-Regular.ttf
  resources/last-resort-font/README.md
Owners: @jschwe, @mrobinson, @Loirooriol, @nicoburns

[feature]: Attempt to add variation axes control
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/font_template.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/ohos/font_list.rs
Owners: @jschwe

[feature](platform_font): Linux/Ubuntu/Android add extraction of unicode ranges information from font file.
  components/fonts/font.rs
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/freetype_truetype_unicode_ranges.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/system_font_service.rs
Owners: @jschwe

devtools: Fix id collisions by using incrementing counters (#35971)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/inspector.rs
  components/devtools/actors/tab.rs
  components/devtools/actors/watcher.rs
  components/devtools/id.rs
  components/devtools/lib.rs
  python/servo/testing_commands.py
Owners: none

[feature](font-variations): Attempt to add font variations; Problem: unable to get sfnt name of the axis
  components/fonts/Cargo.toml
  components/fonts/platform/freetype/font.rs
  components/fonts/platform/freetype/freetype_font_table.rs
  components/fonts/platform/freetype/ohos/font_list.rs
Owners: @jschwe

Enable CSS parent selector (`&`) (#36249)
  Cargo.lock
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/css-nesting/host-nesting-005.html.ini
  tests/wpt/meta/css/css-nesting/invalid-inner-rules.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-001.html.ini
  tests/wpt/meta/css/css-nesting/invalidation-002.html.ini
  tests/wpt/meta/css/css-nesting/nested-declarations-matching.html.ini
  tests/wpt/meta/css/css-nesting/nesting-layer.html.ini
  tests/wpt/meta/css/css-nesting/set-selector-text.html.ini
  tests/wpt/meta/css/css-nesting/top-level-is-scope.html.ini
  tests/wpt/meta/css/css-nesting/top-level-parent-pseudo-specificity.html.ini
Owners: none

Implement CSSNestedDeclarations
  components/script/dom/cssnesteddeclarations.rs
  components/script/dom/cssrule.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/CSSNestedDeclarations.webidl
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Implement CSSNestedDeclarations (#36248)
  components/script/dom/cssnesteddeclarations.rs
  components/script/dom/cssrule.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/CSSNestedDeclarations.webidl
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

canvas: Implement line dash setters and getters (#36257)
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  components/shared/canvas/canvas.rs
  tests/wpt/meta/html/canvas/element/manual/line-styles/setLineDash.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.render.line.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.state.line_dash.html.ini
  tests/wpt/meta/html/canvas/element/reset/2d.reset.state.line_dash_offset.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.render.line.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash.worker.js.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash_offset.html.ini
  tests/wpt/meta/html/canvas/offscreen/reset/2d.reset.state.line_dash_offset.worker.js.ini
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/webidl/ecmascript-binding/sequence-conversion.html.ini
Owners: @gterzian

Turn `CSSStyleRule` into a `CSSGroupingRule` subclass
  components/script/dom/cssconditionrule.rs
  components/script/dom/cssgroupingrule.rs
  components/script/dom/csslayerblockrule.rs
  components/script/dom/cssrulelist.rs
  components/script/dom/cssstylerule.rs
  components/script_bindings/webidls/CSSStyleRule.webidl
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: @gterzian

Update python/servo/try_parser.py
  python/servo/try_parser.py
Owners: none

layout: Allow collapsing bottom margins with any indefinite block size
  components/layout_2020/flow/mod.rs
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-001.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-002.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-003.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-004.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-005.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Remove meta-legacy-layout wpt tests
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.nested.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.nested.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.layer-filter.tentative.html.ini
Owners: none

Turn `CSSStyleRule` into a `CSSGroupingRule` subclass (#36254)
  components/script/dom/cssconditionrule.rs
  components/script/dom/cssgroupingrule.rs
  components/script/dom/csslayerblockrule.rs
  components/script/dom/cssrulelist.rs
  components/script/dom/cssstylerule.rs
  components/script_bindings/webidls/CSSStyleRule.webidl
  tests/wpt/meta/css/css-nesting/cssom.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
Owners: @gterzian

Remove meta-legacy-layout wpt tests (#36281)
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.nested.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.nested.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.long-distance-with-clipping.layer-filter.tentative.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.ctx-filter.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/layers/2d.layer.shadow-from-outside-canvas.short-distance-with-clipping.layer-filter.tentative.html.ini
Owners: none

Let xml5ever bubble parser blocking script elements to the caller instead of passing them to the TreeSink.
  components/script/Cargo.toml
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

introduce cross realm transform writable concept
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

libservo: Remove a couple `EmbedderMethods`
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/resource_thread.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/globalscope.rs
  components/script/dom/navigator.rs
  components/script/dom/navigatorinfo.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/workernavigator.rs
  components/script/dom/workletglobalscope.rs
  components/script/script_thread.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

libservo: Remove a couple `EmbedderMethods` (#36276)
  components/compositing/compositor.rs
  components/compositing/windowing.rs
  components/config/prefs.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/resource_thread.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/globalscope.rs
  components/script/dom/navigator.rs
  components/script/dom/navigatorinfo.rs
  components/script/dom/window.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/workernavigator.rs
  components/script/dom/workletglobalscope.rs
  components/script/script_thread.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/embedder.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

patch html5ever dependency (will be removed)
  Cargo.lock
  Cargo.toml
Owners: none

Handle non-HTMLScriptElement scripts in xml docs
  components/script/dom/servoparser/xml.rs
Owners: @gterzian

dom: Firing "click" event as synthetic pointer event
  components/script/dom/document.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/node.rs
  components/script/dom/pointerevent.rs
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/uievents/interface/click-event.htm.ini
Owners: @gterzian

Add message handlers necessary to get Sources tab working
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher.rs
Owners: none

Fix broken unit-test of webview (#36238)
  components/compositing/webview.rs
  python/servo/testing_commands.py
Owners: @mrobinson

libservo: Start moving `WindowMethods` to `WebViewDelegate`
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  components/shared/webrender/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

libservo: Start moving `WindowMethods` to `WebViewDelegate` (#36223)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/script/dom/screen.rs
  components/script/dom/window.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  components/shared/webrender/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

dom: Firing "click" event as synthetic pointer event (#36274)
  components/script/dom/document.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/node.rs
  components/script/dom/pointerevent.rs
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/uievents/interface/click-event.htm.ini
Owners: @gterzian

layout: Allow collapsing bottom margins with any indefinite block size (#36278)
  components/layout_2020/flow/mod.rs
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-001.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-002.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-003.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-004.html
  tests/wpt/tests/css/css-sizing/margin-collapse-with-indefinite-block-size-005.html
Owners: @mrobinson, @Loirooriol, @nicoburns

updates
  components/script/body.rs
  components/script/dom/formdata.rs
  components/script/dom/htmlformelement.rs
Owners: @gterzian

script: Create `CSSStyleOwner::Null` for `getComputedStyle`
  components/script/dom/cssstyledeclaration.rs
  components/script/dom/window.rs
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-007.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-009.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-011.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-currentcolor-computed-visited.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-currentcolor-computed.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-pseudos-computed-search-text.tentative.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-pseudos-computed.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-content.html.ini
  tests/wpt/meta/css/css-pseudo/marker-default-styles.html.ini
  tests/wpt/meta/css/css-pseudo/selection-universal-shadow-dom.html.ini
  tests/wpt/meta/css/css-variables/variable-first-letter.html.ini
  tests/wpt/meta/css/css-variables/variable-first-line.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-checkmark.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-picker-icon.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-with-argument.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/form-controls/placeholder-opacity-default.tentative.html.ini
Owners: @gterzian

script: Create `CSSStyleOwner::Null` for `getComputedStyle` (#36272)
  components/script/dom/cssstyledeclaration.rs
  components/script/dom/window.rs
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-007.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-009.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-cascade-011.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-currentcolor-computed-visited.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-currentcolor-computed.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-pseudos-computed-search-text.tentative.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-cascade/highlight-pseudos-computed.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-content.html.ini
  tests/wpt/meta/css/css-pseudo/marker-default-styles.html.ini
  tests/wpt/meta/css/css-pseudo/selection-universal-shadow-dom.html.ini
  tests/wpt/meta/css/css-variables/variable-first-letter.html.ini
  tests/wpt/meta/css/css-variables/variable-first-line.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-checkmark.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-picker-icon.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo-with-argument.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/form-controls/placeholder-opacity-default.tentative.html.ini
Owners: @gterzian

fix test errors
  components/script/dom/formdata.rs
Owners: @gterzian

Use Window in new methods instead of GlobalScope for interfaces with … (#36133)
  components/script/dom/domrectlist.rs
  components/script/dom/formdataevent.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadevent.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/rtcdatachannel.rs
  components/script/dom/rtcdatachannelevent.rs
  components/script/dom/rtcerror.rs
  components/script/dom/rtcerrorevent.rs
  components/script/dom/rtcicecandidate.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/rtcpeerconnectioniceevent.rs
  components/script/dom/rtcsessiondescription.rs
  components/script/dom/rtctrackevent.rs
  components/script/dom/submitevent.rs
  components/script/dom/texttracklist.rs
  components/script/dom/trackevent.rs
  components/script/dom/vttcue.rs
  components/script/dom/vttregion.rs
  components/script/dom/webxr/xrboundedreferencespace.rs
  components/script/dom/webxr/xrframe.rs
  components/script/dom/webxr/xrhittestresult.rs
  components/script/dom/webxr/xrinputsourcearray.rs
  components/script/dom/webxr/xrinputsourceevent.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrjointpose.rs
  components/script/dom/webxr/xrpose.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrreferencespace.rs
  components/script/dom/webxr/xrreferencespaceevent.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrsessionevent.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/webxr/xrviewerpose.rs
  components/script/dom/windowproxy.rs
  components/webxr/openxr/graphics_d3d11.rs
  components/webxr/openxr/input.rs
  components/webxr/openxr/mod.rs
Owners: @gterzian

layout: Restrict stretch alignment to flex items with computed auto size
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-flexbox/quirks-auto-block-size-with-percentage-item.html.ini
  tests/wpt/tests/css/css-flexbox/stretch-requires-computed-auto-size.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Enable layout_grid_enabled pref for css-nesting tests
  tests/wpt/meta/css/css-nesting/__dir__.ini
  tests/wpt/meta/css/css-nesting/conditional-properties.html.ini
  tests/wpt/meta/css/css-nesting/conditional-rules.html.ini
  tests/wpt/meta/css/css-nesting/implicit-nesting.html.ini
  tests/wpt/meta/css/css-nesting/nesting-basic.html.ini
  tests/wpt/meta/css/css-nesting/supports-rule.html.ini
Owners: none

add license for portions of WHATWG specifications incorporated into source code as per for example https://html.spec.whatwg.org/#ipr
  LICENSE_WHATWG_SPECS
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
