Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Consider a UnbindContext to be tree-connected if its in a shadow root
  components/script/dom/node.rs
Owners: @gterzian

Properly track whether a node is in a shadow tree after removing subtree
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/getElementById-dynamic-001.html.ini
Owners: none

Fix IS_IN_SHADOW_TREE flag for descendants after Node::remove call (#34803)
  components/script/dom/element.rs
  components/script/dom/node.rs
  tests/wpt/meta/shadow-dom/getElementById-dynamic-001.html.ini
Owners: @gterzian

Add test for modifying element IDs in disconnected shadow roots
  tests/wpt/tests/shadow-dom/getElementById-dynamic-002.html
Owners: none

Register element ID modifications inside disconnected shadow roots
  components/script/dom/element.rs
Owners: @gterzian

Don't crash when registering named elements in disconnected shadow roots
  components/script/dom/documentorshadowroot.rs
Owners: @gterzian

Fix test title
  tests/wpt/tests/shadow-dom/getElementById-dynamic-002.html
Owners: none

Ensure Element ID modifications inside disconnected shadow roots are registered (#34834)
  components/script/dom/documentorshadowroot.rs
  components/script/dom/element.rs
  tests/wpt/tests/shadow-dom/getElementById-dynamic-002.html
Owners: @gterzian

script: Move `TimerListener` creation to `OneShotTimers`
  components/script/dom/globalscope.rs
  components/script/timers.rs
Owners: @gterzian

script: Move `TimerListener` creation to `OneShotTimers` (#34825)
  components/script/dom/globalscope.rs
  components/script/timers.rs
Owners: @gterzian

Remove readable streams from webidl/codegen
  components/script/dom/bindings/codegen/CodegenRust.py
  components/script/dom/bindings/codegen/run.py
  third_party/WebIDL/WebIDL.py
  third_party/WebIDL/readable-stream.patch
  third_party/WebIDL/update.sh
Owners: @gterzian

Remove readable streams from webidl/codegen (#34835)
  components/script/dom/bindings/codegen/CodegenRust.py
  components/script/dom/bindings/codegen/run.py
  third_party/WebIDL/WebIDL.py
  third_party/WebIDL/readable-stream.patch
  third_party/WebIDL/update.sh
Owners: @gterzian

check if node is in shadow tree
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

refactored as_parent()'s calls
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

Removed meta ini related file
  tests/wpt/meta/shadow-dom/Document-prototype-currentScript.html.ini
Owners: none

Document's current script should not be updated when executing script elements inside shadow trees (#34787)
  components/script/dom/htmlscriptelement.rs
  tests/wpt/meta/shadow-dom/Document-prototype-currentScript.html.ini
Owners: @gterzian

Remove the use of get_js_stream and use DomRoot<ReadableStream>
  components/script/body.rs
  components/script/dom/blob.rs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script/dom/webidls/Blob.webidl
  components/script/dom/webidls/Body.webidl
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

return an error instead of Option
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

ReadableStream: remove the use of get_js_stream and use DomRoot<ReadableStream> (#34836)
  components/script/body.rs
  components/script/dom/blob.rs
  components/script/dom/globalscope.rs
  components/script/dom/readablestream.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script/dom/webidls/Blob.webidl
  components/script/dom/webidls/Body.webidl
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Update webdriver to 0.51
  Cargo.lock
  Cargo.toml
  components/webdriver_server/lib.rs
Owners: none

Update webdriver to 0.51 (#34838)
  Cargo.lock
  Cargo.toml
  components/webdriver_server/lib.rs
Owners: none

Feat: Decouple Egui as optional feature
  ports/servoshell/Cargo.toml
Owners: none

Feat: ecouple Egui as optional feature
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

feat: add Notification Web API binding
  components/script/dom/mod.rs
  components/script/dom/notification.rs
  components/script/dom/webidls/Notification.webidl
Owners: @gterzian

chore: update spec link
  components/script/dom/notification.rs
  components/script/dom/webidls/Notification.webidl
Owners: @gterzian

chore: fix clippy
  components/script/dom/notification.rs
Owners: @gterzian

Treat % as 0 for the min-content contribution of replaced elements
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-abspos.html.ini
  tests/wpt/tests/css/css-sizing/intrinsic-percent-replaced-028.html
Owners: @mrobinson, @Loirooriol, @nicoburns

fix: index overflow
  components/script/dom/notification.rs
Owners: @gterzian

script: Move the `FontContext` to `Window`
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/malloc_size_of/lib.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/script_layout/lib.rs
Owners: @gterzian

Remove directly modified arrayType changes in WebIDL.py
  third_party/WebIDL/WebIDL.py
Owners: none

Treat % as 0 for the min-content contribution of replaced elements (#32103)
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-abspos.html.ini
  tests/wpt/tests/css/css-sizing/intrinsic-percent-replaced-028.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Use patch to add arrayType in WebIDL.py
  third_party/WebIDL/WebIDL.py
  third_party/WebIDL/array-type.patch
  third_party/WebIDL/update.sh
Owners: none

Check regex syntax for pattern attribute with CheckRegexSyntax from mozjs
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Check regex syntax for pattern attribute with CheckRegexSyntax from mozjs (#28364)
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Add initial support for WebGL 2 BlitFramebuffer
  components/canvas/webgl_thread.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglframebuffer.rs
  components/script/dom/webidls/WebGL2RenderingContext.webidl
  components/shared/canvas/webgl.rs
  tests/wpt/webgl/meta/conformance2/context/methods-2.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/invalidate-framebuffer.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-draws-between-blits.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-with-full-sample-counts.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-depth-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-stencil-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-outofbounds.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-srgb.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-multisampled-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-outside-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-resolve-to-back-buffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-scissor-enabled.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-size-overflow.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-srgb-and-linear-drawbuffers.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-stencil-only.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-test.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-unaffected-by-colormask.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/draw-buffers-driver-hang.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/framebuffer-to-texture.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/line-rendering-quality.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-depth-resolve.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-fragment-evaluation.html.ini
  tests/wpt/webgl/meta/conformance2/transform_feedback/too-small-buffers.html.ini
Owners: @gterzian

Add initial support for WebGL 2 BlitFramebuffer (#26389)
  components/canvas/webgl_thread.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglframebuffer.rs
  components/script/dom/webidls/WebGL2RenderingContext.webidl
  components/shared/canvas/webgl.rs
  tests/wpt/webgl/meta/conformance2/context/methods-2.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/invalidate-framebuffer.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-draws-between-blits.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-with-full-sample-counts.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-depth-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-stencil-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-outofbounds.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-srgb.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-multisampled-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-outside-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-resolve-to-back-buffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-scissor-enabled.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-size-overflow.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-srgb-and-linear-drawbuffers.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-stencil-only.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-test.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-unaffected-by-colormask.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/draw-buffers-driver-hang.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/framebuffer-to-texture.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/line-rendering-quality.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-depth-resolve.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-fragment-evaluation.html.ini
  tests/wpt/webgl/meta/conformance2/transform_feedback/too-small-buffers.html.ini
Owners: @gterzian

Rename IS_IN_DOC flag to IS_IN_A_DOCUMENT_TREE
  components/script/dom/documentorshadowroot.rs
  components/script/dom/element.rs
  components/script/dom/htmlbaseelement.rs
  components/script/dom/htmlbodyelement.rs
  components/script/dom/htmlstyleelement.rs
  components/script/dom/htmltitleelement.rs
  components/script/dom/node.rs
  components/script/layout_dom/node.rs
Owners: @gterzian

Add BindContext::is_in_a_shadow_tree
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Add UnbindContext::tree_is_in_shadow_tree
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
