Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Set is-value for elements constructed with the "new" operator
  components/script/dom/bindings/constructor.rs
Owners: @gterzian

deps: Correct stylo branch name
  Cargo.lock
  Cargo.toml
Owners: none

canvas: Do not update ImageKey during canvas layout
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/constellation/constellation.rs
  components/layout/display_list/builder.rs
  components/layout/fragment.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script/dom/paintworkletglobalscope.rs
  components/shared/canvas/canvas.rs
  components/shared/canvas/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update WPT expectations
  tests/wpt/meta/custom-elements/builtin-coverage.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLSlotElement.html.ini
Owners: none

deps: Correct stylo branch name (#35932)
  Cargo.lock
  Cargo.toml
Owners: none

canvas: Do not update ImageKey during canvas layout (#35719)
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/constellation/constellation.rs
  components/layout/display_list/builder.rs
  components/layout/fragment.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script/dom/paintworkletglobalscope.rs
  components/shared/canvas/canvas.rs
  components/shared/canvas/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

devtools: improve ID Naming for better readability and context
  components/devtools/actor.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/framerate.rs
  components/devtools/actors/timeline.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

Set `is` value when constructing custom elements with the `new` operator (#35930)
  components/script/dom/bindings/constructor.rs
  components/script/dom/create.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/builtin-coverage.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLSlotElement.html.ini
Owners: @gterzian

Change github workflows to not compile legacy layout
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/mac-wpt.yml
  .github/workflows/mac.yml
  .github/workflows/scheduled-wpt-import.yml
  .github/workflows/try.yml
Owners: none

compositing: Move `cursor_pos` member and update it in `update_cursor()`
  components/compositing/compositor.rs
  components/compositing/webview.rs
Owners: @mrobinson

Change github workflows to not compile legacy layout (#35946)
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/mac-wpt.yml
  .github/workflows/mac.yml
  .github/workflows/scheduled-wpt-import.yml
  .github/workflows/try.yml
Owners: none

Improve logic for establishing a stacking context
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-006.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-layout-z-order-a.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-layout-z-order-b.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-006.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-z-index-3.html.ini
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-2.html
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-3.html
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-4.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove special height logic of replaced element with auto width
  components/layout_2020/geom.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-043.html
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-044.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-replaced-element.html
  tests/wpt/tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove special height logic of replaced element with auto width (#35275)
  components/layout_2020/geom.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-043.html
  tests/wpt/tests/css/css-sizing/aspect-ratio/replaced-element-044.html
  tests/wpt/tests/css/css-sizing/keyword-sizes-on-replaced-element.html
  tests/wpt/tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
Owners: @mrobinson, @Loirooriol, @nicoburns

compositing: Move `cursor_pos` member and update it in `update_cursor()` (#35934)
  components/compositing/compositor.rs
  components/compositing/webview.rs
Owners: @mrobinson

Refactor node removal impl to match the spec
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Add missing step 11 of remove a node algorithm
  components/script/dom/node.rs
Owners: @gterzian

Improve logic for establishing a stacking context (#35947)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-z-axis-ordering-overlapped-items-006.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-layout-z-order-a.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-layout-z-order-b.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-005.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-z-axis-ordering-overlapped-items-006.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-z-index-3.html.ini
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-2.html
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-3.html
  tests/wpt/tests/css/css-will-change/will-change-stacking-context-z-index-4.html
Owners: @mrobinson, @Loirooriol, @nicoburns

devtools: improve ID Naming for better readability and context (#35942)
  components/devtools/actor.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/framerate.rs
  components/devtools/actors/timeline.rs
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

script: refactor create_buffer_source_with_constructor
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

remove unnecessary conditional accessing of streams when propagating states
  components/script/dom/readablestream.rs
Owners: @gterzian

improve docs
  components/script/dom/readablestream.rs
Owners: @gterzian

remove unused result var
  components/script/dom/readablestream.rs
Owners: @gterzian

fix typo
  components/script/dom/readablestream.rs
Owners: @gterzian

Allow unsafe_op_in_unsafe_fn lint
  components/allocator/Cargo.toml
  components/background_hang_monitor/Cargo.toml
  components/script/Cargo.toml
  components/script_bindings/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: @gterzian

Compile using the 2024 edition
  Cargo.toml
Owners: none

[bugfix](font-weight): Add font matching against script. Improve documentation!
  components/fonts/font.rs
  components/fonts/font_template.rs
  components/fonts/platform/freetype/android/font_list.rs
  components/fonts/platform/freetype/font_list.rs
  components/fonts/platform/freetype/ohos/README.md
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/font_list/config_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/font_list/fallback_local_font_resolution.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/platform/macos/font_list.rs
  components/fonts/platform/windows/font_list.rs
  components/fonts/system_font_service.rs
Owners: @jschwe

script: refactor create_buffer_source_with_constructor (#35952)
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Rebaseline tests
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/custom-elements/disconnected-callbacks.html.ini
  tests/wpt/meta/custom-elements/enqueue-custom-element-callback-reactions-inside-another-callback.html.ini
Owners: none

Don't run disconnected callback on already disconnected custom elements (#35883)
  components/script/dom/node.rs
  tests/wpt/meta/custom-elements/adopted-callback.html.ini
  tests/wpt/meta/custom-elements/disconnected-callbacks.html.ini
  tests/wpt/meta/custom-elements/enqueue-custom-element-callback-reactions-inside-another-callback.html.ini
Owners: @gterzian

feat: implement text selection and caret display
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Use `strum` to iterate through enum variants and get their names
  Cargo.lock
  Cargo.toml
  components/profile/time.rs
  components/script/Cargo.toml
  components/script/task_manager.rs
  components/script/task_queue.rs
  components/script/task_source.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

devtools: use correct id for browser_id and outer_window_id (#35884)
  components/devtools/actors/tab.rs
Owners: none

Use `strum` to iterate through enum variants and get their names (#35933)
  Cargo.lock
  Cargo.toml
  components/profile/time.rs
  components/script/Cargo.toml
  components/script/task_manager.rs
  components/script/task_queue.rs
  components/script/task_source.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/script/Cargo.toml
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

Fix Cargo.toml instructions for building Servo with a local Stylo
  Cargo.lock
  Cargo.toml
Owners: none

Hide servo internal shadow roots from the inspector by default
  components/config/prefs.rs
  components/script/devtools.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

script: Remove ThreadSafeLayoutNode::is_ignorable_whitespace
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @gterzian

Fix Cargo.toml instructions for building Servo with a local Stylo (#35957)
  Cargo.lock
  Cargo.toml
Owners: none

remove specialized behaviour for ohos; copy prefs.json if necessary
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

Hide servo internal shadow roots from the inspector by default (#35958)
  components/config/prefs.rs
  components/script/devtools.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
