Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Add jpeg and webp support to canvas.toDataURL()
  components/script/dom/htmlcanvaselement.rs
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
Owners: @gterzian

Add jpeg and webp support to canvas.toDataURL() (#34861)
  components/script/dom/htmlcanvaselement.rs
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
Owners: @gterzian

script: Restrict reexport visibility of DOM types.
  components/script/dom/bindings/codegen/CodegenRust.py
  components/script/dom/bindings/import.rs
Owners: @gterzian

script: Hide existing dead code warnings.
  components/script/dom/bindings/codegen/CodegenRust.py
  components/script/dom/bindings/mod.rs
  components/script/dom/mod.rs
  components/script/dom/webgpu/mod.rs
  components/script/dom/webxr/mod.rs
  components/script/lib.rs
  components/script/xpath/mod.rs
Owners: @gterzian

Fix clippy warnings.
  components/script/dom/bindings/codegen/CodegenRust.py
  components/script/dom/eventsource.rs
  components/script/dom/subtlecrypto.rs
Owners: @gterzian

Formatting.
  components/script/dom/bindings/codegen/CodegenRust.py
Owners: @gterzian

Fix unit tests.
  components/script/clipboard_provider.rs
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/refcounted.rs
  components/script/dom/bindings/str.rs
  components/script/dom/headers.rs
  components/script/dom/htmlareaelement.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/node.rs
  components/script/dom/timeranges.rs
  components/script/lib.rs
  components/script/test.rs
  components/script/textinput.rs
  tests/unit/script/textinput.rs
Owners: @gterzian

Fix clippy.
  components/script/dom/timeranges.rs
Owners: @gterzian

Update Taffy and WPT expectations
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
Owners: none

Rename DetailedInfo to SpecificInfo
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Run fmt
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

More formatting.
  components/script/test.rs
  components/script/textinput.rs
  tests/unit/script/textinput.rs
Owners: @gterzian

Fix clippy
  components/script/dom/shadowroot.rs
Owners: @gterzian

layout: grid-template getComputedStyle cleanup (#34926)
  Cargo.lock
  Cargo.toml
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix shadow root binding children to the tree (#34909)
  components/script/dom/shadowroot.rs
  tests/wpt/meta/shadow-dom/untriaged/styles/test-003.html.ini
Owners: @gterzian

script: Move navigation fetching to the `ScriptThread`
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/network_listener.rs
  components/constellation/tracing.rs
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/script/document_loader.rs
  components/script/dom/globalscope.rs
  components/script/lib.rs
  components/script/messaging.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/shared/net/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

Update wgpu and impl `WGSLLanguageFeatures`
  Cargo.lock
  Cargo.toml
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/mod.rs
  components/script/dom/webgpu/wgsllanguagefeatures.rs
  components/script/dom/webidls/WebGPU.webidl
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

script: Move navigation fetching to the `ScriptThread` (#34919)
  components/constellation/constellation.rs
  components/constellation/lib.rs
  components/constellation/network_listener.rs
  components/constellation/tracing.rs
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/script/document_loader.rs
  components/script/dom/globalscope.rs
  components/script/lib.rs
  components/script/messaging.rs
  components/script/navigation.rs
  components/script/script_thread.rs
  components/shared/net/lib.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

layout: Don't recalculate the PaddingBorderMargin in table layout
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Bump taffy to v0.7.5
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-grid/alignment/grid-fit-content-tracks-dont-stretch-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-place-content-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-inline-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-repeat-max-width-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-named-grid-lines-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-minimum-size-grid-items-015.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-005.html.ini
  tests/wpt/meta/css/css-grid/grid-layout-properties.html.ini
  tests/wpt/meta/css/css-grid/grid-model/grid-float-002.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-content-distribution-must-account-for-track-sizing-004.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-content-sized-columns-resolution.html.ini
Owners: none

Bump taffy to v0.7.5 (#34927)
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-grid/alignment/grid-fit-content-tracks-dont-stretch-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-place-content-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-inline-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-repeat-max-width-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-named-grid-lines-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-minimum-size-grid-items-015.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-005.html.ini
  tests/wpt/meta/css/css-grid/grid-layout-properties.html.ini
  tests/wpt/meta/css/css-grid/grid-model/grid-float-002.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-content-distribution-must-account-for-track-sizing-004.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-content-sized-columns-resolution.html.ini
Owners: none

layout: Don't recalculate the PaddingBorderMargin in table layout (#34931)
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve sizing of tables in collapsed-borders mode
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-cell-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-colgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-column-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-row-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-rowgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-table-001.xht.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-dynamic-oof.html.ini
  tests/wpt/meta/css/css-tables/row-group-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/row-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-001.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-002.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-column-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-row-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-002.html.ini
  tests/wpt/meta/css/cssom-view/table-offset-props.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update wgpu and impl `WGSLLanguageFeatures` (#34928)
  Cargo.lock
  Cargo.toml
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/mod.rs
  components/script/dom/webgpu/wgsllanguagefeatures.rs
  components/script/dom/webidls/WebGPU.webidl
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

Implement HTMLCanvasElement.toBlob This refactors some of the code that is shared with toDataURL, and updates the webidl definition to match the current spec (using a default value for the mime type).
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webidls/HTMLCanvasElement.webidl
  components/script/task_manager.rs
  components/script/task_source.rs
  tests/wpt/meta/html/canvas/element/wide-gamut-canvas/2d.color.space.p3.toBlob.p3.canvas.html.ini
  tests/wpt/meta/html/canvas/element/wide-gamut-canvas/2d.color.space.p3.toBlob.with.putImageData.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob-cross-realm-callback-report-exception.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.jpeg.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.null.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.png.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/currentSrc-blob-cache.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/tasks.window.js.ini
Owners: @gterzian

Implement HTMLCanvasElement.toBlob (#34938)
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webidls/HTMLCanvasElement.webidl
  components/script/task_manager.rs
  components/script/task_source.rs
  tests/wpt/meta/html/canvas/element/wide-gamut-canvas/2d.color.space.p3.toBlob.p3.canvas.html.ini
  tests/wpt/meta/html/canvas/element/wide-gamut-canvas/2d.color.space.p3.toBlob.with.putImageData.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob-cross-realm-callback-report-exception.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.jpeg.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.null.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toBlob.png.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/currentSrc-blob-cache.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/tasks.window.js.ini
Owners: @gterzian

layout: Generalize `ContainingBlock`'s block size to a `SizeConstraint`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Improve sizing of tables in collapsed-borders mode (#34932)
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-cell-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-colgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-column-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-row-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-rowgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-table-001.xht.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-dynamic-oof.html.ini
  tests/wpt/meta/css/css-tables/row-group-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/row-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-001.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-002.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-column-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-row-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-002.html.ini
  tests/wpt/meta/css/cssom-view/table-offset-props.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

net: Use `RequestId` to cancel fetches instead of creating an IPC channel
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/filemanager_thread.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
  components/script/document_loader.rs
  components/script/dom/document.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/layout_image.rs
  components/script/navigation.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/shared/net/lib.rs
  components/shared/net/request.rs
Owners: @gterzian

net: Use `RequestId` to cancel fetches instead of creating an IPC channel (#34883)
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/filemanager_thread.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/tests/fetch.rs
  components/net/tests/main.rs
  components/script/document_loader.rs
  components/script/dom/document.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/layout_image.rs
  components/script/navigation.rs
  components/script/script_module.rs
  components/script/script_thread.rs
  components/shared/net/lib.rs
  components/shared/net/request.rs
Owners: @gterzian

net: Raed RippyPNG resource once at startup.
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/net/image_cache.rs
  components/shared/net/image_cache.rs
Owners: none

Enable wdspec and crashtest tests in servodriver.
  python/wpt/run.py
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservodriver.py
Owners: none

Enable WPT tests for several supported/in progress features.
  tests/wpt/include.ini
Owners: none

Enable more preferences for all WPT tests.
  tests/wpt/meta/__dir__.ini
Owners: none

refactor tests
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
Owners: none

net: Raed RippyPNG resource once at startup. (#34954)
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/net/image_cache.rs
  components/shared/net/image_cache.rs
Owners: none

Enable wdspec and crashtest tests in servodriver. (#34955)
  python/wpt/run.py
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservodriver.py
Owners: none

introduce ReadableStreamGenericReader to share functionality between ReadableStreamDefaultReader and ReadableStreamBYOBReader
  components/script/dom/mod.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
Owners: @gterzian

add minimal implementation of FetchParams (#34833)
  components/net/fetch/fetch_params.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/lib.rs
  components/net/resource_thread.rs
  components/net/tests/data_loader.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
Owners: none

feat: Track the binary size for all the different platforms
  .github/workflows/android.yml
  .github/workflows/bencher.yml
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux-bencher.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/ohos.yml
  .github/workflows/windows.yml
  etc/ci/bencher.py
  python/servo/try_parser.py
Owners: @jschwe
