Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Implement trusted HTML sinks for Element (#36941)
  components/script/dom/element.rs
  components/script/dom/trustedhtml.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/content-security-policy/reporting/report-clips-sample.https.html.ini
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-TypeError-belongs-to-the-global-object-realm.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-report-only.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for.html.ini
  tests/wpt/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-001.html.ini
  tests/wpt/meta/trusted-types/trusted-types-createHTMLDocument.html.ini
  tests/wpt/meta/trusted-types/trusted-types-report-only.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLScriptElement-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-SVGScriptElement-innerHTML.html.ini
  tests/wpt/meta/trusted-types/trusted-types-sandbox-allow-scripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-source-file-path.html.ini
Owners: @gterzian

codegen: use `FromJSValConvertible` trait for `Promise` (#36966)
  components/script/dom/globalscope.rs
  components/script/dom/promise.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/interfaces.rs
Owners: @gterzian

Update components/script/resources/media-controls.css
  components/script/resources/media-controls.css
Owners: @gterzian

Use servoshell custom logging domain in OHOS workflow.
  .github/workflows/ohos.yml
Owners: @jschwe

fix: `ReadableStream::get_in_memory_bytes` too large (#36914)
  components/net/http_loader.rs
  components/net/tests/http_loader.rs
  components/script/body.rs
  components/script/dom/readablestream.rs
  components/shared/net/request.rs
Owners: @gterzian

Make transform stream transferrable (#36905)
  components/script/dom/bindings/structuredclone.rs
  components/script/dom/transformstream.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
Owners: @gterzian

Use servoshell custom logging domain for OHOS workfloew (#36979)
  .github/workflows/ohos.yml
Owners: @jschwe

layout: Split `AbsoluteAxisSolver::solve()` into different methods (#36970)
  components/layout/positioned.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Add a repaint-only incremental layout mode
  Cargo.lock
  components/layout/display_list/mod.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_box_base.rs
  components/layout/layout_impl.rs
  components/layout/table/layout.rs
  components/layout/table/mod.rs
  components/layout/taffy/mod.rs
  components/layout/traversal.rs
  components/script/dom/element.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Add a repaint-only incremental layout mode (#36978)
  Cargo.lock
  components/layout/display_list/mod.rs
  components/layout/dom.rs
  components/layout/dom_traversal.rs
  components/layout/flexbox/mod.rs
  components/layout/flow/inline/construct.rs
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/fragment_tree/fragment.rs
  components/layout/fragment_tree/positioning_fragment.rs
  components/layout/layout_box_base.rs
  components/layout/layout_impl.rs
  components/layout/table/layout.rs
  components/layout/table/mod.rs
  components/layout/taffy/mod.rs
  components/layout/traversal.rs
  components/script/dom/element.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

svg: Add mock SVGImageElement interface
  components/script/dom/attr.rs
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/svgelement.rs
  components/script/dom/svgimageelement.rs
  components/script/dom/virtualmethods.rs
  components/script_bindings/webidls/SVGElement.webidl
  components/script_bindings/webidls/SVGImageElement.webidl
  components/shared/script_layout/lib.rs
  tests/wpt/meta/fetch/metadata/generated/svg-image.https.sub.html.ini
  tests/wpt/meta/fetch/metadata/generated/svg-image.sub.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-drawImage.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-flipY.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-invalid-args.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-origin.sub.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-serializable.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/security.pattern.fillStyle.sub.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-all-global-events.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Stream: implement pipeThrough
  components/script/dom/readablestream.rs
  components/script_bindings/webidls/ReadableStream.webidl
  tests/wpt/meta/streams/piping/pipe-through.any.js.ini
  tests/wpt/meta/streams/piping/throwing-options.any.js.ini
  tests/wpt/meta/streams/piping/transform-streams.any.js.ini
  tests/wpt/meta/streams/readable-byte-streams/templated.any.js.ini
  tests/wpt/meta/streams/readable-streams/templated.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
Owners: @gterzian

Add an entry to Bindings.conf for the CanGc and InRealm
  components/script/dom/readablestream.rs
  components/script_bindings/codegen/Bindings.conf
  tests/wpt/meta/fetch/api/response/response-stream-disturbed-by-pipe.any.js.ini
Owners: @gterzian

Remove Clone from MessagePortImpl and only transfer_receive a single port
  components/script/dom/transformstream.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
Owners: @gterzian

fix origin relative coordinate for wheel scroll and refactoring
  components/webdriver_server/actions.rs
Owners: none

The click event does not to be dispatched after the click event is triggered by the script
  components/compositing/webview_renderer.rs
Owners: @mrobinson

Allow embedders to execute js code in the current webview and recieve the result
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/webview.rs
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
Owners: @gterzian

General reworking of this change:
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/javascript_evaluator.rs
  components/servo/lib.rs
  components/servo/tests/webview.rs
  components/servo/webview.rs
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
Owners: @gterzian

Fix Formatting
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/servo/javascript_evaluator.rs
  components/servo/tests/webview.rs
  components/shared/constellation/from_script_message.rs
Owners: @gterzian

Remove duplicate click event in `simulate_mouse_click` (#36957)
  components/compositing/webview_renderer.rs
Owners: @mrobinson

svg: Add mock SVGImageElement interface (#36975)
  components/script/dom/attr.rs
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/svgelement.rs
  components/script/dom/svgimageelement.rs
  components/script/dom/virtualmethods.rs
  components/script_bindings/webidls/SVGElement.webidl
  components/script_bindings/webidls/SVGImageElement.webidl
  components/shared/script_layout/lib.rs
  tests/wpt/meta/fetch/metadata/generated/svg-image.https.sub.html.ini
  tests/wpt/meta/fetch/metadata/generated/svg-image.sub.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-drawImage.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-flipY.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-invalid-args.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-origin.sub.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-serializable.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/security.pattern.fillStyle.sub.html.ini
  tests/wpt/meta/html/webappapis/scripting/events/event-handler-all-global-events.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Fix origin relative coordinate for wheel scroll and refactoring (#36985)
  components/webdriver_server/actions.rs
Owners: none

Fix query and apply some tidy
  components/layout/flow/inline/mod.rs
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Impl internal `-moz-block-height`
  Cargo.lock
  Cargo.toml
  components/layout/flow/inline/inline_box.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/query.rs
  components/layout/stylesheets/servo.css
  tests/wpt/meta/html/rendering/non-replaced-elements/form-controls/input-line-height-computed.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix logical coordinates
  components/layout/flow/inline/line.rs
  components/layout/query.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Propagate specified info of flex item
  components/layout/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Allow embedders to execute JavaScript scripts via the API (#35720)
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/javascript_evaluator.rs
  components/servo/lib.rs
  components/servo/tests/webview.rs
  components/servo/webview.rs
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

Use resources stylesheet for details element.
  Cargo.lock
  components/layout/layout_impl.rs
  components/script/dom/htmldetailselement.rs
  components/shared/embedder/resources.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
  resources/details.css
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

range function done
  components/script/resources/media-controls.js
Owners: @gterzian

range function done
  components/script/resources/media-controls.css
Owners: @gterzian

Embed details stylesheet
  components/layout/stylesheets/details.css
  components/script/dom/htmldetailselement.rs
  components/shared/embedder/resources.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Add tests
  tests/wpt/tests/css/cssom-view/table-client-props.html
Owners: none

Implement iframe.srcdoc trusted type sink
  components/script/dom/element.rs
  components/script/dom/htmliframeelement.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLIFrameElement.webidl
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLIFrameElement-srcdoc.html.ini
Owners: @gterzian

add quote_depth calculation per spec
  components/layout/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add quote_depth to layout context to be shared throughout the flow
  components/layout/context.rs
  components/layout/layout_impl.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add ref test for quote depth calculation
  tests/wpt/tests/css/css-content/content-quotes-depth-ref.html
  tests/wpt/tests/css/css-content/content-quotes-depth.html
Owners: none

add quote_depth calculation during pseudo element traversal
  components/layout/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

format
  components/layout/context.rs
  components/layout/dom_traversal.rs
  tests/wpt/tests/css/css-content/content-quotes-depth.html
Owners: @mrobinson, @Loirooriol, @nicoburns

update to use get_quote_from_pair and Option<T>
  components/layout/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add spec references
  components/layout/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns
