Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

layout: Basic implementation of size keywords on `flex-basis`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/flex-basis-intrinsics-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/flex-basis-1.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-column.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-row.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

bindings: Support non-object this values for callbacks.
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/import.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Fix tidy issue
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

script: remove a fixed todo from script/dom/xmlhttprequest.rs
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Enable the `quotes` CSS property
  Cargo.lock
  tests/wpt/meta/css/css-content/inheritance.html.ini
Owners: none

Reapply "Use surfman with glow bindings (#34328)" (#35402)
  Cargo.lock
  Cargo.toml
  components/canvas/webgl_thread.rs
  components/canvas/webxr.rs
  components/script/dom/webxr/xrwebgllayer.rs
  components/shared/canvas/webgl.rs
  components/shared/webrender/rendering_context.rs
  components/shared/webxr/layer.rs
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @gterzian, @atbrakhi

script: remove a fixed todo from script/dom/xmlhttprequest.rs (#35417)
  components/script/dom/xmlhttprequest.rs
Owners: @gterzian

Enable the `quotes` CSS property (#35420)
  Cargo.lock
  tests/wpt/meta/css/css-content/inheritance.html.ini
Owners: none

Let script/webgpu feature imply script_traits/webgpu
  components/script/Cargo.toml
Owners: @gterzian

Let script/webgpu feature imply script_traits/webgpu (#35424)
  components/script/Cargo.toml
Owners: @gterzian

libservo: Expose a single `InputEvent` type and pass it to script
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/profile/time.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/node.rs
  components/script/messaging.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/input_events.rs
  components/shared/embedder/lib.rs
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @gterzian, @atbrakhi

Implement overflow clip
  Cargo.lock
  Cargo.toml
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  resources/servo.css
  tests/wpt/meta/css/css-overflow/clip-001.html.ini
  tests/wpt/meta/css/css-overflow/clip-002.html.ini
  tests/wpt/meta/css/css-overflow/clip-003.html.ini
  tests/wpt/meta/css/css-overflow/clip-004.html.ini
  tests/wpt/meta/css/css-overflow/clip-005.html.ini
  tests/wpt/meta/css/css-overflow/dynamic-visible-to-clip-001.html.ini
  tests/wpt/meta/css/css-overflow/margin-block-end-scroll-area-001.html.ini
  tests/wpt/meta/css/css-overflow/overflow-body-propagation-010.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-cant-scroll.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-content-visual-overflow.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-001.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-010.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-hit-testing.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-invalidation.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-border-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-content-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-rounded-table.html.ini
  tests/wpt/meta/css/css-overflow/overflow-img-display-table.html.ini
  tests/wpt/meta/css/css-overflow/overflow-no-interpolation.html.ini
  tests/wpt/meta/css/css-overflow/overflow-shorthand-002.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin-computed.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-computed.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-valid.html.ini
  tests/wpt/meta/css/css-transforms/transform-clip-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/html/rendering/widgets/baseline-alignment-and-overflow.tentative.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/computed-style.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Modify test ini for overflow clip
  tests/wpt/meta/css/css-backgrounds/background-origin/origin-border-box_with_radius.html.ini
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-overflow/overflow-img-display-table.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/computed-style.html.ini
Owners: none

Update overflow_clip_rect calculation
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-010.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-border-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-content-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-img-display-table.html.ini
  tests/wpt/meta/css/css-overflow/overflow-no-interpolation.html.ini
  tests/wpt/meta/css/css-overflow/overflow-shorthand-002.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin-computed.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/computed-style.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Update overflow-clip-margin border-radius according to shadow box
  Cargo.lock
  Cargo.toml
  components/layout_2020/display_list/stacking_context.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

bindings: Support non-object this values for callbacks. (#35427)
  components/script/dom/bindings/callback.rs
  components/script/dom/bindings/import.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

Implement overflow:clip (#35103)
  Cargo.lock
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/taffy/stylo_taffy/convert.rs
  resources/servo.css
  tests/wpt/meta/css/css-backgrounds/background-origin/origin-border-box_with_radius.html.ini
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-overflow/clip-001.html.ini
  tests/wpt/meta/css/css-overflow/clip-002.html.ini
  tests/wpt/meta/css/css-overflow/clip-003.html.ini
  tests/wpt/meta/css/css-overflow/clip-004.html.ini
  tests/wpt/meta/css/css-overflow/clip-005.html.ini
  tests/wpt/meta/css/css-overflow/dynamic-visible-to-clip-001.html.ini
  tests/wpt/meta/css/css-overflow/margin-block-end-scroll-area-001.html.ini
  tests/wpt/meta/css/css-overflow/overflow-body-propagation-010.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-cant-scroll.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-content-visual-overflow.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-001.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-hit-testing.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-invalidation.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-border-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-margin-mul-column-content-box.html.ini
  tests/wpt/meta/css/css-overflow/overflow-clip-rounded-table.html.ini
  tests/wpt/meta/css/css-overflow/overflow-no-interpolation.html.ini
  tests/wpt/meta/css/css-overflow/overflow-shorthand-002.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin-computed.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-clip-margin.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-computed.html.ini
  tests/wpt/meta/css/css-overflow/parsing/overflow-valid.html.ini
  tests/wpt/meta/css/css-transforms/transform-clip-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/html/rendering/widgets/baseline-alignment-and-overflow.tentative.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/computed-style.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

improve read_all_bytes
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

libservo: Don't bounce ready-to-present frame notifications to the Constellation
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/app_state.rs
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/Servo.java
Owners: @mrobinson, @jschwe

prefs: Stop precaching WebRender shaders by default
  components/config/prefs.rs
Owners: none

libservo: Don't bounce ready-to-present frame notifications to the Constellation (#35369)
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/app_state.rs
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/Servo.java
Owners: @mrobinson, @jschwe

prefs: Stop precaching WebRender shaders by default (#35431)
  components/config/prefs.rs
Owners: none

script: fix spurious animation checks to correctly invoke rAF callbacks
  components/script/dom/document.rs
  tests/wpt/tests/html/webappapis/animation-frames/spurious-frame-callbacks-optimization.html
Owners: @gterzian

script: fix spurious animation checks to correctly invoke rAF callbacks (#35387)
  components/script/dom/document.rs
  tests/wpt/tests/html/webappapis/animation-frames/spurious-frame-callbacks-optimization.html
Owners: @gterzian

feat: dispatch mouse contextmenu event to DOM and embedder
  components/script/dom/document.rs
Owners: @gterzian

chore: add parameters names as inline comments
  components/script/dom/document.rs
Owners: @gterzian

feat: dispatch mouse `contextmenu` event to DOM and embedder (#35364)
  components/script/dom/document.rs
Owners: @gterzian

Test `overflow-clip-margin` with `border-radius`
  tests/wpt/tests/css/css-overflow/overflow-clip-margin-border-radius-ref.html
  tests/wpt/tests/css/css-overflow/overflow-clip-margin-border-radius.html
Owners: none

js event: implement scroll event
  components/compositing/compositor.rs
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @mrobinson, @gterzian

add Precustomized state to CustomElementState
  components/script/dom/customelementregistry.rs
  components/script/dom/htmlelement.rs
Owners: @gterzian

Test `overflow-clip-margin` with `border-radius` (#35433)
  tests/wpt/tests/css/css-overflow/overflow-clip-margin-border-radius-ref.html
  tests/wpt/tests/css/css-overflow/overflow-clip-margin-border-radius.html
Owners: none

servoshell: Port alert/confirm dialog code to use egui intead of tinyfiledialogs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

libservo: Expose a single `InputEvent` type and pass it to script
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/profile/time.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/node.rs
  components/script/messaging.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/input_events.rs
  components/shared/embedder/lib.rs
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

servoshell: Port alert/confirm dialog code to use egui intead of tinyfiledialogs (#35399)
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

Update test expectation
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
Owners: none

Add Precustomized state to CustomElementState (#35392)
  components/script/dom/customelementregistry.rs
  components/script/dom/htmlelement.rs
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
Owners: @gterzian

script: reset spurious frame counter *only* when reflow is triggered
  components/script/dom/document.rs
  tests/wpt/tests/html/webappapis/animation-frames/spurious-frame-callbacks-optimization.html
Owners: @gterzian

script: reset spurious frame counter *only* when reflow is triggered (#35435)
  components/script/dom/document.rs
  tests/wpt/tests/html/webappapis/animation-frames/spurious-frame-callbacks-optimization.html
Owners: @gterzian

Protect `create_spanned_slot_based_on_cell_above()` against arithmetic underflow
  components/layout_2020/table/construct.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Expose a single `InputEvent` type and pass it to script (#35430)
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/profile/time.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/node.rs
  components/script/messaging.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/background_hang_monitor/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/input_events.rs
  components/shared/embedder/lib.rs
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/webdriver_server/actions.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
