Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Implement static Response.json
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Response.webidl
  tests/wpt/meta/fetch/api/idlharness.any.js.ini
  tests/wpt/meta/fetch/api/response/response-static-json.any.js.ini
Owners: @gterzian

refactoring and review comments
  components/script/dom/response.rs
  components/script_bindings/str.rs
Owners: @gterzian

htmlvideoelement: Include security settings in poster image request
  components/script/dom/htmlvideoelement.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/video_poster_frame.html.ini
  tests/wpt/mozilla/tests/mozilla/video_poster_csp.sub.html
Owners: @gterzian

htmlvideoelement: Include security settings in poster image request (#36605)
  components/script/dom/htmlvideoelement.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/video_poster_frame.html.ini
  tests/wpt/mozilla/tests/mozilla/video_poster_csp.sub.html
Owners: @gterzian

Rework `ScriptThread::handle_input_event` 1. Only trigger click event with primary button 2. Avoid unnecessary clone of `ConstellationInputEvent`
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
Owners: @gterzian

script_module: Add missing security settings to module script requests
  components/script/script_module.rs
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: @gterzian

Fix: Slot Assignment mode according to the spec
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

Fix missing settings in script module requests (#36606)
  components/script/script_module.rs
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: @gterzian

layout_image: Include missing request settings in layout-initiated image loads
  components/script/layout_image.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/background_image_csp.sub.html
Owners: @gterzian

Update: wpt test results from fail to pass
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-write-to-iframe.html.ini
Owners: none

Implement trusted types url setter
  Cargo.lock
  components/script/dom/element.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/macros.rs
  components/script/dom/trustedscripturl.rs
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script/security_manager.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLScriptElement.webidl
  tests/wpt/meta/content-security-policy/generic/generic-0_1-img-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_1-script-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_10_1.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_2.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_3.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-1_10.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_double_policy_different_nonce.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-blocked.html.ini
  tests/wpt/meta/trusted-types/HTMLScriptElement-internal-slot.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
Owners: @gterzian

Fix: Slot Assignment mode according to the spec (#36620)
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-write-to-iframe.html.ini
Owners: @gterzian

bindings: Split global resolve hook into Window and non-Window logic.
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
Owners: none

bindings: Add MayResolve hook to global objects.
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
Owners: none

bindings: Split global enumeration into Window and non-Window logic.
  components/script/dom/bindings/utils.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
  components/script_bindings/webidls/Window.webidl
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Eagerly define interfaces on non-Window globals (#36604)
  components/script/dom/bindings/utils.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
  components/script_bindings/webidls/Window.webidl
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Rework `ScriptThread::handle_input_event` for behaviour and performance (#36619)
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
Owners: @gterzian

constellation: Re-split structured data types into separate files (#36615)
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/message_port.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
Owners: none

Apply suggestions from code review
  components/script/dom/element.rs
Owners: @gterzian

Remove unnecessary map_err.
  components/script/dom/globalscope.rs
Owners: @gterzian

script: `LoadBlocker`'s drop impl shouldn't run after termination.
  components/script/document_loader.rs
  tests/wpt/meta/dom/ranges/Range-cloneContents.html.ini
  tests/wpt/meta/dom/ranges/Range-deleteContents.html.ini
  tests/wpt/meta/dom/ranges/Range-extractContents.html.ini
  tests/wpt/meta/dom/ranges/Range-insertNode.html.ini
  tests/wpt/meta/dom/ranges/Range-surroundContents.html.ini
  tests/wpt/meta/mimesniff/media/media-sniff.window.js.ini
Owners: @gterzian

Implement cookie date parsing algorithm from rfc6265
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/cookie.rs
  components/net/cookie_dateparser.rs
  components/net/lib.rs
  components/script/Cargo.toml
  tests/wpt/meta/xhr/cookies.http.html.ini
Owners: @gterzian

Implement trusted types url setter (#36596)
  Cargo.lock
  components/script/dom/element.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/macros.rs
  components/script/dom/trustedscripturl.rs
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script/security_manager.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLScriptElement.webidl
  tests/wpt/meta/content-security-policy/generic/generic-0_1-img-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_1-script-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_10_1.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_2.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_3.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-1_10.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_double_policy_different_nonce.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-blocked.html.ini
  tests/wpt/meta/trusted-types/HTMLScriptElement-internal-slot.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
Owners: @gterzian

script: `LoadBlocker`'s drop impl shouldn't run after termination. (#36508)
  components/script/document_loader.rs
  tests/wpt/meta/dom/ranges/Range-cloneContents.html.ini
  tests/wpt/meta/dom/ranges/Range-deleteContents.html.ini
  tests/wpt/meta/dom/ranges/Range-extractContents.html.ini
  tests/wpt/meta/dom/ranges/Range-insertNode.html.ini
  tests/wpt/meta/dom/ranges/Range-surroundContents.html.ini
  tests/wpt/meta/mimesniff/media/media-sniff.window.js.ini
Owners: @gterzian

remove unnecessary special hanlding of dataclone error in port when posting message handling error
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

Add basic unit test for net::cookie_dateparser::extract_expiry
  components/net/tests/cookie_dateparser.rs
  components/net/tests/main.rs
Owners: none

compositing: Rename `WebView` to `WebViewRenderer`
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview_manager.rs
  components/compositing/webview_renderer.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

Remove unnecessary map_err. (#36625)
  components/script/dom/globalscope.rs
Owners: @gterzian

Streams: remove unnecessary special hanlding of dataclone error (#36628)
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

compositing: Rename `WebView` to `WebViewRenderer` (#36574)
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/webview_manager.rs
  components/compositing/webview_renderer.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

Set correct policy-container for worker construction
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/globalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/workerglobalscope.rs
  tests/wpt/meta/content-security-policy/connect-src/worker-connect-src-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-connect-src.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-script-src.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-eval-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-function-function-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-importscripts.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-set-timeout.sub.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/inside-dedicated-worker.html.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/default-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-spv-asynch.any.js.ini
  tests/wpt/meta/fetch/api/policies/csp-blocked-worker.html.ini
  tests/wpt/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-004-worker.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-check-report-DedicatedWorker-sink-mismatch.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-ServiceWorkerContainer-register.https.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-eval.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-function-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-setTimeout-setInterval.html.ini
Owners: @gterzian

Formatting components/net/tests/cookie_dateparser.rs
  components/net/tests/cookie_dateparser.rs
Owners: none

layout: Structure reflow code to make it more modular
  components/layout/layout_impl.rs
  components/layout/traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix wrong take_while_m_n being used
  components/net/cookie_dateparser.rs
  components/net/tests/cookie_dateparser.rs
Owners: none

Bump fontsan version to include https://github.com/servo/fontsan/pull/37
  Cargo.lock
Owners: none

Bump fontsan version to include servo/fontsan#37 (#36630)
  Cargo.lock
Owners: none

Refactoring for readability
  components/net/cookie.rs
Owners: none

Set correct policy-container for worker construction (#36603)
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/globalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/workerglobalscope.rs
  tests/wpt/meta/content-security-policy/connect-src/worker-connect-src-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-connect-src.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-script-src.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-eval-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-function-function-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-importscripts.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-set-timeout.sub.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/inside-dedicated-worker.html.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/default-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-spv-asynch.any.js.ini
  tests/wpt/meta/fetch/api/policies/csp-blocked-worker.html.ini
  tests/wpt/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-004-worker.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-check-report-DedicatedWorker-sink-mismatch.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-ServiceWorkerContainer-register.https.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-eval.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-function-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-setTimeout-setInterval.html.ini
Owners: @gterzian

worker_id shoud be "id" & thread for workers is thread not context
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

DevTools: `worker_id` shoud be `id` & thread for workers should be `thread` (#36631)
  components/devtools/actors/worker.rs
  components/devtools/lib.rs
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
