Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Reuse same `ImageKey` for 2d canvas
  components/canvas/canvas_data.rs
Owners: none

[bugfix](font-weight): Fix rendering of font-weight and other propperties related to FontDescriptor
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](font-weight): Clarify comment.
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Reuse same `ImageKey` for 2d canvas (#35695)
  components/canvas/canvas_data.rs
Owners: none

Update test expectations
  tests/wpt/meta/FileAPI/blob/Blob-bytes.any.js.ini
Owners: none

[bugfix](font-weight): Modify search in IFC font storage to check hash instead of font size.
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

js event: support scroll event
  components/compositing/compositor.rs
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

layout: Partial support for keyword sizes on preferred cross size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/orthogonal-writing-modes-and-intrinsic-sizing.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Set limits on pinch zoom (#35692)
  components/compositing/compositor.rs
Owners: @mrobinson

Update sensitivity naming in `DisplayList::new` (#35694)
  components/layout_2020/display_list/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

avoid double borrow inside GetAsString
  components/script/dom/datatransferitem.rs
Owners: @gterzian

compositor: Make `PipelineDetails` and pending paint metrics per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/script/script_msg.rs
  components/shared/webrender/lib.rs
  components/webdriver_server/actions.rs
Owners: @mrobinson, @gterzian

compositor Remove `frame_tree_id` member
  components/compositing/compositor.rs
Owners: @mrobinson

clippy: Fix a couple clippy warnings on macOS
  components/fonts/platform/macos/font.rs
  components/layout/display_list/webrender_helpers.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Use definite cross size to compute flex base size (#35688)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-026.html.ini
  tests/wpt/tests/css/css-flexbox/flex-basis-013.html
Owners: @mrobinson, @Loirooriol, @nicoburns

compositor Remove `frame_tree_id` member (#35702)
  components/compositing/compositor.rs
Owners: @mrobinson

clippy: Fix a couple clippy warnings on macOS (#35703)
  components/fonts/platform/macos/font.rs
  components/layout/display_list/webrender_helpers.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

winit_mininal: support proper window resizing (#35691)
  components/servo/examples/winit_minimal.rs
Owners: none

libservo: Stop double-buffering `OffscreenRenderingContext`
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Mark quotes-034.html.ini failure
  tests/wpt/meta/css/css-content/quotes-034.html.ini
Owners: none

Squash and don't explicitly use noto-cjk in tests
  Cargo.lock
  Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_2020/dom_traversal.rs
  components/layout_2020/lib.rs
  components/layout_2020/quotes.rs
  components/script/dom/element.rs
  ports/servoshell/Cargo.toml
  resources/quotes.css
  resources/user-agent.css
  tests/wpt/meta/css/CSS2/generated-content/content-056.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-156.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-157.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-001.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-002.xht.ini
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-content/quotes-002.html.ini
  tests/wpt/meta/css/css-content/quotes-010.html.ini
  tests/wpt/meta/css/css-content/quotes-021.html.ini
  tests/wpt/meta/css/css-content/quotes-031.html.ini
  tests/wpt/meta/css/css-content/quotes-034.html.ini
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/tests/css/css-content/quotes-lang-dynamic-001.html
  tests/wpt/tests/css/css-content/quotes-slot-scoping-ref.html
  tests/wpt/tests/css/css-content/reference/quotes-lang-dynamic-001-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Address review comments
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
Owners: none

Allows to read the prefs.json from the hap bundle on OHOS.
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

layout: Implement a non-recursive version of CSS `quotes` (#34770)
  Cargo.lock
  Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_2020/dom_traversal.rs
  components/layout_2020/lib.rs
  components/layout_2020/quotes.rs
  components/script/dom/element.rs
  ports/servoshell/Cargo.toml
  resources/quotes.css
  resources/user-agent.css
  tests/wpt/meta/css/CSS2/generated-content/content-056.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-156.xht.ini
  tests/wpt/meta/css/CSS2/generated-content/content-157.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-001.xht.ini
  tests/wpt/meta/css/CSS2/selectors/first-letter-dynamic-002.xht.ini
  tests/wpt/meta/css/css-content/inheritance.html.ini
  tests/wpt/meta/css/css-content/quotes-002.html.ini
  tests/wpt/meta/css/css-content/quotes-010.html.ini
  tests/wpt/meta/css/css-content/quotes-021.html.ini
  tests/wpt/meta/css/css-content/quotes-031.html.ini
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/tests/css/css-content/quotes-lang-dynamic-001.html
  tests/wpt/tests/css/css-content/quotes-slot-scoping-ref.html
  tests/wpt/tests/css/css-content/reference/quotes-lang-dynamic-001-ref.html
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

use dom for reader in read loop fulfillment handler
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

Fix non-transferable-buffers test
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

use the global of the reader in read loop fulfillment handler
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

fonts: Remove the per-FontGroup cached fallback font
  components/canvas/canvas_data.rs
  components/fonts/font.rs
  components/fonts/tests/font_context.rs
  components/layout/text.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_thread_2020/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

added crashtest
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/datatransferitem-crash.html
Owners: none

remove FAIl expectations for blob methods in detached iframe
  tests/wpt/meta/FileAPI/Blob-methods-from-detached-frame.html.ini
Owners: none

Remove tinyfiledialogs dependency
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
Owners: none

script: Implement `Blob::bytes()` (#35151)
  components/script/dom/blob.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Blob.webidl
  tests/wpt/meta/FileAPI/Blob-methods-from-detached-frame.html.ini
  tests/wpt/meta/FileAPI/blob/Blob-bytes.any.js.ini
  tests/wpt/meta/FileAPI/idlharness.any.js.ini
  tests/wpt/meta/FileAPI/idlharness.html.ini
  tests/wpt/meta/FileAPI/idlharness.worker.js.ini
Owners: @gterzian

script: Avoid double borrow crash in `DataTransferItem` (#35699)
  components/script/dom/datatransferitem.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/datatransferitem-crash.html
Owners: @gterzian

Remove tinyfiledialogs dependency (#35674)
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
Owners: none

add `cancelable` property to the `TouchEvent` set cancellable = false when sending move events to script, if the first touch_move event did not cancel it
  components/compositing/compositor.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

js event: support scroll event
  components/compositing/compositor.rs
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

servoshell: Rename `Minibrowser::is_in_browser_rect` to `Minibrowser::is_in_egui_toolbar_rect`
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

Use preparation-time document for scripts
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

libservo: Stop double-buffering `OffscreenRenderingContext`
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

libservo: Stop double-buffering `OffscreenRenderingContext` (#35638)
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/minibrowser.rs
Owners: @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
