Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

refactor: add CanGc as argument to OffscreenCanvas methods (#35731)
  components/script/dom/offscreencanvas.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

refactor: add CanGc as argument to methods in CanvasRenderingContext2D and OffscreenCanvasRenderingContext2D
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

servoshell: Read prefs.json from bundle on OHOS (#35581)
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

refactor: add CanGc as argument to methods in CanvasRenderingContext2D and OffscreenCanvasRenderingContext2D (#35732)
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Refactor devtools server
  components/devtools/lib.rs
Owners: none

Add test case
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/partial_shadow_dom_layout_style.html.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
  tests/wpt/mozilla/tests/shadow-dom/getrootnode-in-deeply-nested-shadow.html
Owners: none

Don't recurse in Node::GetRootNode (#35725)
  components/script/dom/node.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/partial_shadow_dom_layout_style.html.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
  tests/wpt/mozilla/tests/shadow-dom/getrootnode-in-deeply-nested-shadow.html
Owners: @gterzian

Refactor devtools server (#35735)
  components/devtools/lib.rs
Owners: none

Check for existence of sudo command in ./mach bootstrap on Linux (#35736)
  python/servo/platform/linux.py
Owners: none

Remove extraneous semicolon from previous commit (test-tidy fix).
  python/servo/platform/linux.py
Owners: none

Set a valid default value for the --userscripts command line option This prevents a crash when not specifying the path and matches the help message for that option.
  ports/servoshell/prefs.rs
Owners: none

modified review commentss
  components/compositing/compositor.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

script: Avoid double borrow crash on iframe focus
  components/script/script_thread.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/iframe_focus-crash.html
Owners: @gterzian

layout: Merge `BoxFragment::used_overflow` into `ComputedValuesExt::effective_overflow` (#35670)
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-overflow/overflow-img-display-table.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

refactor: add CanGc as argument to methods in CSSGroupingRule, CSSKeyframesRule, Crypto
  components/script/dom/crypto.rs
  components/script/dom/cssgroupingrule.rs
  components/script/dom/csskeyframesrule.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Set a valid default value for the --userscripts command line option (#35740)
  ports/servoshell/prefs.rs
Owners: none

refactor: add CanGc as argument to methods in CSSGroupingRule, CSSKeyframesRule, Crypto (#35743)
  components/script/dom/crypto.rs
  components/script/dom/cssgroupingrule.rs
  components/script/dom/csskeyframesrule.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add `cancelable` property to the `TouchEvent` (#35713)
  components/compositing/compositor.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
Owners: @mrobinson, @gterzian

Fix step numbers and spec quotes
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

Respond to the "connect" message
  components/devtools/actors/root.rs
Owners: none

Bump log levels in devtools implementation a bit
  components/devtools/actor.rs
  components/devtools/lib.rs
Owners: none

Generate Try Configuration use `ubuntu-22.04`
  .github/workflows/main.yml
  .github/workflows/try.yml
Owners: none

script: Implement preparation-time document (#35718)
  components/script/dom/htmlscriptelement.rs
  tests/wpt/meta-legacy-layout/html/dom/render-blocking/remove-pending-async-render-blocking-script.html.ini
  tests/wpt/meta/html/dom/render-blocking/remove-pending-async-render-blocking-script.html.ini
Owners: @gterzian

fix Blob.ArrayBuffer
  components/script/dom/blob.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Respond to the `connect` message from a devtools client (#35745)
  components/devtools/actor.rs
  components/devtools/actors/root.rs
  components/devtools/lib.rs
Owners: none

Generate Try Configuration use `ubuntu-22.04` (#35746)
  .github/workflows/main.yml
  .github/workflows/try.yml
Owners: none

webdriver: Use current browsing context when getting element center point.
  components/webdriver_server/actions.rs
Owners: none

servodriver: Ensure capabilities is always a non-empty value.
  tests/wpt/tests/tools/wptrunner/wptrunner/browsers/servodriver.py
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservodriver.py
Owners: none

webdriver: Propagate errors received from getting element center point.
  components/webdriver_server/actions.rs
Owners: none

webdriver: Ensure script body is always valid JS.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Ensure opening a new window records a unique window handle.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Serialize arguments object like an array.
  components/script/webdriver_handlers.rs
Owners: @gterzian

Formatting.
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

webdriver: Use more precise check for arguments exotic object.
  components/script/webdriver_handlers.rs
Owners: @gterzian

webdriver: Do not update the current browsing context after closing a window.
  components/webdriver_server/lib.rs
Owners: none

webdriver: Don't panic if script execution fails.
  components/webdriver_server/lib.rs
Owners: none

script: Mark callback methods with CanGc.
  components/script/dom/baseaudiocontext.rs
  components/script/dom/bindings/import.rs
  components/script/dom/customelementregistry.rs
  components/script/dom/datatransferitem.rs
  components/script/dom/document.rs
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/mediasession.rs
  components/script/dom/mutationobserver.rs
  components/script/dom/nodeiterator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/resizeobserver.rs
  components/script/dom/testbinding.rs
  components/script/dom/treewalker.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrtest.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/microtask.rs
  components/script/script_thread.rs
  components/script/timers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

layout: Merge `BoxFragment::used_overflow` into `ComputedValuesExt::effective_overflow` (#35670) (#35670)
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-overflow/overflow-img-display-table.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](font-weight): Modify search in IFC font storage to check hash instead of font size.
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](font-weight): Clarify comment.
  components/layout_2020/flow/inline/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
