Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Bump html5ever version
  Cargo.lock
  Cargo.toml
  components/script/dom/shadowroot.rs
Owners: @gterzian

Bring back DOM GC checkpoint to script_thread (#35949)
  components/script/script_thread.rs
Owners: @gterzian

Support Animated Image Display as element background
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/layout_2020/context.rs
  components/layout_thread_2020/lib.rs
  components/net/image_cache.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/dom/document.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/window.rs
  components/script/image_animation.rs
  components/script/lib.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
  components/shared/script_layout/Cargo.toml
  components/shared/script_layout/lib.rs
  components/shared/webrender/lib.rs
  components/webdriver_server/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

fix spelling
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Notify delegates of send errors in request objects
  components/servo/lib.rs
  components/servo/responders.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
Owners: none

Remove webview error sender for simplicity
  components/servo/lib.rs
  components/servo/webview_delegate.rs
Owners: none

Remove error sender trait, now that there is only one impl
  components/servo/lib.rs
  components/servo/responders.rs
  components/servo/servo_delegate.rs
  components/servo/webview_delegate.rs
Owners: none

use `webview_id` as `browser_id`
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/lib.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Update FIXME for #35954
  components/devtools/actors/browsing_context.rs
Owners: none

devtools: Use `webview_id` as `browser_id`
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/devtools/lib.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

devtools: Fix id collisions by using incrementing counters
  components/background_hang_monitor/background_hang_monitor.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/console.rs
  components/devtools/actors/inspector.rs
  components/devtools/actors/tab.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/baseaudiocontext.rs
  components/script/dom/blob.rs
  components/script/dom/document.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/messageport.rs
  components/shared/base/id.rs
Owners: @gterzian

Implement HTMLOptgroupElement::Label
  components/script/dom/htmloptgroupelement.rs
  components/script_bindings/webidls/HTMLOptGroupElement.webidl
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLOptGroupElement.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-forms.html.ini
Owners: none

layout: Add support for basic transform css properties (#35926)
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-flexbox/flexbox-safe-overflow-position-006.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/change-translate-property.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-1.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2a.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2b.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2c.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2d.html.ini
  tests/wpt/meta/css/css-transforms/individual-transform/individual-transform-2e.html.ini
  tests/wpt/meta/css/css-transforms/scale-animation-with-var-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-hit-testing.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

constellation: Remove two unused messages to the Constellation
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/shared/compositing/constellation_msg.rs
Owners: none

Fix transition toggle & cancel
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-logical/animation-004.html.ini
Owners: none

use read_all_bytes in file read operation
  components/script/dom/filereader.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

script: Implement HTMLOptgroupElement::Label (#35970)
  components/script/dom/htmloptgroupelement.rs
  components/script_bindings/webidls/HTMLOptGroupElement.webidl
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLOptGroupElement.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-forms.html.ini
Owners: @gterzian

layout: Unify `FlexItem::new()` and `FlexItemBox::main_content_size_info()`
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Unify `FlexItem::new()` and `FlexItemBox::main_content_size_info()` (#35900)
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Support min/max main keyword sizes in flexbox
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  tests/wpt/meta/css/css-flexbox/canvas-dynamic-change-001.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-011.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-height-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-width-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-023.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-4.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Return text content from HTMLOptionElement::Label when label is empty
  components/script/dom/htmloptionelement.rs
Owners: @gterzian

Add doc comments
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/validitystate.rs
Owners: @gterzian

Fix HTMLOptionElement::owner_select_element
  components/script/dom/htmloptionelement.rs
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

Strip newlines/whitespace for displayed option label
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Repaint select element when the label of an option changes
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Fall back to option textcontent for display when label is empty
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/dom/elements/the-innertext-and-outertext-properties/getter.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-option-element/option-with-br.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-1-block-size-001.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/the-select-element/select-empty.html.ini
  tests/wpt/meta/html/rendering/widgets/select-wrap-no-spill.optional.html.ini
  tests/wpt/meta/html/rendering/widgets/the-select-element/option-checked-styling.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
Owners: none

Make description of quirks-mode test more helpful
  tests/wpt/tests/html/rendering/widgets/the-select-element/option-add-label-quirks.html
Owners: none

fix:inline-grid should be considered an atomic inline
  components/layout_2020/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

update stacking context
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add docs
  components/script/dom/filereader.rs
Owners: @gterzian

webgpu: leverage routed_promise in calls returning promises
  components/constellation/constellation.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpucomputepipeline.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpurenderpipeline.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/shared/script/script_msg.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/ipc_messages/to_dom.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

constellation: Remove two unused messages to the Constellation (#35972)
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/shared/compositing/constellation_msg.rs
Owners: none

Formatting.
  components/script/webdriver_handlers.rs
Owners: @gterzian

Clippy fixes.
  components/shared/script/lib.rs
  components/shared/script/serializable.rs
Owners: none

Remove unnecessary duplicate crate.
  deny.toml
Owners: none
