Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

libservo: Rework and clarify the rendering model of the `WebView`
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

libservo: Rework and clarify the rendering model of the `WebView` (#35522)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

enable ime by show_ime
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

script: implement ReadableByteStreamController
  components/script/dom/audiobuffer.rs
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/gamepad.rs
  components/script/dom/gamepadpose.rs
  components/script/dom/imagedata.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrview.rs
  components/script/dom/xmlhttprequest.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Remove BufferSource::Default
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

implement StartAlgorithmFulfillmentHandler, StartAlgorithmRejectionHandler, PullAlgorithmFulfillmentHandler, PullAlgorithmRejectionHandler for ReadableByteStreamController
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

implement can_copy_data_block_bytes and copy_data_block_bytes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
Owners: @gterzian

fix build
  components/script/dom/bindings/buffer_source.rs
Owners: @gterzian

Fix clippy
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
Owners: @gterzian

implement perform_pull_into
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

pixels: Fix webp detection (#35474)
  components/pixels/lib.rs
Owners: none

Fix build
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

feat: support pre-edit text display for IME (#35535)
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @gterzian, @atbrakhi

Remove RefCell from PullIntoDescriptor and QueueEntry
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

Remove commented code
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

add basic interface for writable stream
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

add stubs for pipeTo and pipeThrough methods
  components/script/dom/readablestream.rs
  components/script_bindings/webidls/ReadableStream.webidl
Owners: @gterzian

add underlying source dict
  components/script/dom/writablestream.rs
  components/script_bindings/webidls/UnderlyingSink.webidl
Owners: @gterzian

add underlying source dict
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

add stubs for writable stream controller
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/webidls/WritableStreamDefaultController.webidl
Owners: @gterzian

add stubs for writable stream defautl writer
  components/script_bindings/webidls/WritableStream.webidl
  components/script_bindings/webidls/WritableStreamDefaultWriter.webidl
Owners: none

implement constructor
  components/script/dom/writablestream.rs
  components/script_bindings/webidls/WritableStream.webidl
Owners: @gterzian

implement stream reject close and closed promise if needed
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

implement stream finish erroring
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

impl setup default controller
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement init writable stream
  components/script/dom/writablestream.rs
Owners: @gterzian

implement controller setup
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

implement controller advance queue if neededd
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement controller clear algorithms
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement controller process write
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement stream mark first write request in flight
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

call into controller setup from stream constructor
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement stream deal with rejection, use from_safe_context
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

call into advance queue if needed at various points
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

finish implementation of stream finish erroring
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

implement controller error
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

implement write constructor and setup
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

implement stream finish in flight write request
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

remove unused todo
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

finish writer ensure ready promise rejected
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
