Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Replace NetworkError::Internal with structured enum variants
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/local_directory_listing.rs
  components/net/protocols/blob.rs
  components/net/protocols/data.rs
  components/net/protocols/file.rs
  components/net/tests/data_loader.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/shared/net/lib.rs
Owners: none

layout: Add a new `FragmentTree` pass to calculate containing block rectangles
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Structure reflow code to make it more modular
  Cargo.lock
  components/layout_2020/traversal.rs
  components/layout_thread_2020/Cargo.toml
  components/layout_thread_2020/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

content/dom: set navigator online property to true
  components/script/dom/navigator.rs
  components/script_bindings/webidls/Navigator.webidl
Owners: @gterzian

fix: add online attribute to worker navigator and fix test expectation
  components/script/dom/workernavigator.rs
  components/script_bindings/webidls/Navigator.webidl
  components/script_bindings/webidls/WorkerNavigator.webidl
  tests/wpt/meta/workers/WorkerNavigator.any.js.ini
Owners: @gterzian

layout: Implement node geometry queries against box tree's `Fragment`
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Script Implement ReadableByteStreamTee
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/byteteereadintorequest.rs
  components/script/dom/byteteereadrequest.rs
  components/script/dom/byteteeunderlyingsource.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/mod.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreambyobrequest.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/microtask.rs
  components/script_bindings/webidls/ReadableStreamBYOBReader.webidl
Owners: @gterzian

Fix redundant image metadata notifications in image_cache.rs
  components/layout_2020/Cargo.toml
  components/net/image_cache.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Move click event trigger from embedding layer to `ScriptThread` (#36413)
  components/script/script_thread.rs
  components/shared/embedder/input_events.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @gterzian, @atbrakhi

layout: Report memory usage for fragment and box trees.
  Cargo.lock
  components/fonts/glyph.rs
  components/layout_2020/Cargo.toml
  components/layout_2020/cell.rs
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/geom.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/mod.rs
  components/layout_thread_2020/lib.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove all ignore_malloc_size_of directives.
  Cargo.lock
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/geom.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/mod.rs
  components/layout_thread_2020/lib.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Prevent multiple notifications for image dimensions (#36600)
  components/net/image_cache.rs
Owners: none

layout: Report memory usage for fragment and box trees. (#36553)
  Cargo.lock
  components/fonts/glyph.rs
  components/layout_2020/Cargo.toml
  components/layout_2020/cell.rs
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/geom.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/taffy/mod.rs
  components/layout_thread_2020/lib.rs
  components/malloc_size_of/Cargo.toml
  components/malloc_size_of/lib.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/display_list.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

clean up messy branch
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

chore: address review comments
  components/script/dom/navigator.rs
  components/script/dom/workernavigator.rs
Owners: @gterzian

test: remove passing test expectations
  tests/wpt/meta/html/browsers/offline/browser-state/navigator_online_online.https.html.ini
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/workers/WorkerNavigator.any.js.ini
Owners: none

fix: fix spec url
  components/script/dom/navigator.rs
  components/script/dom/workernavigator.rs
  components/script_bindings/webidls/Navigator.webidl
Owners: @gterzian

script_module: Add missing security settings to module script requests
  components/script/script_module.rs
Owners: @gterzian

content/dom: set navigator.onLine attribute to `true` (#36560)
  components/script/dom/navigator.rs
  components/script/dom/workernavigator.rs
  components/script_bindings/webidls/Navigator.webidl
  components/script_bindings/webidls/WorkerNavigator.webidl
  tests/wpt/meta/html/browsers/offline/browser-state/navigator_online_online.https.html.ini
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/workers/WorkerNavigator.any.js.ini
Owners: @gterzian

script: Only register one image callback per CSS image in use.
  components/script/dom/window.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/css-image-batch-callbacks.html
Owners: @gterzian

document more reasoning
  components/shared/snapshot/lib.rs
Owners: none

script: Only register one image callback per CSS image in use. (#36612)
  components/script/dom/window.rs
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/css-image-batch-callbacks.html
Owners: @gterzian

fix crash occurs when the foucus element is adpoted.
  components/script/dom/document.rs
  tests/wpt/meta/dom/nodes/insertion-removing-steps/blur-event.window.js.ini
Owners: @gterzian

fix tidy
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlbuttonelement.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
Owners: @gterzian

fix some wpt testcase failed
  components/script/dom/document.rs
Owners: @gterzian

modidy expectation file
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Owners: none

Implement trusted types url setter
  Cargo.lock
  components/script/dom/element.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/macros.rs
  components/script/dom/trustedscripturl.rs
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script/security_manager.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLScriptElement.webidl
  tests/wpt/meta/content-security-policy/generic/generic-0_1-img-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_1-script-src.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_10_1.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_2.sub.html.ini
  tests/wpt/meta/content-security-policy/generic/generic-0_2_3.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-1_10.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_double_policy_different_nonce.html.ini
  tests/wpt/meta/content-security-policy/style-src/style-blocked.html.ini
  tests/wpt/meta/trusted-types/HTMLScriptElement-internal-slot.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
Owners: @gterzian

constellation: Re-split structured data types into separate files
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/message_port.rs
  components/shared/constellation/structured_data/mod.rs
  components/shared/constellation/structured_data/serializable.rs
  components/shared/constellation/structured_data/transferable.rs
Owners: none

Set correct policy-container for worker construction
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/globalscope.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/workerglobalscope.rs
  tests/wpt/meta/content-security-policy/connect-src/worker-connect-src-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-connect-src.html.ini
  tests/wpt/meta/content-security-policy/inside-worker/dedicatedworker-script-src.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-eval-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-function-function-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-importscripts.sub.html.ini
  tests/wpt/meta/content-security-policy/script-src/worker-set-timeout.sub.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/inside-dedicated-worker.html.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/default-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-blocks-wasm.any.js.ini
  tests/wpt/meta/content-security-policy/wasm-unsafe-eval/script-src-spv-asynch.any.js.ini
  tests/wpt/meta/fetch/api/policies/csp-blocked-worker.html.ini
  tests/wpt/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html.ini
  tests/wpt/meta/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-004-worker.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-check-report-DedicatedWorker-sink-mismatch.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-ServiceWorkerContainer-register.https.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-eval.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-function-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-setTimeout-setInterval.html.ini
Owners: @gterzian

htmlvideoelement: Include security settings in poster image request
  components/script/dom/htmlvideoelement.rs
Owners: @gterzian

Implement TransformStream and TransformStreamDefaultController
  components/script/dom/defaultteereadrequest.rs
  components/script/dom/defaultteeunderlyingsource.rs
  components/script/dom/mod.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/readablestreamgenericreader.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/transformunderlyingsource.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/microtask.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/GenericTransformStream.webidl
  components/script_bindings/webidls/TransformStream.webidl
  components/script_bindings/webidls/TransformStreamDefaultController.webidl
  components/script_bindings/webidls/Transformer.webidl
Owners: @gterzian

WebIDL Fix ImageData constructor to take a Uint8ClampedArray instead of object
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/imagedata.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
Owners: @gterzian

wip: pass FetchContext to websocket integration
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

wip: call fetch()
  components/net/websocket_loader.rs
Owners: none

wip: remove redundant http_state
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

Use swap_remove when unrooting DOM objects.
  components/script_bindings/root.rs
Owners: none

bindings: Split global resolve hook into Window and non-Window logic.
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
Owners: none

bindings: Add MayResolve hook to global objects.
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
Owners: none

bindings: Split global enumeration into Window and non-Window logic.
  components/script/dom/bindings/utils.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/workletglobalscope.rs
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/import.rs
  components/script_bindings/utils.rs
  components/script_bindings/webidls/Window.webidl
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

Use swap_remove when unrooting DOM objects. (#36617)
  components/script_bindings/root.rs
Owners: none
