Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Refactor retrieving element container in webdriver into function
  components/script/webdriver_handlers.rs
Owners: @gterzian

[OHOS] Feature: allow updating log-level based on cli arguments
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
Owners: @jschwe

[OHOS] Update hilog dependency
  Cargo.lock
  ports/servoshell/Cargo.toml
Owners: none

handle sizes outside
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
Owners: @gterzian

Tag log_filter as unused to prevent lint errors in unsupported platforms
  ports/servoshell/prefs.rs
Owners: none

fix: store the error message on report_error_callback
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

chore: fix linting error on unused import
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Stream: implement TransformStream and TransformStreamDefaultController
  components/script/dom/countqueuingstrategy.rs
  components/script/dom/generictransformstream.rs
  components/script/dom/mod.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/transformstream.rs
  components/script/dom/transformstreamdefaultcontroller.rs
  components/script/dom/transformunderlyingsource.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/GenericTransformStream.webidl
  components/script_bindings/webidls/TransformStream.webidl
  components/script_bindings/webidls/TransformStreamDefaultController.webidl
  components/script_bindings/webidls/Transformer.webidl
Owners: @gterzian

canvas: Apply large size limitations
  components/canvas/canvas_data.rs
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  tests/wpt/meta/html/canvas/element/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.html.ini
  tests/wpt/meta/html/canvas/offscreen/canvas-host/2d.canvas.host.size.large.worker.js.ini
Owners: @gterzian

layout: Enforce min-content min main size of flex-level tables
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  tests/wpt/meta/css/css-flexbox/table-as-item-fixed-min-width-3.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-content-height-1.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-content-height-2.tentative.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Eliminate extra stored style on outside markers
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

chore: add missing repr on structureddata and change the desciption on error field
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Cleanup after #36461
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Box `block_margins_collapsed_with_children` member of `BoxFragment`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Switch to using itertools join
  Cargo.lock
  components/net/Cargo.toml
  components/net/http_loader.rs
Owners: none

Cleanup after #36461 (#36472)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Eliminate extra stored style on outside markers (#36471)
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Manually concatenate ACRH headers to not include a space (#36455)
  Cargo.lock
  components/net/Cargo.toml
  components/net/http_loader.rs
  tests/wpt/meta/fetch/api/cors/cors-preflight.any.js.ini
  tests/wpt/meta/xhr/access-control-preflight-request-header-sorted.htm.ini
Owners: none

fix: File to FormData not correctly handling name and lastModified (#36458)
  components/script/dom/file.rs
  components/script/dom/formdata.rs
  tests/wpt/meta/FileAPI/file/File-constructor.any.js.ini
  tests/wpt/meta/xhr/formdata/set-blob.any.js.ini
Owners: @gterzian

Enable dom_svg_enabled on all tests
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/nonces.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/stroke-box-mutation-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/stroke-box-mutation-003.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/value-changed.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
  tests/wpt/meta/css/filter-effects/tainting-fediffuselighting-dynamic.html.ini
  tests/wpt/meta/css/filter-effects/tainting-feflood-dynamic.html.ini
  tests/wpt/meta/custom-elements/parser/parser-custom-element-in-foreign-content.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/svg-inline-sizing/svg-inline.html.ini
  tests/wpt/meta/intersection-observer/svg-group-target.html.ini
  tests/wpt/meta/intersection-observer/svg-transformed-rect-target.html.ini
  tests/wpt/meta/touch-events/expose-legacy-touch-event-apis.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: none

textinput: position the caret at the end when selecting input
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Enable dom_svg_enabled on all tests (#36475)
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/nonces.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/stroke-box-mutation-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/stroke-box-mutation-003.html.ini
  tests/wpt/meta/css/css-transforms/transform-box/value-changed.html.ini
  tests/wpt/meta/css/cssom/idlharness.html.ini
  tests/wpt/meta/css/filter-effects/tainting-fediffuselighting-dynamic.html.ini
  tests/wpt/meta/css/filter-effects/tainting-feflood-dynamic.html.ini
  tests/wpt/meta/custom-elements/parser/parser-custom-element-in-foreign-content.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/svg-inline-sizing/svg-inline.html.ini
  tests/wpt/meta/intersection-observer/svg-group-target.html.ini
  tests/wpt/meta/intersection-observer/svg-transformed-rect-target.html.ini
  tests/wpt/meta/touch-events/expose-legacy-touch-event-apis.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: none

textinput: position the caret at the end when selecting input (#36478)
  components/script/dom/htmlinputelement.rs
Owners: @gterzian

Run tests with --enable-experimental-web-platform-features
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/css/css-align/__dir__.ini
  tests/wpt/meta/css/css-flexbox/__dir__.ini
  tests/wpt/meta/css/css-grid/__dir__.ini
  tests/wpt/meta/permissions/all-permissions.html.ini
  tests/wpt/meta/permissions/idlharness.any.js.ini
  tests/wpt/meta/permissions/permissions-query-feature-policy-attribute.https.sub.html.ini
  tests/wpt/meta/quirks/unitless-length/excluded-properties-002.html.ini
  tests/wpt/meta/resize-observer/__dir__.ini
  tests/wpt/meta/uievents/idlharness.window.js.ini
  tests/wpt/meta/webgl/idlharness.any.js.ini
  tests/wpt/meta/webxr/__dir__.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/meta/mozilla/calc.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.https.html.ini
  tests/wpt/mozilla/meta/mozilla/interfaces.worker.js.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
  tests/wpt/webgl/meta/__dir__.ini
  tests/wpt/webgl/meta/conformance2/offscreencanvas/__dir__.ini
  tests/wpt/webgpu/meta/__dir__.ini
Owners: none

layout: Box `block_margins_collapsed_with_children` member of `BoxFragment`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Add a very simple `libservo` API test
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
Owners: none

layout: Box `block_margins_collapsed_with_children` member of `BoxFragment` (#36474)
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

fix: reorder errors position and using single thread reference for DOMReportError
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

chore: remove the rc from DOMErrorRecord
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

compositing: Send `CompositorDisplayListInfo` as bytes to compositor
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/shared/compositing/Cargo.toml
  components/shared/compositing/lib.rs
Owners: @mrobinson

layout: Store table parts in DOM layout data
  components/layout_2020/cell.rs
  components/layout_2020/dom.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/lib.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  components/layout_2020/tests/tables.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Update web platform tests for document.scrollingElement
  tests/wpt/meta/css/cssom-view/HTMLBody-ScrollArea_quirksmode.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrolling-quirks-vs-nonquirks.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

Update document.scrollingElement implementation based on review
  components/script/dom/document.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Implement parent overflow:clip as overflow:hidden for document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

Remove unused wpt configurations after implementing document.scrollingElement
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

document.scrollingElement: update web platform tests for overflow:clip
  tests/wpt/tests/css/cssom-view/scrollingElement.html
Owners: none

document.scrollingElement: comment and parameter adjustment based on review
  components/script/dom/element.rs
Owners: @gterzian

document.scrollingElement: remove .and_then(DomRoot::downcast::<HTMLBodyElement>)
  components/script/dom/document.rs
Owners: @gterzian

libservo: Remove the unused `multiview` feature
  components/compositing/Cargo.toml
  components/constellation/Cargo.toml
  components/servo/Cargo.toml
  ports/servoshell/Cargo.toml
Owners: @mrobinson
