Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

draft to allow embedders to execute js code in the current webview
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

Webdriver now uses the new Constellation method
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

redone approach to have callbacks for evaluatejs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @jschwe

incorporate suggestion
  components/servo/webview.rs
Owners: none

Fix Requested Changes
  .github/workflows/mac-wpt.yml
Owners: none

Revert "Simplify mac-wpt workflow."
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
  .github/workflows/mac-wpt.yml
  .github/workflows/mac.yml
Owners: none

Fix UA style value for textarea (#35574)
  resources/servo.css
Owners: none

Make Element::attach_shadow() and ShadowRoot closer to spec (#36024)
  components/script/dom/element.rs
  components/script/dom/htmldetailselement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlmeterelement.rs
  components/script/dom/htmlprogresselement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/custom-elements/element-internals-shadowroot.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow-custom-element.html.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/focus/ShadowRoot-delegatesFocus.html.ini
Owners: @gterzian

feat: add can_gc argument to to_frozen_array (#36043)
  components/script/dom/bindings/frozenarray.rs
  components/script/dom/bindings/utils.rs
  components/script/dom/csslayerstatementrule.rs
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/extendablemessageevent.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/messageevent.rs
  components/script/dom/navigator.rs
  components/script/dom/notification.rs
  components/script/dom/performanceobserver.rs
  components/script/dom/resizeobserverentry.rs
  components/script/dom/webgpu/gpucompilationinfo.rs
  components/script/dom/webxr/xrboundedreferencespace.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/workernavigator.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

chore: simplify linux workflow (#36037)
  .github/workflows/linux-wpt.yml
  .github/workflows/linux.yml
Owners: none

Parse Viewport
  components/script/dom/htmlmetaelement.rs
  components/shared/script/viewport.rs
Owners: @gterzian

script: Allow opening links in a new `WebView`
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/links.rs
  components/script/script_thread.rs
  components/shared/script/lib.rs
Owners: @gterzian

[New]Simplify mac-wpt workflow
  .github/workflows/mac-wpt.yml
Owners: none

mach: Fix cross-compiling from windows to non windows
  python/servo/command_base.py
Owners: none

Upgrade cssparser to 0.35
  Cargo.lock
  Cargo.toml
Owners: none

Upgrade cssparser to 0.35 (#36073)
  Cargo.lock
  Cargo.toml
Owners: none

Fix transition toggle & cancel & delay
  Cargo.toml
  tests/wpt/meta/css/css-logical/animation-004.html.ini
Owners: none

Add new test for transition delay with 0 duration
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
Owners: none

Add new wpt-test that Servo failed before the PR
  tests/wpt/tests/css/css-transitions/transition-remove-and-transform-immediate.html
Owners: none

Add new test for transition cancellation in middle
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

Solving merge conflict after rebasing on main
  Cargo.lock
  Cargo.toml
Owners: none

Make input element display-inside always flow-root
  components/layout_2020/dom_traversal.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/tests/html/rendering/widgets/text-control-client-width.html
  tests/wpt/tests/html/rendering/widgets/text-control-flow-root-ref.html
  tests/wpt/tests/html/rendering/widgets/text-control-flow-root.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix Requested changes
  .github/workflows/mac.yml
Owners: none

pixels: Extend Image to allow for multiple frames
  components/compositing/compositor.rs
  components/net/image_cache.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/dom/webglrenderingcontext.rs
  components/webdriver_server/lib.rs
Owners: @mrobinson, @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/document.rs
  components/script/dom/documentfragment.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmlfieldsetelement.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlcollection.rs
  components/script/dom/htmldatalistelement.rs
  components/script/dom/htmlfieldsetelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/script/dom/window.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablesectionelement.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablesectionelement.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/document.rs
  components/script/dom/documentfragment.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablesectionelement.rs
Owners: @gterzian

Propagate CanGc arguments through HTMLCollection constructors
  components/script/dom/document.rs
  components/script/dom/htmltableelement.rs
Owners: @gterzian

enter the realm of the object whose body is being consumed Signed-off-by: gterzian <2792687+gterzian@users.noreply.github.com>
  components/script/body.rs
  components/script/dom/request.rs
  components/script/dom/response.rs
  components/script_bindings/codegen/Bindings.conf
  tests/wpt/meta/fetch/api/response/response-stream-with-broken-then.any.js.ini
Owners: @gterzian

pixels: Extend Image to allow for multiple frames (#36058)
  components/compositing/compositor.rs
  components/net/image_cache.rs
  components/pixels/lib.rs
  components/script/canvas_state.rs
  components/script/dom/webglrenderingcontext.rs
  components/webdriver_server/lib.rs
Owners: @mrobinson, @gterzian

workaround for Promise in typedef
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Owners: none

constellation: Proxy `ScrollState` through the `Constellation` (#36062)
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
  components/shared/webrender/lib.rs
Owners: @mrobinson, @gterzian

Remove wpt-layout in mac.yml
  .github/workflows/mac-wpt.yml
Owners: none

metrics: Simplify `ProgressiveWebMetrics`
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/tracing.rs
  components/layout_2020/display_list/mod.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/lib.rs
  components/shared/webrender/display_list.rs
  python/servo/testing_commands.py
  tests/unit/metrics/Cargo.toml
  tests/unit/metrics/interactive_time.rs
  tests/unit/metrics/lib.rs
  tests/unit/metrics/paint_time.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

metrics: Simplify `ProgressiveWebMetrics` (#35985)
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/tracing.rs
  components/layout_2020/display_list/mod.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/lib.rs
  components/shared/webrender/display_list.rs
  python/servo/testing_commands.py
  tests/unit/metrics/Cargo.toml
  tests/unit/metrics/interactive_time.rs
  tests/unit/metrics/lib.rs
  tests/unit/metrics/paint_time.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Cache `IndependentNonReplacedContents::layout()`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

update more references
  .github/workflows/main.yml
  .github/workflows/try.yml
Owners: none

compositor: Remove the script channel from the compositor
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/event_loop.rs
  components/constellation/pipeline.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/constellation/lib.rs
  components/shared/script/lib.rs
Owners: @mrobinson, @gterzian
