Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Never compute style for children of shadow hosts
  components/script/layout_dom/element.rs
Owners: @gterzian

Never compute style for children of shadow hosts (#35198)
  components/script/layout_dom/element.rs
Owners: @gterzian

layout: Implement default overflow alignment for abspos
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-vrl.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Remove wrong optimization when placing table among floats
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/mod.rs
  tests/wpt/tests/css/CSS2/floats-clear/table-among-floats-001.html
Owners: @mrobinson, @Loirooriol, @nicoburns

bindings: Move string-related bindings code to script_bindings.
  Cargo.lock
  Cargo.toml
  components/script/Cargo.toml
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/str.rs
  components/script/dom/bindings/trace.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/str.rs
  components/script_bindings/trace.rs
Owners: @gterzian

bindings: Move string-related bindings code to script_bindings. (#35172)
  Cargo.lock
  Cargo.toml
  components/script/Cargo.toml
  components/script/dom/bindings/conversions.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/bindings/str.rs
  components/script/dom/bindings/trace.rs
  components/script_bindings/Cargo.toml
  components/script_bindings/conversions.rs
  components/script_bindings/lib.rs
  components/script_bindings/str.rs
  components/script_bindings/trace.rs
Owners: @gterzian

servoshell: Port Android / OHOS servoshell to use the WebView API
  components/servo/webview.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

servoshell: Port Android / OHOS servoshell to use the WebView API (#35192)
  components/servo/webview.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @jschwe

Use "slot" attribute for slottable name (#35191)
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/custom-elements/reactions/Element.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/Slottable-mixin.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
Owners: @gterzian

ohos: Support resizing the surface
  components/compositing/webview.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @jschwe

ohos: Support resizing the surface (#35158)
  components/compositing/webview.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Owners: @mrobinson, @jschwe

layout: Remove wrong optimization when placing table among floats (#35207)
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/mod.rs
  tests/wpt/tests/css/CSS2/floats-clear/table-among-floats-001.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Fix painting order of collapsed table borders
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-001.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-002.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-003.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-004.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-005.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-006.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-007.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-008.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-009.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-010.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-011.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-012.html
  tests/wpt/tests/css/css-tables/tentative/collapsed-borders-painting-order-013.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Potentially signal a slot change in Node::insert
  components/script/dom/node.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/event-with-related-target.html.ini
  tests/wpt/meta/shadow-dom/slotchange-customelements.html.ini
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
Owners: none

Use aws-lc-rs as rust-tls provider
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/tests/main.rs
  components/script/Cargo.toml
  components/script/dom/subtlecrypto.rs
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/lib.rs
Owners: @gterzian

fix: use globalscope as environment settings object
  components/script/dom/notification.rs
Owners: @gterzian

servoshell: Remove debugging `println!`
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

compositor: Remove some unused messages to the compositor
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

Potentially signal a slot change in Node::insert (#35221)
  components/script/dom/node.rs
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/event-with-related-target.html.ini
  tests/wpt/meta/shadow-dom/slotchange-customelements.html.ini
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
  tests/wpt/meta/shadow-dom/slotchange.html.ini
Owners: @gterzian

servoshell: Remove debugging `println!` (#35224)
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

compositor: Remove some unused messages to the compositor (#35223)
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

Don't fire slotchange events if there is already a pending event for the same slot
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/script_thread.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
Owners: none

Don't fire slotchange events when there's already a pending event for the same slot (#35222)
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/script_thread.rs
  tests/wpt/meta/shadow-dom/slotchange-event.html.ini
Owners: @gterzian

Merge webxr repository
  Cargo.lock
  Cargo.toml
  components/shared/webxr/Cargo.toml
  components/shared/webxr/device.rs
  components/shared/webxr/error.rs
  components/shared/webxr/events.rs
  components/shared/webxr/frame.rs
  components/shared/webxr/hand.rs
  components/shared/webxr/hittest.rs
  components/shared/webxr/input.rs
  components/shared/webxr/layer.rs
  components/shared/webxr/lib.rs
  components/shared/webxr/mock.rs
  components/shared/webxr/registry.rs
  components/shared/webxr/session.rs
  components/shared/webxr/space.rs
  components/shared/webxr/util.rs
  components/shared/webxr/view.rs
  components/webxr/Cargo.toml
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/headless/mod.rs
  components/webxr/lib.rs
  components/webxr/openxr/graphics.rs
  components/webxr/openxr/graphics_d3d11.rs
  components/webxr/openxr/input.rs
  components/webxr/openxr/interaction_profiles.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  servo-tidy.toml
Owners: none

libservo: Move Android `MediaSessionAction` conversion to servoshell
  components/shared/embedder/lib.rs
  ports/servoshell/egl/android.rs
Owners: @jschwe

Merge webxr repository (#35228)
  Cargo.lock
  Cargo.toml
  components/shared/webxr/Cargo.toml
  components/shared/webxr/device.rs
  components/shared/webxr/error.rs
  components/shared/webxr/events.rs
  components/shared/webxr/frame.rs
  components/shared/webxr/hand.rs
  components/shared/webxr/hittest.rs
  components/shared/webxr/input.rs
  components/shared/webxr/layer.rs
  components/shared/webxr/lib.rs
  components/shared/webxr/mock.rs
  components/shared/webxr/registry.rs
  components/shared/webxr/session.rs
  components/shared/webxr/space.rs
  components/shared/webxr/util.rs
  components/shared/webxr/view.rs
  components/webxr/Cargo.toml
  components/webxr/gl_utils.rs
  components/webxr/glwindow/mod.rs
  components/webxr/headless/mod.rs
  components/webxr/lib.rs
  components/webxr/openxr/graphics.rs
  components/webxr/openxr/graphics_d3d11.rs
  components/webxr/openxr/input.rs
  components/webxr/openxr/interaction_profiles.rs
  components/webxr/openxr/mod.rs
  components/webxr/surfman_layer_manager.rs
  servo-tidy.toml
Owners: none

Use aws-lc-rs as rust-tls provider (#35106)
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/tests/main.rs
  components/script/Cargo.toml
  components/script/dom/subtlecrypto.rs
  components/servo/Cargo.toml
  components/servo/examples/winit_minimal.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/lib.rs
Owners: @gterzian

libservo: Move Android `MediaSessionAction` conversion to servoshell (#35225)
  components/shared/embedder/lib.rs
  ports/servoshell/egl/android.rs
Owners: @jschwe

script_traits: Rename `ConstellationControlMsg` to `ScriptThreadMessage`
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/event_loop.rs
  components/constellation/pipeline.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/dom/window.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @gterzian

script_traits: Rename `ConstellationControlMsg` to `ScriptThreadMessage` (#35226)
  components/compositing/compositor.rs
  components/constellation/constellation.rs
  components/constellation/event_loop.rs
  components/constellation/pipeline.rs
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/dom/window.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/script/lib.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @gterzian

Fix crash in screenX and screenY getters returning negative values Instead of casting the window client rect to `u32`, keep it as `i32` and just cast the size dimensions to `u32`.
  components/script/dom/window.rs
Owners: @gterzian

Implement `get_image_data` for WebGPU canvas
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/swapchain.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

Fix crash in screenX and screenY getters returning negative values (#35235)
  components/script/dom/window.rs
Owners: @gterzian

crown: Pass `--cfg crown` to rustc from crown
  python/servo/command_base.py
  support/crown/src/main.rs
  support/crown/tests/run-pass/cfg_crown.rs
Owners: none

fix doc
  python/servo/command_base.py
Owners: none

Add docs
  components/script/dom/webgpu/gpucanvascontext.rs
Owners: @gterzian

webgpu: implement get image for webgpu canvas (#35237)
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/swapchain.rs
  components/webgpu/wgpu_thread.rs
Owners: @gterzian

Avoid starting transitions if values can't be interpolated
  Cargo.lock
  tests/wpt/tests/css/css-transitions/transition-behavior-events.html
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
