Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Implement "Create a Trusted Type" algorithm
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script_bindings/webidls/TrustedTypePolicy.webidl
  tests/wpt/meta/trusted-types/DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/Document-write.html.ini
  tests/wpt/meta/trusted-types/Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicy-createXXX.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-createPolicy-createXYZTests.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-DOMParser-parseFromString.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Document-write.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-outerHTML.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttributeNS.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Range-createContextualFragment.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-innerHTML.html.ini
  tests/wpt/meta/trusted-types/eval-with-permissive-csp.html.ini
  tests/wpt/meta/trusted-types/trusted-types-duplicate-names.html.ini
Owners: @gterzian

fix: fix messy branch
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

Fix multipart/form-data formatting
  components/script/dom/htmlformelement.rs
Owners: @gterzian

Update test passes
  tests/wpt/meta/FileAPI/file/send-file-form-punctuation.html.ini
  tests/wpt/meta/FileAPI/file/send-file-formdata-controls.any.js.ini
  tests/wpt/meta/FileAPI/file/send-file-formdata-punctuation.any.js.ini
  tests/wpt/meta/FileAPI/file/send-file-formdata-utf-8.any.js.ini
  tests/wpt/meta/FileAPI/file/send-file-formdata.any.js.ini
  tests/wpt/meta/xhr/send-data-formdata.any.js.ini
Owners: none

[OHOS]Bugfix: unimplemented WebviewDelegate.sceen_geometry causes failed page loading
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

refactor: capture structured clone read/write error
  components/script/dom/bindings/error.rs
  components/script/dom/bindings/structuredclone.rs
Owners: @gterzian

Set File's lastModified when reconstructing from Blob for FormData Remove special character replacement in fileName (spec removed this step)
  components/script/dom/file.rs
  components/script/dom/formdata.rs
  tests/wpt/meta/FileAPI/file/File-constructor.any.js.ini
  tests/wpt/meta/xhr/formdata/set-blob.any.js.ini
Owners: @gterzian

Manually concatenate ACRH headers to not include a space
  components/net/http_loader.rs
  tests/wpt/meta/fetch/api/cors/cors-preflight.any.js.ini
  tests/wpt/meta/xhr/access-control-preflight-request-header-sorted.htm.ini
Owners: none

Add ViewportDescription
  components/shared/compositing/viewport_description.rs
Owners: none

Process Key Value Pairs into ViewportDescription
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
  components/shared/compositing/viewport_description.rs
Owners: @gterzian

Stash the ViewportDescription to |webview|
  components/compositing/compositor.rs
  components/compositing/webview.rs
Owners: @mrobinson

Pass Viewport Description to compositor
  components/compositing/compositor.rs
  components/script/dom/htmlmetaelement.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson, @gterzian

Refactor compositor and webview to use viewport attributes parsed from meta
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/servo/lib.rs
Owners: @mrobinson

fix: Crashing due to input element hack
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Apply suggestion from wusyong
  components/layout_2020/display_list/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

update test expectations and config
  tests/wpt/include.ini
  tests/wpt/meta/streams/transferable/deserialize-error.window.js.ini
  tests/wpt/meta/streams/transferable/reason.html.ini
  tests/wpt/meta/streams/transferable/service-worker.https.html.ini
  tests/wpt/meta/streams/transferable/shared-worker.html.ini
  tests/wpt/meta/streams/transferable/transfer-with-messageport.window.js.ini
  tests/wpt/meta/streams/transferable/transform-stream-members.any.js.ini
  tests/wpt/meta/streams/transferable/transform-stream.html.ini
  tests/wpt/meta/streams/transferable/writable-stream.html.ini
Owners: none

addresses multiple glyph runs properly
  components/layout_2020/display_list/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

add CanGc as argument to Element
  components/script/devtools.rs
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/namednodemap.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

update structured clone test expectations
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/messagechannel.any.js.ini
  tests/wpt/meta/html/infrastructure/safe-passing-of-structured-data/window-postmessage.window.js.ini
  tests/wpt/meta/html/webappapis/structured-clone/structured-clone.any.js.ini
  tests/wpt/meta/workers/semantics/structured-clone/dedicated.html.ini
Owners: none

Update WPT expected result
  tests/wpt/meta/css/css-inline/baseline-source/baseline-source-first-textarea-001.tentative.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/input-type-button-clip.html.ini
Owners: none

add issue number for todo of disentanglement
  components/script/dom/globalscope.rs
Owners: @gterzian

nit for cross realm send error
  components/script/dom/messageport.rs
Owners: @gterzian

improve doc on underlying sink type
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

nit on writable controller start doc
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Remove passing tests
  tests/wpt/meta/css/css-inline/baseline-source/baseline-source-first-textarea-001.tentative.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/input-type-button-clip.html.ini
Owners: none

add CanGc as argument to methods in Element (#36464)
  components/script/devtools.rs
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script/dom/namednodemap.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

fix warnings
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

dom: should change media element's currentSrc to children source element's src in resource selection algorithm. (#36408)
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlsourceelement.rs
  components/script_bindings/webidls/HTMLSourceElement.webidl
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/dynamic-urls.sub.html.ini
  tests/wpt/meta/html/infrastructure/urls/dynamic-changes-to-base-urls/historical.sub.xhtml.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-candidate-insert-before.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html.ini
Owners: @gterzian

add note about script entry in route task
  components/script/dom/globalscope.rs
Owners: @gterzian

Set PASS expectations
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/mozilla/meta/mozilla/webgl/tex_image_2d_canvas.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
  tests/wpt/webgl/meta/conformance/more/functions/copyTexSubImage2D.html.ini
  tests/wpt/webgl/meta/conformance/textures/misc/tex-image-webgl.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
Owners: none

Use snapshot for canvas bitmap
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/canvas/webgl_thread.rs
  components/pixels/lib.rs
  components/script/Cargo.toml
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/shared/snapshot/Cargo.toml
  components/shared/snapshot/lib.rs
  components/shared/webgpu/Cargo.toml
  components/shared/webgpu/messages/recv.rs
  components/webgpu/Cargo.toml
  components/webgpu/swapchain.rs
Owners: @gterzian

Set true FAIL
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance-luminance-unsigned_byte.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance_alpha-luminance_alpha-unsigned_byte.html.ini
Owners: none

fix: Crashing due to input element hack (#36461)
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/text_run.rs
  tests/wpt/meta/css/css-inline/baseline-source/baseline-source-first-textarea-001.tentative.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/input-type-button-clip.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement WebviewDelegate.screen_geometry for OHOS (#36459)
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @jschwe

Handle HTTP Refresh header (#36393)
  components/script/dom/document.rs
  components/script/dom/htmlmetaelement.rs
  components/script/script_thread.rs
  components/script/timers.rs
  tests/wpt/include.ini
  tests/wpt/meta/fetch/metadata/generated/header-refresh.https.optional.sub.html.ini
  tests/wpt/meta/fetch/metadata/generated/header-refresh.optional.sub.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/refresh/navigate.window.js.ini
  tests/wpt/meta/html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-1.html.ini
  tests/wpt/meta/html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-2.html.ini
  tests/wpt/meta/referrer-policy/generic/refresh-cross-origin.sub.html.ini
  tests/wpt/meta/referrer-policy/generic/refresh-same-origin.html.ini
  tests/wpt/meta/referrer-policy/generic/refresh-same-url.html.ini
Owners: @gterzian

Update FetchTaskTarget to propagate CSP violations.
  Cargo.lock
  Cargo.toml
  components/fonts/font_context.rs
  components/net/fetch/methods.rs
  components/net/image_cache.rs
  components/net/tests/fetch.rs
  components/net/tests/http_loader.rs
  components/net/tests/main.rs
  components/script/dom/eventsource.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/htmlvideoelement.rs
  components/script/dom/notification.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/layout_image.rs
  components/script/script_module.rs
  components/script/script_runtime.rs
  components/script/script_thread.rs
  components/script/security_manager.rs
  components/script/stylesheet_loader.rs
  components/shared/net/lib.rs
Owners: @gterzian

net: Implement CSP checks for websockets.
  components/net/websocket_loader.rs
  components/script/dom/websocket.rs
  components/shared/net/lib.rs
Owners: @gterzian

script: Add policy container to more network fetches.
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/eventsource.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/notification.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/worker.rs
  components/script/dom/xmlhttprequest.rs
  components/script/fetch.rs
  components/script/stylesheet_loader.rs
Owners: @gterzian

Use valid websocket request destinations in tests to support asynchronous CSP checks.
  tests/wpt/tests/content-security-policy/connect-src/connect-src-websocket-allowed.sub.html
  tests/wpt/tests/content-security-policy/connect-src/connect-src-websocket-blocked.sub.html
Owners: none

Implement attribute and property lookup for Trusted Types (#36422)
  components/script/dom/trustedtypepolicyfactory.rs
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType-namespace.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType-svg.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  tests/wpt/meta/trusted-types/legacy-trusted-script-urls.html.ini
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
