Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Revert delay changes
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Minor lint
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Fix top level browsing context
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/window.rs
Owners: @gterzian

Make Registration rootable
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Avoid reflow inside observation step algo
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
Owners: @gterzian

Using borrow for iterating registration
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
Owners: @gterzian

Update WPT
  tests/wpt/meta/intersection-observer/containing-block.html.ini
  tests/wpt/meta/intersection-observer/isIntersecting-change-events.html.ini
  tests/wpt/meta/intersection-observer/shadow-content.html.ini
Owners: none

Root the observer before nofifying any of it
  components/script/dom/document.rs
Owners: @gterzian

Fix document disconnect
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Address comments and minor quality suggestions
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
  components/script/script_thread.rs
Owners: @gterzian

Ignore position of document viewport
  components/script/dom/intersectionobserver.rs
  tests/wpt/meta/intersection-observer/fixed-position-child-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-iframe-scroll.html.ini
  tests/wpt/meta/intersection-observer/fixed-position-scroll.html.ini
Owners: @gterzian

Fix documentations
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Refactor root intersection rectangle
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Tidy docs
  components/script/dom/document.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

Account not found element and refactor observation step
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  tests/wpt/meta/intersection-observer/display-none.html.ini
  tests/wpt/meta/intersection-observer/remove-element.html.ini
  tests/wpt/meta/intersection-observer/target-in-detached-document.html.ini
  tests/wpt/meta/intersection-observer/target-in-different-window.html.ini
Owners: @gterzian

Add can GC note to the callback
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
Owners: @gterzian

layout: Partial support for keyword sizes on preferred cross size (#35682)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/orthogonal-writing-modes-and-intrinsic-sizing.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-inline-size-001.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Optimize IPC for non-cancelable touch events (#35785)
  components/compositing/compositor.rs
  components/compositing/touch.rs
  components/script/script_thread.rs
Owners: @mrobinson, @gterzian

layout: support CSS `will-change`
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Reduce allocations in layout_block_level_children_in_parallel (#35781)
  components/layout_2020/flow/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Rename ohos app bundle
  support/openharmony/AppScope/app.json5
Owners: @jschwe

devtools: update targeted firefox version.
  components/devtools/actors/device.rs
Owners: none

Remove message from WebGL subtest name
  tests/wpt/webgl/meta/MANIFEST.json
  tests/wpt/webgl/tests/conformance/more/unit.js
  tests/wpt/webgl/tests/js/js-test-pre.js
  tests/wpt/webgl/tools/js-test-pre.patch
  tests/wpt/webgl/tools/unit.patch
Owners: none

[feature](ohos_fontconfig): Add first very crude implimentation of ohos fontconfig. WIP on this component.
  components/fonts/platform/freetype/ohos/font_list.rs
  components/fonts/platform/freetype/ohos/json.rs
Owners: @jschwe

servoshell: Minor fixes to cli help.
  ports/servoshell/prefs.rs
Owners: none

servoshell: Minor fixes to cli help. (#35794)
  ports/servoshell/prefs.rs
Owners: none

Allow domain-like as URL location input
  ports/servoshell/parser.rs
  ports/servoshell/test.rs
Owners: none

feat: display file chosen for input file
  components/script/dom/filelist.rs
  components/script/dom/htmlinputelement.rs
  resources/servo.css
Owners: @gterzian

compositor: Make input event handling per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
Owners: @mrobinson

refactor: add CanGc as argument to methods in CSSKeyframeRule, CSSMediaRule, CSSRule
  components/script/devtools.rs
  components/script/dom/csskeyframerule.rs
  components/script/dom/csskeyframesrule.rs
  components/script/dom/cssmediarule.rs
  components/script/dom/cssrulelist.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

mach: Install Rust toolchain during bootstrap if needed
  python/servo/platform/base.py
Owners: none

mach: Install Rust toolchain during bootstrap if needed (#35795)
  python/servo/platform/base.py
Owners: none

devtools: update targeted firefox version. (#35792)
  components/devtools/actors/device.rs
Owners: none

ci: convert comments in PULL_REQUEST_TEMPLATE.md to normal text
  PULL_REQUEST_TEMPLATE.md
Owners: none

Rename ohos app bundle (#35790)
  support/openharmony/AppScope/app.json5
Owners: @jschwe

[bugfix](font-weight): Panic free version of OpenHarmony fontconfig parser. WIP on this component
  components/fonts/Cargo.toml
  components/fonts/font.rs
  components/fonts/platform/freetype/mod.rs
  components/fonts/platform/freetype/ohos/json.rs
  components/fonts/tests/support/OHOS_fontconfig/test_fontconfig.json
Owners: @jschwe

fix writing of chunks
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

refactor: add CanGc as argument to methods in CSSKeyframeRule, CSSMediaRule, CSSRule (#35796)
  components/script/devtools.rs
  components/script/dom/csskeyframerule.rs
  components/script/dom/csskeyframesrule.rs
  components/script/dom/cssmediarule.rs
  components/script/dom/cssrulelist.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

layout: support CSS will-change * layout: support CSS `will-change`
  Cargo.lock
  Cargo.toml
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-box/parsing/padding-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/margin-block-inline-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/padding-block-inline-computed.html.ini
  tests/wpt/meta/css/css-position/position-absolute-dynamic-containing-block.html.ini
  tests/wpt/meta/css/css-transforms/transform-important.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Handle scroll offset of getClientRects
  components/layout_2020/fragment_tree/containing_block.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
