Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Update components/net/http_loader.rs
  components/net/http_loader.rs
Owners: none

chore: apply suggestions
  components/constellation/constellation.rs
  components/net/http_loader.rs
  components/script/fetch.rs
  components/shared/net/request.rs
Owners: @gterzian

chore: fix naming
  components/net/http_loader.rs
  components/script/fetch.rs
  components/shared/net/request.rs
Owners: @gterzian

Create webxr glwindow with Rc window
  Cargo.lock
  Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

fix click event when long time in touchstart
  components/compositing/touch.rs
Owners: @mrobinson

Remove obselte gurad type
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
Owners: @atbrakhi

Remove silencing of wgpu logs
  .github/workflows/linux-wpt.yml
Owners: none

Tidy
  components/devtools/actors/console.rs
  components/devtools/lib.rs
  components/script/dom/console.rs
Owners: @gterzian

Update GlWindow trait method
  Cargo.lock
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Update how webxr discorvery is created
  components/config/prefs.rs
  ports/servoshell/desktop/app.rs
Owners: @atbrakhi

refactor: set request browsing ctx id on pre page load
  components/constellation/constellation.rs
  components/script/script_thread.rs
Owners: @gterzian

Fix building with feature=tracing
  components/script/script_thread.rs
  components/servo/lib.rs
Owners: @gterzian

chore: Update wgpu (#34795)
  .github/workflows/linux-wpt.yml
  Cargo.lock
  Cargo.toml
  components/script/dom/webgpu/gpucommandencoder.rs
  components/script/dom/webgpu/gpuconvert.rs
  deny.toml
Owners: @gterzian

implement ClipboardEvent interface
  components/script/dom/clipboardevent.rs
  components/script/dom/mod.rs
  components/script/dom/webidls/ClipboardEvent.webidl
Owners: @gterzian

draft implementation of clipboard events
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/script_thread.rs
  components/servo/lib.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
Owners: @mrobinson, @gterzian, @atbrakhi

use rustdoc style
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
Owners: @gterzian

handle received clipboard events inside html elemtents
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
Owners: @gterzian

fix compilation errors due to rebase
  components/script/dom/clipboardevent.rs
  components/script/dom/document.rs
Owners: @gterzian

update arboard crate
  Cargo.lock
  deny.toml
  ports/servoshell/Cargo.toml
Owners: none

improve paste events
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/textinput.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/webview.rs
Owners: @gterzian, @atbrakhi

fix compilation errors
  components/script/dom/clipboardevent.rs
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/document.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
Owners: @gterzian

more code cleanup
  components/script/dom/datatransfer.rs
  components/script/dom/datatransferitemlist.rs
  components/script/dom/document.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
Owners: @gterzian

Support syntax highlighting of arguments in the devtools console (#34810)
  components/devtools/actors/console.rs
  components/devtools/lib.rs
  components/script/dom/console.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

cleanup code
  Cargo.lock
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/drag_data_store.rs
  components/script/textinput.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  deny.toml
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/webview.rs
Owners: @mrobinson, @gterzian, @atbrakhi

Link back to upstream webxr repo
  Cargo.lock
  Cargo.toml
Owners: none

webxr: create glwindow with Rc window and without rendering context (#34813)
  Cargo.lock
  components/config/prefs.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
Owners: @atbrakhi

Fix building with feature=tracing (#34815)
  components/script/script_thread.rs
  components/servo/lib.rs
Owners: @gterzian

fix: add source browsing context to `Request` and HTTP credentials prompt (#34808)
  components/net/http_loader.rs
  components/script/fetch.rs
  components/script/script_thread.rs
  components/shared/net/request.rs
Owners: @gterzian

fix touch move event
  components/compositing/compositor.rs
Owners: @mrobinson

current implementation
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/test_file_dialog.html
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

fix range header set for fetch with range parameter
  components/net/filemanager_thread.rs
  components/net/protocols/blob.rs
Owners: none

the updates build fine
  Cargo.lock
  ports/servoshell/Cargo.toml
Owners: none

./mach fmt
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

script: Move `TimerListener` creation to `OneShotTimers`
  components/script/dom/globalscope.rs
  components/script/timers.rs
Owners: @gterzian

Upgrade lib to 0.20 to fix RUSTSEC-2024-0429
  Cargo.lock
  Cargo.toml
  deny.toml
Owners: none

Upgrade lib to 0.20 to fix RUSTSEC-2024-0429 (#34826)
  Cargo.lock
  Cargo.toml
  deny.toml
Owners: none

moved pick_file() back to WebView::update from WebViewManager::update
  ports/servoshell/desktop/webview.rs
Owners: @atbrakhi

add minimal implementation of fetchParams and fetch controller for cancellation support
  components/net/fetch/fetch_params.rs
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/lib.rs
  components/net/resource_thread.rs
  components/net/tests/data_loader.rs
  components/net/tests/main.rs
Owners: none

run formatter
  components/net/http_loader.rs
Owners: none

removed wrog flag purgering
  components/script/dom/node.rs
Owners: @gterzian
