Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

feat: implement text selection and caret display
  components/fonts/glyph.rs
  components/layout/text_run.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/node.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Use container_block's full height instead
  components/layout_2020/display_list/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

fix old layout
  components/layout/construct.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Remove unnecessary dependency usage change
  components/layout/construct.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

fix clippy
  components/script/layout_dom/node.rs
Owners: @gterzian

fix tidy
  components/script/layout_dom/node.rs
Owners: @gterzian

Implement can-have-its-url-rewritten for history api
  components/script/dom/history.rs
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/iframe-src-204-pushState-replaceState.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/window-open-204-pushState-replaceState.html.ini
  tests/wpt/meta/html/browsers/history/the-history-interface/history_pushstate_url_rewriting.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-pushState.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-replaceState.html.ini
Owners: @gterzian

Fix the parsing error of PrefValue::Array, which is used for the parsing of Preferences shell_background_color_rgba field Signed-off-by: blycf <1355990831@qq.com>
  components/config/pref_util.rs
Owners: none

Implement can-have-its-url-rewritten for history api (#35864)
  components/script/dom/history.rs
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/iframe-src-204-pushState-replaceState.html.ini
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/window-open-204-pushState-replaceState.html.ini
  tests/wpt/meta/html/browsers/history/the-history-interface/history_pushstate_url_rewriting.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-pushState.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-replaceState.html.ini
Owners: @gterzian

Proof of concept for FinalizationRegistry cleanup callbacks This still needs a lot of work
  components/script/dom/bindings/refcounted.rs
  components/script/script_runtime.rs
  components/script/task_manager.rs
  components/script/task_source.rs
Owners: @gterzian

Show correctly computed element display type in devtools
  components/devtools/actors/inspector/node.rs
  components/script/dom/element.rs
Owners: @gterzian

Don't run scripts in document that don't have a browsing context
  components/script/dom/servoparser/async_html.rs
  components/script/dom/servoparser/html.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/domparsing/DOMParser-parseFromString-html.html.ini
  tests/wpt/meta/html/syntax/parsing-html-fragments/tokenizer-modes-001.html.ini
Owners: none

layout: support CSS will-change * support CSS `will-change`
  Cargo.lock
  components/layout_2020/style_ext.rs
  tests/wpt/include.ini
  tests/wpt/meta/css/css-box/parsing/padding-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/margin-block-inline-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/padding-block-inline-computed.html.ini
  tests/wpt/meta/css/css-position/position-absolute-dynamic-containing-block.html.ini
  tests/wpt/meta/css/css-transforms/transform-important.html.ini
  tests/wpt/meta/css/css-will-change/will-change-abspos-cb-003.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-003.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-004.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-005.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-contain-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-offset-path-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-webkit-perspective-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-backdrop-filter-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-mask-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-mask-image-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-offset-path-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-view-transition-name-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Add native select popup
  components/constellation/tracing.rs
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlselectelement.rs
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @gterzian, @atbrakhi

Activate elements across shadow boundaries
  components/script/dom/document.rs
Owners: @gterzian

Add shadow tree for <select> elements
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmloptionscollection.rs
  components/script/dom/htmlselectelement.rs
  components/script_bindings/codegen/Bindings.conf
  resources/servo.css
Owners: @gterzian

layout: support CSS will-change (#35787)
  Cargo.lock
  components/layout_2020/style_ext.rs
  tests/wpt/include.ini
  tests/wpt/meta/css/css-box/parsing/padding-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/margin-block-inline-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/padding-block-inline-computed.html.ini
  tests/wpt/meta/css/css-position/position-absolute-dynamic-containing-block.html.ini
  tests/wpt/meta/css/css-transforms/transform-important.html.ini
  tests/wpt/meta/css/css-will-change/will-change-abspos-cb-003.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-003.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-004.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixedpos-cb-005.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-contain-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-offset-path-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-fixpos-cb-webkit-perspective-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-backdrop-filter-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-mask-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-mask-image-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-offset-path-1.html.ini
  tests/wpt/meta/css/css-will-change/will-change-stacking-context-view-transition-name-1.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Repaint select element when the label of an option changes
  components/script/dom/htmloptionelement.rs
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-content/content-none-option.html.ini
  tests/wpt/meta/css/css-content/content-none-select-1.html.ini
  tests/wpt/meta/css/css-content/content-none-select-2.html.ini
  tests/wpt/meta/html/semantics/forms/the-label-element/clicking-interactive-content.html.ini
  tests/wpt/meta/html/semantics/forms/the-select-element/customizable-select/closed-listbox-rendering.tentative.html.ini
Owners: none

Strip newlines/whitespace for displayed option label
  components/script/dom/htmlselectelement.rs
Owners: @gterzian

Register iframes with the devtools
  components/constellation/constellation.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Register iframes with the devtools (#35874)
  components/constellation/constellation.rs
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/root.rs
  components/devtools/actors/tab.rs
  components/script/dom/worker.rs
  components/script/script_thread.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

Add doc comments to RequestBuilder fields/methods
  components/shared/net/request.rs
Owners: none

Implement Request::cryptographic_nonce_metadata
  components/script/fetch.rs
  components/shared/net/request.rs
Owners: @gterzian

Implement HTMLOrSVGElement::nonce
  components/script/dom/htmlelement.rs
  components/script/dom/svgelement.rs
  components/script_bindings/webidls/HTMLOrSVGElement.webidl
Owners: @gterzian

Set request cryptographic nonce metadata for link elements
  components/script/dom/htmllinkelement.rs
Owners: @gterzian

Set request's cryptographic nonce when fetching scripts
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/servoparser/prefetch.rs
Owners: @gterzian

Forward request nonce to rust-content-security-policy
  components/net/fetch/methods.rs
Owners: none

Update WPT expectations
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: none

Allow domain-like as URL location input
  ports/servoshell/parser.rs
  ports/servoshell/test.rs
Owners: none

Chain location input interpretation attempts
  ports/servoshell/parser.rs
Owners: none

Allow domain-like as URL location input (#35756)
  ports/servoshell/parser.rs
  ports/servoshell/test.rs
Owners: none

feat: display file chosen for input file (#35789)
  components/script/dom/filelist.rs
  components/script/dom/htmlinputelement.rs
  resources/servo.css
Owners: @gterzian

Fix animation frame callback cancellation
  components/script/dom/document.rs
  tests/wpt/meta/html/webappapis/animation-frames/cancel-pending.html.ini
Owners: @gterzian

feat: fetch notification image resources
  components/script/dom/notification.rs
Owners: @gterzian

script: use passive event listener option on AddEventListenerOptions
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/mediaquerylist.rs
  components/script_bindings/webidls/EventTarget.webidl
  tests/wpt/meta/dom/events/AddEventListenerOptions-passive.any.js.ini
  tests/wpt/meta/dom/events/passive-by-default.html.ini
Owners: @gterzian

Implement `nonce` attribute to pass more CSP checks (#35876)
  components/net/fetch/methods.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/svgelement.rs
  components/script/fetch.rs
  components/script_bindings/webidls/HTMLOrSVGElement.webidl
  components/shared/net/request.rs
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-metadata.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: @gterzian

script: use passive event listener option on AddEventListenerOptions (#35877)
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/mediaquerylist.rs
  components/script_bindings/webidls/EventTarget.webidl
  tests/wpt/meta/dom/events/AddEventListenerOptions-passive.any.js.ini
  tests/wpt/meta/dom/events/passive-by-default.html.ini
Owners: @gterzian

feat: implement text selection and caret display
  components/fonts/glyph.rs
  components/layout/construct.rs
  components/layout/text_run.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/node.rs
  components/script/layout_dom/node.rs
  components/shared/script_layout/wrapper_traits.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian
