Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

Add CanGc as arguments in methods in devtools.rs, CharacterData, CSSStyleRule, CSSStyleSheet (#36375)
  components/script/devtools.rs
  components/script/dom/characterdata.rs
  components/script/dom/cssstylerule.rs
  components/script/dom/cssstylesheet.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

dom: Implement `ClipboardItem` (#36336)
  components/config/prefs.rs
  components/script/dom/clipboarditem.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
  ports/servoshell/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Implement document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Update web platform tests for document.scrollingElement
  tests/wpt/meta/css/cssom-view/HTMLBody-ScrollArea_quirksmode.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-root.html.ini
  tests/wpt/meta/css/cssom-view/scroll-behavior-subframe-window.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrolling-quirks-vs-nonquirks.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

Update document.scrollingElement implementation based on review
  components/script/dom/document.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Document.webidl
Owners: @gterzian

Implement parent overflow:clip as overflow:hidden for document.scrollingElement
  components/script/dom/document.rs
  components/script/dom/element.rs
Owners: @gterzian

document.scrollingElement: comment and parameter adjustment based on review
  components/script/dom/element.rs
Owners: @gterzian

Remove unused wpt configurations after implementing document.scrollingElement
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-001.html.ini
  tests/wpt/meta/css/cssom-view/scroll-overflow-clip-quirks-002.html.ini
  tests/wpt/meta/css/cssom-view/scrollingElement.html.ini
Owners: none

document.scrollingElement: update web platform tests for overflow:clip
  tests/wpt/tests/css/cssom-view/scrollingElement.html
Owners: none

Made the following changes: - change shadowroot webidl signature - Add missing spec steps in unsafely_set_html - Add SetHTMLUnsafe to CanGc in Bindings - Remove return type in Shadowroot SetHTMLUnsafe
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ShadowRoot.webidl
Owners: @gterzian

fix clippy warning
  components/script/dom/node.rs
Owners: @gterzian

document.scrollingElement: remove .and_then(DomRoot::downcast::<HTMLBodyElement>)
  components/script/dom/document.rs
Owners: @gterzian

fix spec links
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

Add a tokenizer for URLPatterns (#36362)
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

Use `Size2D` in order to store the size of an image
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-images/image-set/image-set-resolution-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

ci: use Ubuntu 22.04 for nightly jobs
  .github/workflows/linux.yml
Owners: none

dep: update tokio to 1.44.2 to address RUSTSEC-2025-0023
  Cargo.lock
Owners: none

ci: use Ubuntu 22.04 for nightly jobs (#36377)
  .github/workflows/linux.yml
  Cargo.lock
Owners: none

Add helpers to simplify calling `PositioningContext::new_for_style()`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/positioned.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement a parser for URLPatterns
  components/script/dom/urlpattern.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/urlpattern/urlpattern-hasregexpgroups.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: none

compositor: Make viewport metrics per-WebView
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
Owners: @mrobinson

layout: Scale images in `image_set` by their specified resolution (#36374)
  components/layout_2020/context.rs
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-images/image-set/image-set-resolution-002.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix transition toggle & cancel & delay
  Cargo.lock
  tests/wpt/meta/css/css-logical/animation-004.html.ini
  tests/wpt/tests/css/css-transitions/support/helper.js
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

Remove trailing space in CSSStyleSheet::AddRule()
  components/script/dom/cssstylesheet.rs
Owners: @gterzian

Fix transition toggle & cancellation & delay (#35978)
  Cargo.lock
  tests/wpt/meta/css/css-logical/animation-004.html.ini
  tests/wpt/tests/css/css-transitions/support/helper.js
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

wpt: Unskip acid folder as most tests are passing
  tests/wpt/meta/acid/acid2/reftest.html.ini
  tests/wpt/meta/acid/acid3/numbered-tests.html.ini
  tests/wpt/meta/acid/acid3/test.html.ini
Owners: none

Remove trailing space in CSSStyleSheet::AddRule() (#36383)
  components/script/dom/cssstylesheet.rs
Owners: @gterzian

wpt: Unskip acid folder as most tests are passing (#36340)
  tests/wpt/meta/acid/acid2/reftest.html.ini
  tests/wpt/meta/acid/acid3/numbered-tests.html.ini
  tests/wpt/meta/acid/acid3/test.html.ini
Owners: none

copy include! files from script_bindings's OUT_DIR, to script's OUT_DIR
  components/script/build.rs
  components/script/dom/bindings/mod.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/CodegenRust.py
Owners: @gterzian

add an underlying sink type fix calling into abort algo, by adding a missing call to clear_algorithms fix docs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

Streams: add an underlying sink type (#36385)
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

layout: Add support for the `::marker` pseudo-element
  Cargo.lock
  components/layout_2020/dom.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/wrapper_traits.rs
  resources/servo.css
  resources/user-agent.css
  tests/wpt/meta/css/css-position/position-absolute-dynamic-list-marker.html.ini
  tests/wpt/meta/css/css-pseudo/marker-animate-002.html.ini
  tests/wpt/meta/css/css-pseudo/marker-color.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-content.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-size.html.ini
  tests/wpt/meta/css/css-pseudo/marker-default-styles.html.ini
  tests/wpt/meta/css/css-pseudo/marker-display-computed.html.ini
  tests/wpt/meta/css/css-pseudo/marker-letter-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/marker-line-height.html.ini
  tests/wpt/meta/css/css-pseudo/marker-variable-computed-style.html.ini
  tests/wpt/meta/css/css-pseudo/marker-word-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties-in-animation.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/tree-abiding-pseudo-elements.html.ini
  tests/wpt/meta/css/css-transitions/non-rendered-element-004.tentative.html.ini
  tests/wpt/meta/css/css-values/ch-pseudo-recalc-on-font-load.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

layout: Add initial support for the `::marker` pseudo-element (#36317)
  Cargo.lock
  components/layout_2020/dom.rs
  components/layout_2020/dom_traversal.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/script/dom/window.rs
  components/shared/script_layout/wrapper_traits.rs
  resources/servo.css
  resources/user-agent.css
  tests/wpt/meta/css/css-position/position-absolute-dynamic-list-marker.html.ini
  tests/wpt/meta/css/css-pseudo/marker-animate-002.html.ini
  tests/wpt/meta/css/css-pseudo/marker-color.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-content.html.ini
  tests/wpt/meta/css/css-pseudo/marker-computed-size.html.ini
  tests/wpt/meta/css/css-pseudo/marker-default-styles.html.ini
  tests/wpt/meta/css/css-pseudo/marker-display-computed.html.ini
  tests/wpt/meta/css/css-pseudo/marker-letter-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/marker-line-height.html.ini
  tests/wpt/meta/css/css-pseudo/marker-variable-computed-style.html.ini
  tests/wpt/meta/css/css-pseudo/marker-word-spacing.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties-in-animation.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/marker-supported-properties.html.ini
  tests/wpt/meta/css/css-pseudo/parsing/tree-abiding-pseudo-elements.html.ini
  tests/wpt/meta/css/css-transitions/non-rendered-element-004.tentative.html.ini
  tests/wpt/meta/css/css-values/ch-pseudo-recalc-on-font-load.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-pseudo.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Create a parser for URLPatterns (#36382)
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern-hasregexpgroups.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

Update meta referrer updating to follow spec
  components/script/dom/htmlheadelement.rs
  components/script/dom/htmlmetaelement.rs
  tests/wpt/meta/referrer-policy/generic/first-meta-changed-after-second-added.http.html.ini
  tests/wpt/meta/referrer-policy/generic/meta-referrer-removed-2.http.html.ini
Owners: @gterzian

update component folder cargo.toml to set num-traits workspace to true
  components/layout_2020/Cargo.toml
Owners: @mrobinson, @Loirooriol, @nicoburns

Split the URLPattern implementation into multiple files
  components/script/dom/urlpattern.rs
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
Owners: @gterzian

Handle meta elements outside of head
  components/script/dom/htmlheadelement.rs
  components/script/dom/htmlmetaelement.rs
  tests/wpt/meta/referrer-policy/generic/meta-referrer-outofhead-fetch.http.html.ini
Owners: @gterzian

Split up the URLPattern implementation (#36391)
  components/script/dom/urlpattern.rs
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
Owners: @gterzian
