Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

script: Move all gamepad functionality into Window.
  components/script/dom/globalscope.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
Owners: @gterzian

layout: Simplify `PositioningContext`
  components/layout/flexbox/layout.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/positioned.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
  components/layout/taffy/mod.rs
  tests/wpt/tests/css/css-grid/abspos/abspos-in-flexbox-in-grid-crash.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Implement RFC 4559 "SPNEGO-based Kerberos and NTLM HTTP Authentication"
  Cargo.lock
  Cargo.toml
  components/net/Cargo.toml
  components/net/http_loader.rs
Owners: none

Implement RFC 4559 "SPNEGO-based Kerberos and NTLM HTTP Authentication"
  components/net/http_loader.rs
Owners: none

Add GSSAPI build dependencies
  python/servo/platform/linux.py
Owners: none

layout: Let individual transform properties establish a stacking context (#36749)
  components/layout/style_ext.rs
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-002.html
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-003.html
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-004.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix build when `webgpu` feature is not enabled (#36804)
  components/constellation/constellation.rs
  components/script/canvas_context.rs
  components/script/dom/gpucanvascontext.rs
Owners: @gterzian

layout: Simplify `PositioningContext` by having it hold a single `Vec` (#36795)
  components/layout/flexbox/layout.rs
  components/layout/flow/inline/line.rs
  components/layout/flow/inline/mod.rs
  components/layout/flow/mod.rs
  components/layout/flow/root.rs
  components/layout/formatting_contexts.rs
  components/layout/positioned.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
  components/layout/taffy/mod.rs
  tests/wpt/tests/css/css-grid/abspos/abspos-in-flexbox-in-grid-crash.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Fix linting issue
  components/net/http_loader.rs
Owners: none

libservo: Add a basic `WebView` API test
  components/servo/Cargo.toml
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
  components/servo/tests/webview.rs
Owners: none

libservo: Add a basic `WebView` API test (#36791)
  components/servo/Cargo.toml
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
  components/servo/tests/webview.rs
Owners: none

script: Unconditionally send pipeline exited message when pipeline is shutting down
  components/script/script_thread.rs
  components/servo/tests/webview.rs
Owners: @gterzian

script: Simplify Window/GlobalScope usage for Window-only gamepad and XR interfaces.
  components/script/dom/gamepad.rs
  components/script/dom/gamepadbutton.rs
  components/script/dom/gamepadbuttonlist.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/webxr/xrhittestsource.rs
  components/script/dom/webxr/xrinputsource.rs
  components/script/dom/webxr/xrinputsourcearray.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrsystem.rs
  components/script/dom/window.rs
Owners: @gterzian

script: Move Window-only gamepad functionality out of GlobalScope (#36805)
  components/script/dom/gamepad.rs
  components/script/dom/gamepadbutton.rs
  components/script/dom/gamepadbuttonlist.rs
  components/script/dom/gamepadhapticactuator.rs
  components/script/dom/globalscope.rs
  components/script/dom/webxr/xrhittestsource.rs
  components/script/dom/webxr/xrinputsource.rs
  components/script/dom/webxr/xrinputsourcearray.rs
  components/script/dom/webxr/xrrenderstate.rs
  components/script/dom/webxr/xrsession.rs
  components/script/dom/webxr/xrsystem.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
Owners: @gterzian

Check CSP for `javascript:` URLs (#36709)
  Cargo.lock
  components/script/dom/globalscope.rs
  components/script/dom/htmliframeelement.rs
  components/script/script_thread.rs
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html.ini
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-strict_dynamic_javascript_uri.html.ini
  tests/wpt/meta/content-security-policy/script-src/script-src-trusted_types_eval_with_require_trusted_types_eval.html.ini
  tests/wpt/meta/content-security-policy/securitypolicyviolation/linenumber.tentative.html.ini
  tests/wpt/meta/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_missing_unsafe_hashes-href.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_missing_unsafe_hashes-window_location.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_wrong_hash-href.html.ini
  tests/wpt/meta/content-security-policy/unsafe-hashes/javascript_src_denied_wrong_hash-window_location.html.ini
  tests/wpt/tests/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html
Owners: @gterzian

htmlinputelement: Fire `beforeinput` event before updating input state
  components/script/dom/event.rs
  components/script/dom/htmlinputelement.rs
  components/script/dom/htmltextareaelement.rs
  components/script/dom/inputevent.rs
  components/script/textinput.rs
Owners: @gterzian

Propagate parent policy container to local iframes
  components/script/dom/htmliframeelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/script_thread.rs
  components/shared/constellation/from_script_message.rs
  tests/wpt/meta/content-security-policy/inheritance/document-write-iframe.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-all-local-schemes.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-srcdoc-inheritance.html.ini
  tests/wpt/meta/content-security-policy/inheritance/location-reload.html.ini
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html.ini
  tests/wpt/meta/content-security-policy/script-src/srcdoc-doesnt-bypass-script-src.sub.html.ini
  tests/wpt/meta/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html.ini
Owners: @gterzian

Implement all trusted sinks in `HTMLScriptElement`
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/macros.rs
  components/script/dom/trustedscript.rs
  components/script/dom/trustedscripturl.rs
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLScriptElement.webidl
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-report-only.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for.html.ini
  tests/wpt/meta/trusted-types/trusted-types-createHTMLDocument.html.ini
  tests/wpt/meta/trusted-types/trusted-types-report-only.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLScriptElement.html.ini
Owners: @gterzian

Implement all trusted sinks in `HTMLScriptElement` (#36668)
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/macros.rs
  components/script/dom/trustedscript.rs
  components/script/dom/trustedscripturl.rs
  components/script/dom/trustedtypepolicy.rs
  components/script/dom/trustedtypepolicyfactory.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLScriptElement.webidl
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-text-and-url-sinks.html.ini
  tests/wpt/meta/trusted-types/default-policy.html.ini
  tests/wpt/meta/trusted-types/empty-default-policy.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for-report-only.html.ini
  tests/wpt/meta/trusted-types/require-trusted-types-for.html.ini
  tests/wpt/meta/trusted-types/trusted-types-createHTMLDocument.html.ini
  tests/wpt/meta/trusted-types/trusted-types-report-only.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLScriptElement.html.ini
Owners: @gterzian

Propagate parent policy container to local iframes (#36710)
  components/script/dom/htmliframeelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/script_thread.rs
  components/shared/constellation/from_script_message.rs
  tests/wpt/meta/content-security-policy/inheritance/document-write-iframe.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-all-local-schemes.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-srcdoc-inheritance.html.ini
  tests/wpt/meta/content-security-policy/inheritance/location-reload.html.ini
  tests/wpt/meta/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html.ini
  tests/wpt/meta/content-security-policy/script-src/srcdoc-doesnt-bypass-script-src.sub.html.ini
  tests/wpt/meta/content-security-policy/unsafe-eval/eval-blocked-in-about-blank-iframe.html.ini
Owners: @gterzian

Embed user agent stylesheets and media control resouces in libservo
  components/layout/layout_impl.rs
  components/layout/stylesheets/presentational-hints.css
  components/layout/stylesheets/quirks-mode.css
  components/layout/stylesheets/servo.css
  components/layout/stylesheets/user-agent.css
  components/net/tests/fetch.rs
  components/script/dom/htmlmediaelement.rs
  components/script/resources/media-controls.css
  components/script/resources/media-controls.js
  components/shared/embedder/resources.rs
  ports/servoshell/egl/android/resources.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian, @jschwe

Bump rustc to 1.86
  Cargo.toml
  components/layout/table/construct.rs
  components/script/dom/baseaudiocontext.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlimageelement.rs
  components/script/dom/node.rs
  components/script/dom/webgl_extensions/extensions.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_runtime.rs
  components/shared/base/id.rs
  rust-toolchain.toml
  shell.nix
  support/crown/rust-toolchain.toml
  support/crown/src/main.rs
  support/crown/src/unrooted_must_root.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Implement Trusted types worker sinks
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script_bindings/webidls/Worker.webidl
  components/script_bindings/webidls/WorkerGlobalScope.webidl
  tests/wpt/meta/trusted-types/DedicatedWorker-constructor-from-DedicatedWorker.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-constructor.https.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Window-DedicatedWorker-constructor.html.ini
Owners: @gterzian

add TaskSource argument to route_promise
  components/script/dom/servointernals.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/script/routed_promise.rs
Owners: @gterzian

Implement Trusted types document write sinks
  components/script/dom/document.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/trustedhtml.rs
  components/script_bindings/webidls/Document.webidl
  tests/wpt/meta/trusted-types/Document-write-exception-order.xhtml.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Document-write.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Document-write.html.ini
  tests/wpt/tests/trusted-types/block-string-assignment-to-Document-write.html
Owners: @gterzian

Implement Trusted types document write sinks (#36824)
  components/script/dom/document.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/trustedhtml.rs
  components/script_bindings/webidls/Document.webidl
  tests/wpt/meta/trusted-types/Document-write-exception-order.xhtml.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Document-write.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Document-write.html.ini
  tests/wpt/tests/trusted-types/block-string-assignment-to-Document-write.html
Owners: @gterzian

Implement Trusted types worker sinks (#36811)
  components/script/dom/worker.rs
  components/script/dom/workerglobalscope.rs
  components/script_bindings/webidls/Worker.webidl
  components/script_bindings/webidls/WorkerGlobalScope.webidl
  tests/wpt/meta/trusted-types/DedicatedWorker-constructor-from-DedicatedWorker.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-constructor.https.html.ini
  tests/wpt/meta/trusted-types/DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-Window-DedicatedWorker-constructor.html.ini
Owners: @gterzian

script: add `TaskSource` argument to `route_promise` (#36831)
  components/script/dom/servointernals.rs
  components/script/dom/webgpu/gpu.rs
  components/script/dom/webgpu/gpuadapter.rs
  components/script/dom/webgpu/gpubuffer.rs
  components/script/dom/webgpu/gpudevice.rs
  components/script/dom/webgpu/gpuqueue.rs
  components/script/dom/webgpu/gpushadermodule.rs
  components/script/routed_promise.rs
Owners: @gterzian

get global by shader_module
  components/script/dom/webgpu/gpushadermodule.rs
Owners: @gterzian

Embed user agent stylesheets and media control resouces in libservo (#36803)
  components/layout/layout_impl.rs
  components/layout/stylesheets/presentational-hints.css
  components/layout/stylesheets/quirks-mode.css
  components/layout/stylesheets/servo.css
  components/layout/stylesheets/user-agent.css
  components/net/tests/fetch.rs
  components/script/dom/htmlmediaelement.rs
  components/script/resources/media-controls.css
  components/script/resources/media-controls.js
  components/shared/embedder/resources.rs
  ports/servoshell/egl/android/resources.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian, @jschwe

Create new image cache per document
  components/layout/layout_impl.rs
  components/net/image_cache.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
  tests/wpt/meta/content-security-policy/generic/invalid-characters-in-policy.html.ini
  tests/wpt/meta/content-security-policy/generic/only-valid-whitespaces-are-allowed.html.ini
  tests/wpt/meta/content-security-policy/inheritance/history-iframe.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-all-local-schemes.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-srcdoc-inheritance.html.ini
  tests/wpt/meta/content-security-policy/inheritance/location-reload.html.ini
  tests/wpt/meta/css/css-backgrounds/background-image-shared-stylesheet.html.ini
  tests/wpt/meta/fetch/stale-while-revalidate/stale-image.html.ini
  tests/wpt/meta/quirks/line-height-calculation.html.ini
  tests/wpt/meta/quirks/table-cell-width-calculation.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Create new image cache per document (#36832)
  components/layout/layout_impl.rs
  components/net/image_cache.rs
  components/script/script_thread.rs
  components/shared/net/image_cache.rs
  tests/wpt/meta/content-security-policy/generic/invalid-characters-in-policy.html.ini
  tests/wpt/meta/content-security-policy/generic/only-valid-whitespaces-are-allowed.html.ini
  tests/wpt/meta/content-security-policy/inheritance/history-iframe.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-all-local-schemes.sub.html.ini
  tests/wpt/meta/content-security-policy/inheritance/iframe-srcdoc-inheritance.html.ini
  tests/wpt/meta/content-security-policy/inheritance/location-reload.html.ini
  tests/wpt/meta/css/css-backgrounds/background-image-shared-stylesheet.html.ini
  tests/wpt/meta/fetch/stale-while-revalidate/stale-image.html.ini
  tests/wpt/meta/quirks/line-height-calculation.html.ini
  tests/wpt/meta/quirks/table-cell-width-calculation.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

script: Measure memory usage of image data for image elements.
  components/malloc_size_of/lib.rs
  components/script/dom/htmlimageelement.rs
Owners: @gterzian

script: Measure style attribute memory usage.
  components/malloc_size_of/lib.rs
  components/script/dom/bindings/cell.rs
  components/script/dom/element.rs
Owners: @gterzian

profiler: Free memory used for conditional memory usage tracking.
  components/shared/profile/mem.rs
Owners: none

script: Measure memory usage of Stylesheet data.
  components/malloc_size_of/lib.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlstyleelement.rs
Owners: @gterzian

script: Measure script element source code memory usage.
  components/malloc_size_of/lib.rs
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

Remove unspecified early return in MessagePort::Close
  components/script/dom/messageport.rs
Owners: @gterzian

net: Fix unit tests requiring default resources.
  components/net/Cargo.toml
Owners: none

net: Fix unit tests requiring default resources. (#36838)
  components/net/Cargo.toml
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
