Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi, @sagudev, @yezhizhen

Convert Android resources to lossless .webp
  support/android/apk/servoapp/src/main/res/drawable/cancel.png
  support/android/apk/servoapp/src/main/res/drawable/cancel.webp
  support/android/apk/servoapp/src/main/res/drawable/history_back.png
  support/android/apk/servoapp/src/main/res/drawable/history_back.webp
  support/android/apk/servoapp/src/main/res/drawable/history_forward.png
  support/android/apk/servoapp/src/main/res/drawable/history_forward.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_icon.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_icon.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_next.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_next.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_pause.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_pause.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_play.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_play.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_prev.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_prev.webp
  support/android/apk/servoapp/src/main/res/drawable/media_session_stop.png
  support/android/apk/servoapp/src/main/res/drawable/media_session_stop.webp
  support/android/apk/servoapp/src/main/res/drawable/refresh.png
  support/android/apk/servoapp/src/main/res/drawable/refresh.webp
  support/android/apk/servoapp/src/main/res/mipmap/servo.png
  support/android/apk/servoapp/src/main/res/mipmap/servo.webp
Owners: none

Add a method to set NetworkError state to the Response object
  components/shared/net/response.rs
Owners: none

Add `Data::Error` to set the Response state as internal network error
  components/net/fetch/methods.rs
Owners: none

If there is an invalid data while reading response body, treat it's a network error
  components/net/http_loader.rs
Owners: none

If network_error was catched, treat the stream as error
  components/script/fetch.rs
Owners: @gterzian

Update WPT results
  tests/wpt/meta/fetch/content-encoding/gzip/bad-gzip-body.any.js.ini
  tests/wpt/meta/fetch/fetch-later/quota/same-origin-iframe/small-payload.https.window.js.ini
  tests/wpt/meta/fetch/metadata/generated/css-font-face.https.sub.tentative.html.ini
  tests/wpt/meta/fetch/metadata/generated/css-font-face.sub.tentative.html.ini
  tests/wpt/meta/fetch/metadata/generated/serviceworker.https.sub.html.ini
  tests/wpt/meta/fetch/metadata/trailing-dot.https.sub.any.js.ini
Owners: none

storage: Move shared functionality to base (#39419)
  Cargo.lock
  components/constellation/constellation.rs
  components/net/resource_thread.rs
  components/net/storage_thread.rs
  components/script/dom/cookiestore.rs
  components/script/dom/dedicatedworkerglobalscope.rs
  components/script/dom/document.rs
  components/script/dom/globalscope.rs
  components/script/dom/history.rs
  components/script/dom/html/htmlinputelement.rs
  components/script/dom/idbdatabase.rs
  components/script/dom/idbobjectstore.rs
  components/script/dom/idbopendbrequest.rs
  components/script/dom/idbrequest.rs
  components/script/dom/idbtransaction.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/servoparser/prefetch.rs
  components/script/dom/url.rs
  components/script/dom/workerglobalscope.rs
  components/script/dom/worklet.rs
  components/script/webdriver_handlers.rs
  components/shared/base/Cargo.toml
  components/shared/base/lib.rs
  components/shared/base/threadpool.rs
  components/shared/net/lib.rs
Owners: @gterzian, @yezhizhen

mach: Format package hash files to ensure sha256sum command compatibility (#39432)
  python/servo/package_commands.py
Owners: none

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout @mrobinson @Loirooriol
/components/layout/taffy @nicoburns

# Reviewers for font-related code
/components/fonts @nicoburns
/components/shared/fonts @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

# Reviewers for 2D canvas related code
/components/canvas @sagudev
/components/shared/canvas @sagudev

# Reviewers for WebGPU related code
/components/webgpu @sagudev
/components/script/dom/webgpu @sagudev

# Reviewers for WebDriver related code
/components/webdriver_server @yezhizhen
/components/script/webdriver_handlers.rs @yezhizhen
