Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Temporaily import Au::from_f32_px_trunc() to percentage
  Cargo.lock
  Cargo.toml
Owners: none

Fix clippy
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_thread_2020/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Let layout invalidations happen in the flat tree
  components/script/dom/document.rs
  components/script/dom/node.rs
Owners: @gterzian

draft to allow embedders to execute js code in the current webview
  components/servo/webview.rs
  components/shared/embedder/lib.rs
  ports/servoshell/egl/app_state.rs
Owners: @jschwe

clippy fixes
  components/script/script_thread.rs
  components/servo/webview.rs
Owners: @gterzian

redone approach to have callbacks for evaluatejs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  ports/servoshell/egl/app_state.rs
Owners: @gterzian, @jschwe

Incorporate suggestions.
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
Owners: @gterzian

Webdriver now uses the new Constellation method
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/shared/embedder/lib.rs
Owners: @gterzian

Add `Path2D`
  Cargo.lock
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/script/Cargo.toml
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/mod.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script/dom/path2d.rs
  components/script_bindings/webidls/CanvasRenderingContext2D.webidl
  components/shared/canvas/canvas.rs
Owners: @gterzian

Keep a list of slot descendants on each shadow root
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Owners: @gterzian

compositor: Make input event handling per-WebView (#35716)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/servo/webview.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
Owners: @mrobinson

hos CI: fix app bundlename
  .github/workflows/ohos.yml
Owners: @jschwe

FIx more crashes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

wip error and close propagation fix
  components/script/dom/readablestream.rs
  components/script/dom/readablestreamdefaultreader.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  tests/wpt/tests/streams/piping/error-propagation-backward.any.js
Owners: @gterzian

FIx more crashes
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
  components/script/dom/readablestreamdefaultreader.rs
Owners: @gterzian

If the touch duration before a click exceeds some threshold (500ms), send a contextmenu event instead.
  components/compositing/touch.rs
  components/compositing/webview.rs
  components/config/prefs.rs
  components/script/dom/document.rs
  components/shared/embedder/input_events.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @gterzian, @jschwe

hos CI: fix app bundlename (#35804)
  .github/workflows/ohos.yml
Owners: @jschwe

Temporaily import Au::from_f32_px_trunc() to percentage
  Cargo.lock
  Cargo.toml
Owners: none

Implemenet setHTMLUnsafe and add more test cases
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Element.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats-2.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/script-access.html.ini
Owners: @gterzian

Expose HTMLTemplateElement to js
  Cargo.lock
  Cargo.toml
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script_bindings/webidls/HTMLTemplateElement.webidl
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
Owners: @gterzian

Implement declarative shadow dom
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

Enable allowDeclarativeShadowRoots for Document
  Cargo.lock
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/domimplementation.rs
  components/script/dom/domparser.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/xmldocument.rs
  components/script/dom/xmlhttprequest.rs
  components/script/script_thread.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-after-attachshadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-opt-in.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-with-disabled-shadow.html.ini
  tests/wpt/meta/shadow-dom/declarative/innerhtml-on-ordinary-template.html.ini
  tests/wpt/meta/shadow-dom/declarative/move-template-before-closing-tag.html.ini
Owners: @gterzian

Set allowDeclarativeShadowRoots false for innerHTML
  Cargo.toml
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/servoparser/mod.rs
Owners: @gterzian

rename context_timeout to min_longpress_duration
  components/compositing/touch.rs
  components/config/prefs.rs
Owners: @mrobinson

hos CI: fix checking success
  .github/workflows/ohos.yml
Owners: @jschwe

hos CI: fix checking success (#35807)
  .github/workflows/ohos.yml
Owners: @jschwe

Declarative shadow dom: minor updates and expected test result update
  Cargo.lock
  Cargo.toml
  components/script/dom/element.rs
  components/script/dom/htmltemplateelement.rs
  components/script/dom/servoparser/mod.rs
  tests/wpt/meta/css/selectors/invalidation/host-has-shadow-tree-element-at-nonsubject-position.html.ini
  tests/wpt/meta/css/selectors/invalidation/host-has-shadow-tree-element-at-subject-position.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/semantics/forms/the-form-element/form-indexed-element-shadow.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-img-src.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-link-stylesheet.tentative.html.ini
  tests/wpt/meta/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-script-src.tentative.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Element-setHTMLUnsafe-04.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-xml.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Range-isPointInRange.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Selection-getComposedRanges-range-update.html.ini
  tests/wpt/meta/selection/shadow-dom/tentative/Selection-isCollapsed.html.ini
  tests/wpt/meta/shadow-dom/HighlightRegistry-highlightsFromPoint.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/offsetTop-offsetLeft-across-shadow-boundaries.html.ini
  tests/wpt/meta/shadow-dom/shadow-root-clonable.html.ini
Owners: @gterzian

implement PipeTo, stub pipe_to
  components/script/dom/readablestream.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ReadableStream.webidl
Owners: @gterzian

adding more fine-grain shutdown variants to state
  components/script/dom/readablestream.rs
Owners: @gterzian

implement propagation of errors forward and backward, stub shutdown and shutdown with action
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

define a data structure to manage the piping
  components/script/dom/readablestream.rs
Owners: @gterzian

implement reading and writing
  components/script/dom/readablestream.rs
Owners: @gterzian

implement progagate closing backward and forward
  components/script/dom/readablestream.rs
Owners: @gterzian

implement shutdown and actions
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

add can_gc arguments
  components/script/dom/readablestream.rs
Owners: @gterzian

implement shutdown continuation and finalize
  components/script/dom/readablestream.rs
Owners: @gterzian

write pending reads as part of shutdown
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

turn on piping test suite
  tests/wpt/include.ini
Owners: none

more docs
  components/script/dom/readablestream.rs
Owners: @gterzian

implement writer close with error propagation
  components/script/dom/readablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
