Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

Add serde and wgsl features to wgpu-core
  components/script/dom/bindings/buffer_source.rs
  components/shared/webgpu/Cargo.toml
Owners: @gterzian

Add serde and wgsl features to wgpu-core (#36411)
  components/script/dom/bindings/buffer_source.rs
  components/shared/webgpu/Cargo.toml
Owners: @gterzian

localStorage: track changes instead of overwrite
  Cargo.lock
  components/net/Cargo.toml
  components/net/resource_thread.rs
  components/net/storage_thread.rs
  components/script/dom/storage.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/script_bindings/webidls/Window.webidl
  components/shared/net/storage_thread.rs
  elf.handle_tracking_file();
  tests/wpt/meta/webstorage/storage_local_setitem_quotaexceedederr.window.js.ini
Owners: @gterzian

mach try: Add `wpt` alias for `linux-wpt`
  python/servo/try_parser.py
Owners: none

mach try: Add `wpt` alias for `linux-wpt` (#36416)
  python/servo/try_parser.py
Owners: none

layout: Enable using cached fragments when there is a BoxTree update point
  components/layout_2020/dom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/positioned.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

libservo: Move `EventLooperWaker` from `webxr_traits` to `embedder_traits`
  Cargo.lock
  components/servo/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/webxr/Cargo.toml
  components/shared/webxr/lib.rs
  components/shared/webxr/registry.rs
Owners: none

layout: Enable using cached fragments when there is a BoxTree update point (#36404)
  components/layout_2020/dom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/positioned.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Generate pattern strings for URLPattern components
  components/script/dom/urlpattern/mod.rs
  components/script/dom/urlpattern/pattern_parser.rs
  components/script/dom/urlpattern/preprocessing.rs
  components/script/dom/urlpattern/tokenizer.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: none

libservo: Move `EventLooperWaker` from `webxr_traits` to `embedder_traits` (#36420)
  Cargo.lock
  components/servo/Cargo.toml
  components/shared/embedder/Cargo.toml
  components/shared/embedder/lib.rs
  components/shared/webxr/Cargo.toml
  components/shared/webxr/lib.rs
  components/shared/webxr/registry.rs
Owners: none

Implement attribute and property lookup for Trusted Types
  components/script/dom/trustedtypepolicyfactory.rs
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType-namespace.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType-svg.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getAttributeType.html.ini
  tests/wpt/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  tests/wpt/meta/trusted-types/legacy-trusted-script-urls.html.ini
Owners: @gterzian

script: Correctly convert a jsval to a `Promise` (#36403)
  components/script/dom/promise.rs
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
Owners: @gterzian

libservo: Move animation tracking from `WindowMethods` to delegates
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

Remove Readme from components/bluetooth
  components/bluetooth/README.md
Owners: none

libservo: Move animation tracking from `WindowMethods` to delegates (#36400)
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/servo_delegate.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/app_state.rs
Owners: @mrobinson, @atbrakhi, @jschwe

Update naviate test now that we just refresh but use the utf-8 replacement character
  tests/wpt/meta/html/browsers/browsing-the-web/navigating-across-documents/refresh/navigate.window.js.ini
Owners: none

Fix float test ambiguity by using <Au as num_traits::Zero>::zero() and updating components/layout_2020/Cargo.toml to use num-traits
  Cargo.lock
  components/layout_2020/Cargo.toml
  components/layout_2020/tests/floats.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

enable ports are part of setting up cross realm transforms when a port is started, immediately route buffered messages(removing the previous task queueing). fix typos
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

add note about the pair of transforms on the global
  components/script/dom/globalscope.rs
Owners: @gterzian

Replace bluetooth Readme with correct version
  components/bluetooth/README.md
Owners: none

root transforms
  components/script/dom/globalscope.rs
Owners: @gterzian

layout: Let getComputedStyle resolve auto min size as 0px when needed
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-flexbox/getcomputedstyle/flexbox_computedstyle_min-auto-size.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-item-min-auto-size-001.html.ini
  tests/wpt/meta/css/css-logical/inheritance.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-block-size-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-inline-size-computed.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-resolved-min-size-auto.html.ini
Owners: @mrobinson, @Loirooriol, @nicoburns

sort components/layout_2020/Cargo.toml alphabetically and revert to Au::Zero for components/layout_2020/tests/floats.rs
  components/layout_2020/Cargo.toml
  components/layout_2020/tests/floats.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

refactor: use is_zero() instead of comparing with Au::Zero() (#36347)
  Cargo.lock
  components/layout_2020/Cargo.toml
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/tests/floats.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

learning how the servo dev tools work
  components/devtools/actors/root.rs
Owners: none

Move click event trigger from embedding layer to `ScriptThread`
  components/script/script_thread.rs
  components/shared/script/lib.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @gterzian, @atbrakhi

libservo: Make zooming and HiDPI scaling work per-`WebView`
  components/compositing/compositor.rs
  components/compositing/webview.rs
  components/compositing/windowing.rs
  components/constellation/constellation.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/window_trait.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/ohos/simpleservo.rs
Owners: @mrobinson, @atbrakhi, @jschwe

set high watermark for readable side of transform to 0, as per the spec
  components/script/dom/readablestream.rs
Owners: @gterzian

libservo: Add a very simple `libservo` API test
  components/servo/tests/common/mod.rs
  components/servo/tests/servo.rs
Owners: none

Process viewport attribute.
  components/script/dom/htmlmetaelement.rs
Owners: @gterzian

Drop vergen_git2 dependency
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/build.rs
  ports/servoshell/lib.rs
Owners: none

fix typo and resolve cancel algo
  components/script/dom/underlyingsourcecontainer.rs
Owners: @gterzian

Drop vergen_git2 dependency (#36439)
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/build.rs
  ports/servoshell/lib.rs
Owners: none

Remove unsafe from cross_origin_property_fallback (#36373)
  components/script_bindings/proxyhandler.rs
Owners: none

Process colorSchemeSimulation in TargetConfigurationActor (#36297)
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/watcher/target_configuration.rs
  components/shared/embedder/lib.rs
Owners: none

Add CanGc as arguments in methods in devtools.rs, CharacterData, CSSStyleRule, CSSStyleSheet (#36375)
  components/script/devtools.rs
  components/script/dom/characterdata.rs
  components/script/dom/cssstylerule.rs
  components/script/dom/cssstylesheet.rs
  components/script/script_thread.rs
  components/script_bindings/codegen/Bindings.conf
Owners: @gterzian

Fix radio group validity update when removing or selecting an input (#36252)
  components/script/dom/activation.rs
  components/script/dom/event.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/htmlinputelement.rs
  tests/wpt/tests/html/semantics/forms/constraints/radio-group-valueMissing.html
Owners: @gterzian

dom: Implement `ClipboardItem` (#36336)
  components/config/prefs.rs
  components/script/dom/clipboarditem.rs
  components/script/dom/mod.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Clipboard.webidl
  ports/servoshell/prefs.rs
  tests/wpt/meta/__dir__.ini
  tests/wpt/meta/clipboard-apis/clipboard-item.https.html.ini
  tests/wpt/meta/clipboard-apis/idlharness.https.window.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/meta/__dir__.ini
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Owners: @gterzian

Add a tokenizer for URLPatterns (#36362)
  components/script/dom/urlpattern.rs
  tests/wpt/meta/urlpattern/urlpattern.any.js.ini
  tests/wpt/meta/urlpattern/urlpattern.https.any.js.ini
Owners: @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
