Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

update ini files
  tests/wpt/meta/css/css-content/quotes-001.html.ini
  tests/wpt/meta/css/css-content/quotes-003.html.ini
  tests/wpt/meta/css/css-content/quotes-004.html.ini
  tests/wpt/meta/css/css-content/quotes-005.html.ini
  tests/wpt/meta/css/css-content/quotes-006.html.ini
  tests/wpt/meta/css/css-content/quotes-007.html.ini
  tests/wpt/meta/css/css-content/quotes-008.html.ini
  tests/wpt/meta/css/css-content/quotes-009.html.ini
  tests/wpt/meta/css/css-content/quotes-011.html.ini
  tests/wpt/meta/css/css-content/quotes-012.html.ini
  tests/wpt/meta/css/css-content/quotes-013.html.ini
  tests/wpt/meta/css/css-content/quotes-014.html.ini
  tests/wpt/meta/css/css-content/quotes-015.html.ini
  tests/wpt/meta/css/css-content/quotes-016.html.ini
  tests/wpt/meta/css/css-content/quotes-017.html.ini
  tests/wpt/meta/css/css-content/quotes-018.html.ini
  tests/wpt/meta/css/css-content/quotes-019.html.ini
  tests/wpt/meta/css/css-content/quotes-020.html.ini
  tests/wpt/meta/css/css-content/quotes-022.html.ini
  tests/wpt/meta/css/css-content/quotes-023.html.ini
  tests/wpt/meta/css/css-content/quotes-024.html.ini
  tests/wpt/meta/css/css-content/quotes-025.html.ini
  tests/wpt/meta/css/css-content/quotes-026.html.ini
  tests/wpt/meta/css/css-content/quotes-027.html.ini
  tests/wpt/meta/css/css-content/quotes-028.html.ini
  tests/wpt/meta/css/css-content/quotes-029.html.ini
  tests/wpt/meta/css/css-content/quotes-033.html.ini
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
Owners: none

mark content-quotes-depth.html as fail since it's flaky
  tests/wpt/meta/css/css-content/content-quotes-depth.html.ini
Owners: none

canvas: Move generic implementations into `GenericPathBuilder` trait
  components/canvas/backend.rs
  components/canvas/raqote_backend.rs
Owners: none

fixup
  components/canvas/backend.rs
Owners: none

Implement iframe.srcdoc trusted type sink (#36960)
  components/script/dom/element.rs
  components/script/dom/htmliframeelement.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/HTMLIFrameElement.webidl
  tests/wpt/meta/trusted-types/HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLElement-generic.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-HTMLIFrameElement-srcdoc.html.ini
Owners: @gterzian

layout: Propagate specified info for flex item (#36993)
  components/layout/flexbox/layout.rs
  tests/wpt/tests/css/cssom-view/table-client-props.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Add response channel to WebDriver
  components/constellation/constellation.rs
  components/shared/constellation/from_script_message.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/lib.rs
Owners: none

Implement dispatch actions
  components/compositing/compositor.rs
  components/compositing/webview_renderer.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/script_thread.rs
  components/shared/compositing/lib.rs
  components/shared/constellation/from_script_message.rs
  components/shared/embedder/input_events.rs
  components/shared/embedder/webdriver.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
  ports/servoshell/desktop/headed_window.rs
Owners: @mrobinson, @gterzian, @atbrakhi

canvas: Move generic implementations into `GenericPathBuilder` trait (#36999)
  components/canvas/backend.rs
  components/canvas/raqote_backend.rs
Owners: none

chore: update webdriver to 0.53
  Cargo.lock
  Cargo.toml
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

range function done
  components/script/resources/media-controls.js
Owners: @gterzian

chore: update webdriver to 0.53 (#37001)
  Cargo.lock
  Cargo.toml
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: none

Remove actions queue in WebDriver
  components/constellation/constellation.rs
  components/script/script_thread.rs
  components/shared/constellation/from_script_message.rs
  components/webdriver_server/actions.rs
  components/webdriver_server/lib.rs
Owners: @gterzian

Propagate webdriver_id to newly generated input events
  components/script/script_thread.rs
  components/webdriver_server/actions.rs
Owners: @gterzian

Implement inner slot for cryptographic nonce
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/raredata.rs
  components/script/dom/svgelement.rs
  tests/wpt/meta/content-security-policy/nonce-hiding/nonces.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/script-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/script-nonces-hidden.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden.html.ini
  tests/wpt/tests/html/dom/reflection.js
Owners: @gterzian

Implement inner slot for cryptographic nonce (#36965)
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/htmlelement.rs
  components/script/dom/htmllinkelement.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/raredata.rs
  components/script/dom/svgelement.rs
  tests/wpt/meta/content-security-policy/nonce-hiding/nonces.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/script-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/script-nonces-hidden.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html.ini
  tests/wpt/meta/content-security-policy/nonce-hiding/svgscript-nonces-hidden.html.ini
  tests/wpt/tests/html/dom/reflection.js
Owners: @gterzian

Add vello backend
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/lib.rs
  components/canvas/raqote_backend.rs
  components/canvas/vello_backend.rs
  components/config/prefs.rs
  components/servo/Cargo.toml
  deny.toml
  ports/servoshell/Cargo.toml
Owners: none

Add vello to CI
  .github/workflows/linux-wpt.yml
  python/servo/try_parser.py
Owners: none

patch vello
  Cargo.lock
  Cargo.toml
  components/canvas/vello_backend.rs
  deny.toml
Owners: none

Performance.timing should be a PerformanceTiming object.
  components/script/dom/document.rs
  components/script/dom/performance.rs
  components/script/dom/performancetiming.rs
Owners: @gterzian

Animation: update image active frame when update the rendering
  components/layout/context.rs
  components/script/animations.rs
  components/script/dom/document.rs
  components/script/image_animation.rs
  components/script/script_thread.rs
  components/script/timers.rs
  components/shared/script_layout/lib.rs
  python/servo/testing_commands.py
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/animated-image-update.tentative.html.ini
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/animated-image-update-ref.tentative.html
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/animated-image-update.tentative.html
  tests/wpt/tests/html/semantics/embedded-content/the-img-element/resources/animated.gif
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
