Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

servoshell: Use sRGB colorspace on macOS
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Make lint happy
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Address review
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Move to helper function
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Rebase Cargo.lock
  Cargo.lock
Owners: none

Made MAX_TASK_NS u128. Also removed a superfluous into(). Both were required to fix #36122 with nightly 1.85.0 (4d91de4e4 2025-02-17).
  components/metrics/lib.rs
  components/script/script_thread.rs
Owners: @gterzian

Use Window in new methods instead of GlobalScope for interfaces with Window-only constructors
  components/script/dom/domrectlist.rs
  components/script/dom/formdataevent.rs
  components/script/dom/gamepadevent.rs
  components/script/dom/htmlformelement.rs
  components/script/dom/rtcdatachannelevent.rs
  components/script/dom/rtcerror.rs
  components/script/dom/rtcerrorevent.rs
  components/script/dom/rtcicecandidate.rs
  components/script/dom/rtcpeerconnection.rs
  components/script/dom/rtcpeerconnectioniceevent.rs
  components/script/dom/rtcsessiondescription.rs
  components/script/dom/rtctrackevent.rs
  components/script/dom/submitevent.rs
  components/script/dom/trackevent.rs
  components/script/dom/vttcue.rs
  components/script/dom/vttregion.rs
  components/script/dom/webxr/xrinputsourceevent.rs
  components/script/dom/webxr/xrinputsourceschangeevent.rs
  components/script/dom/webxr/xrray.rs
  components/script/dom/webxr/xrreferencespaceevent.rs
  components/script/dom/webxr/xrrigidtransform.rs
  components/script/dom/webxr/xrsessionevent.rs
  components/script/dom/windowproxy.rs
  components/script/script_thread.rs
Owners: @gterzian

fix: does_settings_prohibit_mixed_security_contexts typo
  components/net/fetch/methods.rs
Owners: none

Fix build
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

fix: does_settings_prohibit_mixed_security_contexts typo (#36135)
  components/net/fetch/methods.rs
Owners: none

Fixing more references
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/scheduled-wpt-import.yml
  .github/workflows/try.yml
Owners: none

Fix build (again)
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

chore: add linux-arm.yml workflow for Linux ARM builds
  .github/workflows/linux-arm.yml
Owners: none

chore: add linux-arm job to dispatch-workflow.yml
  .github/workflows/dispatch-workflow.yml
Owners: none

feat(try-parser): add linux-arm support to try_parser.py
  python/servo/try_parser.py
Owners: none

Dummy change, will revert later
  .github/workflows/dispatch-workflow.yml
Owners: none

servoshell: Use sRGB colorspace on macOS (#35683)
  Cargo.lock
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

Account for transform in scrollable overflow calculation
  components/layout_2020/display_list/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/style_ext.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

Update names of stylo crates in dependabot.yml
  .github/dependabot.yml
Owners: none

canvas: Update the image as part of update the rendering (#35996)
  components/canvas/canvas_paint_thread.rs
  components/layout_2020/dom.rs
  components/layout_2020/replaced.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/document.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/paintrenderingcontext2d.rs
  components/script/dom/window.rs
  components/shared/canvas/canvas.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

Update WPT expectations
  tests/wpt/meta/css/css-flexbox/negative-overflow.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-content-alignment-overflow-002.html.ini
  tests/wpt/meta/css/css-overflow/overflow-inline-transform-relative.html.ini
  tests/wpt/meta/css/css-overflow/scroll-overflow-padding-block-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-001.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-002.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-003.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-004.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-005.html.ini
  tests/wpt/meta/css/css-overflow/scrollable-overflow-transform-dynamic-006.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-001.html.ini
  tests/wpt/meta/css/cssom-view/scrollWidthHeight-negative-margin-002.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
Owners: none

build: bump nixpkgs to nixos-unstable
  shell.nix
Owners: none

Run fmt
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

mach: remove unused import in try_parser.py
  python/servo/try_parser.py
Owners: none

layout: Ensure compatible positioning context during flexbox block content sizing calculation
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-flexbox/mixed-containing-blocks-crash.html
Owners: @mrobinson, @Loirooriol, @nicoburns

layout: Ensure compatible positioning context during flexbox block content sizing calculation (#36123)
  components/layout_2020/flexbox/layout.rs
  tests/wpt/tests/css/css-flexbox/mixed-containing-blocks-crash.html
Owners: @mrobinson, @Loirooriol, @nicoburns

reverting dummy change
  .github/workflows/dispatch-workflow.yml
Owners: none

ci: update reference to wpt_layout in try.yml
  .github/workflows/try.yml
Owners: none

Upgrade to Stylo e941241 (#36120)
  Cargo.lock
  components/fonts/tests/font_context.rs
Owners: none

Remove references to 2020 layout in try_parser.py (#36047)
  .github/workflows/dispatch-workflow.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/main.yml
  .github/workflows/scheduled-wpt-import.yml
  .github/workflows/try-label.yml
  .github/workflows/try.yml
  python/servo/try_parser.py
Owners: none

build: bump nixpkgs to nixos-unstable (#36140)
  shell.nix
Owners: none

Allow embedders to execute js code in the current webview and recieve the result
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/script/webdriver_handlers.rs
  components/servo/webview.rs
  components/shared/constellation/lib.rs
  components/shared/embedder/lib.rs
  components/shared/embedder/webdriver.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
Owners: @gterzian

Update names of stylo crates in dependabot.yml (#36137)
  .github/dependabot.yml
Owners: none

Remove duplicate check on linux-arm
  python/servo/try_parser.py
Owners: none

Fix transition toggle & cancel & delay
  Cargo.toml
  tests/wpt/meta/css/css-logical/animation-004.html.ini
Owners: none

Add new wpt-test that Servo failed before the PR
  tests/wpt/tests/css/css-transitions/transition-remove-and-transform-immediate.html
Owners: none

Add new test for transition delay with 0 duration
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
Owners: none

Add new test for transition cancellation in middle
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none

Solving merge conflict after rebasing on main
  Cargo.lock
  Cargo.toml
Owners: none

Use width instead of transform in test; Add `fn waitForTransitionEnd` to `helper.js`
  Cargo.lock
  tests/wpt/tests/css/css-transitions/support/helper.js
  tests/wpt/tests/css/css-transitions/transition-remove-and-change-immediate.html
  tests/wpt/tests/css/css-transitions/transition-remove-and-transform-immediate.html
  tests/wpt/tests/css/css-transitions/transition-zero-duration-with-delay.html
  tests/wpt/tests/css/css-transitions/transitioncancel-003.html
Owners: none
