Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi

update doc for `ScriptThread::relative_mouse_down_point` (#36743)
  components/script/script_thread.rs
Owners: @gterzian

fix Lint
  components/script/dom/document.rs
Owners: @gterzian

update wpt test result
  tests/wpt/meta/focus/activeelement-after-focusing-different-site-iframe-then-immediately-focusing-back.html.ini
  tests/wpt/meta/focus/activeelement-after-focusing-different-site-iframe.html.ini
  tests/wpt/meta/focus/activeelement-after-immediately-focusing-different-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/activeelement-after-immediately-focusing-same-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/focus-restoration-in-different-site-iframes-window.html.ini
  tests/wpt/meta/focus/focus-restoration-in-same-site-iframes-window.html.ini
  tests/wpt/meta/focus/iframe-focuses-parent-same-site.html.ini
  tests/wpt/meta/html/browsers/origin/cross-origin-objects/cross-origin-objects-function-caching.html.ini
  tests/wpt/meta/html/browsers/the-window-object/security-window/window-security.https.html.ini
  tests/wpt/meta/webidl/ecmascript-binding/global-object-implicit-this-value-cross-realm.html.ini
  tests/wpt/mozilla/tests/mozilla/FocusEvent.html
Owners: none

The systemfocus message is deleted. This message is processed asynchronously. As a result, some WPT test cases fail.
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  tests/wpt/meta/focus/activeelement-after-focusing-same-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/activeelement-after-focusing-same-site-iframe.html.ini
Owners: @gterzian

fix lint
  components/constellation/constellation.rs
  tests/wpt/mozilla/meta/MANIFEST.json
Owners: none

resolve conficts and fixed some suggestions
  components/constellation/constellation.rs
  components/script/dom/document.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
Owners: @gterzian

webdriver: Remove panics from action handler code.
  components/webdriver_server/actions.rs
Owners: none

Remove GITHUB_CONTEXT from environment before running WPT tests.
  python/wpt/run.py
Owners: none

Disable webdriver tests in CI.
  tests/wpt/include.ini
Owners: none

Tidy.
  components/webdriver_server/actions.rs
Owners: none

script: Don't panic on send errors for webdriver results.
  components/script/dom/window.rs
Owners: @gterzian

Update more WPT results.
  tests/wpt/meta/webdriver/tests/classic/perform_actions/invalid.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/perform.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/pointer_mouse.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/sequence.py.ini
  tests/wpt/meta/webdriver/tests/classic/perform_actions/wheel.py.ini
  tests/wpt/meta/webdriver/tests/classic/refresh/refresh.py.ini
  tests/wpt/meta/webdriver/tests/classic/release_actions/release.py.ini
  tests/wpt/meta/webdriver/tests/classic/set_timeouts/user_prompts.py.ini
  tests/wpt/meta/webdriver/tests/classic/set_window_rect/user_prompts.py.ini
  tests/wpt/meta/webdriver/tests/classic/status/status.py.ini
Owners: none

webdriver: Remove panic from GetNamedCookie handler.
  components/webdriver_server/lib.rs
  tests/wpt/meta/webdriver/tests/classic/get_named_cookie/get.py.ini
Owners: none

Improve inter-document focus handling (#36649)
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/tracing.rs
  components/script/dom/dissimilaroriginwindow.rs
  components/script/dom/document.rs
  components/script/dom/htmlelement.rs
  components/script/dom/window.rs
  components/script/dom/windowproxy.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/script_bindings/webidls/Window.webidl
  components/shared/constellation/from_script_message.rs
  components/shared/embedder/lib.rs
  components/shared/script/lib.rs
  tests/wpt/meta/focus/activeelement-after-focusing-different-site-iframe-then-immediately-focusing-back.html.ini
  tests/wpt/meta/focus/activeelement-after-focusing-different-site-iframe.html.ini
  tests/wpt/meta/focus/activeelement-after-focusing-same-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/activeelement-after-focusing-same-site-iframe.html.ini
  tests/wpt/meta/focus/activeelement-after-immediately-focusing-different-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/activeelement-after-immediately-focusing-same-site-iframe-contentwindow.html.ini
  tests/wpt/meta/focus/focus-restoration-in-different-site-iframes-window.html.ini
  tests/wpt/meta/focus/focus-restoration-in-same-site-iframes-window.html.ini
  tests/wpt/meta/focus/iframe-focuses-parent-same-site.html.ini
  tests/wpt/meta/html/browsers/origin/cross-origin-objects/cross-origin-objects-function-caching.html.ini
  tests/wpt/meta/html/browsers/the-window-object/focus.window.js.ini
  tests/wpt/meta/html/browsers/the-window-object/security-window/window-security.https.html.ini
  tests/wpt/meta/html/browsers/the-window-object/window-properties.https.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/event-listeners.window.js.ini
  tests/wpt/meta/webidl/ecmascript-binding/global-object-implicit-this-value-cross-realm.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/FocusEvent.html
  tests/wpt/mozilla/tests/mozilla/focus_inter_documents.html
Owners: @gterzian

net: Perform CSP checks on fetch responses.
  Cargo.lock
  components/net/fetch/methods.rs
  tests/wpt/meta/content-security-policy/connect-src/connect-src-syncxmlhttprequest-redirect-to-blocked.sub.html.ini
  tests/wpt/meta/content-security-policy/connect-src/connect-src-xmlhttprequest-redirect-to-blocked.sub.html.ini
Owners: none

Split webgl into separate crate (#36718)
  Cargo.lock
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/webgl/Cargo.toml
  components/webgl/lib.rs
  components/webgl/webgl_limits.rs
  components/webgl/webgl_mode/inprocess.rs
  components/webgl/webgl_mode/mod.rs
  components/webgl/webgl_thread.rs
  components/webgl/webxr.rs
Owners: none

Let (Offscreen)RenderingContext implement CanvasContext
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
Owners: @gterzian

Optimize tokio-rt handle
  components/net/async_runtime.rs
  components/net/connector.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

Remove lock around tokio-rt handle (#36762)
  components/net/async_runtime.rs
  components/net/connector.rs
  components/net/http_loader.rs
  components/net/resource_thread.rs
  components/net/websocket_loader.rs
Owners: none

address review
  components/script/dom/globalscope.rs
Owners: @gterzian

Add doc comments to Node::ReplaceChild
  components/script/dom/node.rs
Owners: @gterzian

MessagePort: implement disentanglement (#36654)
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/globalscope.rs
  components/script/dom/messageport.rs
  components/script/dom/readablestream.rs
  components/script/dom/underlyingsourcecontainer.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/MessagePort.webidl
  components/shared/constellation/from_script_message.rs
  components/shared/constellation/lib.rs
  components/shared/constellation/structured_data/transferable.rs
  tests/wpt/meta/html/dom/idlharness.any.js.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js.ini
  tests/wpt/tests/webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js
  tests/wpt/tests/webmessaging/message-channels/close-event/resources/helper.js
Owners: @gterzian

Don't explicitly restyle when updating <details> shadow tree
  components/script/dom/htmldetailselement.rs
Owners: @gterzian

Don't explicitly restyle when updating `<details>` shadow tree (#36769)
  components/script/dom/htmldetailselement.rs
  components/script/dom/node.rs
Owners: @gterzian

Remove macro impl_rare_data
  components/script/dom/element.rs
  components/script/dom/macros.rs
  components/script/dom/node.rs
Owners: @gterzian

layout: Let individual transform properties establish a stacking context
  components/layout/style_ext.rs
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-002.html
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-003.html
  tests/wpt/tests/css/css-transforms/individual-transform/stacking-context-004.html
Owners: @mrobinson, @Loirooriol, @nicoburns

Include `ChildrenList::last_visited` in memory reports
  components/script/dom/nodelist.rs
Owners: @gterzian

Clean up the dead code
  components/script/dom/element.rs
  components/script/dom/node.rs
Owners: @gterzian

Remove macro impl_rare_data (#36771)
  components/script/dom/element.rs
  components/script/dom/macros.rs
  components/script/dom/node.rs
Owners: @gterzian

Include `ChildrenList::last_visited` in memory reports (#36772)
  components/script/dom/nodelist.rs
Owners: @gterzian

servoshell: Update winit to the latest version
  Cargo.lock
  ports/servoshell/Cargo.toml
Owners: none

Implement support for showing source content in debugger>source
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/source.rs
  components/devtools/actors/thread.rs
  components/devtools/actors/watcher.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
  components/script/dom/worker.rs
  components/shared/devtools/lib.rs
Owners: @gterzian

handle_script_source_info should send source_actor_name not thread
  components/devtools/actors/source.rs
  components/devtools/lib.rs
Owners: none

pass correct actor name to SourceData
  components/devtools/actors/source.rs
  components/devtools/actors/thread.rs
  components/devtools/lib.rs
Owners: none

fmt
  components/devtools/actors/browsing_context.rs
  components/devtools/actors/source.rs
  components/devtools/actors/thread.rs
  components/devtools/lib.rs
  components/script/dom/htmlscriptelement.rs
Owners: @gterzian

register source_actor in source and not in handle_script
  components/devtools/actors/source.rs
  components/devtools/lib.rs
Owners: none

Set cryptographic nonce metadata for script fetch requests
  components/script/script_module.rs
Owners: @gterzian

Update WPT expectations
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/code-cache-nonce.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-external-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/propagate-nonce-inline-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html.ini
  tests/wpt/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/v8-code-cache.html.ini
Owners: none

Use backend trait for 2d canvas backends
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/lib.rs
  components/canvas/raqote_backend.rs
Owners: none

Let (Offscreen)RenderingContext implement CanvasContext (#36712)
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
Owners: @gterzian
