Repository servo/servo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gterzian, @jschwe, @mrobinson, @Loirooriol, @nicoburns, @atbrakhi

remove mutability of reason in abort workflow
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

fix ignore malloc size of comment for strategy size
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

return early on error in write
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

remove use of JS_GetPendingException in controller get_chunk_size
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

root pending abort request
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

fix mutable re-borrow risk in writer
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

reduce visibility of public methods to crate in controller
  components/script/dom/writablestreamdefaultcontroller.rs
Owners: @gterzian

use is_some_and in assertion that stream.witer is writer in release
  components/script/dom/writablestreamdefaultwriter.rs
Owners: @gterzian

dom: Implement `WritableStream` (#34844)
  components/script/dom/mod.rs
  components/script/dom/readablestreamdefaultcontroller.rs
  components/script/dom/writablestream.rs
  components/script/dom/writablestreamdefaultcontroller.rs
  components/script/dom/writablestreamdefaultwriter.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ReadableStream.webidl
  components/script_bindings/webidls/UnderlyingSink.webidl
  components/script_bindings/webidls/WritableStream.webidl
  components/script_bindings/webidls/WritableStreamDefaultController.webidl
  components/script_bindings/webidls/WritableStreamDefaultWriter.webidl
  tests/wpt/include.ini
  tests/wpt/meta/encoding/streams/realms.window.js.ini
  tests/wpt/meta/fetch/api/response/response-stream-with-broken-then.any.js.ini
  tests/wpt/meta/streams/writable-streams/aborting.any.js.ini
  tests/wpt/meta/streams/writable-streams/bad-strategies.any.js.ini
  tests/wpt/meta/streams/writable-streams/bad-underlying-sinks.any.js.ini
  tests/wpt/meta/streams/writable-streams/byte-length-queuing-strategy.any.js.ini
  tests/wpt/meta/streams/writable-streams/close.any.js.ini
  tests/wpt/meta/streams/writable-streams/constructor.any.js.ini
  tests/wpt/meta/streams/writable-streams/count-queuing-strategy.any.js.ini
  tests/wpt/meta/streams/writable-streams/error.any.js.ini
  tests/wpt/meta/streams/writable-streams/floating-point-total-queue-size.any.js.ini
  tests/wpt/meta/streams/writable-streams/garbage-collection.any.js.ini
  tests/wpt/meta/streams/writable-streams/general.any.js.ini
  tests/wpt/meta/streams/writable-streams/properties.any.js.ini
  tests/wpt/meta/streams/writable-streams/reentrant-strategy.any.js.ini
  tests/wpt/meta/streams/writable-streams/start.any.js.ini
  tests/wpt/meta/streams/writable-streams/write.any.js.ini
  tests/wpt/meta/workers/semantics/interface-objects/001.worker.js.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
  tests/wpt/mozilla/tests/mozilla/interfaces.worker.js
Owners: @gterzian

servoshell: Port Authentication dialog code to use egui intead of tinyfiledialogs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

servoshell: Port Authentication dialog code to use egui intead of tinyfiledialogs (#35507)
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/dialog.rs
Owners: @atbrakhi

add perform_cancel_steps, perform_release_steps and perform_pull_steps
  components/script/dom/bindings/buffer_source.rs
  components/script/dom/readablebytestreamcontroller.rs
  components/script/dom/readablestream.rs
  components/script/dom/readablestreambyobreader.rs
Owners: @gterzian

Remove `Servo::allow_navigation_request`
  components/servo/lib.rs
  components/servo/proxies.rs
Owners: none

Remove `Servo::allow_navigation_request` (#35544)
  components/servo/lib.rs
  components/servo/proxies.rs
Owners: none

compositing: Split non-WebView-specific data into `ServoRenderer`
  components/compositing/compositor.rs
  components/servo/lib.rs
Owners: @mrobinson

fix clippy
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

compositing: Split non-WebView-specific data into `ServoRenderer` (#35536)
  components/compositing/compositor.rs
  components/servo/lib.rs
Owners: @mrobinson

fix crown
  components/script/dom/readablebytestreamcontroller.rs
Owners: @gterzian

chore: cleanup IME code for Servoshell
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

chore: cleanup IME code for Servoshell (#35546)
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

feat: support IME cursor area
  ports/servoshell/desktop/headed_window.rs
Owners: @atbrakhi

libservo: Clean up destroyed webview handles
  components/servo/lib.rs
Owners: none

Fix comments
  components/script/dom/document.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/intersectionobserverentry.rs
  components/script/script_thread.rs
Owners: @gterzian

Remove is descendant of other node query
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/query.rs
  components/layout_thread_2020/lib.rs
  components/script/dom/element.rs
  components/script/dom/intersectionobserver.rs
  components/script/dom/node.rs
  components/script/dom/window.rs
  components/shared/script_layout/lib.rs
Owners: @mrobinson, @Loirooriol, @nicoburns, @gterzian

fix touch event wrong coordinates. pageX, pageY, clientX, clientY etc.
  components/script/dom/document.rs
Owners: @gterzian

libservo: Clean up destroyed webview handles (#35547)
  components/servo/lib.rs
Owners: none

libservo: Move GL acclerated media setup out of `RenderingContext` and simplify it
  Cargo.lock
  components/constellation/constellation.rs
  components/media/Cargo.toml
  components/media/lib.rs
  components/media/media_channel/ipc.rs
  components/media/media_channel/mod.rs
  components/media/media_channel/mpsc.rs
  components/media/media_thread.rs
  components/script/dom/htmlmediaelement.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/accelerated_gl_media.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/mod.rs
Owners: @gterzian, @atbrakhi

libservo: Move GL acclerated media setup out of `RenderingContext` and simplify it (#35553)
  Cargo.lock
  components/constellation/constellation.rs
  components/media/Cargo.toml
  components/media/lib.rs
  components/media/media_channel/ipc.rs
  components/media/media_channel/mod.rs
  components/media/media_channel/mpsc.rs
  components/media/media_thread.rs
  components/script/dom/htmlmediaelement.rs
  components/servo/Cargo.toml
  components/servo/lib.rs
  components/shared/webrender/rendering_context.rs
  ports/servoshell/desktop/accelerated_gl_media.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/mod.rs
Owners: @gterzian, @atbrakhi

unskip readable-byte-streams
  tests/wpt/include.ini
Owners: none

compositing: Move image output and shutdown management out of the compositor
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/config/opts.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

compositing: Move image output and shutdown management out of the compositor (#35538)
  Cargo.lock
  components/compositing/Cargo.toml
  components/compositing/compositor.rs
  components/compositing/lib.rs
  components/compositing/tracing.rs
  components/config/opts.rs
  components/constellation/constellation.rs
  components/constellation/tracing.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
  components/servo/examples/winit_minimal.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/shared/compositing/lib.rs
  components/shared/embedder/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/prefs.rs
  tests/wpt/tests/tools/wptrunner/wptrunner/executors/executorservo.py
Owners: @mrobinson, @gterzian, @atbrakhi, @jschwe

fixup most stuff
  components/script/canvas_context.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
Owners: @gterzian

Revert "build(deps): bump aws-lc-rs from 1.12.2 to 1.12.3 (#35561)"
  Cargo.lock
Owners: none

[feature](text-overflow): Additional ellipsis fragments is rendered.
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow-ellipsis): Creation of storage for necesarry parameters to alter rendering.
  Cargo.lock
  Cargo.toml
  components/layout_2020/Cargo.toml
  components/layout_2020/construct_modern.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Try to reuse parts of line layout code for ellipsis fragments positioning.
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/fragment_tree/hoisted_shared_fragment.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[feature](text-overflow): Create separate fragments storage for ellipsis elements
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/inline/construct.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/fragment_tree/positioning_fragment.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Fix linter errors; Style improvements
  components/fonts/glyph.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/inline/text_run.rs
  components/layout_2020/positioned.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[chore](text-overflow): Delete comented code
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

[bugfix](text-overflow): Clear line items before resetting cuttent line segment. Part of the process of ellipsis Line Items layout
  components/layout_2020/flow/inline/text_run.rs
Owners: @mrobinson, @Loirooriol, @nicoburns

.github/CODEOWNERS:

# Reviewers for the `script` crate
/components/script/  @gterzian

# Reviewers for OpenHarmony related code
/support/openharmony/                       @jschwe
/ports/servoshell/egl/                      @jschwe
/components/fonts/platform/freetype/ohos/   @jschwe
/.github/workflows/ohos.yml                 @jschwe

# Reviewers for compositing-related code
/components/compositing @mrobinson

# Reviewers for layout-related code
/components/layout_2020 @mrobinson @Loirooriol @nicoburns
/components/layout @mrobinson @Loirooriol @nicoburns

# Reviewers for Minibrowser related code
/ports/servoshell/desktop @atbrakhi
