Repository servo/servo, pull requests merged in 2024-04, with the labels that each got.

#31772 webgpu: Implement onSubmittedWorkDone
  components/script/dom/gpuqueue.rs
  components/script/dom/webidls/WebGPU.webidl
  components/webgpu/lib.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_opaque_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba8unorm_opaque_draw.https.html.ini
Labels: A-content/webgpu

#32032 Upgrade Stylo to 2023-12-01
  Cargo.lock
  Cargo.toml
  components/layout/block.rs
  components/layout_2020/flow/inline.rs
  tests/unit/style/custom_properties.rs
  tests/unit/style/stylist.rs
  tests/wpt/meta-legacy-layout/css/css-color/nested-color-mix-with-currentcolor.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-valid-hsl.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-valid-hwb.html.ini
  tests/wpt/meta-legacy-layout/css/css-logical/animation-002.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/viewport-units-extreme-scale.html.ini
  tests/wpt/meta/css/css-color/nested-color-mix-with-currentcolor.html.ini
  tests/wpt/meta/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-hsl.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-hwb.html.ini
  tests/wpt/meta/css/css-logical/animation-002.html.ini
Labels: A-dependencies

#32057 Obey min-height and max-height on floated elements
  components/layout_2020/flow/float.rs
  tests/wpt/meta/css/CSS2/normal-flow/min-height-106.xht.ini
  tests/wpt/meta/css/css-flexbox/flex-vertical-align-effect.html.ini
Labels: A-layout/floats, A-layout/2020

#32059 Treat indefinite percentages as auto for margin collapse
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/CSS2/normal-flow/margin-collapse-through-percentage-height-block.html.ini
Labels: A-layout/2020

#32037 Keep 1st collapsible space after a preserved one
  components/layout_2020/flow/inline.rs
  components/layout_2020/flow/text_run.rs
  tests/wpt/meta/css/CSS2/text/white-space-mixed-002.xht.ini
Labels: A-layout/text

#32089 Upgrade Stylo to 2024-03-01
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
  components/script/canvas_state.rs
  components/script/dom/element.rs
  components/script/dom/htmlbodyelement.rs
  components/script/dom/htmlfontelement.rs
  components/script/dom/htmlhrelement.rs
  components/script/dom/htmltablecellelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/shared/canvas/canvas.rs
  tests/wpt/meta-legacy-layout/css/css-overflow/overflow-overlay.html.ini
  tests/wpt/meta-legacy-layout/css/css-position/overlay/overlay-transition-property.html.ini
  tests/wpt/meta-legacy-layout/css/css-transitions/parsing/transition-valid.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/signed-zero.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.colormix.currentcolor.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.colormix.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/fill-and-stroke-styles/2d.strokeStyle.colormix.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.colormix.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.colormix.worker.js.ini
  tests/wpt/meta-legacy-layout/html/canvas/offscreen/fill-and-stroke-styles/2d.strokeStyle.colormix.html.ini
  tests/wpt/meta/css/css-overflow/overflow-overlay.html.ini
  tests/wpt/meta/css/css-position/overlay/overlay-transition-property.html.ini
  tests/wpt/meta/css/css-transitions/parsing/transition-computed.html.ini
  tests/wpt/meta/css/css-transitions/parsing/transition-valid.html.ini
  tests/wpt/meta/css/css-values/signed-zero.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.colormix.currentcolor.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.fillStyle.colormix.html.ini
  tests/wpt/meta/html/canvas/element/fill-and-stroke-styles/2d.strokeStyle.colormix.html.ini
Labels: A-dependencies

#31995 webgpu: Update wgpu to 0.19
  Cargo.lock
  Cargo.toml
  components/script/dom/gpuadapter.rs
  components/script/dom/gpubindgroup.rs
  components/script/dom/gpubindgrouplayout.rs
  components/script/dom/gpubuffer.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/gpucommandbuffer.rs
  components/script/dom/gpucommandencoder.rs
  components/script/dom/gpucomputepipeline.rs
  components/script/dom/gpudevice.rs
  components/script/dom/gpupipelinelayout.rs
  components/script/dom/gpurenderbundle.rs
  components/script/dom/gpurenderpipeline.rs
  components/script/dom/gpusampler.rs
  components/script/dom/gpushadermodule.rs
  components/script/dom/gputexture.rs
  components/script/dom/gputextureview.rs
  components/script/dom/identityhub.rs
  components/script/dom/serviceworkerglobalscope.rs
  components/script/dom/webidls/WebGPU.webidl
  components/script/script_thread.rs
  components/webgpu/Cargo.toml
  components/webgpu/identity.rs
  components/webgpu/lib.rs
  servo-tidy.toml
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_bgra8unorm_opaque_copy.https.html.ini
Labels: A-content/webgpu

#32150 Implement special table sizing for floats
  components/layout_2020/flow/float.rs
  tests/wpt/meta/css/CSS2/floats/floated-table-wider-than-specified.html.ini
Labels: A-layout/floats, A-layout/table, A-layout/2020

#32008 webgpu: Use safe callbacks & try_recv_timeout
  components/script/dom/gpubuffer.rs
  components/webgpu/lib.rs
Labels: A-content/webgpu
