Repository servo/servo, pull requests merged in 2024-12, with the labels that each got.

#34443 Refactor AbsoluteAxisSolver
  components/layout_2020/positioned.rs
Labels: A-layout/2020

#34450 Obey min and max properties when computing main size of column flex
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/align-content-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/fieldset-as-container-justify-center.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-size-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-justify-content-vert-001b.xhtml.ini
  tests/wpt/meta/css/css-flexbox/justify-content-007.html.ini
  tests/wpt/meta/css/css-flexbox/multiline-column-max-height.html.ini
  tests/wpt/meta/css/css-flexbox/percentage-heights-015.html.ini
Labels: A-layout/flex, A-layout/2020

#34481 Rename 'cargo-clippy' mach command to just 'clippy'
  .github/workflows/lint.yml
  python/servo/devenv_commands.py
Labels: A-mach, A-build

#34365 layout: Add missing support for some alignment keywords on absolutely positioned elements
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-align/abspos/align-self-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-htb-ltr-vlr.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-htb-rtl-vlr.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-ltr-vlr.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-rtl-vlr.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-htb-rtl-vrl.html.ini
Labels: A-layout/2020

#34501 Upgrade Stylo to 2024-12-04
  Cargo.lock
  Cargo.toml
  components/layout/block.rs
  components/layout/construct.rs
  components/layout/floats.rs
  components/layout/flow.rs
  components/layout/fragment.rs
  components/layout/incremental.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/tests/floats.rs
  tests/wpt/meta/css/css-box/parsing/clear-computed.html.ini
  tests/wpt/meta/css/css-box/parsing/float-computed.html.ini
  tests/wpt/meta/css/css-logical/logical-values-float-clear-reftest.html.ini
  tests/wpt/meta/css/css-logical/logical-values-float-clear.html.ini
Labels: A-stylo

#34485 mach: Make initialization of the `mach` script more similar to Firefox's
  mach
  mach.bat
Labels: A-mach

#34586 Make sure to cache `inline_content_sizes()`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/construct.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34587 Deduplicate taffy layout pbm computation
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34589 Remove taffy-specific layout caching
  Cargo.lock
  Cargo.toml
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
Labels: A-layout/2020

#34585 Share more code for non-replaced float-avoiding blocks
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/mod.rs
Labels: A-layout/2020

#34596 Fix block size of containing block established by table rows
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#34595 Distinguish cached `inline_content_sizes()` from uncached ones
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34608 Use inline-start/inline-end instead of left/right terminology for floats
  components/layout_2020/flow/float.rs
  components/layout_2020/tests/floats.rs
Labels: A-layout/floats, A-layout/2020

#34631 webgpu: Fix HTML event loop integration
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/document.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/script/dom/window.rs
  components/script/script_thread.rs
Labels: A-content/webgpu

#34666 Shrink `ContainingBlockPaddingAndBorder`
  components/layout_2020/flow/mod.rs
Labels: A-layout/2020

#34629 Implement `console.trace`
  Cargo.lock
  components/devtools/actors/console.rs
  components/devtools/lib.rs
  components/script/dom/console.rs
  components/script/dom/webidls/Console.webidl
  components/shared/devtools/lib.rs
  tests/wpt/meta/console/idlharness.any.js.ini
Labels: A-content/bindings, A-devtools

#34671 layout: Refactor box size computation
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34696 layout: Fix intrinsic contributions of tables
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-tables/table-intrinsic-size-001.html.ini
  tests/wpt/meta/css/css-tables/table-intrinsic-size-002.html.ini
  tests/wpt/meta/css/css-tables/table-intrinsic-size-003.html.ini
  tests/wpt/meta/css/css-tables/table-intrinsic-size-004.html.ini
Labels: A-layout/table, A-layout/2020

#34725 layout: Pass the right containing block to `find_block_margin_collapsing_with_parent_from_slice()`
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/css-sizing/float-clearance-with-margin-collapse-and-fit-content-and-padding-percentage-003.html.ini
  tests/wpt/meta/css/css-sizing/float-clearance-with-margin-collapse-and-fit-content-and-padding-percentage-004.html.ini
Labels: A-layout/2020
