Repository servo/servo, pull requests merged in 2024-06, with the labels that each got.

#32437 Fix getComputedStyle for width and height
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-cascade/all-prop-revert-layer.html.ini
  tests/wpt/meta/css/css-transitions/pseudo-elements-002.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-resolved-min-max-clamping.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/hidden-elements.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-display.html.ini
Labels: A-layout/2020

#32458 Don't shrink table columns when handling cells with greater spanning
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-121.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-122.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-123.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-125.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-158.xht.ini
  tests/wpt/meta/css/css-color/hsl-clamp-negative-saturation.html.ini
  tests/wpt/meta/css/css-color/hsla-clamp-negative-saturation.html.ini
  tests/wpt/meta/css/css-color/t421-rgb-clip-outside-gamut-b.xht.ini
  tests/wpt/meta/css/css-color/t422-rgba-clip-outside-device-gamut-b.xht.ini
  tests/wpt/meta/css/css-tables/colspan-004.html.ini
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/dynamic-rowspan-change.html.ini
  tests/wpt/meta/css/css-tables/height-distribution/computing-row-measure-1.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-column.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-row.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowcol-001.html.ini
  tests/wpt/mozilla/meta/css/table_colspan_simple_a.html.ini
  tests/wpt/mozilla/meta/css/table_colspan_spacing_a.html.ini
Labels: A-layout/table, A-layout/2020

#32467 Fix and unify 'span' attribute for table columns
  components/layout_2020/table/construct.rs
  tests/wpt/meta/css/CSS2/backgrounds/background-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/backgrounds/background-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/backgrounds/background-image-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/backgrounds/background-position-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/backgrounds/background-position-applies-to-006a.xht.ini
  tests/wpt/meta/css/CSS2/backgrounds/background-repeat-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/box-display/containing-block-029.xht.ini
  tests/wpt/meta/css/CSS2/box-display/display-013.xht.ini
  tests/wpt/meta/css/CSS2/css1/c414-flt-fit-000.xht.ini
  tests/wpt/meta/css/CSS2/linebox/vertical-align-baseline-003.xht.ini
  tests/wpt/meta/css/CSS2/normal-flow/width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-017.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-018.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-019.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-020.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-021.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-022.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-023.xht.ini
  tests/wpt/meta/css/css-tables/paint/col-change-span-bg-invalidation-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-col-005.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowcol-002.html.ini
Labels: A-layout/table, A-layout/2020

#32469 Fix table track offsets when there is `visibility: collapse`
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/visibility-collapse-border-spacing-001.html.ini
  tests/wpt/tests/css/css-tables/visibility-collapse-border-spacing-001.html
  tests/wpt/tests/css/css-tables/visibility-collapse-border-spacing-002.html
  tests/wpt/tests/css/css-tables/visibility-collapse-border-spacing.html
Labels: A-layout/table, A-layout/2020

#32354 webgpu: Implement device lost
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/globalscope.rs
  components/script/dom/gpudevice.rs
  components/script/dom/webidls/WebGPU.webidl
  components/script/script_thread.rs
  components/webgpu/poll_thread.rs
  components/webgpu/script_messages.rs
  components/webgpu/wgpu_thread.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
Labels: A-content/webgpu

#32554 android: Rename the Android app to reflect servo.org ownership and `servoshell`
  etc/run_in_headless_android_emulator.py
  ports/servoshell/egl/android.rs
  python/servo/devenv_commands.py
  python/servo/package_commands.py
  python/servo/post_build_commands.py
  support/android/apk/servoapp/build.gradle
  support/android/apk/servoapp/src/main/java/org/servo/servoshell/MainActivity.java
  support/android/apk/servoapp/src/main/java/org/servo/servoshell/MediaSession.java
  support/android/apk/servoapp/src/main/res/layout/activity_main.xml
  support/android/apk/servoview/build.gradle
  support/android/apk/servoview/src/main/java/org/servo/servoview/JNIServo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/Servo.java
  support/android/apk/servoview/src/main/java/org/servo/servoview/ServoView.java
Labels: P-android

#32599 Switch flex layout to app units
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
Labels: A-layout/flex, A-layout/2020

#32575 webgpu: Update wgpu and revamp computepass
  Cargo.lock
  Cargo.toml
  components/script/dom/bindings/trace.rs
  components/script/dom/gpucommandencoder.rs
  components/script/dom/gpucomputepassencoder.rs
  components/script/dom/gpudevice.rs
  components/script/dom/gpurenderpassencoder.rs
  components/script/dom/identityhub.rs
  components/script/script_thread.rs
  components/webgpu/dom_messages.rs
  components/webgpu/identity.rs
  components/webgpu/script_messages.rs
  components/webgpu/wgpu_thread.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba8unorm_store.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_image_rendering.https.html.ini
Labels: A-content/webgpu
