Repository servo/servo, pull requests merged in 2024-02, with the labels that each got.

#31246 layout: Start work on table row height and vertical-align
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-clear-002.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-clear-003.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-clear-008.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-clear-009.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-002.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-004.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-005.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-vertical-align-baseline-007.xht.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-3.html.ini
  tests/wpt/meta/css/css-tables/tentative/baseline-table.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed-padding.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed.html.ini
Labels: A-layout/2020

#31345 Do not adjust margins in over-constrained cases
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/CSS2/normal-flow/auto-margins-used-values-with-floats.tentative.html.ini
  tests/wpt/meta/css/css-logical/inheritance.html.ini
  tests/wpt/meta/html/rendering/pixel-length-attributes.html.ini
Labels: A-layout/2020

#31388 Support <div align="..."> and <center> in inline layout
  components/layout_2020/flow/inline.rs
Labels: A-layout/inline, A-layout/2020

#31423 Support <div align="..."> and <center> in block layout
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/html/rendering/non-replaced-elements/flow-content-0/div-align.html.ini
  tests/wpt/mozilla/meta/css/servo_center_a.html.ini
Labels: A-layout/block, A-layout/2020

#26469 webaudio: Throw when setting invalid automationRate on AudioBufferSourceNode
  components/script/dom/audiobuffersourcenode.rs
  components/script/dom/audiolistener.rs
  components/script/dom/audioparam.rs
  components/script/dom/biquadfilternode.rs
  components/script/dom/constantsourcenode.rs
  components/script/dom/gainnode.rs
  components/script/dom/oscillatornode.rs
  components/script/dom/pannernode.rs
  components/script/dom/stereopannernode.rs
  components/script/dom/webidls/AudioParam.webidl
  tests/wpt/meta-legacy-layout/webaudio/the-audio-api/the-audioparam-interface/automation-rate.html.ini
  tests/wpt/meta/webaudio/the-audio-api/the-audioparam-interface/automation-rate.html.ini
Labels: S-tests-failed, S-needs-rebase, S-needs-tests

#31437 Update Stylo to 2023-07-23
  Cargo.lock
  Cargo.toml
  components/layout/display_list/builder.rs
  components/layout/display_list/gradient.rs
  components/layout_2020/display_list/gradient.rs
  components/script/dom/cssgroupingrule.rs
  components/script/dom/cssrulelist.rs
  components/script/dom/cssstylerule.rs
  components/script/dom/cssstylesheet.rs
  components/script/dom/node.rs
  components/shared/embedder/Cargo.toml
  servo-tidy.toml
  tests/unit/style/parsing/selectors.rs
  tests/wpt/meta-legacy-layout/css/css-color/color-mix-currentcolor-visited-getcomputedstyle.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-computed-color-function.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-computed-lab.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-computed-rgb.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-mix-out-of-gamut.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-valid-hsl.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-valid-hwb.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/color-valid-rgb.html.ini
  tests/wpt/meta-legacy-layout/css/css-color/parsing/opacity-valid.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/calc-catch-divide-by-0.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/calc-serialization-002.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/calc-z-index-fractions-001.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/minmax-length-percent-serialize.html.ini
  tests/wpt/meta/css/css-color/color-mix-currentcolor-visited-getcomputedstyle.html.ini
  tests/wpt/meta/css/css-color/parsing/color-computed-color-function.html.ini
  tests/wpt/meta/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta/css/css-color/parsing/color-computed-lab.html.ini
  tests/wpt/meta/css/css-color/parsing/color-computed-rgb.html.ini
  tests/wpt/meta/css/css-color/parsing/color-mix-out-of-gamut.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-hsl.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-hwb.html.ini
  tests/wpt/meta/css/css-color/parsing/color-valid-rgb.html.ini
  tests/wpt/meta/css/css-color/parsing/opacity-valid.html.ini
  tests/wpt/meta/css/css-values/calc-catch-divide-by-0.html.ini
  tests/wpt/meta/css/css-values/calc-serialization-002.html.ini
  tests/wpt/meta/css/css-values/calc-z-index-fractions-001.html.ini
  tests/wpt/meta/css/css-values/minmax-length-percent-serialize.html.ini
Labels: A-stylo

#31454 Fix percentages in CSS tables
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution.html.ini
Labels: A-layout/table, A-layout/2020
