Repository servo/servo, pull requests merged in 2024-09, with the labels that each got.

#33299 Fix intrinsic sizing of column flex containers
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/flex-item-contains-strict.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-justify-content-vert-001a.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-justify-content-vert-002.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-justify-content-vert-003.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-justify-content-vert-004.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-002a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-002b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-002c.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-003.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-height-auto-004.html.ini
  tests/wpt/meta/css/css-flexbox/inline-flexbox-wrap-vertically-width-calculation.html.ini
  tests/wpt/meta/css/css-flexbox/multiline-shrink-to-fit.html.ini
  tests/wpt/meta/css/css-flexbox/overflow-auto-006.html.ini
Labels: A-layout/flex, A-layout/2020

#33400 Let table-related boxes adjust their `overflow` values
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/style_ext.rs
  tests/wpt/meta/css/css-tables/tentative/paint/overflow-hidden-table.html.ini
  tests/wpt/meta/css/css-ui/text-overflow-025.html.ini
Labels: A-layout/table, A-layout/2020

#33424 Avoid crash with large table column widths
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/crashtests/large-col-widths.html.ini
Labels: A-layout/table, A-layout/2020

#33425 Accept zero values on some `width`/`height` attributes on table elements
  components/script/dom/htmltablecolelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  tests/wpt/meta/html/rendering/dimension-attributes.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/tables/table-column-width.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/tables/table-row-height.html.ini
Labels: A-layout/table, A-layout/2020

#33384 Add support for `table-layout: fixed`
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/bidi-text/direction-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/bidi-text/direction-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/bidi-text/direction-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/bidi-text/direction-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-002a.xht.ini
  tests/wpt/meta/css/CSS2/tables/separated-border-model-004c.xht.ini
  tests/wpt/meta/css/CSS2/tables/separated-border-model-004d.xht.ini
  tests/wpt/meta/css/CSS2/ui/overflow-applies-to-007.xht.ini
  tests/wpt/meta/css/CSS2/ui/overflow-applies-to-013.xht.ini
  tests/wpt/meta/css/CSS2/ui/overflow-applies-to-014.xht.ini
  tests/wpt/meta/css/CSS2/visufx/overflow-applies-to-001.xht.ini
  tests/wpt/meta/css/css-flexbox/flexbox_flex-formatting-interop.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox_table-fixed-layout.html.ini
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/fixed-layout-1.html.ini
  tests/wpt/meta/css/css-tables/table-cell-overflow-auto-scrolled.html.ini
  tests/wpt/meta/css/css-tables/tentative/column-widths.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed-padding.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed.html.ini
Labels: A-layout/table, A-layout/2020

#33438 Fix precision issue with line heights
  components/layout_2020/flow/inline/mod.rs
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b02.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b08.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b09.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b10.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b11.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003b12.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c02.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003c08.xht.ini
Labels: A-layout/inline, A-layout/2020

#33442 Allow `table-layout: fixed` to shrink cells to less than the border+padding
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a02.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003a06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d01.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d02.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003d06.xht.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed-padding.html.ini
Labels: A-layout/table, A-layout/2020

#33451 Do not remove extra columns at the end of the table
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-1.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-2.html.ini
  tests/wpt/meta/css/css-tables/table-model-fixup-2.html.ini
Labels: A-layout/table, A-layout/2020

#33452 Small improvements for table border collapse
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-101.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-102.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-103.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-104.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-105.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-conflict-style-106.xht.ini
  tests/wpt/meta/css/css-tables/border-writing-mode-dynamic-001.html.ini
  tests/wpt/meta/css/css-tables/col_removal.html.ini
  tests/wpt/meta/css/css-tables/rules-groups.html.ini
Labels: A-layout/table, A-layout/2020

#33457 webgpu: Use `PresentationBufferState` instead of bucketing buffer_ids per state
  components/webgpu/swapchain.rs
Labels: A-content/webgpu

#33504 webgpu: Support more `TextureFormat`s in `GPUCanvasContext.configure()`
  components/script/dom/gpucanvascontext.rs
Labels: A-content/webgpu

#33517 webgpu: reuse ImageKey in GPUCanvasContext
  components/script/dom/gpucanvascontext.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/swapchain.rs
  components/webgpu/wgpu_thread.rs
Labels: A-content/webgpu

#33527 Use `ContentSizes::shrink_to_fit` when possible
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/sizing.rs
Labels: A-layout/2020

#33548 Avoid unnecessary recomputation of `inline-size` being `auto`
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#33549 Assert that we don't get malformed ContentSizes in tables
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#33550 Fix table track constrainedness
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/auto-layout-calc-width-001.html.ini
  tests/wpt/meta/css/css-tables/fixed-layout-calc-width-001.html.ini
  tests/wpt/meta/css/css-tables/tentative/rowspan-height-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-height-redistribution.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-004.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/tables/table-attribute.html.ini
Labels: A-layout/table, A-layout/2020

#33575 Don't recompute percentage contribution for table row
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020
