Repository servo/servo, pull requests merged in 2024-07, with the labels that each got.

#32642 webgpu: Implement ShaderCompilationInfo
  components/script/dom/bindings/codegen/Bindings.conf
  components/script/dom/gpucompilationinfo.rs
  components/script/dom/gpucompilationmessage.rs
  components/script/dom/gpudevice.rs
  components/script/dom/gpushadermodule.rs
  components/script/dom/webidls/WebGPU.webidl
  components/webgpu/dom_messages.rs
  components/webgpu/wgpu_thread.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
Labels: A-content/webgpu

#32665 webgpu: Update wgpu and revamp RenderPass
  Cargo.lock
  Cargo.toml
  components/script/dom/gpucommandencoder.rs
  components/script/dom/gpucomputepassencoder.rs
  components/script/dom/gpurenderpassencoder.rs
  components/script/dom/identityhub.rs
  components/script/dom/webidls/WebGPU.webidl
  components/script/script_thread.rs
  components/webgpu/dom_messages.rs
  components/webgpu/identity.rs
  components/webgpu/lib.rs
  components/webgpu/render_commands.rs
  components/webgpu/script_messages.rs
  components/webgpu/wgpu_thread.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
Labels: A-content/webgpu

#32643 Remove media element state changes triggered by network responses
  components/script/dom/htmlmediaelement.rs
  tests/wpt/meta/css/compositing/mix-blend-mode/mix-blend-mode-video.html.ini
  tests/wpt/meta/css/css-overflow/overflow-video.html.ini
  tests/wpt/meta/css/selectors/media/media-playback-state.html.ini
  tests/wpt/meta/fetch/orb/tentative/known-mime-type.sub.any.js.ini
  tests/wpt/meta/fetch/orb/tentative/nosniff.sub.any.js.ini
  tests/wpt/meta/fetch/orb/tentative/status.sub.any.js.ini
  tests/wpt/meta/fetch/range/non-matching-range-response.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-colorSpaceConversion.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-drawImage.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-invalid-args.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/audio_loop_base.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/audio_loop_seek_to_eos.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/playing-the-media-resource/loop-from-ended.tentative.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/track/track-element/track-cue-mutable-fragment.html.ini
  tests/wpt/meta/html/semantics/embedded-content/media-elements/track/track-element/track-mode-not-changed-by-new-track.html.ini
Labels: S-awaiting-review

#32785 layout: Properly handle min/max cross container size
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/formatting_contexts.rs
  tests/wpt/meta/css/css-flexbox/fieldset-as-container-justify-center.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-definite-sizes-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-single-line-clamp-1.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-single-line-clamp-3.html.ini
  tests/wpt/meta/css/css-flexbox/percentage-heights-003.html.ini
Labels: A-layout/flex

#32762 Mark flexbox-mbp-horiz-003 tests as only failing on linux
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003-reverse.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003v.xhtml.ini
Labels: A-testing

#32799 Less nesting in webgpu response
  components/constellation/constellation.rs
  components/script/dom/gpu.rs
  components/script/dom/gpuadapter.rs
  components/script/dom/gpubuffer.rs
  components/script/dom/gpudevice.rs
  components/script/dom/gpuqueue.rs
  components/script/dom/gpushadermodule.rs
  components/shared/script/script_msg.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/ipc_messages/to_dom.rs
  components/webgpu/wgpu_thread.rs
Labels: A-content/webgpu

#32787 flex: handle ‘align-self: [ first | last ]? && baseline’
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-005.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-006.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-007.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-grid-001.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-line-clamp-001.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-multicol-001.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-overflow-001.html.ini
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-table-001.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-baseline-horiz-001a.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox_align-items-baseline.html.ini
Labels: A-layout/flex

#32890 Enable flexbox for css-align tests
  tests/wpt/meta/css/css-align/__dir__.ini
  tests/wpt/meta/css/css-align/animation/column-gap-interpolation.html.ini
  tests/wpt/meta/css/css-align/animation/row-gap-interpolation.html.ini
  tests/wpt/meta/css/css-align/baseline-rules/synthesized-baseline-flexbox-001.html.ini
  tests/wpt/meta/css/css-align/distribution-values/space-evenly-001.html.ini
  tests/wpt/meta/css/css-align/gaps/column-gap-animation-001.html.ini
  tests/wpt/meta/css/css-align/gaps/column-gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-animation-001.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-animation-004.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-normal-computed-001.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-parsing-002.html.ini
  tests/wpt/meta/css/css-align/gaps/grid-column-gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/gaps/grid-gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/gaps/grid-row-gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/gaps/row-gap-animation-001.html.ini
  tests/wpt/meta/css/css-align/gaps/row-gap-parsing-001.html.ini
  tests/wpt/meta/css/css-align/inheritance.html.ini
  tests/wpt/meta/css/css-align/parsing/column-gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/column-gap-valid.html.ini
  tests/wpt/meta/css/css-align/parsing/gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/gap-shorthand.html.ini
  tests/wpt/meta/css/css-align/parsing/gap-valid.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-column-gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-column-gap-valid.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-gap-shorthand.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-gap-valid.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-row-gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/grid-row-gap-valid.html.ini
  tests/wpt/meta/css/css-align/parsing/row-gap-computed.html.ini
  tests/wpt/meta/css/css-align/parsing/row-gap-valid.html.ini
Labels: A-testing, A-layout/flex, A-layout/2020

#32891 Implement gaps in flexbox layout
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/alignment/flex-align-baseline-flex-003.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-column-row-gap-003.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-gap-position-absolute.html.ini
  tests/wpt/meta/css/css-flexbox/gap-001-lr.html.ini
  tests/wpt/meta/css/css-flexbox/gap-001-ltr.html.ini
  tests/wpt/meta/css/css-flexbox/gap-001-rl.html.ini
  tests/wpt/meta/css/css-flexbox/gap-001-rtl.html.ini
  tests/wpt/meta/css/css-flexbox/gap-004-lr.html.ini
  tests/wpt/meta/css/css-flexbox/gap-004-ltr.html.ini
  tests/wpt/meta/css/css-flexbox/gap-004-rl.html.ini
  tests/wpt/meta/css/css-flexbox/gap-004-rtl.html.ini
  tests/wpt/meta/css/css-flexbox/gap-011.html.ini
  tests/wpt/meta/css/css-flexbox/gap-013.html.ini
Labels: A-layout/flex, A-layout/2020
