Repository servo/servo, pull requests merged in 2024-03, with the labels that each got.

#31455 Fix size of tables in flow layout
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/floats-clear/floats-014.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/floats-015.xht.ini
  tests/wpt/meta/css/CSS2/floats/floats-wrap-bfc-001-left-table.xht.ini
  tests/wpt/meta/css/CSS2/floats/floats-wrap-bfc-001-right-table.xht.ini
  tests/wpt/meta/css/CSS2/floats/floats-wrap-bfc-003-left-table.xht.ini
  tests/wpt/meta/css/CSS2/floats/floats-wrap-bfc-003-right-table.xht.ini
  tests/wpt/meta/css/CSS2/floats/floats-wrap-bfc-004.xht.ini
  tests/wpt/meta/css/CSS2/tables/caption-side-applies-to-017.xht.ini
  tests/wpt/meta/css/CSS2/tables/separated-border-model-007.xht.ini
  tests/wpt/meta/css/CSS2/tables/separated-border-model-008.xht.ini
  tests/wpt/meta/css/CSS2/tables/separated-border-model-009.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bs-table-001.xht.ini
  tests/wpt/meta/css/css-tables/absolute-tables-001.html.ini
  tests/wpt/meta/css/css-tables/anonymous-table-cell-margin-collapsing.html.ini
  tests/wpt/meta/css/css-tables/bounding-box-computation-2.html.ini
  tests/wpt/meta/css/css-tables/bounding-box-computation-3.html.ini
  tests/wpt/meta/css/css-tables/column-track-merging.html.ini
  tests/wpt/meta/css/css-tables/dynamic-rowspan-change.html.ini
  tests/wpt/meta/css/css-tables/html-display-table.html.ini
  tests/wpt/meta/css/css-tables/html-to-css-mapping-1.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-1.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-2.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-3.html.ini
  tests/wpt/meta/css/css-tables/html5-table-formatting-fixed-layout-1.html.ini
  tests/wpt/meta/css/css-tables/max-height-table.html.ini
  tests/wpt/meta/css/css-tables/min-max-size-table-content-box.html.ini
  tests/wpt/meta/css/css-tables/subpixel-table-cell-width-001.html.ini
  tests/wpt/meta/css/css-tables/tentative/caption.html.ini
  tests/wpt/meta/css/css-tables/tentative/colgroup-col.html.ini
  tests/wpt/meta/css/css-tables/tentative/colspan-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/column-widths.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-fixed-minmax.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-minmax.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-quirks.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution-fixed.html.ini
  tests/wpt/meta/css/css-tables/tentative/table-width-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/tbody-height-redistribution.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-hidden-col-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-hidden-nested-001.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/computing-column-measure-0.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/computing-column-measure-2.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/computing-table-width-1.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/distribution-algo-1.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/distribution-algo-2.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/distribution-algo-min-content-guess.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/the-hr-element-0/width.html.ini
Labels: A-layout/table, A-layout/2020

#31484 Treat indefinite percentages as auto offsets in relative positioning
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-position/position-relative-007.html.ini
  tests/wpt/meta/css/css-values/calc-offsets-relative-bottom-1.html.ini
  tests/wpt/meta/css/css-values/calc-offsets-relative-top-1.html.ini
Labels: A-layout/2020

#31480 Fix column and row measures
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/tentative/column-widths.html.ini
Labels: A-layout/table, A-layout/2020

#31506 Fix intrinsic sizing of tables
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/floats-clear/float-applies-to-001.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/float-applies-to-002.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/float-applies-to-003.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/float-applies-to-004.xht.ini
  tests/wpt/meta/css/CSS2/floats-clear/margin-collapse-134.xht.ini
  tests/wpt/meta/css/css-tables/collapsed-scroll-overflow.html.ini
Labels: A-layout/table, A-layout/2020

#31513 Fix the measures of a table cell
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/table-cell-overflow-auto.html.ini
Labels: A-layout/table, A-layout/2020

#31578 layout: Fix the pseudo for anonymous tables
  Cargo.lock
  components/layout_2020/table/construct.rs
  resources/servo.css
  tests/wpt/meta/css/CSS2/box-display/box-generation-001.xht.ini
  tests/wpt/meta/css/CSS2/box-display/box-generation-002.xht.ini
  tests/wpt/meta/css/CSS2/normal-flow/blocks-017.xht.ini
  tests/wpt/meta/css/CSS2/normal-flow/table-in-inline-001.xht.ini
  tests/wpt/meta/css/CSS2/text/word-spacing-applies-to-014.xht.ini
  tests/wpt/meta/css/CSS2/visuren/table-pseudo-in-part3-1.html.ini
  tests/wpt/meta/css/css-tables/dynamic-table-cell-height.html.ini
  tests/wpt/meta/css/css-tables/fixup-dynamic-anonymous-inline-table-001.html.ini
  tests/wpt/meta/css/css-tables/fixup-dynamic-anonymous-inline-table-002.html.ini
  tests/wpt/meta/css/css-tables/percentages-grandchildren-quirks-mode-001.html.ini
  tests/wpt/meta/css/css-transforms/transform-table-011.html.ini
  tests/wpt/meta/css/css-ui/outline-005.html.ini
  tests/wpt/meta/css/css-ui/outline-011.html.ini
  tests/wpt/meta/css/css-ui/outline-019.html.ini
  tests/wpt/meta/html/rendering/widgets/button-layout/shrink-wrap.html.ini
Labels: A-layout/2020

#31536 layout: Obey `box-sizing` for table cells
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-tables/tentative/table-quirks.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-001.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-003.html.ini
Labels: A-layout/table, A-layout/2020

#31565 clippy: fix warnings in components/shared
  components/shared/bluetooth/scanfilter.rs
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/shared/gfx/lib.rs
  components/shared/gfx/print_tree.rs
  components/shared/msg/constellation_msg.rs
  components/shared/net/fetch/headers.rs
  components/shared/net/image/base.rs
  components/shared/net/image_cache.rs
  components/shared/net/lib.rs
  components/shared/net/pub_domains.rs
  components/shared/net/request.rs
  components/shared/net/response.rs
  components/shared/webrender/lib.rs
Labels: S-needs-rebase

#31596 Align table cell measures in the block axis to Gecko/Blink/WebKit
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-logical/logicalprops-block-size.html.ini
Labels: A-layout/table, A-layout/2020

#31613 Take spaces into account in the max-content size of an IFC
  components/layout_2020/flow/inline.rs
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-118.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-120.xht.ini
  tests/wpt/meta/css/css-flexbox/percentage-size-quirks-002.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/td-with-subpixel-padding-vertical-rl.html.ini
  tests/wpt/meta/css/css-tables/width-distribution/td-with-subpixel-padding.html.ini
Labels: A-layout/inline

#31658 fonts: Add `FontIdentifier` and `LocalFontIdentifier`
  components/canvas/canvas_data.rs
  components/gfx/font.rs
  components/gfx/font_cache_thread.rs
  components/gfx/font_template.rs
  components/gfx/platform/freetype/android/font_list.rs
  components/gfx/platform/freetype/font.rs
  components/gfx/platform/freetype/font_list.rs
  components/gfx/platform/freetype/font_template.rs
  components/gfx/platform/macos/font.rs
  components/gfx/platform/macos/font_list.rs
  components/gfx/platform/macos/font_template.rs
  components/gfx/platform/windows/font.rs
  components/gfx/platform/windows/font_list.rs
  components/gfx/platform/windows/font_template.rs
  components/gfx/tests/font_context.rs
  components/gfx/tests/font_template.rs
  components/layout/text.rs
Labels: A-platform/fonts

#31660 Obey white-space when intrinsically sizing an IFC
  components/gfx/text/text_run.rs
  components/layout_2020/flow/inline.rs
  components/layout_2020/flow/text_run.rs
  tests/wpt/meta/css/CSS2/generated-content/content-175.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-009.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-010.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-011.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-012.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-197.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-198.xht.ini
  tests/wpt/meta/css/CSS2/text/white-space-pre-001.xht.ini
  tests/wpt/meta/css/css-lists/inline-list.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-integer-001.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-integer-002.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-integer-003.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-length-001.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-length-002.html.ini
  tests/wpt/meta/css/css-text/tab-size/tab-size-percent-001.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-015.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-016.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-017.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-018.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-pre-wrap-trailing-spaces-002.html.ini
  tests/wpt/mozilla/meta/css/white-space-pre-wrap.htm.ini
Labels: A-layout/text, A-layout/2020

#31681 Allow pre-wrap whitespace to hang at the end of the line
  components/layout_2020/flow/inline.rs
  tests/wpt/meta/css/css-text/hyphens/hyphens-auto-002.html.ini
  tests/wpt/meta/css/css-text/white-space/control-chars-00D.html.ini
  tests/wpt/meta/css/css-text/white-space/eol-spaces-bidi-002.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-001.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-002.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-003.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-004.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-005.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-006.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-007.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-015.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-align-left-001.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-align-start-001.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-leading-spaces-012.html.ini
  tests/wpt/meta/css/css-text/white-space/pre-wrap-tab-001.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-001.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-002.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-003.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-004.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-005.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-006.html.ini
  tests/wpt/meta/css/css-text/white-space/textarea-pre-wrap-007.html.ini
  tests/wpt/mozilla/meta/css/white-space-pre-wrap.htm.ini
Labels: A-layout/text, A-layout/2020

#31704 Don't null out the baselines of anonymous tables
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/normal-flow/inline-table-002b.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-167.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-168.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-169.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-170.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-171.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-172.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-177.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-178.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-179.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-180.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-181.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-182.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-183.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-184.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-185.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-186.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-187.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-188.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-189.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-190.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-191.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-192.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-193.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-194.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-195.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-196.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-205.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-anonymous-objects-206.xht.ini
Labels: A-layout/table, A-layout/2020

#31635 Implement console.count/countReset
  components/script/dom/console.rs
  components/script/dom/globalscope.rs
  components/script/dom/webidls/Console.webidl
  tests/wpt/meta-legacy-layout/console/console-label-conversion.any.js.ini
  tests/wpt/meta-legacy-layout/console/idlharness.any.js.ini
  tests/wpt/meta/console/console-label-conversion.any.js.ini
  tests/wpt/meta/console/idlharness.any.js.ini
Labels: S-needs-code-changes

#31709 build(deps): bump Stylo from `7dd8840` to `2c775e4`
  Cargo.lock
Labels: A-dependencies

#31734 layout: Enable `text-shadow`
  Cargo.lock
  components/layout_2020/display_list/mod.rs
  tests/wpt/meta/css/css-backgrounds/box-shadow-multiple-001.html.ini
  tests/wpt/meta/css/css-pseudo/highlight-currentcolor-painting-text-shadow-001.html.ini
  tests/wpt/meta/css/css-text-decor/inheritance.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/basic-negcoord.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/basic-opacity.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/basic.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/blur.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/color-inherit.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/multiple-noblur.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/parsing/text-shadow-computed.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/parsing/text-shadow-valid.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/quirks-decor-noblur.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/standards-decor-noblur-2.html.ini
  tests/wpt/meta/css/css-text-decor/text-shadow/standards-decor-noblur.html.ini
  tests/wpt/meta/css/css-transitions/animations/text-shadow-interpolation.html.ini
  tests/wpt/meta/css/css-variables/variable-substitution-shadow-properties.html.ini
  tests/wpt/meta/quirks/unitless-length/excluded-properties-002.html.ini
  tests/wpt/mozilla/meta/css/text_shadow_decorations_a.html.ini
  tests/wpt/mozilla/meta/css/text_shadow_multiple_shadows_a.html.ini
  tests/wpt/mozilla/meta/css/text_shadow_simple_a.html.ini
Labels: A-layout/2020

#31896 Ignore spaces before atomic inline for the min-content size
  components/layout_2020/flow/inline.rs
  tests/wpt/meta/css/css-tables/absolute-tables-013.html.ini
  tests/wpt/meta/css/css-tables/absolute-tables-014.html.ini
  tests/wpt/meta/css/css-tables/absolute-tables-015.html.ini
Labels: A-layout/inline, A-layout/2020

#31930 Obey `white-space: pre-wrap` when intrinsically sizing an IFC
  components/layout_2020/flow/inline.rs
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-003.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-004.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-013.html.ini
  tests/wpt/meta/css/css-text/white-space/white-space-intrinsic-size-014.html.ini
Labels: A-layout/text, A-layout/inline, A-layout/2020

#31932 Update Stylo to 2023-10-16
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
  components/gfx/tests/font_context.rs
  components/layout/construct.rs
  components/layout/display_list/builder.rs
  components/layout/table_row.rs
  components/layout/text.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/flow/inline.rs
  components/layout_2020/flow/line.rs
  components/layout_2020/lists.rs
  components/layout_2020/query.rs
  components/script/canvas_state.rs
  components/script/dom/element.rs
  components/script/dom/htmlbodyelement.rs
  components/script/dom/htmlfontelement.rs
  components/script/dom/htmlhrelement.rs
  components/script/dom/htmltablecellelement.rs
  components/script/dom/htmltableelement.rs
  components/script/dom/htmltablerowelement.rs
  components/script/dom/htmltablesectionelement.rs
  components/script/layout_dom/element.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/script_layout/wrapper_traits.rs
  tests/unit/style/animated_properties.rs
  tests/unit/style/custom_properties.rs
  tests/wpt/meta-legacy-layout/css/css-color/parsing/opacity-valid.html.ini
  tests/wpt/meta-legacy-layout/css/css-fonts/rlh-in-monospace.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/getComputedStyle-calc-mixed-units-002.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/lh-unit-001.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/lh-unit-002.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/lh-unit-005.html.ini
  tests/wpt/meta-legacy-layout/css/css-values/rlh-invalidation.html.ini
  tests/wpt/meta-legacy-layout/css/cssom/serialize-values.html.ini
  tests/wpt/meta-legacy-layout/html/canvas/element/text/parent-style-relative-units.html.ini
  tests/wpt/meta/css/css-color/parsing/opacity-valid.html.ini
  tests/wpt/meta/css/css-fonts/rlh-in-monospace.html.ini
  tests/wpt/meta/css/css-values/getComputedStyle-calc-mixed-units-002.html.ini
  tests/wpt/meta/css/css-values/lh-unit-001.html.ini
  tests/wpt/meta/css/css-values/lh-unit-002.html.ini
  tests/wpt/meta/css/css-values/lh-unit-005.html.ini
  tests/wpt/meta/css/css-values/rlh-invalidation.html.ini
  tests/wpt/meta/css/cssom/serialize-values.html.ini
  tests/wpt/meta/html/canvas/element/text/parent-style-relative-units.html.ini
Labels: A-dependencies
