Repository servo/servo, pull requests merged in 2024-08, with the labels that each got.

#32996 Allow navigations that include cross-origin redirects to succeed.
  components/net/fetch/methods.rs
  components/script/script_thread.rs
  tests/wpt/meta/fetch/api/redirect/redirect-mode.any.js.ini
Labels: S-awaiting-review

#33207 Allow caching `IndependentFormattingContext::inline_content_sizes()`
  components/layout_2020/formatting_contexts.rs
Labels: A-layout/2020

#33240 Handle aspect ratios in `ReplacedContent::inline_content_sizes`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-011.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-row-005.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-001.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-001v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-003.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-003v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-007.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-007v.html.ini
  tests/wpt/meta/css/css-sizing/aspect-ratio/flex-aspect-ratio-017.html.ini
  tests/wpt/meta/css/css-sizing/percentage-height-in-flexbox.html.ini
Labels: A-layout/2020

#33248 Fix automatic minimum size for column flexbox
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-031.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-size-001.html.ini
  tests/wpt/meta/css/css-flexbox/stretch-obeys-min-max-001.html.ini
Labels: A-layout/flex, A-layout/2020

#33263 Fix various issues with replaced elements in flex layout
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/aspect-ratio-intrinsic-size-001.html.ini
  tests/wpt/meta/css/css-flexbox/aspect-ratio-intrinsic-size-002.html.ini
  tests/wpt/meta/css/css-flexbox/aspect-ratio-intrinsic-size-006.html.ini
  tests/wpt/meta/css/css-flexbox/css-flexbox-img-expand-evenly.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-010.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-011.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-row-005.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-row-013.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-020.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-021.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-width-flex-items-013.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-basis-content-002a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-flex-basis-content-002b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-width-auto-002a.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-width-auto-002b.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-min-width-auto-002c.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox_align-items-stretch-4.html.ini
  tests/wpt/meta/css/css-flexbox/flexitem-stretch-image.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-001.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-001v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-002.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-002v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-003.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-003v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-004.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-004v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-005.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-005v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-006.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-006v.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-007.html.ini
  tests/wpt/meta/css/css-flexbox/image-as-flexitem-size-007v.html.ini
  tests/wpt/meta/css/css-flexbox/intrinsic-size/row-use-cases-001.html.ini
  tests/wpt/meta/css/css-sizing/aspect-ratio/flex-aspect-ratio-023.html.ini
  tests/wpt/meta/css/css-sizing/aspect-ratio/flex-aspect-ratio-024.html.ini
Labels: A-layout/flex, A-layout/2020
