Repository servo/servo, pull requests merged in 2024-05, with the labels that each got.

#32173 webgpu: Update to wgpu 0.20
  Cargo.lock
  Cargo.toml
  components/script/dom/gpubuffer.rs
  components/script/dom/gpucanvascontext.rs
  components/script/dom/gpucommandencoder.rs
  components/script/dom/gpucomputepassencoder.rs
  components/script/dom/gpudevice.rs
  components/script/dom/gpurenderpassencoder.rs
  components/script/dom/webidls/WebGPU.webidl
  components/script/script_thread.rs
  components/webgpu/lib.rs
  tests/wpt/webgpu/meta/webgpu/cts.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_clear.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba16float_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba16float_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_complex_rgba16float_store.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba16float_opaque_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba16float_opaque_draw.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba16float_premultiplied_copy.https.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_composite_alpha_rgba16float_premultiplied_draw.https.html.ini
Labels: A-content/webgpu

#32266 webgpu: Use WGPU poller thread for poll_all_devices
  Cargo.lock
  Cargo.toml
  components/webgpu/lib.rs
  components/webgpu/poll_thread.rs
  components/webgpu/wgpu_thread.rs
Labels: A-content/webgpu

#32331 Implement 'empty-cells' for layout 2020
  Cargo.lock
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/base_fragment.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/empty-cells-applies-to-014.xht.ini
  tests/wpt/meta/css/CSS2/tables/empty-cells-no-interpolation.html.ini
  tests/wpt/meta/css/css-tables/inheritance.html.ini
  tests/wpt/meta/css/css-tables/parsing/empty-cells-computed.html.ini
  tests/wpt/meta/css/css-tables/parsing/empty-cells-valid.html.ini
  tests/wpt/meta/css/cssom/serialize-values.html.ini
  tests/wpt/mozilla/meta/css/empty_cells_a.html.ini
Labels: A-layout/table, A-layout/2020

#32333 Implement 'visibility: collapse' on table parts
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/row-visibility-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/row-visibility-002.xht.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-border-spacing.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-col-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-col-002.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-col-003.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-col-004-dynamic.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-colspan-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-colspan-002.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-002-dynamic.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-003-dynamic.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-005.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-group-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-row-group-002.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowcol-001.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowcol-002.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowspan-002-border-separate.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowspan-002.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowspan-003-border-separate.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowspan-003.html.ini
  tests/wpt/meta/css/css-tables/visibility-collapse-rowspan-004-dynamic.html.ini
Labels: A-layout/table, A-layout/2020

#32286 fonts: Improve font fallback
  components/gfx/font.rs
  components/gfx/platform/freetype/android/font_list.rs
  components/gfx/platform/freetype/font_list.rs
  components/gfx/platform/freetype/ohos/font_list.rs
  components/gfx/platform/macos/font.rs
  components/gfx/platform/macos/font_list.rs
  components/gfx/platform/windows/font_list.rs
  components/gfx/tests/font_context.rs
  components/gfx/text/mod.rs
  components/layout/text.rs
  components/layout_2020/flow/text_run.rs
  components/layout_thread_2020/lib.rs
Labels: A-platform/fonts
