Repository servo/servo, pull requests merged in 2024-11, with the labels that each got.

#34114 Remove unnecessary clamping in `used_size_as_if_inline_element()`
  components/layout_2020/replaced.rs
Labels: A-layout/2020

#34211 Use LazyCells instead of callbacks when resolving size keywords
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
Labels: A-layout/2020

#34232 Use a RwLock to cache inline_content_sizes()
  components/layout_2020/flexbox/construct.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
Labels: A-layout/2020

#34247 Protect against arithmetic underflow in TableBuilder::current_y()
  components/layout_2020/table/construct.rs
Labels: A-layout/table, A-layout/2020

#32761 Fix offsetLeft/offsetTop to match major browsers
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-horiz-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001a.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-001b.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-vert-002.html.ini
  tests/wpt/meta/css/css-flexbox/align-content-wmvert-001.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-column-vert-lr-flexbox-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-column-vert-lr-grid-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-column-vert-lr-items.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-column-vert-lr-table-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-lr-column-horz-flexbox-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-lr-column-horz-grid-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-lr-column-horz-items.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-rl-column-horz-flexbox-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-rl-column-horz-grid-item.html.ini
  tests/wpt/meta/css/css-flexbox/align-items-baseline-vert-rl-column-horz-items.html.ini
  tests/wpt/meta/css/css-flexbox/hittest-overlapping-relative.html.ini
  tests/wpt/meta/css/css-position/sticky/position-sticky-stacking-context.html.ini
  tests/wpt/meta/css/cssom-view/offsetTopLeft-inline.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-margin-inline.html.ini
Labels: A-layout/2020

#34306 Implement `element.shadowRoot` attribute
  components/script/dom/element.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/shadowroot.rs
  components/script/dom/webidls/Element.webidl
  components/script/dom/webidls/ShadowRoot.webidl
  tests/wpt/meta/css/css-transforms/transform-origin-in-shadow.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-dialog-element/dialog-focus-shadow-double-nested.html.ini
  tests/wpt/meta/html/semantics/interactive-elements/the-dialog-element/dialog-focus-shadow.html.ini
  tests/wpt/meta/shadow-dom/Element-interface-attachShadow.html.ini
  tests/wpt/meta/shadow-dom/Element-interface-shadowRoot-attribute.html.ini
  tests/wpt/meta/shadow-dom/Node-prototype-cloneNode.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-basic.html.ini
  tests/wpt/meta/shadow-dom/focus/focus-selector-delegatesFocus.html.ini
  tests/wpt/meta/shadow-dom/untriaged/elements-and-dom-objects/extensions-to-element-interface/attributes/test-006.html.ini
Labels: A-content/dom

#34322 Upgrade Stylo to 2024-11-01
  Cargo.lock
  Cargo.toml
  components/layout/text.rs
  components/layout_2020/flow/inline/text_run.rs
  tests/unit/style/parsing/inherited_text.rs
  tests/wpt/meta/css/css-text/letter-spacing/letter-spacing-percent-001.html.ini
  tests/wpt/meta/css/css-text/parsing/letter-spacing-computed.html.ini
  tests/wpt/meta/css/css-text/parsing/letter-spacing-valid.html.ini
  tests/wpt/meta/css/css-values/calc-letter-spacing.html.ini
  tests/wpt/meta/css/css-values/calc-serialization-002.html.ini
  tests/wpt/meta/css/css-values/hypot-pow-sqrt-serialize.html.ini
  tests/wpt/meta/css/css-values/minmax-length-percent-serialize.html.ini
  tests/wpt/meta/css/css-values/round-function.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-always-matches-negated-first-of-type-when-ancestor-changes.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-always-matches-negated-last-of-type-when-ancestor-changes.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-is-never-matches-negated-first-of-type-when-ancestor-changes.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-is-never-matches-negated-last-of-type-when-ancestor-changes.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-negated-first-of-type-when-ancestor-changes.html.ini
  tests/wpt/meta/css/selectors/invalidation/negated-negated-last-of-type-when-ancestor-changes.html.ini
Labels: A-stylo

#34346 Improve performance of column flexboxes
  components/layout_2020/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020

#34350 Remove unnecessary clone in layout
  components/layout_2020/formatting_contexts.rs
Labels: A-layout/2020

#34352 Avoid laying out grid items and generating fragments if only inline size is requested
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020, A-layout/grid

#34384 Use an AtomicRefCell instead of a RwLock for caching intrinsic sizes
  components/layout_2020/formatting_contexts.rs
Labels: A-layout/2020

#34413 Use natural ratio for `object-fit`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-sizing/aspect-ratio/replaced-element-022.html.ini
  tests/wpt/meta/css/css-sizing/aspect-ratio/replaced-element-024.html.ini
  tests/wpt/meta/css/css-sizing/aspect-ratio/replaced-element-026.html.ini
Labels: A-layout/2020

#34421 Ensure taffy uses margin when calling `used_size_as_if_inline_element_from_content_box_sizes()`
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020, A-layout/grid

#34416 Refactor computation of preferred aspect ratios
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34423 Make Servo compatible with Stylo with `prefers-color-scheme` support
  Cargo.lock
  components/layout_thread/lib.rs
  components/layout_thread_2020/lib.rs
  tests/unit/style/custom_properties.rs
  tests/unit/style/stylist.rs
  tests/wpt/meta/css/mediaqueries/prefers-color-scheme.html.ini
Labels: A-layout/2020

#34426 Fix alignment of abspos child of flexbox with flipped direction
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-flexbox/abspos/position-absolute-012.html.ini
  tests/wpt/meta/css/css-flexbox/abspos/position-absolute-013.html.ini
Labels: A-layout/2020
