Repository servo/servo, pull requests merged in 2024-10, with the labels that each got.

#33613 webgpu: Introduce PresentationId to ensure updates with newer presentation
  components/webgpu/swapchain.rs
Labels: A-content/webgpu

#33658 Skip anonymous blocks for percentage resolution
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/CSS2/visuren/anonymous-boxes-001a.xht.ini
  tests/wpt/meta/css/css-sizing/image-percentage-max-height-in-anonymous-block.html.ini
Labels: A-layout/block, A-layout/2020

#33659 Enable `stretch` keyword
  Cargo.lock
  tests/wpt/meta/css/css-sizing/animation/height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/max-height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/max-width-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/min-height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/min-width-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/width-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-max-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-max-width-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-min-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-min-width-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-width-interpolation.html.ini
Labels: A-stylo

#33667 Fix `align-content` set to `start` or `end` on flexbox
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/align-content-wrap-005.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-safe-overflow-position-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-safe-overflow-position-005.html.ini
Labels: A-layout/flex, A-layout/2020

#33773 Fix writing mode in `content_box_sizes_and_padding_border_margin()`
  components/layout_2020/style_ext.rs
Labels: A-layout/2020

#33802 Unify logic for laying out floats and atomic inlines
  components/layout_2020/flow/float.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
Labels: A-layout/floats, A-layout/inline, A-layout/2020

#33806 Avoid recomputing inline_content_sizes() when not needed
  components/layout_2020/flexbox/construct.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/construct.rs
  components/layout_2020/table/layout.rs
Labels: A-layout/2020

#33861 Minor cleanup for `Size` after #33844
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
Labels: A-layout/2020

#33906 Fix resolved value of insets to use margin box instead of content box
  components/layout_2020/fragment_tree/box_fragment.rs
  tests/wpt/meta/css/cssom/computed-style-005.html.ini
  tests/wpt/meta/css/selectors/invalidation/enabled-disabled.html.ini
Labels: A-layout/2020

#33907 Remove BoxFragment::overconstrained
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/cssom/getComputedStyle-insets-absolute.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-insets-fixed.html.ini
Labels: A-layout/2020

#33922 Refactor positioned layout
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-position/position-absolute-center-006.html.ini
  tests/wpt/meta/css/css-position/position-absolute-center-007.html.ini
Labels: A-layout/2020

#33950 Implement keyword sizes on absolute/fixed positioned elements
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-position/position-absolute-fit-content.html.ini
  tests/wpt/meta/css/css-sizing/block-size-with-min-or-max-content-6.html.ini
  tests/wpt/meta/css/css-sizing/block-size-with-min-or-max-content-7.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-auto-margin-bottom.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-auto-margin-top.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-orthogonal-auto-margin-left.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-orthogonal-auto-margin-right.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-orthogonal-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-fit-content-orthogonal-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-auto-margin-bottom.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-auto-margin-top.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-orthogonal-auto-margin-left.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-orthogonal-auto-margin-right.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-orthogonal-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-max-content-orthogonal-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-auto-margin-bottom.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-auto-margin-top.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-orthogonal-auto-margin-left.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-orthogonal-auto-margin-right.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-orthogonal-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-min-content-orthogonal-block-size.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-orthogonal-left-and-non-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/div-top-and-non-auto-margin.tentative.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-block-size-abspos.html.ini
  tests/wpt/meta/css/css-sizing/fit-content-block-size-fixedpos.html.ini
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-005.html.ini
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-007.html.ini
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-dynamic-005.html.ini
  tests/wpt/meta/css/css-sizing/intrinsic-percent-replaced-dynamic-007.html.ini
  tests/wpt/meta/css/css-sizing/stretch/abspos-1.html.ini
  tests/wpt/meta/css/css-sizing/stretch/abspos-2.html.ini
  tests/wpt/meta/css/css-sizing/stretch/positioned-non-replaced-1.html.ini
  tests/wpt/meta/html/rendering/non-replaced-elements/flow-content-0/dialog.html.ini
Labels: A-layout/2020

#34054 webgpu: Only send mapping back on unmap when MapMode = WRITE
  components/script/dom/gpubuffer.rs
  components/webgpu/ipc_messages/recv.rs
  components/webgpu/wgpu_thread.rs
Labels: A-content/webgpu

#34063 servoshell: Properly convert to logical pixels when scrolling with a `PixelDelta`
  ports/servoshell/desktop/headed_window.rs
Labels: I-perf-slow

#34084 Use default object size as fallback for intrinsic size of replaced element
  components/layout_2020/replaced.rs
  tests/wpt/meta/css/css-sizing/intrinsic-size-fallback-video.html.ini
Labels: A-layout/2020
