Repository servo/servo, pull requests merged in 2025-02, with the labels that each got.

#35247 Let `resolve_color()` take its parameter by reference
  Cargo.lock
  components/layout/display_list/builder.rs
  components/layout/display_list/gradient.rs
  components/layout/table.rs
  components/layout_2020/display_list/gradient.rs
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/style_ext.rs
  components/layout_thread/lib.rs
Labels: A-stylo

#35220 Lay out the contents of slot elements
  Cargo.lock
  components/layout_2020/dom_traversal.rs
  components/script/dom/bindings/root.rs
  components/script/dom/element.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/node.rs
  components/script/dom/text.rs
  components/script/layout_dom/element.rs
  components/script/layout_dom/node.rs
  tests/wpt/meta/css/css-content/quotes-slot-scoping.html.ini
  tests/wpt/meta/css/css-display/display-contents-slot-attach-whitespace.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order-scoping.html.ini
  tests/wpt/meta/css/css-lists/counter-slot-order.html.ini
  tests/wpt/meta/css/css-text-decor/text-decoration-propagation-shadow.html.ini
  tests/wpt/meta/css/css-text/white-space/remove-slotted-with-whitespace-sibling.html.ini
  tests/wpt/meta/html/canvas/element/2d.text-outside-of-the-flat-tree.html.ini
  tests/wpt/meta/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html.ini
  tests/wpt/meta/shadow-dom/focus/focus-pseudo-on-shadow-host-2.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-fallback-clear.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-layout-invalidation-001.html.ini
  tests/wpt/meta/shadow-dom/layout-slot-no-longer-fallback.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-001.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-002.html.ini
  tests/wpt/meta/shadow-dom/slot-fallback-content-007.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/reprojection/reprojection-001.html.ini
  tests/wpt/meta/shadow-dom/untriaged/shadow-trees/shadow-root-002.html.ini
Labels: S-blocked-on-external

#35264 layout: Don't let table grid boxes inherit `display: inline-table`
  components/layout_2020/display_list/stacking_context.rs
  resources/servo.css
Labels: A-layout/2020

#35208 layout: Implement default overflow alignment for abspos
  components/layout_2020/positioned.rs
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-vrl.html.ini
Labels: A-layout/2020

#35209 layout: Limit `content_inline_size_for_table` override to collapsed columns
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#35289 Upgrade Stylo to 2025-02-03
  Cargo.lock
  Cargo.toml
  components/layout/display_list/gradient.rs
  components/layout_2020/display_list/gradient.rs
  components/layout_2020/flow/inline/line.rs
  components/script/layout_dom/element.rs
  tests/wpt/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  tests/wpt/meta/css/css-images/gradient/color-stops-parsing.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-001.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-002.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-003.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-004.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-005.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-006.html.ini
  tests/wpt/meta/css/css-images/gradient/gradient-single-stop-007.html.ini
  tests/wpt/meta/css/css-images/image-set/image-set-parsing.html.ini
Labels: A-stylo, A-dependencies

#35284 servoshell: Port desktop servoshell to use delegate API
  components/servo/lib.rs
  components/servo/webview_delegate.rs
  ports/servoshell/desktop/app.rs
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/cli.rs
  ports/servoshell/desktop/dialog.rs
  ports/servoshell/desktop/events_loop.rs
  ports/servoshell/desktop/gamepad.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/desktop/headless_window.rs
  ports/servoshell/desktop/minibrowser.rs
  ports/servoshell/desktop/mod.rs
  ports/servoshell/desktop/tracing.rs
  ports/servoshell/desktop/webview.rs
  ports/servoshell/desktop/window_trait.rs
Labels: A-servoshell, A-api

#35315 Migrate Android and OHOS ports to the delegate API
  components/servo/lib.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/android/simpleservo.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/mod.rs
  ports/servoshell/egl/ohos.rs
  ports/servoshell/egl/ohos/simpleservo.rs
  ports/servoshell/egl/servo_glue.rs
Labels: A-api

#35297 libservo: Add a `ClipboardDelegate` and a default implementation
  Cargo.lock
  Cargo.toml
  components/constellation/tracing.rs
  components/script/clipboard_provider.rs
  components/script/dom/document.rs
  components/script/textinput.rs
  components/servo/Cargo.toml
  components/servo/clipboard_delegate.rs
  components/servo/lib.rs
  components/servo/webview.rs
  components/servo/webview_delegate.rs
  components/shared/embedder/lib.rs
  ports/servoshell/Cargo.toml
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/headed_window.rs
  ports/servoshell/egl/android.rs
  ports/servoshell/egl/app_state.rs
  ports/servoshell/egl/host_trait.rs
  ports/servoshell/egl/ohos.rs
  tests/unit/script/textinput.rs
Labels: A-api

#35420 Enable the `quotes` CSS property
  Cargo.lock
  tests/wpt/meta/css/css-content/inheritance.html.ini
Labels: A-layout/2020, A-dependencies

#35437 Protect `create_spanned_slot_based_on_cell_above()` against arithmetic underflow
  components/layout_2020/table/construct.rs
Labels: A-layout/table, A-layout/2020

#35443 layout: Remove `BoxFragment::overflow_clip_rect()`
  components/layout_2020/display_list/stacking_context.rs
Labels: A-layout/2020

#35413 layout: Basic implementation of size keywords on `flex-basis`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/sizing.rs
  tests/wpt/meta/css/css-flexbox/flex-basis-intrinsics-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/flex-basis-1.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-column.html.ini
  tests/wpt/meta/css/css-values/calc-size/calc-size-flex-basis-on-row.html.ini
Labels: A-layout/flex, A-layout/2020

#35642 layout: Let `automatic_min_size()` take a flex-relative cb size
  components/layout_2020/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020
