Repository servo/servo, pull requests merged in 2025-04, with the labels that each got.

#36311 layout: Improve style conversion for Taffy
  components/layout_2020/taffy/stylo_taffy/convert.rs
  tests/wpt/meta/css/css-grid/alignment/grid-align-justify-margin-border-padding.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-align.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-column-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-gutters-and-alignment.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-item-alignment-with-orthogonal-flows.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-row-axis-alignment-sticky-positioned-items-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-self-alignment.html.ini
Labels: A-layout/grid

#36225 script: Implement input preprocessing for URLPatterns
  components/script/dom/urlpattern.rs
  components/script_bindings/str.rs
Labels: A-content/bindings

#36430 layout: Let getComputedStyle resolve auto min size as 0px when needed
  components/layout_2020/query.rs
  tests/wpt/meta/css/css-flexbox/getcomputedstyle/flexbox_computedstyle_min-auto-size.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-item-min-auto-size-001.html.ini
  tests/wpt/meta/css/css-logical/inheritance.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-block-size-computed.html.ini
  tests/wpt/meta/css/css-logical/parsing/min-inline-size-computed.html.ini
  tests/wpt/meta/css/cssom/getComputedStyle-resolved-min-size-auto.html.ini
Labels: A-layout/2020

#36119 Introduce snapshot concept of canvas
  Cargo.lock
  Cargo.toml
  components/canvas/Cargo.toml
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/raqote_backend.rs
  components/canvas/webgl_thread.rs
  components/pixels/lib.rs
  components/script/Cargo.toml
  components/script/canvas_context.rs
  components/script/canvas_state.rs
  components/script/dom/canvasrenderingcontext2d.rs
  components/script/dom/globalscope.rs
  components/script/dom/htmlcanvaselement.rs
  components/script/dom/offscreencanvas.rs
  components/script/dom/offscreencanvasrenderingcontext2d.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglrenderingcontext.rs
  components/script/dom/webgpu/gpucanvascontext.rs
  components/shared/canvas/Cargo.toml
  components/shared/canvas/canvas.rs
  components/shared/canvas/webgl.rs
  components/shared/compositing/Cargo.toml
  components/shared/snapshot/Cargo.toml
  components/shared/snapshot/lib.rs
  components/shared/webgpu/Cargo.toml
  components/shared/webgpu/messages/recv.rs
  components/webgpu/Cargo.toml
  components/webgpu/swapchain.rs
  tests/wpt/meta/html/semantics/embedded-content/the-canvas-element/toDataURL.jpeg.alpha.html.ini
  tests/wpt/mozilla/meta/mozilla/webgl/tex_image_2d_canvas.html.ini
  tests/wpt/webgl/meta/conformance/context/premultiplyalpha-test.html.ini
  tests/wpt/webgl/meta/conformance/more/functions/copyTexSubImage2D.html.ini
  tests/wpt/webgl/meta/conformance/textures/misc/tex-image-webgl.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance-luminance-unsigned_byte.html.ini
  tests/wpt/webgl/meta/conformance/textures/webgl_canvas/tex-2d-luminance_alpha-luminance_alpha-unsigned_byte.html.ini
  tests/wpt/webgpu/meta/webgpu/webgpu/web_platform/reftests/canvas_colorspace_rgba16float.https.html.ini
Labels: A-gfx/uncategorized, A-content/webgl, A-content/canvas, A-content/webgpu
