Repository servo/servo, pull requests merged in 2025-06, with the labels that each got.

#37264 htmlmediaelement: Support seek requests for non seekable fetch context
  components/script/dom/htmlmediaelement.rs
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-colorSpaceConversion.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-drawImage.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-flipY.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-invalid-args.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-premultiplyAlpha.html.ini
  tests/wpt/meta/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer.html.ini
  tests/wpt/meta/mixed-content/gen/top.http-rp/opt-in/video-tag.https.html.ini
  tests/wpt/meta/mixed-content/gen/top.meta/opt-in/video-tag.https.html.ini
  tests/wpt/webgl/meta/conformance/textures/misc/texture-srgb-upload.html.ini
Labels: T-linux-wpt

#34948 CSS Grid: percentage sizing fixes
  Cargo.lock
  Cargo.toml
  components/layout/taffy/layout.rs
  components/layout/taffy/mod.rs
  components/layout/taffy/stylo_taffy/convert.rs
  components/layout/taffy/stylo_taffy/wrapper.rs
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-002.html.ini
  tests/wpt/meta/css/css-grid/implicit-grids/grid-support-grid-auto-columns-rows-003.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-template-columns-computed-implicit-track.html.ini
  tests/wpt/meta/css/css-grid/placement/grid-auto-flow-sparse-001.html.ini
Labels: A-layout/grid

#37380 Have transform and related changes conditionally trigger only overflow damage
  Cargo.lock
Labels: A-layout/2020

#37419 layout: Avoid useless LazyCell when resolving replaced element's size
  components/layout/replaced.rs
Labels: A-layout/2020

#37713 webgpu: Use compositor_api instead of webrender_api
  components/constellation/constellation.rs
  components/webgpu/lib.rs
  components/webgpu/swapchain.rs
  components/webgpu/wgpu_thread.rs
Labels: A-content/webgpu
