Repository servo/servo, pull requests merged in 2025-01, with the labels that each got.

#28364 Use `CheckRegexSyntax` to avoid constructing a regular expression ahead of time for `<input>` elements
  components/script/dom/htmlinputelement.rs
Labels: S-awaiting-review

#26389 Add initial support for WebGL 2 `blitFramebuffer`
  components/canvas/webgl_thread.rs
  components/script/dom/webgl2renderingcontext.rs
  components/script/dom/webglframebuffer.rs
  components/script/dom/webidls/WebGL2RenderingContext.webidl
  components/shared/canvas/webgl.rs
  tests/wpt/webgl/meta/conformance2/context/methods-2.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/invalidate-framebuffer.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-draws-between-blits.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisample-with-full-sample-counts.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-depth-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/renderbuffers/multisampled-stencil-renderbuffer-initialization.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-outofbounds.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-filter-srgb.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-multisampled-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-outside-readbuffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-resolve-to-back-buffer.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-scissor-enabled.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-size-overflow.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-srgb-and-linear-drawbuffers.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-stencil-only.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-test.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/blitframebuffer-unaffected-by-colormask.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/draw-buffers-driver-hang.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/framebuffer-to-texture.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/line-rendering-quality.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-depth-resolve.html.ini
  tests/wpt/webgl/meta/conformance2/rendering/multisampling-fragment-evaluation.html.ini
  tests/wpt/webgl/meta/conformance2/transform_feedback/too-small-buffers.html.ini
Labels: S-tests-failed, S-needs-rebase

#34892 layout: Assert that GRIDMIN <= GRIDMAX
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#34891 layout: Don't use `content_inline_size_for_table` in taffy
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34895 layout: Remove wrong FIXME
  components/layout_2020/flow/mod.rs
Labels: A-layout/2020

#34907 layout: Refine the check for dependending on available space
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
Labels: A-layout/2020

#34889 layout: Defer some table sizing logic to the parent formatting context
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-justify-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-row-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-stretch-cross-size-3.html.ini
  tests/wpt/meta/css/css-flexbox/table-item-flex-percentage-min-width.html.ini
  tests/wpt/meta/css/css-grid/grid-items/explicitly-sized-grid-item-as-table.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-003.html.ini
Labels: A-layout/table, A-layout/2020

#34926 layout: grid-template getComputedStyle cleanup
  Cargo.lock
  Cargo.toml
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/positioned.rs
  components/layout_2020/query.rs
  components/layout_2020/taffy/layout.rs
  components/layout_2020/taffy/mod.rs
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
Labels: A-layout/grid

#34927 Upgrade to Taffy v0.7.5
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-grid/alignment/grid-fit-content-tracks-dont-stretch-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/grid-place-content-001.html.ini
  tests/wpt/meta/css/css-grid/alignment/self-baseline/grid-self-baseline-changes-grid-area-size-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-inline-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-repeat-max-width-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-flexible-lengths-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-named-grid-lines-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-support-repeat-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.html.ini
  tests/wpt/meta/css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.tentative.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-minimum-size-grid-items-015.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-002.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-003.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-004.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-order-property-auto-placement-005.html.ini
  tests/wpt/meta/css/css-grid/grid-layout-properties.html.ini
  tests/wpt/meta/css/css-grid/grid-model/grid-float-002.html.ini
  tests/wpt/meta/css/css-grid/layout-algorithm/grid-content-distribution-must-account-for-track-sizing-004.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-columns-rows-get-set-multiple.html.ini
  tests/wpt/meta/css/css-grid/parsing/grid-content-sized-columns-resolution.html.ini
Labels: A-layout/grid

#34931 layout: Don't recalculate the PaddingBorderMargin in table layout
  components/layout_2020/table/layout.rs
Labels: A-layout/table, A-layout/2020

#34932 layout: Improve sizing of tables in collapsed-borders mode
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-cell-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-colgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-column-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-row-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-rowgroup-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/table-backgrounds-bc-table-001.xht.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-dynamic-oof.html.ini
  tests/wpt/meta/css/css-tables/row-group-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/row-margin-border-padding.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-001.html.ini
  tests/wpt/meta/css/css-tables/subpixel-collapsed-borders-002.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-column-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/paint/background-image-row-collapsed.html.ini
  tests/wpt/meta/css/css-tables/tentative/td-box-sizing-002.html.ini
  tests/wpt/meta/css/cssom-view/table-offset-props.html.ini
  tests/wpt/meta/css/cssom-view/table-scroll-props.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Labels: A-layout/table, A-layout/2020

#34946 layout: Generalize `ContainingBlock`'s block size to a `SizeConstraint`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/line.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#34947 layout: Improve logic for block size of table
  components/layout_2020/geom.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-align/abspos/table-align-self-stretch.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-align-self-horiz-001-table.xhtml.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-inflexible-in-column-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-min-height-1.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-narrow-content-2.html.ini
  tests/wpt/meta/css/css-flexbox/table-as-item-specified-width-vertical.html.ini
Labels: A-layout/table, A-layout/2020

#35003 layout: Allow different collapsed border style/color within a row/column
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-bottom-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-bottom-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-top-width-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-collapse-dynamic-cell-002.xht.ini
  tests/wpt/meta/css/css-tables/collapsed-border-remove-cell.html.ini
Labels: A-layout/table, A-layout/2020

#35012 layout: Allow layouts to customize their used style
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/inline/inline_box.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#35064 layout: Remove some unneeded `is_table` parameters
  components/layout_2020/flow/mod.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/positioned.rs
  components/layout_2020/sizing.rs
  components/layout_2020/style_ext.rs
Labels: A-layout/2020

#35013 Implement shadow dom slots
  components/script/dom/create.rs
  components/script/dom/element.rs
  components/script/dom/htmlmediaelement.rs
  components/script/dom/htmlslotelement.rs
  components/script/dom/mod.rs
  components/script/dom/node.rs
  components/script/dom/raredata.rs
  components/script/dom/shadowroot.rs
  components/script/dom/text.rs
  components/script/dom/virtualmethods.rs
  components/script/dom/webidls/Element.webidl
  components/script/dom/webidls/HTMLSlotElement.webidl
  components/script/dom/webidls/ShadowRoot.webidl
  tests/unit/script/size_of.rs
  tests/wpt/meta/custom-elements/builtin-coverage.html.ini
  tests/wpt/meta/custom-elements/reactions/customized-builtins/HTMLSlotElement.html.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/html/dom/elements/name-content-attribute-and-property.html.ini
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/dom/reflection-misc.html.ini
  tests/wpt/meta/html/semantics/interfaces.html.ini
  tests/wpt/meta/shadow-dom/HTMLSlotElement-interface.html.ini
  tests/wpt/meta/shadow-dom/Slottable-mixin.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api-slotchange.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-api.html.ini
  tests/wpt/meta/shadow-dom/imperative-slot-initial-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-fallback.html.ini
  tests/wpt/meta/shadow-dom/slots-outside-shadow-dom.html.ini
  tests/wpt/meta/shadow-dom/slots.html.ini
  tests/wpt/mozilla/meta/MANIFEST.json
  tests/wpt/mozilla/tests/mozilla/interfaces.https.html
Labels: A-content/dom, A-content/bindings

#35085 layout: Respect alignment when sizing replaced abspos
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/taffy/layout.rs
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-htb-vrl.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-htb.html.ini
  tests/wpt/meta/css/css-align/abspos/stretch-intrinsic-size-vrl-vrl.html.ini
Labels: A-layout/2020

#35096 layout: Fix clientWidth & friends for tables
  components/layout_2020/display_list/mod.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/cssom-view/table-client-props.html.ini
  tests/wpt/meta/css/cssom-view/table-with-border-client-width-height.html.ini
Labels: A-layout/table, A-layout/2020

#35075 layout: Paint collapsed table borders on their own
  components/layout_2020/display_list/mod.rs
  components/layout_2020/display_list/stacking_context.rs
  components/layout_2020/fragment_tree/box_fragment.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
  tests/wpt/meta/css/CSS2/normal-flow/block-formatting-contexts-003.xht.ini
  tests/wpt/meta/css/CSS2/tables/border-conflict-element-001d.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-001.xht.ini
  tests/wpt/meta/css/CSS2/tables/collapsing-border-model-004.xht.ini
  tests/wpt/meta/css/css-backgrounds/box-shadow-table-border-collapse-001.html.ini
  tests/wpt/meta/css/css-backgrounds/ttwf-reftest-borderRadius.html.ini
  tests/wpt/meta/css/css-tables/border-collapse-double-border.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-paint-phase-002.html.ini
  tests/wpt/meta/css/css-tables/collapsed-border-positioned-tr-td.html.ini
  tests/wpt/mozilla/meta/gfx-rs-gecko/356774-1.html.ini
Labels: A-layout/table, A-layout/2020

#34884 Implement Event propagation across shadow roots
  components/script/animations.rs
  components/script/dom/event.rs
  components/script/dom/eventtarget.rs
  components/script/dom/webidls/Event.webidl
  tests/wpt/meta/dom/events/event-global-extra.window.js.ini
  tests/wpt/meta/dom/events/event-global.html.ini
  tests/wpt/meta/dom/idlharness.any.js.ini
  tests/wpt/meta/dom/idlharness.window.js.ini
  tests/wpt/meta/shadow-dom/Extensions-to-Event-Interface.html.ini
  tests/wpt/meta/shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path-after-dom-mutation.html.ini
  tests/wpt/meta/shadow-dom/event-composed-path.html.ini
  tests/wpt/meta/shadow-dom/event-composed.html.ini
  tests/wpt/meta/shadow-dom/event-dispatch-order.tentative.html.ini
  tests/wpt/meta/shadow-dom/event-inside-shadow-tree.html.ini
  tests/wpt/meta/shadow-dom/event-post-dispatch.html.ini
Labels: A-content/bindings

#35136 layout: Proper check for BoxFragment generated by a table wrapper box
  components/layout_2020/flow/mod.rs
Labels: A-layout/2020

#35125 layout: simplify `CollapsedBorderLine`
  components/layout_2020/display_list/mod.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/table/mod.rs
Labels: A-layout/table, A-layout/2020

#35144 layout: Remove min and max container sizes from `FlexContext`
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/formatting_contexts.rs
Labels: A-layout/flex, A-layout/2020

#35170 layout: Improve fixed table layout
  components/layout_2020/geom.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/CSS2/borders/border-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/borders/border-color-applies-to-006.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e08.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e09.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e10.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e11.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003e12.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f03.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f04.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f05.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f06.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f07.xht.ini
  tests/wpt/meta/css/CSS2/tables/fixed-table-layout-003f08.xht.ini
Labels: A-layout/table, A-layout/2020

#34981 Let animations & transitions fall back to discrete interpolation
  Cargo.lock
  tests/wpt/meta/css/CSS2/linebox/animations/line-height-interpolation.html.ini
  tests/wpt/meta/css/CSS2/visufx/animation/visibility-interpolation.html.ini
  tests/wpt/meta/css/css-align/animation/column-gap-interpolation.html.ini
  tests/wpt/meta/css/css-align/animation/row-gap-interpolation.html.ini
  tests/wpt/meta/css/css-align/gaps/column-gap-animation-002.html.ini
  tests/wpt/meta/css/css-align/gaps/column-gap-animation-003.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-animation-002.html.ini
  tests/wpt/meta/css/css-align/gaps/gap-animation-003.html.ini
  tests/wpt/meta/css/css-align/gaps/row-gap-animation-002.html.ini
  tests/wpt/meta/css/css-align/gaps/row-gap-animation-003.html.ini
  tests/wpt/meta/css/css-backgrounds/animations/background-size-interpolation.html.ini
  tests/wpt/meta/css/css-backgrounds/animations/border-image-slice-interpolation.html.ini
  tests/wpt/meta/css/css-backgrounds/animations/border-image-width-interpolation.html.ini
  tests/wpt/meta/css/css-backgrounds/animations/box-shadow-interpolation.html.ini
  tests/wpt/meta/css/css-flexbox/animation/flex-basis-interpolation.html.ini
  tests/wpt/meta/css/css-grid/animation/grid-template-columns-interpolation.html.ini
  tests/wpt/meta/css/css-grid/animation/grid-template-rows-interpolation.html.ini
  tests/wpt/meta/css/css-position/animations/bottom-interpolation.html.ini
  tests/wpt/meta/css/css-position/animations/left-interpolation.html.ini
  tests/wpt/meta/css/css-position/animations/right-interpolation.html.ini
  tests/wpt/meta/css/css-position/animations/top-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/aspect-ratio-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/max-height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/max-width-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/min-height-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/min-width-interpolation.html.ini
  tests/wpt/meta/css/css-sizing/animation/width-interpolation.html.ini
  tests/wpt/meta/css/css-transforms/animation/perspective-interpolation.html.ini
  tests/wpt/meta/css/css-transitions/animations/vertical-align-interpolation.html.ini
  tests/wpt/meta/css/css-transitions/animations/z-index-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-logical-properties-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-max-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-max-width-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-min-height-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-min-width-interpolation.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-which-value.html.ini
  tests/wpt/meta/css/css-values/calc-size/animation/interpolate-size-width-interpolation.html.ini
  tests/wpt/meta/css/filter-effects/animation/filter-interpolation-002.html.ini
Labels: A-stylo, A-layout/animations
