Repository servo/servo, pull requests merged in 2025-08, with the labels that each got.

#38429 Upgrade Stylo to 2025-08-01
  Cargo.lock
  Cargo.toml
  tests/wpt/meta/css/css-cascade/import-conditional-002.html.ini
  tests/wpt/meta/css/css-cascade/import-conditions.html.ini
Labels: dependencies

#38449 build(deps): bump Stylo to servo/stylo#221
  Cargo.lock
Labels: dependencies

#38493 Use cached layout in grid layout
  components/layout/formatting_contexts.rs
  components/layout/taffy/layout.rs
Labels: A-layout/grid

#38515 layout: Refactor `FlexItemLayoutResult`
  components/layout/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020

#38574 layout: Paint flex and grid items like inline blocks
  components/layout/display_list/stacking_context.rs
  tests/wpt/meta/css/css-flexbox/flexbox-items-as-stacking-contexts-002.html.ini
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003-reverse.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003.xhtml.ini
  tests/wpt/meta/css/css-flexbox/flexbox-mbp-horiz-003v.xhtml.ini
  tests/wpt/meta/css/css-flexbox/hittest-overlapping-margin.html.ini
  tests/wpt/meta/css/css-flexbox/hittest-overlapping-order.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-inline-items-inline-blocks-001.html.ini
  tests/wpt/meta/css/css-grid/grid-items/grid-items-inline-blocks-001.html.ini
  tests/wpt/meta/css/css-grid/grid-model/grid-item-hit-test.html.ini
Labels: A-layout/flex, A-layout/2020, A-layout/grid

#38568 layout: Move sizing logic from geom.rs to sizing.rs
  components/layout/flexbox/layout.rs
  components/layout/flow/mod.rs
  components/layout/formatting_contexts.rs
  components/layout/geom.rs
  components/layout/layout_box_base.rs
  components/layout/lib.rs
  components/layout/positioned.rs
  components/layout/replaced.rs
  components/layout/sizing.rs
  components/layout/style_ext.rs
  components/layout/table/layout.rs
  components/layout/taffy/layout.rs
Labels: A-layout/2020

#38705 layout: Stop making `<video>` fall back to a preferred aspect ratio of 2
  components/layout/replaced.rs
  tests/wpt/meta/css/css-sizing/intrinsic-size-fallback-video.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html.ini
  tests/wpt/meta/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html.ini
  tests/wpt/meta/html/semantics/embedded-content/the-video-element/intrinsic_sizes.htm.ini
Labels: A-layout/2020

#38813 Stub out IDBIndex
  components/script/dom/idbindex.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/IDBIndex.webidl
  tests/wpt/meta/IndexedDB/idlharness.any.js.ini
  tests/wpt/meta/workers/semantics/interface-objects/001.worker.js.ini
Labels: A-content/indexeddb

#38834 Make transaction field non-null in IDBObjectStore
  components/script/dom/idbdatabase.rs
  components/script/dom/idbobjectstore.rs
  components/script/dom/idbrequest.rs
  components/script/dom/idbtransaction.rs
  components/script_bindings/webidls/IDBObjectStore.webidl
Labels: A-content/indexeddb

#38860 Upgrade vello, vello_cpu, skrifa, and read-fonts
  Cargo.lock
  Cargo.toml
  components/canvas/vello_cpu_backend.rs
Labels: dependencies

#38950 Update image to 0.25
  Cargo.lock
  Cargo.toml
  components/pixels/lib.rs
  components/pixels/snapshot.rs
  deny.toml
  tests/wpt/meta/html/semantics/embedded-content/the-img-element/animated-webp-update.tentative.html.ini
Labels: A-dependencies, dependencies

#36680 servoshell: Display favicons in tab bar
  ports/servoshell/desktop/app_state.rs
  ports/servoshell/desktop/minibrowser.rs
Labels: A-servoshell

#38850 script: Initialize IDBCursor and IDBCursorWithValue interfaces
  components/script/dom/idbcursor.rs
  components/script/dom/idbcursorwithvalue.rs
  components/script/dom/mod.rs
  components/script_bindings/webidls/IDBCursor.webidl
  components/script_bindings/webidls/IDBCursorWithValue.webidl
  tests/wpt/meta/IndexedDB/historical.any.js.ini
  tests/wpt/meta/IndexedDB/idlharness.any.js.ini
  tests/wpt/meta/workers/semantics/interface-objects/001.worker.js.ini
Labels: A-content/indexeddb
