Repository servo/servo, pull requests merged in 2025-05, with the labels that each got.

#36783 Use backend trait with associated types for 2d canvas backends abstraction
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/canvas_paint_thread.rs
  components/canvas/lib.rs
  components/canvas/raqote_backend.rs
Labels: A-content/canvas

#36790 canvas: Move `CompositionOrBlending` and `ellipse()` from `RaqoteBackend` to `Backend`
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Labels: A-content/canvas

#36793 canvas: rename `snapshot(_data)` to `surface() -> SourceSurface`/`bytes() -> AsRef<[u8]>`
  components/canvas/backend.rs
  components/canvas/canvas_data.rs
  components/canvas/raqote_backend.rs
Labels: A-content/canvas

#36240 feat: implement ShadowRoot::setHTMLUnsafe
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html.ini
  tests/wpt/meta/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
  tests/wpt/meta/trusted-types/block-string-assignment-to-ShadowRoot-setHTMLUnsafe.html.ini
  tests/wpt/meta/trusted-types/trusted-types-reporting-for-ShadowRoot-setHTMLUnsafe.html.ini
Labels: A-content/bindings

#36970 layout: Split `AbsoluteAxisSolver::solve()` into different methods
  components/layout/positioned.rs
Labels: A-layout/2020

#36980 layout: Inform child layout about final block size
  components/layout/flexbox/layout.rs
  components/layout/flow/mod.rs
  components/layout/formatting_contexts.rs
  components/layout/geom.rs
  components/layout/positioned.rs
  components/layout/taffy/layout.rs
Labels: A-layout/2020

#37024 layout: Fix `align-content` on stretched row flex containers
  components/layout/flexbox/layout.rs
  tests/wpt/tests/css/css-flexbox/stretched-child-in-nested-flexbox-001.html
  tests/wpt/tests/css/css-flexbox/stretched-child-in-nested-flexbox-002.html
  tests/wpt/tests/css/css-flexbox/stretched-child-in-nested-flexbox.html
Labels: A-layout/flex, A-layout/2020

#37039 Make `getAllTypes` unwrap IDL `record<K, V>` types
  components/script_bindings/codegen/CodegenRust.py
  components/script_bindings/webidls/TestBinding.webidl
Labels: python

#28321 Use spec compliant content-type extraction in more places and enable a `<stylesheet>` quirk
  Cargo.lock
  components/net/fetch/methods.rs
  components/script/dom/headers.rs
  components/script/dom/xmlhttprequest.rs
  components/script/stylesheet_loader.rs
  components/shared/net/Cargo.toml
  components/shared/net/fetch/headers.rs
  components/shared/net/response.rs
  tests/wpt/meta/encoding/single-byte-decoder.window.js.ini
  tests/wpt/meta/fetch/content-type/response.window.js.ini
  tests/wpt/meta/fetch/content-type/script.window.js.ini
  tests/wpt/meta/fetch/nosniff/script.html.ini
  tests/wpt/meta/fetch/nosniff/stylesheet.html.ini
  tests/wpt/meta/fetch/nosniff/worker.html.ini
  tests/wpt/meta/mimesniff/mime-types/charset-parameter.window.js.ini
  tests/wpt/meta/mimesniff/mime-types/parsing.any.js.ini
  tests/wpt/meta/workers/importscripts_mime.any.js.ini
Labels: S-awaiting-review, S-tests-failed

#37011 layout: Fix min-content inline size of multi-line row flex container
  components/layout/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/flex-container-min-content-002.tentative.html.ini
  tests/wpt/meta/css/css-flexbox/intrinsic-size/row-wrap-001.html.ini
Labels: A-layout/flex, A-layout/2020
