Repository servo/servo, pull requests merged in 2025-03, with the labels that each got.

#35782 Upgrade Stylo to 2025-03-01
  Cargo.lock
  Cargo.toml
  components/fonts/font_template.rs
  components/fonts/system_font_service.rs
  tests/wpt/meta/css/css-color/parsing/color-computed-color-mix-function.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-computed.html.ini
  tests/wpt/meta/css/css-fonts/parsing/font-style-valid.html.ini
  tests/wpt/meta/css/css-fonts/variations/font-style-parsing.html.ini
Labels: A-stylo, A-dependencies

#35682 layout: Partial support for keyword sizes on preferred cross size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-flexbox/orthogonal-writing-modes-and-intrinsic-sizing.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-inline-size-001.html.ini
Labels: A-layout/flex, A-layout/2020

#35816 layout: Assert that `hypothetical_cross_size` is already correct
  components/layout_2020/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020

#35826 layout: Handle keyword sizes when computing the hypothetical cross size
  components/layout_2020/flexbox/layout.rs
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-block-size-001.html.ini
Labels: A-layout/flex, A-layout/2020

#35821 layout: Remove `calculate_hypothetical_cross_size()`
  components/layout_2020/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020

#35904 layout: Fix interaction of margin and stretch size on block-level boxes
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
  components/layout_2020/style_ext.rs
  components/layout_2020/table/layout.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-003.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-004.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-005.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-006.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-007.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-008.html.ini
  tests/wpt/meta/css/css-sizing/stretch/block-height-010.html.ini
Labels: A-layout/2020

#35958 Hide servo-internal shadow roots from the inspector by default
  components/config/prefs.rs
  components/script/devtools.rs
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/shadowroot.rs
Labels: A-devtools

#35965 layout: Allow lazy resolution of automatic minimum sizes
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/geom.rs
  components/layout_2020/positioned.rs
  components/layout_2020/replaced.rs
Labels: A-layout/flex, A-layout/2020

#35900 layout: Unify `FlexItem::new()` and `FlexItemBox::main_content_size_info()`
  components/layout_2020/flexbox/geom.rs
  components/layout_2020/flexbox/layout.rs
Labels: A-layout/flex, A-layout/2020

#35993 script: Implement `Range::getClientRects` and `Range::getBoundingClientRect`
  components/layout_2020/fragment_tree/fragment_tree.rs
  components/script/dom/abstractrange.rs
  components/script/dom/range.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Range.webidl
  tests/wpt/meta/css/cssom-view/DOMRectList.html.ini
  tests/wpt/meta/css/cssom-view/getBoundingClientRect-svg.html.ini
  tests/wpt/meta/css/cssom-view/idlharness.html.ini
Labels: A-content/bindings

#36045 layout: Don't consider a definite `stretch` size as intrinsic
  components/layout_2020/flow/mod.rs
  tests/wpt/meta/css/css-sizing/stretch/block-height-009.html.ini
Labels: A-layout/2020

#35961 layout: Support min/max main keyword sizes in flexbox
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/geom.rs
  tests/wpt/meta/css/css-flexbox/canvas-dynamic-change-001.html.ini
  tests/wpt/meta/css/css-flexbox/flex-aspect-ratio-img-column-011.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-height-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-item-max-width-min-content.html.ini
  tests/wpt/meta/css/css-flexbox/flex-minimum-height-flex-items-023.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  tests/wpt/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
  tests/wpt/meta/css/css-sizing/stretch/indefinite-4.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-block-size-001.html.ini
  tests/wpt/meta/css/css-sizing/stretch/stretch-min-inline-size-001.html.ini
Labels: A-layout/flex, A-layout/2020

#35985 metrics: Simplify `ProgressiveWebMetrics`
  Cargo.lock
  components/compositing/compositor.rs
  components/compositing/tracing.rs
  components/compositing/webview.rs
  components/constellation/constellation.rs
  components/constellation/pipeline.rs
  components/constellation/tracing.rs
  components/layout_2020/display_list/mod.rs
  components/layout_thread_2020/lib.rs
  components/metrics/lib.rs
  components/script/dom/document.rs
  components/script/messaging.rs
  components/script/script_thread.rs
  components/shared/compositing/constellation_msg.rs
  components/shared/compositing/lib.rs
  components/shared/profile/Cargo.toml
  components/shared/profile/time.rs
  components/shared/script/lib.rs
  components/shared/script/script_msg.rs
  components/shared/script_layout/lib.rs
  components/shared/webrender/display_list.rs
  python/servo/testing_commands.py
  tests/unit/metrics/Cargo.toml
  tests/unit/metrics/interactive_time.rs
  tests/unit/metrics/lib.rs
  tests/unit/metrics/paint_time.rs
Labels: A-layout/2020

#36104 Don't clear children of declarative shadow hosts when imperatively attaching another shadow root
  components/script/dom/element.rs
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-attachment.html.ini
  tests/wpt/meta/shadow-dom/declarative/declarative-shadow-dom-repeats.html.ini
Labels: A-content/dom

#36106 script: Implement `Element::GetHTML` and `ShadowRoot::GetHTML`
  components/script/dom/element.rs
  components/script/dom/node.rs
  components/script/dom/servoparser/html.rs
  components/script/dom/servoparser/mod.rs
  components/script/dom/shadowroot.rs
  components/script/webdriver_handlers.rs
  components/script_bindings/codegen/Bindings.conf
  components/script_bindings/webidls/Element.webidl
  components/script_bindings/webidls/ShadowRoot.webidl
  tests/wpt/meta/html/dom/idlharness.https.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml-ordering.html.ini
  tests/wpt/meta/shadow-dom/declarative/gethtml.html.ini
Labels: A-content/dom

#36082 layout: Cache `IndependentNonReplacedContents::layout()`
  components/layout_2020/flexbox/layout.rs
  components/layout_2020/flexbox/mod.rs
  components/layout_2020/flow/inline/mod.rs
  components/layout_2020/flow/mod.rs
  components/layout_2020/flow/root.rs
  components/layout_2020/formatting_contexts.rs
  components/layout_2020/fragment_tree/fragment.rs
  components/layout_2020/layout_box_base.rs
  components/layout_2020/lib.rs
  components/layout_2020/positioned.rs
  components/layout_2020/table/layout.rs
  components/layout_2020/taffy/layout.rs
Labels: A-layout/2020

#36226 script: Only invoke resize observer callback when the observed element resized
  components/script/dom/resizeobserver.rs
Labels: A-content/bindings

#36227 fetch: Refuse to provide partial response from earlier ranged request to API that did not make a range request
  components/net/fetch/methods.rs
  components/net/http_loader.rs
  components/net/protocols/blob.rs
  components/shared/net/response.rs
Labels: A-network, A-security
